<div class="subscribe">
    <div class="subscribe-text">
        <div class="info-text" ng-hide="isSuccessSubscribe">
            <h2>Sign up for Great Offers!</h2>
            <div class="info-word">
                <span>New Trends</span>
                <span>Monthly Specials</span>
                <span>Clearance Items</span>
                <span>and much more..</span>
            </div>
        </div>
        <div class="success-text" ng-show="isSuccessSubscribe">
            <p>Thank you for signing up to Superior Promos Specials.</p>
            <div class="success-check">
                <span>Check your email!</span>
                <span>{{email}}</span>
            </div>
        </div>
    </div>
    <div class="subscribe-form" ng-hide="isSuccessSubscribe">
        <form  name="subscribeForm" ng-submit="subscribe()">
            <input class="subscribe-email" ng-model="email" name="email" type="email" placeholder="Enter e-mail here" required ng-pattern="regex">
            <input class="subscribe-btn" ng-disabled="subscribeForm.email.$dirty && subscribeForm.email.$invalid" type="submit" value="Subscribe">
        </form>
    </div>
</div>
