@import "~scss/modules/variables";

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 244px;
  width: 100%;
  max-height: 324px;
  background-color: $color-blue;
  border-radius: 6px;
  margin-top: 10px;
  padding: 20px 20px 10px;

  @media screen and (max-width: 991px) {
    margin: 10px auto 0;
    height: auto;
  }

  .subscribe-text {
    text-align: center;
    color: $color-white;

    .info-text {
      h2 {
        @media screen and (max-width: 991px) {
          font-size: 24px;
        }
      }
    }

    .info-word {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      line-height: 2em;

      @media screen and (max-width: 991px) {
        font-size: 15px;
      }
    }
  }

  .success-text {
    text-align: center;
    color: $color-white;
    font-size: 18px;

    .success-check {
      margin-top: 50px;
      word-break: break-word;

      span {
        line-height: 24px;
      }
    }
  }

  .subscribe-form form {
    .subscribe-email {
      width: 100%;
      height: 32px;
      padding: 5px 15px;
      margin: 10px 0;           
      border-radius: 6px;
      box-shadow: none;
      border: none;
      outline: none;
      text-align: center;
    }

    .subscribe-email.ng-dirty.ng-invalid:focus {
      border: 1px solid $color-red;
    }

    .subscribe-btn {
      width: 100%;
      background: none;
      color: $color-white;
      border: 1px solid $color-white;
      padding: 5px 15px;
      border-radius: 6px;
      font-size: 20px;
      outline: inherit;
      cursor: pointer;
      
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
