.modal{
  &.modal-confirm-delete{
    background-color: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    &.ng-enter {
      transition: opacity .5s ease-out;
      opacity: 0;
    }
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave {
      transition: opacity .5s ease-out;
      opacity: 1;
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
  }
}
