<div class="modal modal-confirm-delete">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>{{::source}}</p>
            </div>
            <div class="modal-footer edit-form-controls">
                <button type="button" class="btn-edit-form-control cancel" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn-edit-form-control submit" ng-click="confirm()">Confirm</button>
            </div>
        </div>

    </div>
</div>
