.page-search {
  padding: 10px;
  display: flex;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .search-grid {
    padding: 0;
    overflow: hidden;
  }

  .search-results {
    width: 100%;
    overflow: visible;

    .header-breadcrumbs {
      height: 45px;
      margin: 0;
    }
  }

  .quick-search {
    margin-bottom: 0;
  }
}