<div class="account-card-list">
    <div class="account-card with-data" ng-repeat="address in splitIntoColumns(source) track by address.id"
         ng-style="{'order': address.order}"
         ng-class="{'active' : checkActive(address.id), 'empty-left' : address.type === '2' && address.emptyNeighbor,
         'empty-right' : address.type === '1' && address.emptyNeighbor, 'default' : address.is_default}" ng-show=" !$mode || checkActive(address.id)">
        <h4 class="account-card-title">
            <span>{{ (address.type == 1) ? 'Shipping' : 'Billing' }}</span>
            <span>{{ address.title }}</span>
             Address
        </h4>
        <div class="account-card-content">
            <div class="card-content-item account-card-brief">
                <div class="brief-item">{{ address.first_name }} {{ address.middle_name }} {{ address.last_name }}</div>
                <div class="brief-item">{{ address.company_name }}</div>
                <div class="brief-item">{{ address.address_line_1 }}</div>
                <div class="brief-item" ng-if="address.address_line_2">{{ address.address_line_2 }}</div>
                <div class="brief-item">{{ address.city }} <span ng-if="address.state">{{ address.state }},</span> {{ address.country }} &nbsp; {{ address.zip }}</div>
                <button class="btn-make-default-card"
                        ng-click="$addressBook.setDefaultAddress(address)"
                        ng-hide="address.is_default || $mode === 'edit'">
                    Make Default
                </button>
            </div>
            <div class="card-content-item account-card-default">
                <button class="btn-account-card-set-default active"
                        ng-show="address.is_default"> <!--ng-class="{'active' : address.is_default == 1}"-->
                    <i class="material-icons btn-icon">check</i>
                    <span class="btn-text">Default</span>
                </button>
                <button class="btn-edit-account-card"
                        ui-sref="router.my-account.edit-address({mode:'edit', addressId: address.id})"
                        ng-hide="$mode === 'edit'">
                    Edit
                </button>
            </div>
        </div>
    </div>
    <div class="account-card btn-add-new-card " ng-show="!$mode"
         ui-sref="router.my-account.edit-address({mode:'create',addressId:null})">
        <i class="material-icons add-new-card-icon">add_circle</i>
        <span class="add-new-card-title">Add Address</span>
    </div>
</div>
