<div class="payment-profile-edit-page animated slideInRight ">
    <div class="col-x-lg-12 col-md-12 disable-pd">
        <payment-profile-list source="$paymentProfile.profiles"></payment-profile-list>
    </div>
    <div class="col-x-lg-12">
        <payment-profile-edit-form source="profile"></payment-profile-edit-form>
    </div>
</div>