@import "~scss/modules/variables";

.sample-header {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #454f51;
  padding: 0 15px 15px 0;
  @media (max-width: 576px) {
    padding: 0;
  }
}

.font-normal {
  font-weight: normal;
}

.reg-text {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #2d3539;
}

.sample-order-block {
  .sample-block {
    border-bottom: 1px solid #d8e5ed;
    padding: 20px;

    .sample-sub-block {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid #d8e5ed;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
      }


      &:last-child {
        border: none;
      }

      .sample-name {
        width: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1200px) {
          margin-bottom: 10px;
        }

        @media (max-width:576px) {
          width: 100%;
        }
      }

      &.sample-item-number {
        .sample-data {
          padding: 5px;
        }
      }

      .sample-data {
        width: 100%;
        border-radius: 6px;
        width: 100%;
        background: #e6eef2;
        position: relative;

        .search-bar {
          border: none;
          outline: none;
          border-radius: 4px;
          width: 100%;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.54;
          letter-spacing: normal;
          text-align: center;
          color: #2d3539;
          padding-right: 20px;
        }

        .ship-option {
          display: flex;
          padding-left: 20px;
          background: #e6eef2;

          .shipment-zip {
            width: 100%;
          }

          .md-label {
            margin-left: 40px;
            font-weight: normal;
          }
        }

        ul.options {
          position: absolute;
          top: 28px;
          left: 0;
          width: 100%;
          padding: 5px 10px;
          background: white;
          border: 1px solid #cecece;
          border-radius: 3px;
          font-size: 11px;
          z-index: 10;

          li {
            height: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
      }

      .sample-add-btn {
        border: none;
        border-radius: 6px;
        background: #b5bfc6;
        padding: 10px 15px;
        max-width: 200px;
        width: 100%;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        @media (max-width:576px) {
          justify-content: center;
          gap: 10px;
        }

        .material-icons {
          font-size: 14px;
        }

        span {
          white-space: nowrap;
        }
      }

      &.sample-colors {
        border: none;
      }

      &.sample-add {
        justify-content: center;
      }
    }

    &.sample-ship {
      .sample-sub-block {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .sample-data {
        background: none;
      }
    }

    &.sample-comment {
      .sample-sub-block {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .sample-name {
        align-items: flex-start;
      }

      .sample-data {
        padding: 0 5px 35px;
      }
    }

    &.sample-info {

      .sample-sub-block {
        padding-bottom: 0;
        margin-bottom: 0;

        .sample-name {
          align-items: flex-start;
        }

        .sample-data {
          background: none;

          .sample-repeated {
            background: $color-background;
            padding: 10px 10px 5px;
            margin-bottom: 5px;

            .info-choiсe {
              &.multiple {
                .active {
                  border-color: #cddee9;
                }
              }
            }

            &.upcoming-event {
              .sample-area {
                margin-left: -5px;
                margin-right: -5px;
                width: calc(100% + 10px);
              }
            }

            .info-choiсe {
              display: flex;
            }

            .info-text {
              margin-bottom: 10px;
            }

            &:first-child {
              border-top-right-radius: 6px;
              border-top-left-radius: 6px;
            }

            &:last-child {
              border-bottom-right-radius: 6px;
              border-bottom-left-radius: 6px;
              margin-bottom: 0;
            }
          }
        }
      }

      .info-btn {
        max-width: 120px;
        width: 100%;
        padding: 10px;
        font-size: 12px;
        background: #ffffff;
        border: 4px solid $color-background;
        border-radius: 10px;
        @media (max-width:576px) {
          max-width: 110px;
          padding: 5px;
        }

        &.active {
          border-color: $color-darkest-blue !important;

          span {
            opacity: 1;
          }
        }

        span {
          opacity: .5;
          white-space: nowrap;
        }
      }
    }

    &.sample-policy {
      .sample-sub-block {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .sample-name {
        width: 100%;
        display: flex;
        align-items: flex-start;
      }

      .sample-data {
        background: none;
        ul > li {
          @extend .reg-text;
          list-style-type: disc;
          line-height: 1.36;
          span {
            color: #16a1db;
          }
        }
      }
    }

    .repeated-products {
      position: relative;

      .material-icons {
        position: absolute;
        top: 6px;
        right: 6px;
        color: #899399;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  .sample-area {
    resize: none;
    border: none;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    min-height: 125px;
    overflow: auto;
  }

  .ta-root {
    padding: 0;
  }
}

.color-picker-wrapper {
  display: flex;
  width: calc(100% - 150px) !important;

  @media (max-width:576px) {
    width: 100% !important;
  }

  .product-item-colors {
    width: 100%;
  }
}

.error-notify {
  position: relative !important;
  left: 135px;
  bottom: 0;
}

.sample-error {
  border: 1px solid red;
}