<div class="step-container animated slideInRight">
    <div class="sample-order-block">
        <div class="sample-general sample-block">
            <div
                class="repeated-products"
                ng-repeat="product in orderService.orderItem.orderSample.products track by $index"
            >
                <div class="sample-item-number sample-sub-block">
                    <div class="sample-name">
                        <h3 class="sample-header">item number</h3>
                    </div>
                    <div class="sample-data">
                        <input
                            class="search-bar"
                            ng-model="product.searchBar"
                            ng-change="getProduct(product)"
                            placeholder="Item"
                            ng-readonly="product.id"
                        >
                        <ul
                            class="options close-outside"
                            ng-class="{ 'hidden' : !product.visible}"
                            ng-if="product.data.length"
                            close-modal
                        >
                            <li
                                ng-repeat="item in product.data"
                                ng-click="setProduct(orderItem.orderSample.products, item, $parent.$index)"
                            >
                                {{ item.id + ' - ' + item.title }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="sample-colors sample-sub-block"
                    ng-if="product.product_color_groups.length"
                    ng-repeat="group in product.product_color_groups track by $index"
                >
                    <div class="sample-name">
                        <h3 class="sample-header">{{ ::group.name }}</h3>
                    </div>
                    <div class="sample-data color-picker-wrapper" ng-class="{'sample-error': product.colorErrors}">
                        <div class="product-item-colors">
                            <product-color-selector product-item="orderService.orderItem"
                                                    type-item="group"
                                                    display-mode="full"
                                                    select-type="radio"
                                                    on-color-selected="setColor"
                                                    item-index="$parent.$parent.$index"
                                                    sample="true"
                            >
                            </product-color-selector>
                        </div>
                    </div>
                </div>
                <i
                    class="material-icons"
                    ng-click="deleteProduct($index, orderItem.orderSample.products)"
                    ng-if="$index > 0"
                >
                    clear
                </i>
                <span class="error-notify"
                      ng-class="{show: product.colorErrors}" >
                    Color selection is required
                </span>
            </div>
            <div class="sample-add sample-sub-block">
                <button class="sample-add-btn" ng-click="addNewField(orderItem)">
                    <i class="material-icons">add</i>
                    <span>add item</span>
                </button>
            </div>
        </div>
        <div class="sample-block sample-ship">
            <div class="sample-sub-block">
                <div class="sample-name">
                    <h3 class="sample-header">Use your shipping account number</h3>
                </div>
                <div class="sample-data" ng-class="{'sample-error': orderService.orderItem.orderSample.shipErrors === true}">
                    <md-radio-group
                      ng-change="updateShipMethod(orderItem)"
                      class="md-radio-group"
                      ng-model="orderItem.orderSample.shipMethod"
                    >
                    <div class="ship-option">
                        <md-radio-button
                          aria-label="Checkbox No Ink"
                          aria-checked="true"
                          value="own_account"
                        ></md-radio-button>
                        <div class="account-radio">
                            <div class="ship-account">
                                <input ng-model="orderItem.orderSample.shipping_data.own_account_number"
                                       type="text"
                                       class="ship-input-text"
                                       placeholder="Account number"
                                       ng-disabled="orderItem.orderSample.shipMethod != 'own_account'"
                                >
                            </div>
                            <ui-select ng-model="orderItem.orderSample.shipping_data.own_shipping_system"
                                       theme="bootstrap"
                                       class="ship-select ship-account"
                                       ng-disabled="orderItem.orderSample.shipMethod != 'own_account'">
                                <ui-select-match placeholder="Carrier">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="carrier in orderService.carriers">
                                    <div ng-bind="carrier"></div>
                                </ui-select-choices>
                            </ui-select>
                            <ui-select ng-model="orderItem.orderSample.shipping_data.own_shipping_type"
                                       theme="bootstrap"
                                       class="ship-select ship-account"
                                       ng-disabled="orderItem.orderSample.shipMethod != 'own_account'">
                                <ui-select-match placeholder="Method">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="method in orderService.shipMethods">
                                    <div ng-bind="method"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="ship-option ship-option-full-width padded">
                        <div class="shipment-zip">
                            <md-radio-button md-no-ink="" aria-label="Checkbox No Ink" value="us_shipping" class="account-radio">
                                <span class="grey reg-text">I don't have a shipping account number</span>
                            </md-radio-button>
                        </div>
                    </div>
                    </md-radio-group>
                    <span class="error-notify"
                          ng-class="{show: orderService.orderItem.orderSample.shipErrors === true}"
                    >
                        Account number error
                    </span>
                </div>
            </div>
        </div>
        <div class="sample-block sample-info">
            <div class="sample-sub-block">
                <div class="sample-name">
                    <h3 class="sample-header">Additional Information</h3>
                </div>
                <div class="sample-data" ng-class="{'sample-error': orderService.orderItem.orderSample.infoErrors == true}">
                    <div class="sample-repeated" ng-class="">
                        <div class="info-text reg-text">
                            When is the date of your event? *
                        </div>
                        <div class="info-choiсe">
                            <button
                                class="info-btn reg-text"
                                ng-class="{'active' : eventDate.active}"
                                ng-repeat="eventDate in additionalInfo.eventDate"
                                ng-click="chooseEvent(eventDate, additionalInfo.eventDate, 'event_date')"
                            >
                                <span>{{::eventDate.title}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="sample-repeated">
                        <div class="info-text reg-text">
                            What is the quantity that you eventually looking to purchase? *
                        </div>
                        <div class="info-choiсe">
                            <button
                                class="info-btn reg-text"
                                ng-class="{'active' : quantity.active}"
                                ng-repeat="quantity in additionalInfo.quantity"
                                ng-click="chooseEvent(quantity, additionalInfo.quantity, 'quantity')"
                            >
                                <span>{{::quantity.title}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="sample-repeated">
                        <div class="info-text reg-text">
                            Would you like samples to be blank or with a random imprint? *
                        </div>
                        <div
                            class="info-choiсe"
                        >
                            <button
                                class="info-btn reg-text"
                                ng-class="{'active' : sample.active}"
                                ng-repeat="sample in additionalInfo.sample"
                                ng-click="chooseEvent(sample, additionalInfo.sample, 'sample')"
                            >
                                <span>{{::sample.title}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="sample-repeated">
                        <div class="info-text reg-text">
                            What attracted you to these items? *
                        </div>
                        <div class="info-choiсe multiple">
                            <button
                                class="info-btn reg-text"
                                ng-class="{'active' : attraction.active}"
                                ng-repeat="attraction in additionalInfo.attraction"
                                ng-click="chooseEventMultiple(attraction)"
                            >
                                <span>{{::attraction.title}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="sample-repeated">
                        <div class="info-text reg-text">
                            How many times a year to you purchase promotional items? *
                        </div>
                        <div class="info-choiсe">
                            <button
                                class="info-btn reg-text"
                                ng-class="{'active' : frequency.active}"
                                ng-repeat="frequency in additionalInfo.frequency"
                                ng-click="chooseEvent(frequency, additionalInfo.frequency, 'frequency')"
                            >
                                <span>{{::frequency.title}}</span>
                            </button>
                        </div>
                    </div>
                    <span class="error-notify"
                          ng-class="{show: orderItem.orderSample.infoErrors}"
                    >
                        All fields required
                    </span>
                    <div class="sample-repeated upcoming-event">
                        <div class="info-text reg-text">
                            Please list the nature of your upcoming event *
                        </div>
                        <div class="info-choiсe">
                        <textarea
                          class="sample-area reg-text"
                          name="comment"
                          cols="30"
                          rows="5"
                          ng-model="orderService.orderItem.orderSample.additionalInfo.upcomingEvent"
                        ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <span class="error-notify"
                  ng-class="{show: orderService.orderItem.orderSample.infoErrors == true}"
            >
                        Additional fields is required
                    </span>
        </div>
        <div class="sample-block sample-comment">
            <div class="sample-sub-block">
                <div class="sample-name">
                    <h3 class="sample-header">Add Comments, Special Instructions, Requests or Apparel Sizes</h3>
                </div>
                <div class="sample-data">
                    <text-angular
                      ng-model="orderItem.orderSample.additionalInfo.sampleComment"
                      class="sample-area reg-text"
                    ></text-angular>
                </div>
            </div>
        </div>
        <div class="sample-block sample-policy">
            <div class="sample-sub-block">
                <div class="sample-name">
                    <h3 class="sample-header">Sample Policy</h3>
                </div>
                <div class="sample-data">
                    <ul class="reg-text">
                        <li>The cost of sample including shipping must be paid at the time of the sample request (if pricing applies)</li>
                        <li>If you choose to place an order for an item which you have sampled. Superior Promos will credit the cost of that sample and the cost of its ground shipping towards your order.</li>
                        <li>All samples are shipped either blank or with a random imprint. Samples may not be customized with personal information. If an actual Pre-Production proof is needed please email <span>info@superiorpromos.com</span> for details and pricing.</li>
                        <li>All sample orders are shipped by Ground Service. If you need to expedite shipping please provide a shipping account number or request more information when ordering a sample.</li>
                        <li>LIMIT 5 ITEMS. MAXIMUM 1 PIECE OF EACH ITEM.</li>
                        <li>Superior Promos reserves the right to reject any sample request.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
