<ui-carousel
     slides="relatedProductItems"
     slides-to-show="3"
     slides-to-scroll="3"
     initial-slide="0"
     autoplay-speed="2000"
>
    <carousel-item>
        <div
            class="product"
            ng-click="$parent.$parent.goToRelatedProduct(item.full_slug)"
        >
            <div class="prod-img">
                <img class="product-image" ng-src="{{::item.thumbnail}}" fallback-src="img/image-not-available.jpg">
            </div>
            <div class="small-text" ng-bind-html="::item.title | trust"></div>
            <div class="prod-info">
                <span class="prod-number">#{{::item.id}}</span>
                <div class="prod-cost-block">
                    <span class="prod-cost-info">As low as</span>
                    <span class="prod-cost price-green">${{::item.lowest_price}}</span>
                </div>
            </div>
        </div>
    </carousel-item>
</ui-carousel>
