@import "../../scss/modules/variables";

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 10px 10px 20px;

  .main-section {
    width: 100%;

    .main-image {
      display: flex;

      @media screen and (max-width: 991px) {
        display: none;
      }

      & > a {
        width: 65%;
        height: auto;
        max-height: 400px;
        margin: 0 20px;
        cursor: pointer;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.promo-slider .carousel-control,
.promo-slider .carousel-control:hover {
  background-image: none;
  width: 5%;
}

.promo-slider {
  display: flex;
  flex: auto;

  img {
    width: 100%;
    height: auto;
    max-height: 500px;
  }

  .carousel-indicators {
    left: inherit;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: max-content;
    li {
      width: 20px;
      height: 20px;
      margin-bottom: 5px;
      &.active {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

.promo-show-more {
  display: flex;
  align-items: center;
  width: auto;
  padding: 15px;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  color: #16a1db;
  cursor: pointer;

  @media (min-width: 320px) and (max-width: 991px) {
    width: auto;
    margin-right: 0;
  }

  &.background-default {
    background-color: rgba(53, 151, 219, 0.15);
  }
}

.promo-products-block {
  margin-bottom: 20px;
  overflow: hidden;
}

.promo-products-heading-text {
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    color: #868180;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
    

    .material-icons {
      color: $color-light-green;
      margin-right: 15px;
    }
  }
}

.promo-products-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-white;
  padding: 25px 15px 10px 15px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0;
    margin-bottom: 15px;
  }
}

.product-row {
  margin-right: -1px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex: 100%;
  background: $color-white;

  @media (min-width: 320px) and (max-width: 991px) {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.product-row-desktop {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.product-row-mobile {
  @media screen and (min-width: 992px) {
    display: none;
  }

  &.ui-carousel {
    .carousel-prev .carousel-btn,
    .carousel-next .carousel-btn {
     
      font-size: 40px;
      color: #4ac9ff;
    }

    .carousel-prev .carousel-btn {
      left: 0;
    }

    .carousel-next .carousel-btn {
      right: 0;
    }

    .carousel-btn {
      z-index: 8 !important;
    }
  } 
}

.product-block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  transition: .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 5px 5px 0 0;

  @media screen and (min-width: 1101px) and (max-width: 1440px) {
    flex: 0 1 25%;
  }

  @media screen and (min-width: 320px) and (max-width: 1100px) {
    flex: 0 1 33.33%;
  }

  @media screen and (min-width: 320px) and (max-width: 991px) {
    flex: 1;
    padding: 0;
    margin-bottom: 15px;
  }

  &:hover {
    box-shadow: 0 2px 18px rgba(0,0,0,.2);
    z-index: 2;

    .product-image-header {
      color: #9a9a9a;
    }

    .min-price {
      width: calc(100% + 41px);
      margin-left: -20px;
    }
  }
  
  .product-preorder-preview {
    display: none;
  }

  .border-inside-container {
    display: inherit;
    flex-direction: inherit;
    display: flex;
    height: 100%;
  }

  &.preorder-preview-visible {
    flex: 100%;

    .border-inside-container {
      display: none;
    }

    .product-preorder-preview {
      display: flex;
    }
  }
}

.product-image-header {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  color: $color-light-grey;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  padding: 0 5px;
}

.product-image-square {
  width: 100%;
  min-height: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0 5px;

  .product-image  {
    @media screen and (max-width: 1440px) {
      max-height: 250px;
    }
  }

  img {
    transform-origin: 50% 50%;
    transition: transform .25s, visibility .25s ease-in;
  }

  &:hover {
    & > img.product-image {
      transform: scale(1.1);
    }
  }

  .product-like {
    z-index: 1;

    &:hover {
      transform: scale(1.2);
    }
  }

  &:after {
    content: '';
    float: left;
  }

  .product-image {
    width: 100%;
    height: calc(100% - 1px);
    max-height: 220px;
    object-fit: contain;
  }
}

.popular-categories {
  .product-image-square {
    width: auto;
  }

  &.blue-border {
    position: relative;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;

    &:after {
      content: "";
      transition: all 250ms ease;
      position: absolute;
      display: block;
      width: 80%;
      height: 5px;
      background: $color-light-grey;
      bottom: 0;
      left: 10%;
    }
  }

  &:hover.blue-border:after {
    width: 100%;
    left: 0;
  }
}

.product-item-title {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.4em;
  overflow: hidden;
  color: #2d3539;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }
}

.product-promo-info {
  flex-basis: 100%;
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .product-promo-info-title {
    padding-bottom: 20px;
    text-align: center;

    .product-item-number {
      font-size: 10px;
      font-weight: 500;
      line-height: 1.6;
      color: #22282b;
      opacity: .35;
    }
  }
}

.rating-block {
  text-align: center;
  margin-bottom: 15px;
}

.additional-info {
  width: 100%;

  .no-wrap {
    white-space: nowrap;
  }

  .op-grey-text {
    opacity: .6;
    color: #2d3539;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    &.item-number {
      color: black;
      margin-bottom: 10px;
      height: 20px;
      opacity: 0.7;
    }

    &.item-number, 
    &.as-low-as {
      font-size: 14px;
      font-weight: bold;
    }

    &.fs-14 {
       font-size: 14px;
    }
  }

  .min-order,
  .shipping-info {
    font-size: 12px;
    line-height: 1.09;
    font-weight: normal;
    color: #22282b;
    padding-top: 5px;
  }

  .min-price {
    font-size: 20px;
    font-weight: 900;
    color: #d0021b;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    padding-bottom: 15px;
    transition: all 250ms ease ;
    border-bottom: 5px solid $color-light-grey;
    width: 100%;
  }

  .control {
    color: #3598db;
    padding-top: 15px;
  }
}

.promo-links {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;

  @media (min-width: 320px) and (max-width: 991px) {
    flex-direction: column;
  }

  .promo-link {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .promo-link-head {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0;
    color: $color-dark-blue;
    font-weight: 900;
    text-align: center;

    @media (min-width: 320px) and (max-width: 991px) {
      padding-left: 0;
    }
  }

  .prom-link-image {
    @media (min-width: 320px) and (max-width: 991px) {
      width: 100%;
      height: auto;
    }
  }

  &.vertical {
    display: none;
    width: 20%;
    max-width: 20%;
    max-height: 600px;
    justify-content: space-between;
    margin: 0;
    flex-direction: column;

    .promo-link {
      margin-right: 0;
      display: flex;
      justify-content: flex-end;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      img {
        width: 100%;
        max-height: 96px;
        max-width: 300px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

.welcome {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    left: 0;
    display: block;
    background-color: #ffffff;
    z-index: 1;
  }

  @media screen and (max-width: 991px) {
    left: auto;
    width: 100%;
    margin: 0;
  }

  h1 {
    @media (min-width: 320px) and (max-width: 991px) {
      font-size: 26px;
    }
  }

  .header {
    margin-bottom: 20px;
    display: flex;

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
    }

    .social-icons {
      position: absolute;
      display: flex;
      right: 0;
    }
  }

  .body {
    p {
      color: #fff;
      font-size: 14px;
      margin-bottom: 15px;
      font-weight: 400;
      line-height: 1.2;
    }
  }
}

.testimonials-header {
  height: 56px;
  padding: 0 15px;
  margin: 0 10px;
  border-bottom: 1px solid $color-border-grey;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #878281;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
  }
}

.testimonials-wrapper {
  background: white;
  margin: 0 10px 10px 10px ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .arrow {
    position: absolute;
    width: 6%;
    max-width: 80px;
    height: 100%;
    display: block;
    background-color: white;
    z-index: 2;
    transition: background-color 150ms ease-in;

    &.left {
      left: 0;
      padding-right: 15px;

      .arrow-container{
        justify-content: flex-end;
      }
    }

    &.right {
      right: 0;
      padding-left: 15px;

      .arrow-container {
        justify-content: start;
      }
    }

    .arrow-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: $color-grey;
      transition: color 150ms ease-in;

      i.fa {
        transition: all 150ms ease;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $color-light-blue;

      .arrow-container {
        color: white;
      }

      &.left .arrow-container i.fa{
        margin-right: calc(50% - 21px);
      }

      &.right .arrow-container i.fa{
        margin-left: calc(50% - 21px);
      }
    }
  }

  .slider-wrapper {
    overflow: hidden;
    width: 88%;
    margin-top: 25px;

    .testimonials {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: transform 150ms ease;

      .testim-block {
        display: flex;
        min-width: 45%;
        margin: 0 2.5% 0 2.5%;

        .img-wrap {
          border-radius: 50%;
          min-width: 80px;
          height: 80px;
          width: 80px;
          border: solid 1px rgb(216, 216, 216);
          overflow: hidden;
          margin: 0 28px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 90%;
          }
        }

        .testim-info {
          padding: 25px;
          overflow: hidden;
          font-size: 13px;
          line-height: 1.5;
          color: rgb(34, 40, 43);
          display: flex;
          flex-direction: column;

          .testim-quoted {
            justify-self: start;
            position: relative;

            .quotes {
              position: absolute;
              width: 18px;

              &.quote-open {
                left: -25px;
                top: -20px;
              }

              &.quote-close {
                right: -25px;
                bottom: -20px;
                transform: rotateZ(180deg);
              }
            }
          }

          .author {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;
            padding-top: 20px;
            font-size: 11px;
            font-family: "Roboto", sans-serif;
            font-style: italic;
            color: rgb(34, 40, 43);
          }

          .view-product {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            margin-top: 10px;

            a {
              color: rgb(41, 171, 226);
              padding-left: 7px;
              padding-right: 7px;
              width: 101px;
              background: #ffffff;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-decoration: none;
              border-bottom: 1px solid transparent;
              transition: all 150ms ease;

              &:hover {
                width: 120px;
                background: $color-blue;
                border-color: white;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.mobile-menu-container {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #5392c7, #3f7bae);
  padding: 10px 15px;

  @media (min-width: 320px) and (max-width: 991px) {
    display: flex;
  }

  .mobile-menu-head {
    font-size: 18px;
    color: white;
    margin: 0;
    text-align: center;
  }

  .mobile-logo-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;

    .logo-solo {
      height: 25px;

      @media screen and (max-width: 500px) {
        max-width: 150px;
        height: auto;
      }

      @media screen and (max-width: 400px) {
        max-width: 130px; 
      }
    }
  }

  .mobile-header-btn-wrapper {
    display: flex;
  }
}

.mobile-menu {
  transition: transform $slideTime ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  height: calc(100vh - 56px);
  transform: translateX(-100%);
  width: 80%;
  background-color: white;

  .mobile-menu-content {
    display: flex;
    flex: 1;
    flex-direction: column;

    hr.menu-separator {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .mobile-menu-section {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      border-bottom: 1px solid #6aace4;
    }

    &.menu-auth-item {
      margin-top: auto;
    }

    .badge {
      margin-left: auto;
      background-color: #6aace4;
    }
  }

  .mobile-menu-icon {
    font-size: 2em;
    color:#6aace4;
    margin-right: 15px;
  }

  .auth-controls {
    margin: 0;
    display: flex;
    flex:100%;
    justify-content: space-around;
    align-items: center;
  }
}

.mobile-menu-backdrop {
  display: block;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: black;
  transition: opacity $slideTime ease;
  z-index: -1;
}

.mobile-menu-toggle {
  width: 26px;
  height: 20px;
  position: relative;
  padding: 5px;

  svg {
    transform: scale(1.5) translate(-2px, -4px);
    color: #fff;
    transition: $slideTime ease;
  }
  
  &:first-child {
    margin-right: 15px;
  }

  &:before,
  &:after {
    content: '';
    transition: transform $slideTime ease;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    display: block;
    height: 2px;
    background-color: white;
    opacity: 0;
  }
}

.filter-menu-toggle {
  width: 26px;
  height: 20px;
  position: relative;

  svg {
    width: 24px;
    height: 24px;
    transform: scale(1.7) translate(-1px, -1px);
    color: #fff;
    transition: $slideTime ease;
  }

  &:before {
    content: '';
    transition: transform $slideTime ease;
    transform: translate(-50%, 0);
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 18px;
    display: block;
    height: 2px;
    background-color: white;
    opacity: 0;
  }

  &:after {
    content: '';
    transition: transform $slideTime ease;
    position: absolute;
    transform: translate(-50%, 0);
    top: auto;
    bottom: 0;
    left: 50%;
    width: 10px;
    display: block;
    height: 2px;
    background-color: white;
    opacity: 0;
  }
}

.mobile-menu-active {
  .mobile-menu {
    transform: translateX(0);
  }

  .mobile-menu-backdrop {
    transition: opacity $slideTime ease;
    transform: translateX(0);
    opacity: .7;
  }

  .mobile-menu-toggle {
    border: none;

    &:before,
    &:after {
      opacity: 1;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    svg {
      color: transparent;
    }
  }
}

.filter-menu-active {
  .filter-menu-toggle {
    border: none;

    &:before {
      transform: rotate(45deg);
      width: 100%;
      left: 0;
      opacity: 1;
    }

    &:after {
      transform: rotate(-45deg);
      width: 100%;
      left: 0;
      top: calc(50% - 1px);
      bottom: auto;
      opacity: 1;
    }

    svg {
      color: transparent;
    }
  }
}

.mobile-menu-active-remove-active {
  .mobile-menu-backdrop {
    transform: translateX(0);
  }
}

.main-view-block {
  @media (min-width: 320px) and (max-width: 991px) {
    padding-top: 56px;
    flex-wrap: wrap;
  }
}

.banner {
  width: 100%;
  margin-bottom: 25px;

  img {
    width: 100%;
  }
}


.happy-customer {
  text-align: center;
  h2 {
    color: #58c6f1;
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 700;
    @media (max-width:992px) {
      font-size: 20px;
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    @media (max-width:768px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width:576px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-width: 100px;
      width: 100%;
      height: 100px;
      display: block;
      object-fit: contain;
    }
  }
}




.real-reviews-people {
  .wrapper {
    .title-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      h3 {
        font-size: 35px;
        text-transform: capitalize;
        color: #bc4799;
        @media (max-width: 576px) {
          font-size: 20px;
        }
      }
      .view-all {
        div {
          display: flex;
          align-items: center;
          gap: 5px;
          h3 {
            font-size: 35px;
            font-weight: 500;
            color: #28282a;
            @media (max-width: 576px) {
              font-size: 20px;
            }
            span {
              font-weight: 700;
            }
          }
        }
        a {
          font-size: 22px;
          color: #bc4799;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-decoration: none;
          @media (max-width: 576px) {
            font-size: 20px;
            justify-content: center;
          }
        }
      }
    }
    .main-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      user-select: none;
      @media (max-width: 1100px) {
        gap: 15px;
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 450px) {
        grid-template-columns: 1fr;
        justify-items: center;
      }
      .rating-elite {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 576px) {
          display: none;
        }
        svg {
          width: 150px;
          height: 170px;
          display: block;
          object-fit: contain;
          @media (max-width: 768px) {
            width: 110px;
          }
        }
      }
      .rating-group {
        background-color: #f3f4f6;
        border-radius: 5px;
        padding: 25px;
        width: 100%;
        @media (max-width: 1150px) {
          padding: 15px;
        }
        @media (max-width: 768px) {
          max-width: 250px;
        }
        .rating {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          gap: 5px;
          .stars-section {
            display: flex;
            align-items: center;
            .stars-group {
              display: flex;
              align-items: center;
              gap: 2px;
              margin-right: 5px;
            }
            p {
              font-size: 12px;
              color: #000;
              @media (max-width: 576px) {
                font-size: 10px;
              }
            }
          }
          .date {
            font-size: 10px;
            color: #000;
          }
        }
        .text-group {
          h4 {
            font-size: 17px;
            color: #000;
            margin-bottom: 15px;
            font-weight: 400;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
          p {
            font-size: 14px;
            color: #000;
            font-weight: 200;
            line-height: 22px;
            @media (max-width: 768px) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
