<div class="my-account-page-section-content saved-cart-page animated slideInRight">
    <cart-list source="cartService.savedCartItems"
               mode="saved-cart"
               on-confirm="moveToShoppingCart">
    </cart-list>
</div>