<div class="modal modal-confirm-delete quick-quote-modal" id="quick-quote-modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span class="cross">✕</span></button>
            </div>
            <div class="modal-body">
                <div class="quick-quote-body">
                    <div class="quick-quote-container product-prices">
                        <div class="image">
                            <img ng-src="{{::source.thumbnail}}" alt="" fallback-src="img/image-not-available.jpg">
                        </div>
                        <div class="content">
                            <h3 class="title">{{ source.title }}</h3>
                            <span class="quote-number">Quick Quote for # {{ source.id }}</span>
                            <div class="production-time">
                                <span class="main">Production time:
                                    <span ng-if="source.production_time_from === 1 && source.production_time_to === 1">
                                        {{ ::source.production_time_from }} working day
                                    </span>
                                    <span ng-if="source.production_time_to > 1">
                                        {{ ::source.production_time_from }} - {{: :source.production_time_to }} working
                                        days
                                    </span>
                                </span>
                                <span class="additional">(<span class="blue">After Art & Order
                                        Confirmation</span>)*</span>
                            </div>
                            <div class="price-grid">
                                <div class="product-item-pricing">
                                    <pricing-info source="productItem" customize-order="false" on-select="setQuantity">
                                    </pricing-info>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quick-quote-container product-options">
                        <div class="options-item quantity-zip">
                            <div class="container">
                                <span class="error-notify quantity" ng-class="{show: errors['quantity']}">
                                    Quantity is required, min quantity is {{ productItem.productData.min_quantity }}
                                </span>
                                <span class="error-notify zip" ng-class="{show: errors['zipCode']}">
                                    Zip code is required
                                </span>
                                <div class="input-wrapper">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" cleave="options.numeri" placeholder="Enter Your QTY"
                                        ng-model="quantity" type="text">
                                </div>
                                <div class="input-wrapper">
                                    <label for="zip">Destination ZIP:</label>
                                    <input id="zip" type="text" ng-model="zipCode" maxlength="6">
                                </div>
                                <div class="get-cost-wrap">
                                    <button class="btn btn-get-cost"
                                        ng-disabled="!quantity || !zipCode || zipCode.length < 5"
                                        ng-click="updateShipMethod(productItem)">
                                        get shipping cost
                                    </button>
                                    <span class="shipping-error" ng-if="errors.shipping">Calculation of shipping cost is
                                        required</span>
                                </div>
                            </div>
                            <div class="shipment-options-container">
                                <div class="ship-option shipment-options"
                                    ng-if="showShippingOptions === 'options' || showShippingOptions === 'warn_message' || showShippingOptions === 'wrong_zip'">
                                    <span class="error-notify shipping" ng-class="{show: errors['shipping']}">
                                        Shipping method selection is required
                                    </span>
                                    <md-radio-group ng-model="selectedShipping"
                                        ng-change="switchShipping(selectedShipping, shippingData)"
                                        ng-if="showShippingOptions === 'options'">
                                        <div class="shipment-header-block">
                                            <div class="shipment-header header-name">Service</div>
                                            <div class="shipment-header header-term">Delivery time</div>
                                            <div class="shipment-header header-price">Cost</div>
                                        </div>
                                        <div class="shipment-delivery" ng-repeat="shippingItem in shippingData">
                                            <div class="ship-name">
                                                <md-radio-button md-no-ink="" aria-label="Checkbox No Ink"
                                                    value="{{shippingItem.code}}" class="account-radio">
                                                    <span class="grey">{{ shippingItem.service }}</span>
                                                </md-radio-button>
                                            </div>
                                            <div class="ship-term"
                                                ng-class="{ 'grey' : productItem.orderData.shipData.shippingCode != shippingItem.code}">
                                                {{ shippingItem.time_in_transit }} business day<span
                                                    ng-if="shippingItem.time_in_transit > 1">s</span>
                                            </div>
                                            <div class="ship-price"
                                                ng-class="{ 'grey' : productItem.orderData.shipData.shippingCode != shippingItem.code}">
                                                {{ shippingItem.cost | currency: '$' }}
                                            </div>
                                        </div>
                                    </md-radio-group>
                                    <div class="shipment-options-no-item" ng-if="showShippingOptions !== 'options'">
                                        <i class="material-icons warn-sign"
                                            ng-if="showShippingOptions === 'warn_message' || showShippingOptions === 'wrong_zip'">warning</i>
                                        <span ng-if="showShippingOptions === 'warn_message'">{{ shippingData[0]
                                            }}</span>
                                        <span ng-if="showShippingOptions === 'wrong_zip'">Invalid zip code please
                                            contact customer service for details</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="options-item colors options">
                            <div class="color-option-container border-bottom">
                                <div class="product-item-colors" ng-repeat="typedColor in productItem.allColors">
                                    <h5 class="color-group-header">{{ typedColor.name }}</h5>
                                    <product-color-selector product-item="productItem" type-item="typedColor"
                                        display-mode="full" select-type="radio" on-color-selected="setColor">
                                    </product-color-selector>
                                </div>
                                <span id="error_color" class="error-notify" ng-class="{show: errors['color']}">
                                    Color selection is required
                                </span>
                            </div>
                            <div id="error_options" class="product-item-options border-bottom"
                                ng-if="productItem.getData().product_options.length">
                                <span class="error-notify" ng-class="{show: errors['options']}">
                                    Option selection is required
                                </span>
                                <product-option-selector product-item="productItem" on-option-selected="setOptions">
                                </product-option-selector>
                            </div>
                        </div>
                        <div class="options-item imprint-options-container">
                            <div class="imprints">
                                <md-radio-group ng-change="onImprintsBlankChange(productItem.orderData)"
                                    ng-model="imprintOption">
                                    <div class="imprint-option-block "
                                        ng-class="{'no-border' : imprintOption === 'blank'}">
                                        <div class="imprint-option-header">
                                            <h5 class="im-header">imprint options</h5>
                                            <div id="error_imprints"
                                                source="checkImprintErrors(imprint.id, productItem.orderData)"
                                                class="im-err"
                                                ng-if="checkImprintErrors(imprint.id, productItem.orderData)">
                                                Location selection is required
                                            </div>
                                        </div>
                                        <div class="imprint-options">
                                            <div class="op-item padded">
                                                <md-radio-button aria-label="Checkbox No Ink" value="decorated"
                                                    class="op-item-radio">
                                                    <span class="op-item-text"
                                                        ng-class="{ 'activated' : imprintOption === 'decorated'}">
                                                        Decorated (with your logo and/or text)
                                                    </span>
                                                </md-radio-button>
                                            </div>
                                            <div class="op-item padded">
                                                <md-radio-button aria-label="Checkbox No Ink" value="blank"
                                                    class="op-item-radio">
                                                    <span class="op-item-text"
                                                        ng-class="{'activated' : imprintOption === 'blank'}">
                                                        Blank Goods (nothing will be imprinted)
                                                    </span>
                                                </md-radio-button>
                                            </div>
                                        </div>
                                    </div>
                                </md-radio-group>
                                <!--  repeated imprints blocks   -->
                                <div class="flex-container">
                                    <div class="imprint-option-block no-border"
                                        ng-class="{'hidden' : imprintOption === 'blank', 'no-pad' : $index > 0}"
                                        ng-repeat="imprint in productImprints track by $index">
                                        <div class="flex-block">
                                            <div class="imprint-option-header no-flex">
                                                <div class="im-info">
                                                    Max colors: {{ ::imprint.max_colors }}
                                                </div>
                                                <div id="error_{{::imprint.id}}"
                                                    source="checkImprintErrors(imprint.id, productItem.orderData) === imprint.id"
                                                    class="im-err"
                                                    ng-if="checkImprintErrors(imprint.id, productItem.orderData) === imprint.id">
                                                    Color selection is required
                                                </div>
                                            </div>
                                            <div class="imprint-options">
                                                <div class="op-item padded flex-column"
                                                    ng-class="{'bottom-rounded' : !productItem.orderData.imprints[imprint.id].data || !productItem.orderData.imprints[imprint.id].data.colors.length}">
                                                    <toggler source="imprint" product="productItem" instance="this"
                                                        expanded="true" name="imprints">
                                                    </toggler>
                                                    <div class="op-item-block block"
                                                        ng-init="imprintSelector[imprint.id].expanded = false;">
                                                        <div class="sided">
                                                            {{ ::imprint.name }}
                                                        </div>
                                                        <div class="sided">
                                                            <div class="text">
                                                                Setup Fee — ${{ imprint.imprint_prices[0].setup_price }}
                                                            </div>
                                                            <div class="text">
                                                                Price includes 1 color imprint
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="op-item color-list bottom-rounded"
                                                    ng-if="productItem.orderData.imprints[imprint.id].selected">
                                                    <span class="op-number">Colors: {{
                                                        productItem.orderData.imprints[imprint.id].data.colors.length
                                                        }}</span>
                                                    <!--<div class="op-item-block">
                                                        <div class="sided">
                                                            <ui-select ng-model="color"
                                                                       theme="bootstrap"
                                                                       class="ship-select ship-account"
                                                                       ng-change="productItem.replaceImprintColor(imprint, $select.selected, $index)">
                                                                <ui-select-match placeholder="Choosen color">
                                                                    <div class="selected-color">
                                                                    <span
                                                                            ng-style="colorStyle($select.selected.color_hex)"
                                                                            class="color-sample">
                                                                    </span>
                                                                        <span class="color-title">{{$select.selected.title}}</span>
                                                                    </div>
                                                                </ui-select-match>
                                                                <ui-select-choices
                                                                        repeat="color in imprint.color_group.colors | orderBy: 'title' track by $index">
                                                                <span ng-style="colorStyle(color.color_hex)"
                                                                      class="color-sample"></span>
                                                                    <div>{{color.title}}</div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                        <div class="sided">
                                                            <i class="material-icons"
                                                               ng-click="productItem.removeImprintColor(imprint, color, $index)">
                                                                clear
                                                            </i>
                                                        </div>
                                                    </div>-->
                                                </div>
                                                <div class="info-color-btn-group">
                                                    <button class="add-item"
                                                        ng-if="imprint.color_group.colors && !productItem.isImprintMaxColorsSelected(imprint.id, imprint.max_colors) && productItem.orderData.imprints[imprint.id].selected"
                                                        ng-click="productItem.addImprintColor(imprint, imprint.color_group.colors[0]); toggleColorSelector(imprintSelector[imprint.id]);">
                                                        Add color
                                                        <i class="material-icons">add</i>
                                                    </button>
                                                    <button class="add-item remove-item"
                                                        ng-if="imprint.color_group.colors && productItem.orderData.imprints[imprint.id].data.colors.length && productItem.orderData.imprints[imprint.id].selected"
                                                        ng-click="productItem.removeImprintColor(imprint, imprint.color_group.colors[0])">
                                                        Remove color
                                                        <i class="material-icons">clear</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quick-quote-container product-report" ng-if="report">
                        <div class="table">
                            <div class="row" ng-repeat="item in report.product_prices">
                                <div class="item">{{ item.title }}</div>
                                <div class="item">{{ item.value }}</div>
                            </div>
                            <div class="row" ng-repeat="item in report.prices_options">
                                <div class="item">{{ item.title }}</div>
                                <div class="item">{{ item.value }}</div>
                            </div>
                            <div class="row" ng-repeat="item in report.prices_imprints">
                                <div class="item">{{ item.title }}</div>
                                <div class="item">{{ item.value}}</div>
                            </div>
                            <div class="row">
                                <div class="item">Final Item price:</div>
                                <div class="item">{{ report.final_unit_price }}</div>
                            </div>
                            <div class="row" ng-repeat="item in report.prices_setup">
                                <div class="item">{{ item.title }}</div>
                                <div class="item">{{ item.value }}</div>
                            </div>
                            <div class="row">
                                <div class="item">Shipping:</div>
                                <div class="item">{{ report.shipping.cost }}</div>
                            </div>
                            <div class="row">
                                <div class="item">Total:</div>
                                <div class="item">{{ report.subtotal }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="quick-quote-container quick-quote-footer">
                        <div class="report-actions">
                            <ng-template ng-if="report" class="icons-container">
                                <div class="action-icon pdf" ng-click="generateQuote(true)">
                                    <img src="../../assets/img/printer.svg" alt="">
                                </div>
                                <div class="action-icon print" ng-click="generateQuote(true)">
                                    <img src="../../assets/img/pdf.svg" alt="">
                                </div>
                                <div class="action-icon email" ng-click="toggleMailBlock()">
                                    <img src="../../assets/img/email.svg" alt="">
                                </div>
                            </ng-template>
                        </div>
                        <div class="controls">
                            <button class="reset" ng-click="reset()">Reset</button>
                            <button class="generate" ng-click="generateQuote(false)">generate quote</button>
                        </div>
                    </div>
                    <div class="quick-quote-container quick-quote-footer mail-container" ng-show="displayMailBlock">
                        <form ng-submit="sendEmail()" class="mailForm">
                            <div class="input-group">
                                <label for="fromName">Sender's Name</label>
                                <input id="fromName" type="text" ng-model="emailFromName">
                            </div>
                            <div class="input-group">
                                <label for="emailList">Receiver's email (if more than one, separate by comma)</label>
                                <input id="emailList" type="text" ng-model="emailList">
                            </div>
                            <button class="btn" type="submit" ng-disabled="!emailList || !emailFromName">send</button>
                        </form>
                        <div class="status error red" ng-if="errors.email">{{ errors.email }}</div>
                        <div class="status success" ng-if="successMessage.email">{{ successMessage.email }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>