@import "../../scss/modules/variables";

.modal,
quick-quote {
  .modal-dialog {
    max-width: 800px;
    width: 100%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .modal-content {
      box-shadow: none;
      border: none;

      .modal-body {
        display: flex;
        justify-content: center;
      }

      .modal-header {
        position: absolute;
        right: 0;
        z-index: 10;
        border-bottom: none;

        .close {
          position: relative;
          font-size: 21px;
          font-weight: 400;
          border: 2px solid black;
          height: 25px;
          width: 25px;
          border-radius: 50%;

          .cross {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 1px));
          }
        }
      }

      .modal-body {
        padding-top: 40px;

        .quick-quote-body {
          display: block;
          flex-direction: column;
          max-height: 80vh;
          overflow: auto;
          overflow-x: hidden;
          &::-webkit-scrollbar {
            width: 8px;
            background-color: #ccc;
            @media screen and (max-width: 576px){
              width: 5px;
            }
          }
          &::-webkit-scrollbar-thumb {
            width: 8px;
            background-color: #4ac9ff;
            border-radius: 10px;
          }

          @media screen and (max-width: 550px){
            padding: 0;
          }

          .pricing-info {
            .quantity-container {
              @media(max-width:576px) {
                flex-wrap: wrap;
                justify-content: flex-start;
              }
            }
          }

          .quick-quote-container {
            padding: 0 10px 40px 10px;
            border-bottom: 2px solid #d8e5ed;
          }

          .product-prices {
            display: flex;

            @media screen and (max-width: 768px) {
              flex-wrap: wrap;
            }

            @media screen and (max-width: 550px){
              padding-left: 0;
              padding-right: 0;
            }

            .image {
              width: 100%;
              img {
                max-width: 200px;
                display: block;
                object-fit: contain;
                margin: 0 auto;
              }
            }

            .content {
              display: flex;
              flex-direction: column;
              padding: 10px 20px 10px 20px;
              font-size: 13px;
              font-weight: normal;

              @media screen and (max-width: 550px){
                padding-left: 0;
                padding-right: 0;
              }

              .title {
                color: #2d3539;
                margin-bottom: 5px;
              }

              .quote-number {
                color: #909395;
                margin-bottom: 15px;
              }

              .production-time {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                .main {
                  font-size: 15px;
                  color: #2d3539;
                  margin-bottom: 5px;
                }

                .additional {
                  color: $color-blue;
                }
              }

              .price-grid {
                margin-top: auto;

                .pricing-info {
                  overflow-x: unset;

                  .pricing-info-block {
                    .info-text:not(:last-child) {
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }

          .product-options {
            display: flex;
            flex-direction: column;
          }

          .product-options {
            display: flex;

            .options-item {
              &:first-child {
                margin-top: 40px;
              }

              &:not(last-child) {
                margin-bottom: 40px;
              }
            }

            .quantity-zip {
              margin-bottom: 10px;

              .error-notify {
                position: absolute;
              }

              .container {
                position: relative;
                padding-left: 0;
                width: 100%;
                display: flex;
                align-items: center;

                @media screen and (max-width: 768px) {
                  flex-wrap: wrap;
                  padding: 0;
                }

                .input-wrapper {
                  display: flex;
                  align-items: center;
                  @media screen and (max-width: 768px) {
                    width: 100%;
                  }
                }
                
                label {
                  font-size: 13px;
                  font-weight: normal;
                  margin-right: 10px;
                  color: #2d3539;
                  white-space: nowrap;

                  @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                    display: flex;
                    flex-grow: 1;
                  }
                }

                input {
                  height: 32px;
                  width: 120px;
                  margin-right: 20px;
                  border-radius: 4px;
                  border: solid 1px #d7d7d7;
                  padding: 0 5px;

                  @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                    max-width: 300px;
                    width: 100%;
                  }

                  @media screen and (max-width: 576px) {
                    max-width: 120px;
                    width: 100%;
                  }

                  &:focus::placeholder {
                    color: transparent;
                  }
                }

                .btn-get-cost {
                  width: auto;
                  height: 32px;

                  @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                  }
                }

                .error-notify {
                  &.zip {
                    left: 190px;
                    top: 40px;
                    position: absolute !important;
                    @media (max-width: 768px) {
                      top: -20px;
                      left: 200px;
                    }
                  }
                }
              }

              .shipment-options-container {
                position: relative;
                margin-top: 20px;

                .error-notify {
                  right: -22px;
                  top: -17px;
                }

                .shipment-options {
                  width: 65%;
                  padding-left: 20px;
                  padding-right: 20px;
                  border: 1px solid #d8d8d8;
                  border-radius: 5px;

                  .shipment-header-block {
                    display: flex;
                    width: 100%;
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.54;
                    letter-spacing: normal;
                    color: #2d3539;
                    margin-bottom: 10px;
                    margin-top: 10px;

                    .header-name {
                      width: 50%;
                    }

                    .header-term {
                      width: 30%;
                    }

                    .header-price {
                      width: 20%;
                      text-align: right;
                    }
                  }

                  .shipment-delivery {
                    display: flex;
                    width: 100%;
                    font-size: 13px;
                    color: #22282b;
                    font-weight: normal;
                    padding: 0 5px 6px 0;
                    margin: 10px 0 10px 0;
                    border-bottom: 1px solid #acb9c1;
                    transition: all 100ms ease-in;

                    &:hover {
                      border-color: darken(#acb9c1, 20%);
                    }

                    .ship-name {
                      width: 50%;
                    }

                    .ship-price {
                      width: 20%;
                      text-align: right;
                    }

                    .ship-term {
                      width: 30%;
                    }
                  }

                  .shipment-options-no-item {
                    color: #f15642;
                    display: flex;
                    align-items: center;
                    font-size: 11px;

                    .warn-sign {
                      margin-right: 5px;
                      font-size: 18px;
                    }
                  }
                }
              }
            }

            .colors {
              margin-bottom: 50px;

              .color-option-container {
                position: relative;

                #error.color {
                  top: 2px;
                  left: 95px;
                }
              }

              .color-group-header {
                text-transform: uppercase;
                margin-bottom: 10px;
                margin-left: 5px;
              }

              .product-color-selector {
                border: none;
                box-shadow: none;

                .color-selector-item {
                  .color-display {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                  }
                }
              }

              .product-item-options {
                padding-left: 10px;
              }
            }

            .imprint-options-container {
              [id^=error_] {
                color: #ff0201;
                font-size: 12px;
                opacity: .7;
              }

              .imprint-option-block {
                .imprint-option-header {
                  position: relative;

                  #error_imprints {
                    color: #ff0201;
                    font-size: 12px;
                    position: absolute;
                    bottom: -90px;
                    left: -12px;
                    opacity: .7;
                    white-space: nowrap;
                    @media (max-width:576px) {
                      left: 0;
                    }
                  }
                }

                &:first-child {
                  margin-bottom: 30px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  @media (max-width:576px) {
                    align-items: flex-start;
                  }
                }

                .im-header {
                  text-transform: uppercase;
                  margin-bottom: 20px;
                }

                .op-item-text {
                  font-size: 14px;
                  color: #2d3539;
                }

                .op-item-radio:not(.md-checked) {
                  font-weight: 200;
                }

                .op-item-radio {
                  .md-label {
                    margin-bottom: 2px;
                  }
                }

                .im-info {
                  font-weight: 400;
                  font-size: 14px;
                  margin-bottom: 2px;
                }

                .sided {
                  margin: 5px 0;

                  .text {
                    font-size: 12px;
                    font-weight: 200;
                    color: #2d3539;

                    &:first-child {
                      margin-bottom: 2px;
                    }
                  }
                }

                .imprint-options {
                  
                  .add-item {
                    display: flex;
                    align-items: center;
                    max-width: 200px;
                    width: 100%;
                    padding: 15px;
                    justify-content: space-between;
                    border: none;
                    color: white;
                    background-color: #44c8ff;
                    border-radius: 5px;
                    margin-top: 0;
                    margin-right: 15px;
                    font-size: 14px;
                    white-space: nowrap;
                    @media (max-width:576px) {
                      margin-right: 0;
                      margin-bottom: 15px;
                    }
                  }

                  .remove-item {
                    background-color: $color-red;
                    max-width: 200px;
                  }
                }
                .info-color-btn-group {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  @media (max-width:576px) {
                    flex-direction: column;
                    justify-content: center;
                  }
                }
              }

              .imprints {
                .flex-container {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-around;

                  @media screen and (max-width: 768px) {
                    justify-content: flex-start;
                  }

                  .imprint-option-block {
                    width: 100%;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width:576px) {
                      width: auto;
                    }
                    .flex-block {
                      padding-left: 10px;
                      @media (max-width:576px) {
                        padding-left: 0;
                      }
                    }


                    .toggler {
                      margin: 5px 0;

                      input:checked + .slider {
                        background-color: $color-blue;
                      }

                      input:checked + .slider:before {
                        border-color: $color-blue;
                      }
                    }

                    .op-item {
                      display: flex;
                      margin-bottom: 10px;
                      align-items: center;

                      &.flex-column {
                        align-items: flex-start !important;
                      }

                      .op-item-block {
                        display: flex;

                        &.block {
                          display: block;

                          .sided {
                            margin: 5px 0 10px;

                            .text {
                              font-size: 12px;
                              font-weight: 200;
                              color: #2d3539;

                              &:first-child {
                                margin-bottom: 2px;
                              }
                            }
                          }
                        }

                        .sided {
                          margin: 0;
                        }
                      }
                    }

                    .op-item.color-list {
                      display: flex;
                      align-items: center;
                      margin-bottom: 10px;
                      width: 85%;

                      &:first-child {
                        margin-top: 10px;
                      }

                      .op-number {
                        margin-right: 10px;
                      }

                      .op-item-block {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .sided {
                          margin: 0;
                        }

                        .ship-select .selected-color .color-sample {
                          width: 29px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .product-report {
            padding-top: 40px;

            .table {
              margin: 0;
              display: flex;
              flex-direction: column;
              align-items: center;

              .row {
                display: flex;
                justify-content: space-between;
                width: 85%;
                padding: 10px 15px;

                &:not(:last-child) {
                  border-bottom: 1px solid #d9e6ee;
                }

                .item {
                  font-size: 16px;
                  font-weight: normal;

                  &:first-child {
                    color: #909395;
                    margin-right: auto;
                  }
                }
              }
            }
          }

          .quick-quote-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: none;
            padding-top: 40px;
            padding-bottom: 20px;

            .report-actions {
              .icons-container {
                display: flex;

                .action-icon {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 15px;
                  border-radius: 7px;
                  border: 1px solid #d8e5ed;
                }
              }
            }

            .controls {
              display: flex;
              align-items: center;
              .reset {
                padding: 0 20px;
                margin-right: 20px;
                border: 1px solid #99adba;
                border-radius: 5px;
                padding: 15px;
                text-transform: uppercase;
                background: transparent;
                font-size: 13px;
                color: #99adba;
              }

              .generate {
                padding: 15px 30px;
                border: none;
                background: $color-blue;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
                border-radius: 10px;
                @media (max-width: 576px) {
                  padding: 15px;
                }
              }
            }
          }

          .mail-container {
            display: flex;
            flex-direction: column;

            .mailForm {
              display: flex;
              align-items: flex-end;

              .input-group {
                display: flex;
                flex-direction: column;

                label {
                  font-size: 11px;
                  font-weight: 400;
                  margin-right: 10px;
                  color: #2d3539;
                  margin-bottom: 3px;
                }

                input {
                  height: 32px;
                  width: auto;
                  margin-right: 25px;
                  border-radius: 4px;
                  border: 1px solid #d7d7d7;
                  padding: 0 5px;
                }
              }

              button {
                height: 32px;
                background-color: #4ac9ff;
                color: #fff;
                width: 100px;
                text-transform: uppercase;
                padding: 0 15px;
                margin-right: 0;
                font-size: 13px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.54;
                letter-spacing: normal;
              }
            }

            .status {
              font-size: 11px;
              margin-top: 5px;

              &.error {
                color: red;
              }

              &.success {
                color: green;
              }
            }
          }
        }
      }
    }
  }

  .border-bottom {
    border-bottom: 2px solid #d8e5ed;
    padding-bottom: 10px;
  }
}

.get-cost-wrap {
  position: relative;
  @media (max-width:768px) {
    width: 100%;
  }

  .shipping-error {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #ff0201;
    font-weight: 300;
    font-size: 12px;
    opacity: .7;
  }
}
