.page-promotion {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 20px 0 25px 0;
  }

  .promotion-info {
    padding: 20px 0;
    border-top: 1px solid #D9D9D9;
  }

  .promotion_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      padding-top: 40px;
      padding-bottom: 40px;
      width: 30%;
    }
  }

  .promotion {
    position: relative;
    width: 100%;
    box-shadow:  0 0 20px #cbcbcb;
    border-radius: 10px;
    height: 300px;
    display: flex;
    align-items: flex-end;

    .promotion_color {
      position: absolute;
      width: 90%;
      top: -25px;
      left: 5%;
      height: 170px;
      padding: 0 70px;
      background: linear-gradient(180deg, #55D2F0 0%, #2CAADD 100%);
      box-shadow:  0 0 20px #cbcbcb;
      border-radius: 10px;
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1.42;

      @media screen and (max-width: 1600px) {
        padding: 0 30px;
      }

      @media screen and (max-width: 1366px) {
        font-size: 26px;
      }

      @media screen and (max-width: 400px) {
        padding: 0 30px;
      }
    }

    .promotion_price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
      font-size: 60px;
      font-weight: bold;
      color: #3DBCE5;

      sup {
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }

  .promotion-info-list {
    padding: 20px 0;

    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #8E8E8E;
      }
    }

    a {
      height: auto;
      width: 130px;
      border-radius: 6px;
      background-color: rgb(44, 166, 216);
      font-size: 13px;
      color: #fff;
      margin: 37px auto 0;
      display: block;
      text-align: center;
      padding: 10px;
      text-decoration: none;

      :hover, :visited, :active {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .page-promotion {
    .promotion_wrapper {
      li {
        width: 45%;
        margin: 5px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .page-promotion {
    .promotion_wrapper {
      li {
        width: 100%;
      }
    }
  }
}
