<div class="page-awards">
    <h2 class="static-title">Awards</h2>
    <div class="awards-wrapper">
        <div class="awards-text">
            We at Superior Promos have been revolutionizing the promotional products industry with great innovations, unmatched customer service
            and a technologically advanced website that provides an unparallel shopping experience for our customers. We take great pride in our commitment and
            dedication to excellence and are honored to receive the following awards.
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row row-award" ng-repeat="award in $staticPages.awards">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <img class="img-responsive" src="/img/brands-img/{{::award.image}}" alt="brand_img{{::award.id}}" ng-class="{'narrow' : award.id === 1} ">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="awards-partial-wrap">
                            <div class="awards-info-wrap" ng-class="{'expanded' : award.expanded}" ng-bind-html="::award.content | trust"></div>
                            <div class="awards-darkener" ng-hide="award.expanded"></div>
                        </div>
                        <div class="awards-switcher">
                            <div class="awards-view-more" ng-click="$staticPages.toggleContent(award)">{{award.expanded ? 'Hide' : 'View more'}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
