.page-awards {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .static-title {
    width: 650px;
    margin: 0 auto 32px;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
    }
  }

  .img-responsive {
    width: 130px;

    @media (min-width: 320px) and (max-width: 991px) {
      width: auto;
      margin: 0 auto 15px auto;
    }

    &.narrow {
      width: 90px;
    }
  }

  .awards-wrapper {
    width: 650px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: normal;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
    }

    .awards-text {
      margin-bottom: 40px;
    }

    .row-award {
      margin-bottom: 80px;

      .awards-partial-wrap {
        position: relative;

        .awards-darkener {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 40px;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }
      }

      .awards-info-wrap {
        max-height: 100px;
        overflow: hidden;
        transition: max-height 3s cubic-bezier(0, 1, 0, 1);

        &.expanded {
          max-height: 3333px;
          transition: max-height 5s ease;
        }

        p {
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .awards-switcher {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        .awards-view-more {
          width: 100px;
          margin-right: 50px;
          color: #3598db;
          text-align: right;
          cursor: pointer;
        }
      }
    }
  }
}