<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="addressForm" class="form-horizontal form-group-sm" ng-submit="updateAddress()">
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.title" type="text" class="form-control" id="inputEmail3" placeholder="Title" ng-value="address.title">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.first_name" type="text" class="form-control" id="inputEmail3" placeholder="First Name" ng-value="address.first_name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Middle Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.middle_name" type="text" class="form-control" id="inputEmail3" placeholder="Middle Name" ng-value="address.middle_name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.last_name" type="text" class="form-control" id="inputEmail3" placeholder="Last Name" ng-value="address.last_name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Suffix</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.suffix" type="text" class="form-control" id="inputEmail3" placeholder="Suffix" ng-value="address.suffix">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.company_name" type="text" class="form-control" id="inputEmail3" placeholder="Company Name" ng-value="address.company_name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Address 1</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.address_line_1" type="text" class="form-control" id="inputEmail3" placeholder="Address 1" ng-value="address.address_line_1">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Address 2</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.address_line_2" type="text" class="form-control" id="inputEmail3" placeholder="Address 2" ng-value="address.address_line_2">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.city" type="text" class="form-control" id="inputEmail3" placeholder="City" ng-value="address.city">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">State</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.state" type="text" class="form-control" id="inputEmail3" placeholder="State" ng-value="address.state">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">ZIP</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="address.zip" class="form-control" id="inputEmail3" placeholder="ZIP" ng-value="address.zip">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.country" type="text" class="form-control" id="inputEmail3" placeholder="Country" ng-value="address.country">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Province</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.province" type="text" class="form-control" id="inputEmail3" placeholder="Province" ng-value="address.province">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Day Telephone</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.day_telephone" type="text" class="form-control" id="inputEmail3" placeholder="Day Telephone" ng-value="address.day_telephone">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="fax" class="col-sm-2 control-label">Fax</label>
                                <div class="col-sm-10">
                                    <input ng-model="address.fax" type="text" class="form-control" id="fax" placeholder="Fax" ng-value="address.fax">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <select ng-model="address.type">
                                        <option value="1" selected>shipping</option>
                                        <option value="2">billing</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
