@import "../../scss/modules/variables";

.order-confirmation-page-layout {
  max-width: 1000px;
  margin: 0 auto 200px auto;
  padding: 20px;
  background: #e6eef2;
  @media (max-width:576px) {
    padding: 10px;
    margin: 0 auto 50px auto;
  }
 
  .order-history-item-row {
    background: lightblue;
    padding: 10px 20px;
  }

  .bottom-block {
    .order-info-block {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .item-block {
        flex-grow: 1;

        &.order-num {
          flex-grow: 2;
        }
      }

      .info-header {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.54;
        color: #454f51;
        margin-bottom: 10px;

        &.order-num {
          text-transform: uppercase;
          color: #d0021b;
        }
      }

      .info-data {
        font-size: 13px;
        line-height: 1.18;
        color: #2d3539;
        @media (max-width:576px) {
          font-size: 11px;
        }

        &.bold {
          font-weight: bold;
        }
      }
    }

    .payment-information {
      .pay-header {
        text-transform: uppercase;
        border-radius: 5px;
        @media (max-width:576px) {
          text-align: center;
        }
      }

      .pay-type {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #2d3539;
      }

      .card-info {
        margin-bottom: 10px;

        .address-brief {
          padding-top: 15px;
          margin-bottom: 30px;

          .address-type {
            font-size: 13px;
            margin: 15px 0;
            font-weight: 500;
            color: #2d3539;
            text-transform: capitalize;
          }

          .address-field {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.2px;
            color: #2d3539;

            &:first-child {
              margin-bottom: 30px;
            }
          }

          &.payment-block {
            display: flex;
            flex-wrap: wrap;

            .address-field {
              width: 100%;
              margin-right: 1%;

              &:nth-child(3n + 3) {
                margin-right: 0;
              }

              .field-name {
                font-size: 11px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.2px;
                color: #899399;
                margin-bottom: 5px;
                display: inline-block;
                width: 150px;
              }

              .field-value {
                font-size: 15px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.2px;
                color: #2d3539;
                display: inline-block;
                text-transform: capitalize;
              }

              .field-question {
                font-size: 9px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.1px;
                color: $color-darkest-blue;
                cursor: pointer;
              }

              input {
                width: 50px;
                height: 30px;
                border-radius: 4px;
                background-color: #e6eef2;
                border: none;
                text-align: center;

                &::placeholder {
                  font-size: 11px;
                  letter-spacing: 0.2px;
                  color: #99adba;
                }
              }
            }
          }
        }
        
        .checkout-select {
          max-width: 200px;
          width: 100%;
          border-radius: 4px;
          background-color: #e6eef2;
          border: none;
          box-shadow: none;
          font-size: 11px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: .2px;
          color: #2d3539;
          margin-top: 10px;
        }
      }

      .pay-info {
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: 0.2px;
        color: #899399;

        a {
          color: $color-darkest-blue;
        }
      }
    }
  }

  .order-confirmation-block {
    border-radius: 6px;
    background: white;
    padding: 15px 30px;
    margin-bottom: 5px;
    @media (max-width:576px) {
      justify-content: center;
    }
  }

  .go-back {
    padding: 10px;
    display: flex;
    background: transparent;

    span {
      padding: 10px 15px;
      font-size: 16px;
      color: $color-light-grey;
      border: 1px solid $color-light-grey;
      border-radius: 10px;

      &:hover {
        color: $color-blue;
        border-color: $color-blue;
        cursor: pointer;
      }
    }
  }
}
