<div class="order-confirmation-page-layout">
    <div class="bottom-block">
        <div class="order-info-block order-confirmation-block">
            <div class="item-block order-num">
                <h4 class="info-header order-num" ng-click="log(order)">ORDER #{{::order.id}}</h4>
                <p class="info-data bold">Order date:</p>
                <p class="info-data">{{::order.created_at | date: 'MM/dd/yyyy'}}</p>
            </div>
            <div class="item-block">
                <h4 class="info-header">Shipping Address</h4>
                <p class="info-data">{{order.shipping_first_name + ' ' + order.shipping_last_name}}</p>
                <p class="info-data">{{order.shipping_address_line_1}}</p>
                <p class="info-data">{{order.shipping_city + ', ' + order.shipping_state + ', ' + order.shipping_zip}}</p>
            </div>
            <div class="item-block">
                <h4 class="info-header">Billing Address</h4>
                <p class="info-data">{{order.billing_first_name + ' ' + order.billing_last_name}}</p>
                <p class="info-data">{{order.billing_address_line_1}}</p>
                <p class="info-data">{{order.billing_city + ', ' + order.billing_state + ', ' + order.billing_zip}}</p>
            </div>
        </div>
        <div class="payment-information order-confirmation-block">
            <h5 class="pay-header">payment information:</h5>
            <div class="pay-type">
                <span ng-if="order.payment_information.paymentProfile.id">Credit Card</span>
                <span ng-if="!order.payment_information.paymentProfile.id">Check / Money Order or Apply For Terms</span>
                <!--<span ng-if="!order.payment_information.paymentProfile && paymentType === 'apply'">Apply For Terms</span>-->
            </div>
            <div class="card-info" ng-if="order.payment_information.paymentProfile.id">
                <div class="address-brief payment-block">
                    <!-- <div class="address-field">
                        <input readonly type="text" placeholder="CVV">
                    </div> -->
                    <div class="address-field">
                        <div class="field-name">Card type:</div>
                        <div class="field-value">{{order.payment_information.paymentProfile.card_type || 'unknown'}}</div>
                    </div>
                    <div class="address-field">
                        <div class="field-name">Card holder:</div>
                        <div class="field-value">{{order.payment_information.paymentProfile.card_holder}}</div>
                    </div>
                    <div class="address-field">
                        <div class="field-name">Card number:</div>
                        <div class="field-value">{{hideCardNumber(order.payment_information.paymentProfile.card_number)}}</div>
                    </div>
                </div>
            </div>
        </div>
        <cart-list source="order.order_confirmation"
                   order="order"
                   mode="order-confirmation">
        </cart-list>
    </div>
    <div class="go-back order-confirmation-block">
        <span ui-sref="router.my-account.order-history">Back to order history</span>
    </div>
</div>
