<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Find custom color to product</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ui-select ng-model="findColor"
                                   on-select="onSelected($item, $model)"
                                   theme="bootstrap"
                                   reset-search-input="false"
                                   title="Choose an color">
                            <ui-select-match placeholder="Enter an color...">
                                <i class="fa fa-circle" style="color: {{ $select.selected.color_hex }}"></i>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="color in colors track by $index"
                                               refresh="getColors($select.search)"
                                               refresh-delay="50">
                                <i class="fa fa-circle" style="color: {{ color.color_hex }}"></i>
                                <span ng-bind="color.id"></span> - <span ng-bind="color.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-default" ng-click="selectColor()">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
