.page-glossary {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .glossary-content-wrap {
    width: 80%;
    margin: 0 auto;

    @media (min-width: 320px) and (max-width: 991px) {
      width: 100%;
    }
  }

  .accordion-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:768px) {
      flex-direction: column;
    }
    .two-col {
      width: 100%;
      @media (max-width:768px) {
        padding: 0;
        &:last-child {
          margin-top: 15px;
        }
      }
    }
  }
}
