
<div class="page-glossary">
    <h2 class="static-title">Promotional Glossary</h2>
    <div class="glossary-content-wrap">
        <div class="accordion-wrap choose-industry-wrap">
            <div class="choose-industry">Choose Industry:</div>

            <button class="view-glossary" ng-click="$staticPages.toggleAllItems('glossary')" ng-class="{'up' : $staticPages.hideGlossary}">
                <span ng-if="!$staticPages.hideGlossary">View All</span>
                <span ng-if="$staticPages.hideGlossary">Hide All</span>
                <img src="../../assets/img/material-icons/ic_keyboard_arrow_down.svg" alt="">
            </button>
        </div>

        <div class="accordion-wrap">

            <uib-accordion close-others="oneAtATime" class="two-col">
                <div uib-accordion-group class="panel-default" is-open="group.open" heading="{{group.title}}" ng-repeat="group in $staticPages.groupsGlossary | limitTo: ($staticPages.groupsGlossary.length + 1) /2: 0">
                    <span ng-bind-html="::group.body | trust"></span>
                </div>
            </uib-accordion>

            <uib-accordion close-others="oneAtATime" class="two-col">
                <div uib-accordion-group class="panel-default" is-open="group.open" heading="{{group.title}}" ng-repeat="group in $staticPages.groupsGlossary | limitTo: $staticPages.groupsGlossary.length /2: ($staticPages.groupsGlossary.length + 1) /2">
                    <span ng-bind-html="::group.body | trust"></span>
                </div>
            </uib-accordion>
        </div>
    </div>

    <button class="go-shopping" ui-sref="router.home">Go shopping</button>


</div>
