@import "~scss/modules/variables";

.ready-order-page-wrapper {
  background-color: transparent !important;
  .checkout-container  {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
    .checkout-option {
      width: 100% ;
    }
  }
}

.cart-checkout-page {
  margin: 5px auto;
  padding: 15px;
  border-radius: 6px;
  background-color: transparent;
  @media (max-width: 768px) {
    padding: 0;
  }

  .cart-checkout-page-header {
    font-size: 18px;
    color:#2d3539;
  }

  .checkout-container {
    display: flex;
    flex-wrap: wrap;
    .second-checkout-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin-top: 15px;
      width: 100%;
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 10px;
      }
    }
    .main-checkout-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }

  }

  & .checkout-block {
    margin: 20px 0 0px;
    max-width: inherit;
  }

  & .shopping-cart-list {
    max-width: inherit;
  }

  .address-brief {
    padding-top: 15px;
    margin-bottom: 15px;

    .address-type {
      font-size: 13px;
      margin: 15px 0;
      font-weight: 500;
      color: #2d3539;
      text-transform: capitalize;
    }

    .address-field {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: #2d3539;
      text-transform: capitalize;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.payment-block {
      display: flex;
      flex-wrap: wrap;

      .address-field {
        width: 100%;
        margin: 4px 0;
        display: flex;
        align-items: center;

        &:nth-child(3n + 3) {
          margin-right: 0;
        }

        .field-name {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #899399;
          margin-bottom: 5px;
          min-width: 120px;
          text-align: right;
          padding-right: 5px;
        }

        .field-value {
          font-size: 15px;
          text-transform: capitalize;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #2d3539;
        }

        .field-question {
          font-size: 9px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          color: $color-darkest-blue;
          cursor: pointer;
          display: none;
        }

        input {
          max-width: 80px;
          width: 100%;
          height: 30px;
          border-radius: 4px;
          margin-right: 5px;
          background-color: #e6eef2;
          border: none;
          text-align: center;
          @media (max-width:576px) {
            &:first-child {
              margin-bottom: 10px;
            }
          }

          &::placeholder {
            font-size: 11px;
            letter-spacing: 0.2px;
            color: #99adba;
          }
        }
      }
    }
  }

  .btn-edit-address {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #16a1db;
    cursor: pointer;

    .btn-icon {
      font-size: 16px;
      margin-right: 10px;
    }

    .btn-icon,
    .btn-text {
      color: inherit;
    }
  }
  .enter-credit-btn {
    @media (max-width:768px) {
      margin-left: 10px;
    }
  }

  .checkout-option {
    padding: 15px;
    width: 100%;
    background: #ffffff;
    border-radius: 6px;

    @media screen and (max-width: 650px) {
      width: 100%;
    }

    &.double-option {
      display: flex;
      flex-direction: column;
      padding: 0;
      background: transparent;

      .checkout-option {
        width: 100%;

        &:first-child {
          margin: 0;
          flex: 1;
        }
      }

      .multiple-location {
        display: flex;
        justify-content: space-between;
        @media(max-width:992px) {
          flex-direction: column;
        }

        md-radio-button {
          margin-right: 15px;
        }
      }

      .tax-exemption-radio {
        display: flex;
        justify-content: start;
        
        md-radio-button {
          margin-right: 25px;
        }
      }
    }

    md-radio-group {
      md-radio-button {
        .md-container {
          top: -2px;
          transform: scale(1.15);
        }
      }
    }

    .cont-block {
      height: calc(100% - 30px);
    }

    &:nth-child(2n + 1) {
      margin-right: 5px;
    }

    .checkout-option-head {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 10px;
      background-color: $color-background;
      padding: 10px;
      border-radius: 10px;

      & md-radio-group {
        margin-top: 10px;
      }

      .text-default {
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #2d3539;
        text-transform: uppercase;
      }

      .text-error {
        display: none;
      }

      &.error {
        color:red;
        font-size: 14px;
        font-weight: 400;

        .text-default {
          display: none;
        }

        .text-error {
          display: block;
        }
      }
    }

    .checkout-select-wrapper {
      display: flex;
    }

    .checkout-select {
      max-width: 50%;
      width: 100%;
      border-radius: 10px;
      background-color: #e6eef2;
      border: none;
      box-shadow: none;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #2d3539;
      margin-top: 10px;
      margin-right: 15px;
      text-transform: capitalize;
      @media (max-width:768px) {
        margin-right: 0;
        max-width: unset;
      }
      option {
          font-size: 13px;
      }
    }

    .multiple-location, 
    .payment-type {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #2d3539;
    }

    .payment-type {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
      @media (max-width:576px) {
        flex-direction: column;
      }

      .payment-check {
        margin-right: 20px;
      }
    }

    .payment-info {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: 0.2px;
      color: #899399;

      a {
        color: $color-darkest-blue;
      }
    }

    .multiple-description-label {
      font-size: 11px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: .2px;
      color: #899399;
      margin-bottom: 10px;
    }

    .multiple-description {
      width: 100%;
      resize: none;
      border-radius: 6px;
      border: 1px solid #d7d7d7;
      font-size: 11px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: .2px;
      padding: 10px;
    }
  }

  .left-column {
    width: 100%;
    display: flex;
    flex-direction: column;

    .checkout-option {
      width: 100%;
    }
  }
}

.cvv-error {
  color: red;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

.select-error {
  border: 1px solid red !important;
}

.expiration-input {
  display: inline-block;
}
