<bread-crumbs source="breadcrumbs"></bread-crumbs>
<div class="cart-checkout-page">
    <div class="checkout-container">
        <div class="left-column">
            <div  class="main-checkout-options">
                <div id="err" class="checkout-option">
                    <!-- 1 = shipping address type; 2 = billing address type-->
                    <address-edit-form stay-on-page="true" address-type="1" on-confirm="assignNewShippingAddress"
                        on-cancel="toggleCreateNewShippingAddress" ng-show="showAddShippingAddress">
                    </address-edit-form>
                    <div ng-hide="showAddShippingAddress" class="cont-block">
                        <div class="checkout-option-head" ng-class="{'error':errors.shippingAddress}">
                            <h5 class="text-default">Ship to</h5>
                            <span class="text-error">Please specify Shipping address</span>
                        </div>
                        <div ng-if="errors.shipping">
                            <div class="cvv-error text-danger">
                                Shipping or billing address in wrong. Please correct
                            </div>
                        </div>
                        <select class="form-control checkout-select" ng-change="validateInput()"
                            ng-model="checkoutParams.shippingAddress" ng-class="{'select-error': errors.shipping}"
                            ng-options="address as address.first_name + ' ' + address.last_name for address in shippingAddressList">
                            <option value="">Please select</option>
                        </select>
                        <div class="address-brief" ng-show="checkoutParams.shippingAddress">
                            <p class="address-field">
                                <span class="field-value">{{ checkoutParams.shippingAddress.first_name + ' ' + checkoutParams.shippingAddress.last_name
                                    }}</span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">{{ checkoutParams.shippingAddress.company_name }}</span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">
                                    {{ checkoutParams.shippingAddress.address_line_1 || checkoutParams.shippingAddress.address_line_2
                                    }}
                                </span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">
                                    {{ checkoutParams.shippingAddress.city + ', ' + checkoutParams.shippingAddress.state + ' ' + checkoutParams.shippingAddress.zip
                                    }}
                                </span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">
                                    {{ checkoutParams.shippingAddress.day_telephone }}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="btn-edit-address" ng-click="toggleCreateNewShippingAddress()"
                        ng-hide="showAddShippingAddress">
                        <span>Enter a new address +</span>
                    </div>
                </div>
                <div class="checkout-option">
                    <address-edit-form stay-on-page="true" address-type="2" on-confirm="assignNewBillingAddress"
                        on-cancel="toggleCreateNewBillingAddress" ng-show="showAddBillingAddress">
                    </address-edit-form>
                    <div ng-hide="showAddBillingAddress" class="cont-block">
                        <div class="checkout-option-head" ng-class="{'error':errors.billingAddress}">
                            <h5 class="text-default">Bill to</h5>
                            <span class="text-error">Please specify Billing address</span>
                        </div>
                        <div ng-if="errors.billing">
                            <div class="cvv-error text-danger">
                                Shipping or billing address in wrong. Please correct
                            </div>
                        </div>
                        <select class="form-control checkout-select" ng-change="validateInput()"
                            ng-model="checkoutParams.billingAddress" ng-class="{'select-error': errors.billing}"
                            ng-options="address as address.first_name + ' ' + address.last_name for address in billingAddressList">
                            <option value="">Please select</option>
                        </select>
                        <div class="address-brief" ng-show="checkoutParams.billingAddress">
                            <p class="address-field">
                                <span class="field-value">{{ checkoutParams.billingAddress.first_name + ' ' + checkoutParams.billingAddress.last_name
                                    }}</span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">{{ checkoutParams.billingAddress.company_name }}</span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">
                                    {{ checkoutParams.billingAddress.address_line_1 || checkoutParams.billingAddress.address_line_2
                                    }}
                                </span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">
                                    {{ checkoutParams.billingAddress.city + ', ' + checkoutParams.billingAddress.state + ' ' + checkoutParams.billingAddress.zip
                                    }}
                                </span>
                            </p>
                            <p class="address-field">
                                <span class="field-value">
                                    {{ checkoutParams.billingAddress.day_telephone }}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="btn-edit-address" ng-click="toggleCreateNewBillingAddress()"
                        ng-hide="showAddBillingAddress">
                        <span>Enter a new address +</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-checkout-options">
            <div class="checkout-option double-option"
                ng-show="displayMultipleLocations || !appUser.user.tax_exemption_certificate">
                <div class="checkout-option" ng-if="displayMultipleLocations">
                    <div class="checkout-option-head">
                        <h5 class="text-default">Ship To Multiple Locations?</h5>
                    </div>
                    <md-radio-group ng-model="multipleLocations.type" md-no-ink="true" class="multiple-location"
                        name="type">
                        <md-radio-button ng-value="'single'">
                            <span ng-class="{'grey' : multipleLocations.type === 'multiple'}">No, Ship to a single
                                location</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'multiple'">
                            <span ng-class="{'grey' : multipleLocations.type === 'single'}">Yes, Ship to multiple
                                locations</span>
                        </md-radio-button>
                    </md-radio-group>
                    <div ng-if="multipleLocations.type === 'multiple'">
                        <label for="mltplLoc" class="multiple-description-label">Please provide instruction for Multiple
                            Location Shipping. Customer Service will contact you for more details.</label>
                        <textarea ng-model="multipleLocations.details" id="mltplLoc" class="multiple-description"
                            name="mltplLoc" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="checkout-option tax-exemption" ng-if="!appUser.user.tax_exemption_certificate">
                    <div class="checkout-option-head">
                        <h5 class="text-default">Tax Exemption Certificate</h5>
                        <md-radio-group ng-model="taxExemption.type" md-no-ink="true" class="multiple-location"
                            name="type" ng-change="sendProvideLater()">
                            <md-radio-button ng-value="'no'">
                                <span ng-class="{'grey' : taxExemption.type === 'no'}">Don't have</span>
                            </md-radio-button>
                            <md-radio-button ng-value="'yes'">
                                <span ng-class="{'grey' : taxExemption.type === 'yes'}">Yes, I have</span>
                            </md-radio-button>
                            <md-radio-button ng-value="'provide later'">
                                <span ng-class="{'grey' : taxExemption.type === 'provide later'}">Will provide
                                    later</span>
                            </md-radio-button>
                        </md-radio-group>
                        <div class="fileUpload" ng-if="taxExemption.type === 'yes'">
                            <input id="taxExemptionFile" type="file" ng-model="taxExemption.file"
                                onchange="angular.element(this).scope().addFile(this.files)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-option">
                <payment-profile-edit-form stay-on-page="true" on-confirm="assignNewPaymentProfile"
                    on-cancel="toggleAddPaymentProfile" ng-show="showAddPaymentProfile">
                </payment-profile-edit-form>
                <div ng-hide="showAddPaymentProfile" class="cont-block">
                    <div class="checkout-option-head" ng-class="{'error':errors.paymentProfile}">
                        <span class="text-default">Payment information</span>
                        <span class="text-error">Please specify Payment information</span>
                    </div>
                    <md-radio-group ng-model="paymentType" md-no-ink="true" class="payment-type" name="type"
                        ng-change="switchPaymentType()">
                        <md-radio-button ng-value="'card'" class="payment-check">
                            <span ng-class="{'grey' : paymentType === 'card'}">Credit Card</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'check'" class="payment-check">
                            <span ng-class="{'grey' : paymentType === 'check'}">Check / Money Order</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'apply'">
                            <span ng-class="{'grey' : paymentType === 'card' || paymentType === 'check'}">Pay After
                                Proof Approval</span>
                        </md-radio-button>
                    </md-radio-group>
                    <p class="payment-info" ng-if="paymentType === 'card'">
                        This transaction will be completed through a secure SSL connection and up to 256 bit encryption.
                        Please
                        <a ui-sref="router.faq" target="_blank">visit our FAQ page</a> for further details and feel free
                        to check our <a ui-sref="router.guarantee" target="_blank">Guarantee</a> and <a
                            ui-sref="router.order-process" target="_blank">Order Process
                            page</a>.
                    </p>
                    <p class="payment-info" ng-if="paymentType === 'check'">
                        After the order is placed, Customer Service will contact you to discuss check or money order
                        payment
                        options. Please feel free to check our Guarantee and Order Process pages.
                    </p>
                    <p class="payment-info" ng-if="paymentType === 'apply'">
                        Payment will be required after final digital proofs are approved. All proofs are free of charge
                        with
                        unlimited revisions. Payment can be completed in you account home page or contacting customer
                        support after your approval, by calling <a href="tel:8885776667">888-577-6667</a> or email <a
                            href="mailto:info@superiorpromos.com">info@superiorpromos.com</a>
                    </p>
                    <div class="checkout-select-wrapper">
                        <select class="form-control checkout-select" ng-if="paymentType === 'card'"
                            ng-change="validateInput()" ng-model="checkoutParams.paymentProfile"
                            ng-options="profile as (profile.card_holder + ' ' + profile.card_number.slice(-8)) for profile in paymentProfileList">
                            <option value="">Please select</option>
                        </select>
                        <div class="btn-edit-address enter-credit-btn" ng-click="toggleAddPaymentProfile()"
                            ng-hide="showAddPaymentProfile || paymentType === 'check' || paymentType === 'apply'">
                            <span>Enter a different Credit Card</span>
                        </div>
                    </div>
                    <div class="address-brief payment-block" ng-show="checkoutParams.paymentProfile">
                        <div class="address-field">
                            <div class="field-name">Card security code:<sup>*</sup></div>
                            <input type="text" ng-model="checkoutParams.cvv" placeholder="CVV">
                            <div class="field-question">What is this?</div>
                            <div class="cvv-error" ng-if="errors.cvv">Please add CVV</div>
                        </div>
                        <div ng-if="errors.expired">
                            <div class="cvv-error text-danger">Selected card is expired</div>
                        </div>
                        <div class="address-field">
                            <div class="field-name">Card type:</div>
                            <div class="field-value">{{ checkoutParams.paymentProfile.card_type }}</div>
                        </div>
                        <div class="address-field">
                            <div class="field-name">Card holder:</div>
                            <div class="field-value">{{ checkoutParams.paymentProfile.card_holder }}</div>
                        </div>
                        <div class="address-field">
                            <div class="field-name">Card number:</div>
                            <div class="field-value">{{ hideCardNumber(checkoutParams.paymentProfile.card_number) }}
                            </div>
                        </div>
                        <div class="address-field">
                            <div class="field-name">Expiration date:</div>
                            <div class="field-value">
                                <input ng-model="checkoutParams.paymentProfile.expiration_month"
                                    ng-change="checkExpiredDate()" placeholder="MM"
                                    class="form-control expiration-input" type="text" autocomplete="off"
                                    name="expiration_month" maxlength="2" minlength="2">/
                                <input ng-model="checkoutParams.paymentProfile.expiration_year"
                                    ng-change="checkExpiredDate()" placeholder="YY"
                                    class="form-control expiration-input" type="text" autocomplete="off"
                                    name="expiration_year" maxlength="2" minlength="2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <cart-list source="$cart.cartItems" mode="checkout" on-confirm="checkout">
    </cart-list>
</div>