<div class="step-artwork step-content animated custom-slideInRight">
    <div class="artwork" ng-hide="imprintOption === 'blank'">
        <div class="imprint-option-block no-border">
<!--            <div class="imprint-option-header">-->
<!--                <h3 class="im-header">artwork</h3>-->
<!--            </div>-->
            <div class="imprint-options">
                <div class="op-item item-rounded padded">
                    <label for="file" class="art-file-label art-file-options-text">
                        <img
                                src="/img/font-awesome-pro-5/upload.svg"
                                alt="upload"
                                class="art-icon"
                        >
                    </label>
                    <div class="op-item-block">
                        <div class="sided">
                            <div class="small-text activated">
                                <input type="file" nv-file-select uploader="uploader" name="file" id="file" class="inputfile"
                                       accept=".pdf, .psd, image/*, .eps, .ai" maxsize="5000000"
                                       ng-model="orderService.orderItem.orderData.art_files"
                                       ng-change="orderService.orderItem.orderData.art_files = uploader.queue">
                                <label for="file" class="art-file-label art-file-options-text">
                                    Click here to upload your art files.
                                </label>
                            </div>
                        </div>
                        <div class="sided file-list">
                            <div class="small-text">
                                <span ng-hide="orderService.orderItem.orderData.art_files"> No files selected</span>
                                <div class="uploadfile-hint small-text" ng-show="orderService.orderItem.orderData.art_files">
                                    <ul class="file">
                                        <li ng-repeat="item in uploader.queue">
                                            <span class="name-file" ng-bind="item.file.name"></span><br/>
                                            <span class="delete" title="remove file" ng-click="item.remove()">X</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="op-item padded">
                    <a class="art-file-options-text" href="mailto:art@superiorpromos.com">
                        <img
                          src="/img/font-awesome-pro-5/envelope.svg"
                          alt="envelope"
                          class="art-icon"
                        >
                    </a>

                        <a class="op-item-text small-text activated art-file-options-text" href="mailto:art@superiorpromos.com">
                            Or Click here to email your artwork/logo or email directly to <b>art@superiorpromos.com</b>
                        </a>

                </div>
                <div class="op-item-info padded">
                    <span ng-show="displayFileUploadError" class="op-item-text activated error">
                        Upload of 3 files or less allowed
                    </span>
                    <span class="op-item-text artwork-text activated">
                       Upload one file at a time. Up to 3 files can be uploaded.
                        If your file(s) is larger than 5mb or a different format from what is listed, email them to <b>art@superiorpromos.com</b>
                        Please make sure to list your order # in your email, it will be available after checkout is complete.
                        Acceptable upload formats: <b>PDF, PSD, JPG, PNG, EPS, AI, GIF, TIFF</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="comments">
        <div class="imprint-option-block no-border">
            <div class="imprint-option-header no-flex">
                <span><b>Art Typesetting, Additional Comments, Special Instructions or Requests</b></span>
            </div>
            <div class="imprint-options">
                <div class="op-item-comment padded">
                    <text-angular
                      ng-model="orderService.orderItem.orderData.imprintComment"
                      class="sample-area reg-text"
                    ></text-angular>
                </div>
            </div>
        </div>
    </div>
<!--    <div >-->
<!--        <input type="file" nv-file-select uploader="uploader" multiple><br/>-->
<!--    </div>-->
</div>
