@import "~scss/modules/variables";

.small-text {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #899399;

  &.activated {
    color: #2d3539;
    font-weight: 400;
  }
}

.big-text {
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: right;
  color: #454f51;
}

.step-artwork {
  &.custom-slideInRight {  //custom animation to prevent color selector dropdown fader clip
    -webkit-animation-name: customSlideInRight;
    animation-name: customSlideInRight;
  }

  .imprint-option-block {
    padding: 5px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    text-align: center;
    @media (max-width:576px) {
      padding: 10px 0 5px 0;
    }
   
    .flex-block {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &.imprint-item {
      border: none;
    }

    &.no-pad {
      padding-top: 0;
    }

    .imprint-option-header {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $base-font;
      padding-bottom: 15px;
      padding-top: 10px;

      .im-header {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: normal;
        color: #454f51;
        margin-bottom: 5px;
      }

      .im-info {
        font-size: 11px;
        font-weight: 400;
        margin-top: 5px;
      }

      &.no-flex {
        display: block;
      }
    }
    
    .im-err {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -.2px;
      color: #d0021b;
      margin-top: 5px;
    }

    .imprint-options {
      width: 100%;

      .op-item {
        margin-bottom: 5px;
        background: $color-background;
        padding: 10px 10px 10px 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:first-child {
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
        }

        &:last-child, 
        &.bottom-rounded {
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        .op-item-radio {
          margin-bottom: 0;

          .md-label {
            margin-left: 35px;

            @media screen and (max-width: 767px) {
              text-align: left;
            }
          }
        }

        .op-item-text {
          @extend .small-text;
          color: $color-black !important;

          &.activated {
            font-weight: 500;
            color: $color-black !important;
          }
        }

        .op-item-block {
          @extend .small-text;
          font-weight: 500;
          color: #2d3539;
          display: flex;
          justify-content: space-between;
          margin-left: 12px;
          width: 100%;

          @media screen and (max-width: 767px) {
            width: calc(100% - 38px);
          }

          @media screen and (max-width: 450px) {
            flex-wrap: wrap;
          }

          .im-info {
            display: flex;
            align-items: center;

            @media screen and (max-width: 450px) {
              width: 100%;
            }
          }

          .sided {
            width: 34%;
            line-height: 1.18;
            display: flex;
            align-items: center;

            @media screen and (max-width: 767px)  {
              width: 200px;
            }

            @media screen and (max-width: 450px) {
              width: 100%;
              align-items: flex-start !important;
            }

            .big-text {
              @media screen and (max-width: 450px) {
                text-align: left;
              }
            }

            &.file-list {
              width: 70%;

              @media screen and (max-width: 767px)  {
                width: auto;
              }

              ul.file {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 5px;

                li {
                  display: flex;
                  padding: 4px;

                  .name-file {
                    margin-right: 5px;
                  }

                  .delete {
                    color: $color-red;
                  }
                }
              }
            }

            .small-text {
              text-align: right;
            }

            &:last-child {
              flex-direction: column;
              align-items: flex-end;

              @media screen and (max-width: 450px) {
                width: 100%;
              }
            }

            .material-icons {
              color: #899399;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }

        &.padded {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .art-icon {
          width: 18px;
          margin: 0 18px 0 3px;
        }

        .op-number {
          width: 25px;
          text-align: center;
        }

        .art-file-options-text {
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .op-item-info {
        @extend .small-text;
        padding: 5px;
      }

      .op-item-comment {
        border-radius: 6px;
        padding: 0 5px 35px;
        background: #e6eef2;

        .comment {
          border-radius: 4px;
          padding: 10px;
          background: $color-white;
          border: none;
          resize: none;
          width: 100%;
        }
      }

      .add-item {
        margin: 10px 0 0 55px;
        border: none;
        border-radius: 4px;
        padding: 15px;
        white-space: pre;
        background: $color-blue;
        max-width: 100px;
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        text-transform: capitalize;

        .material-icons {
          font-size: 14px;
        }
      }
    }
  }

  .imprints {
    border-bottom: 1px solid #d8e5ed;
  }

  .artwork {
    border-bottom: 1px solid #d8e5ed;

    .imprint-option-block {
      .imprint-option-header {
        display: block;
      }

      .imprint-options {
        .item-rounded {
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        .op-item-block {
          margin-left: 0;
        }

        .op-item-text {
          &.error {
            display: block;
            text-align: right;
            color: $color-red;
            margin-bottom: 5px;
          }
        }

        .artwork-text {
          color: $color-black;
          line-height: 1.3;
        }
      }
    }
  }

  .no-border {
    border: none;
  }
}

@keyframes customSlideInRight { //exactly this hack worked
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

md-radio-button.md-default-theme .md-off,
md-radio-button .md-off {
  border: 2px solid rgba(45, 53, 57, 0.5);
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  margin: auto;
}

md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: $color-darkest-blue;
  width: 20px;
  height: 20px;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: $color-darkest-blue;
}

md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
  background-color: $color-darkest-blue;
  opacity: 0.1;
}

text-angular {
  text-align: left;

  .ta-editor {
    height: 200px;
  }
}

/*
.step-artwork{
  display: flex;
  flex:1;
  border-top: solid 1px #d8e5ed;
  margin-top: 5px;
  padding-top: 15px;
  .artwork-block{
    display: flex;
    flex-direction: column;
    flex:.5;
    &.imprints-info{
      padding-right: 40px;
    }
  }
  &.custom-slideInRight {  //custom animation to prevent color selector dropdown fader clip
    -webkit-animation-name: customSlideInRight;
    animation-name: customSlideInRight;
  }
}
@keyframes customSlideInRight { //exactly this hack worked
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.imprints-block{
  .no-imprints-message{
    color:rgba(34,40,43,.5)
  }
  &.imprints-visible{
    .imprints-selector{
      display: flex;
    }
    .no-imprints-message{
      display: none;
    }
  }
}

.imprints-selector{
  display: none;
  flex-direction: column;
  *{
    user-select: none;
  }
  .selector-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .selector-title {
      color: #3598db;
    }
  }
}

.check-box-expandable-group{
  display: inline-flex;
  align-items: center;
  .check-box-expandable{
    margin-right: 5px;
  }
  label{
    cursor: pointer;
  }
}

.check-box-expandable{
  width: 16px;
  height: 16px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: #4ac9ff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  input{
    display: none;
  }

  i{
    width: inherit;
    height: inherit;
    line-height: inherit;
  }
  .ico-check,
  .ico-plus{
    display: block;
    font-size: 16px;
  }
  .ico-collapsed{
    display: none;
    width: 70%;
    height: 2px;
    background-color: white;
  }
  &.collapsed{
    background-color: #b5bfc6;
    .ico-collapsed{
      display: block;
    }
    .ico-check,
    .ico-plus{
      display: none;
    }
  }
}

.btn-imprint-add-colors{
  padding: 5px 0;
  cursor: pointer;
  margin-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #3598db;
  .btn-icon{
    margin:0 8px 0 -1px;
    color:#b5bfc6;
    font-size: 20px;
  }
  .imprint-colors-selector{
    display: none;
  }
  &.color-selector-visible{
    .imprint-colors-selector{
      display: block;
    }
  }
}

.product-color-selector-fader{
  display: none;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  cursor: default;
  &.active{
    display: block;
  }
}

.imprint-colors-selector{
  &:before,
  &:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }

  &:before{
    top:-10px;
    left: 8px;

    !* If 1px darken stroke slightly *!
    border-bottom-color: #d8e5ed;
    border-width: 11px;
  }

  &:after {
    top: -8px;
    left: 9px;
    border-bottom-color: white;
    border-width: 10px;
  }

  background-color: white;
  padding:5px 10px;
  position: absolute;
  top: calc(100% + 8px);
  left: -14px;
  width: 160px;
  border-radius: 6px;
  border: solid 1px #d8e5ed;

  &.selected-colors{
    &:before,
    &:after{
      display: none;
    }
    width: 100%;
    border: none;
    position: static;
    padding: 0;
    .selector-color-item{
      cursor: default;
      .color-item-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        .color-item-name,
        .color-item-fee{
          font-size: 11px;
        }
        .color-item-name{
          color: #3598db;
        }
        .color-item-fee{
          color: #22282b;
        }
      }
    }
  }

  .selector-color-item{
    padding: 5px 1px;
    color: #454f51;
    display: flex;
    align-items: center;
    cursor: pointer;
    .color-item-color{
      margin-right: 5px;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border:1px solid #E9E9E9
    }
    .btn-remove-color{
      cursor: pointer;
      margin-right: 5px;
      margin-left: -2px;
      font-size: 20px;
      opacity: 0;
      transition: opacity .2s ease;
    }
    &:hover{
      .btn-remove-color{
        transition: opacity .2s ease;
        opacity: 1;
      }
    }
  }
}
.imprint-item{
  padding: 10px 0;
  .imprint-item-body{
    display: none;
    border-bottom: 1px solid #d8e5ed;
    &.expanded{
      display: block;
    }
  }
}

.art-file-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .art-file-options-text{
    color: #3598db;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    &.or-separator{
      color: #22282b;
    }
    i{
      margin-right: 10px;
      color: #b5bfc6;
      font-size: 18px;
    }
  }
}*/
