@import "../../scss/modules/variables";

.btn {
  margin-right: 8px;
}

.highlighted {
  background: $color-orange;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  box-sizing: border-box;
}

tr.angular-ui-tree-empty {
  height:100px
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}

/* --- Tree --- */
.tree-node {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arrow_drop_up {
    display: none;
  }

  .more_horiz {
    display: block;
  }

  &:hover {
    .category-title {
      color: #16a1db;
    }

    .arrow_drop_up {
      display: block;
      color: #16a1db;
    }

    .more_horiz {
      display: none;
    }
  }
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin: 0 10px;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.category-title {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #454f51;
  transition: color .2s ease;
  font-weight: 500;
  font-family: $base-font;
  cursor: pointer;
  
  &.active {
    color: $color-blue;
  }
}
