<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <span
      class="category-title"
      ng-click="search(category)"
      ng-bind-html="category.title | highlightText:$search.catSearchQuery"
      ng-class="{active: $state.includes('router.categories', {slug: category.slug})}"
    ></span>
      <i
        ng-if="category.sub_categories_exist"
        data-nodrag
        ng-click="search(category)"
        class="material-icons"
        ng-class="{
          'arrow_drop_down': category.expanded,
          'arrow_drop_up': !category.expanded
        }"
      >
        {{ !category.expanded ? 'arrow_drop_down' : 'arrow_drop_up' }}
      </i>
      <i
        class="material-icons more_horiz"
        ng-show="!category.expanded && category.sub_categories_exist"
      >
        more_horiz
      </i>
  </div>
  <ol
    ui-tree-nodes=""
    ng-model="category.sub_categories"
    ng-class="{hidden: !category.expanded}"
    data-catId="category.id"
  >
    <li
      ng-repeat="category in category.sub_categories | filter:$search.catSearchQuery:strict track by category.id"
      ui-tree-node
      ng-include="'nodes_renderer.html'"
    >
    </li>
  </ol>
</script>

<div ui-tree id="tree-root" data-drag-enabled="tree.disabled">
  <ol ui-tree-nodes ng-model="productCategories">
    <li
      ng-repeat="category in productCategories | filter:$search.catSearchQuery:strict track by category.id"
      ui-tree-node ng-include="'nodes_renderer.html'"
    ></li>
  </ol>
</div>

