.star-rating {
  line-height:25px;
  font-size:1.25em;
}

.star-rating .fa-star{
  color: lightgrey;
}

.star-rating .rated {
  color: orange;
}

.star-rating-block:hover {
  color: #16a1db;
}

.reviews-count {
  font-size: 14px;
}