.http-indicator {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0,0,0,.25);
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;

  md-progress-circular.http-load-progress path {
    stroke: #3598db;
  }

  &.active {
    display: flex;
  }
}

.wrapper-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.http-indicator.white {
  background-color: #fff;
}

.logo-loader {
  margin-top: 70px;
}

.container-loader {
  width: 75px;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 5px);
}

.loader {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #4ac9ff;
  border-right-color: #4ac9ff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg)
}

@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}
