<div class="http-indicator" 
    ng-if="isVisible"
    ng-class="{'active': $status.getStatus() && !hideSpinner, 'white': $showLoaderLogo}">
    <div class="wrapper-loader" ng-show="!$showLoaderLogo">
        <md-progress-circular md-mode="indeterminate"
                              md-diameter="48"
                              class="http-load-progress">
        </md-progress-circular>
        <h3 ng-if="$showTextInfo">
            Your Order is Processing, Please Do Not refresh the Page!
        </h3>
    </div>
    <div class="wrapper-loader-with-logo" ng-show="$showLoaderLogo">
        <div class="container-loader">
            <div class="loader"></div>
        </div>
<!--        <img class="logo-loader" src="/img/new_logo.svg" alt="Superior Promos">-->
    </div>
</div>
