<div class="product-filter-bar" ng-class="{'active': filterMenuActive}">
    <div class="visible-xs visible-sm">
        <!-- <form class="quick-search" ng-submit="$search.find()"> -->
        <form class="quick-search" ng-submit="searchForGoods()">
            <div class="input-group input-group-lg">
                <span class="input-group-btn">
                    <label class="btn btn-toggle-filters" for="search-field">
                        <i class="material-icons">
                            search
                        </i>
                    </label>
                </span>
                <!-- <input type="text" class="form-control inp-quick-search" ng-model="$search.query.name"> -->
                <input type="text" id="search-field" class="form-control inp-quick-search" ng-model="search_query">
                <span class="input-group-btn">
                <div class="btn btn-quick-search" ng-click="searchForGoods()">Find!</div>
            </span>
            </div>
        </form>
    </div>
    <div class="filters hidden-xs hidden-sm">
        <div class="close-btn-wrapper">
            <button class="close-btn" ng-click="closeFilter()"> 
                <i class="material-icons clear-icon">clear</i>
            </button>
        </div>
        <div class="filters-header">
            <i class="material-icons menu-switcher">
                menu
            </i>
            <h3>categories</h3>
        </div>
        <div class="filters-categories">
            <category-tree></category-tree>
        </div>
        <form class="category-search" ng-submit="search()">
            <div class="search-container">
                <i class="material-icons search-icon">
                    search
                </i>
                <input
                  type="text"
                  class="inp-quick-search"
                  ng-model="catSearchQuery"
                  ng-change="$search.searchInsideCategory(catSearchQuery)"
                  placeholder="Search within category"
                >
                <i
                  class="material-icons clear-icon"
                  ng-click="clearSearch()"
                >
                    clear
                </i>
            </div>
        </form>
        <div class="filters-colors">
            <div class="colors-header">
                <div class="filters-text">Show all colors</div>
                <div class="colors-switcher">
                    <label class="switch">
                        <input
                          type="checkbox"
                          ng-model="colors"
                          ng-click="getAllColors()"
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="colors-items" ng-if="colors">
                <color-filter colors="$colorsData.colors"></color-filter>
            </div>
        </div>
        <div class="filters-range">
            <div class="colors-header">
                <div class="filters-text">Price and Quantity range</div>
                <div class="colors-switcher">
                    <label class="switch">
                        <input
                          type="checkbox"
                          ng-model="pq_range"
                        >
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="pq-range" ng-if="pq_range">
                <div class="product-price-range">
                  <span class="range-val">${{sliderPrice.min}}</span>
                    <rzslider rz-slider-model="sliderPrice.min" rz-slider-high="sliderPrice.max" rz-slider-options="sliderPrice.options"></rzslider>
                  <span class="range-val">${{sliderPrice.max}}</span>
                </div>
                <div class="product-quantity-range">
                  <span class="range-val">{{sliderQuantity.min}}</span>
                    <rzslider rz-slider-model="sliderQuantity.min" rz-slider-high="sliderQuantity.max" rz-slider-options="sliderQuantity.options"></rzslider>
                  <span class="range-val">{{sliderQuantity.max}}</span>
                </div>
            </div>
        </div>
        <quick-links></quick-links>
        <!--<div class="form-group">
            <category-list instant-search="true" title="Categories"></category-list>
        </div>
        <div class="form-group">
            <label class="product-filter-bar-heading">SKU</label>
            <input class="form-control" ng-model="$search.query.sku">
        </div>
        <div class="form-group">
            <label class="product-filter-bar-heading">Price range</label>
            <div class="product-price-range">
                <rzslider rz-slider-model="sliderPrice.min" rz-slider-high="sliderPrice.max" rz-slider-options="sliderPrice.options"></rzslider>
            </div>
        </div>

        <div class="form-group">
            <label class="product-filter-bar-heading">Quantity range</label>
            <div class="product-quantity-range">
                <rzslider rz-slider-model="sliderQuantity.min" rz-slider-high="sliderQuantity.max" rz-slider-options="sliderQuantity.options"></rzslider>
            </div>
        </div>
        <color-filter colors="$colorsData.colors"></color-filter>-->
    </div>

    <div class="filters-mobile">
        <!-- <div class="close-btn-wrapper">
            <button class="close-btn" ng-click="closeFilter()"> 
                <i class="material-icons clear-icon">clear</i>
            </button>
        </div> -->
        <div class="filters-categories">
            <!-- <category-tree></category-tree> -->
            <mobile-category-tree></mobile-category-tree>
        </div>
    </div>
    <div class="filters-backdrop" ng-click="toggleFilters()"></div>
</div>