@import "../../scss/modules/variables";

search-filters,
color-filters,
quick-filters{
  display: block;
}

search-filters {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: 244px;

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.angular-ui-tree-node {
  .angular-ui-tree-handle {
    cursor: default;
  }
}

.product-filter-bar {
  user-select: none;
  font-family: "RobotoRegular", sans-serif, helvetica;
  overflow: hidden;
  cursor: default;

  .product-filter-bar-content {
    @media screen and (max-width: 1920px) {
      width: 1660px;
    }
  }

  .close-btn-wrapper {
    display: none;

    @media screen and (max-width: 991px) {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 6px;
    }

    .close-btn {
      position: relative;
      border: none;
      color: #fff;
      background: $color-dark-blue;
      border-radius: 4px;
      padding: 3px 4px;
      cursor: pointer;
    }
  }

  .product-filter-bar-heading,
  .categories-heading {
    min-height: 45px;
  }

  .filters-header {
    background: $color-blue;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #ffffff;
    display: flex;
    align-items: center;

    .menu-switcher {
      cursor: pointer;
    }

    h3 {
      text-transform: uppercase;
      color: $color-white;
      font-size: 18px;
      font-weight: 500;
      font-family: $base-font;
      font-style: normal;
      font-stretch: normal;
      margin-left: 10px;
      line-height: 1.11;
      letter-spacing: 0.1px;
    }
  }

  .filters-categories {
    padding: 10px 0;
    background: $color-white;
    color: $color-light-grey;
    font-size: 13px;
    overflow-y: auto;
    border: 1px solid $color-border-grey;
  }

  .category-search {
    padding: 10px;
    background: $color-white;
    border : 1px solid $color-border-grey;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .search-container {
      position: relative;
      display: flex;
      align-items: center;
      background: #e6eef2;
      border-radius: 5px;
      padding: 5px;

      .inp-quick-search {
        border: none;
        background: transparent;
        width: 100%;

        &::placeholder {
          font-size: 13px;
          color: #99adba;
          font-weight: normal;
        }
      }
    }
  }

  .filters-colors, 
  .filters-range {
    border : 1px solid $color-border-grey;
    background: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    margin-top: 10px;

    .filters-text {
      font-family: $base-font;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #2d3539;
    }

    .colors-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;

      .colors-switcher {
        .switch {
          position: relative;
          display: inline-block;
          width: 25px;
          height: 15px;
        }

        .switch input {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          z-index: 10;
        }

        .slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          transition: all .1s ease;
          box-sizing: border-box;
          cursor: pointer;
        }

        .slider:before {
          content: "";
          position: absolute;
          height: 15px;
          width: 15px;
          left: -1px;
          bottom: -1px;
          background-color: #fff;
          transition: all .1s ease;
          border: 1px solid #99adba;
        }

        input:checked + .slider {
          background-color: #454f51;
          border: 1px solid #454f51;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #454f51;
          border: 1px solid transparent;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(8px);
          -ms-transform: translateX(8px);
          transform: translateX(8px);
          box-shadow: none;
          border: 1px solid #454f51;
          left: 2px;
          bottom: 0;
        }

        .slider.round {
          border-radius: 34px;
          box-sizing: border-box;
          border: 1px solid #99adba;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }

    .colors-items, 
    .pq-range {
      color: #99adba;

      ul {
        li {
          margin-top: 10px;
        }
      }
    }
  }
}

.product-filter-bar-heading,
.categories-heading {
  background-color: #e7e7e7;
  padding: 12px 15px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.product-filter-bar-heading {
  margin-bottom: 0;
  background-color: $color-white;
  color: #99adba;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: -0.1px;
}

.top-filters .product-filter-bar-heading {
  border-bottom: 1px solid #d8d8d8;
}

.bottom-filters .product-filter-bar-heading {
  border-top: 1px solid #d8d8d8;
}

.filter-bar-button {
  border: none;
  font-size: 11px;
  color: #2d3539;
  background-color: #e7eef3;
  padding: 4px 12px 4px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-time-range,
.product-price-range,
.product-quantity-range {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .range-val {
    width: 70px;
    height: 30px;
    background: $color-background;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #2d3539;
  }
}

.color-filter {
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  overflow-y: auto;
  justify-content: flex-start;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #16a1db;
    border-radius: 10px;
  }

  .color-filter-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink:0;
    padding: 5px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: #3598db;
    }

    .picker {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        background-color: #3598db;
      }

      .color-display {
        border: 1px solid black;
        border-radius: inherit;
        width: 14px;
        height: 14px;
      }
    }

    .color-title {
      margin-left: 15px;
    }
  }
}

.price-sort-filter,
.popularity-sort-filter {
  display: flex;
  align-items: center;

  .price-sort-text {
    margin-top: 2px;
  }

  .price-sort-icon {
    color: #3598db;

    &:after {
      content: 'f357';
    }

    &.ascending {
      transform: rotate(0deg);
    }

    &.descending {
      transform: rotate(180deg);
    }
  }
}

.filter-toggle {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.price-sort-select-box {
  display: flex;
  align-items: center;
  cursor: pointer;

  .arrow_drop_down {
    font-size: 15px;
  }
}

.product-view {
  justify-content: center;
}

.product-list-view-options {
  display: flex;

  .list-view-option {
    display: flex;
    margin-right: 20px;
    align-items: center;

    .filter-icon {
      margin-right: 5px;
    }

    .option-name {
      font-size: 11px;
      color: $color-grey;
      margin-top: 2px;

      &.activated {
        color: #809195;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .list-view-icon {
      color: #808080;
    }

    &.active {
      .list-view-icon {
        color: #3598db;
      }
    }
  }
}

.rzslider {
  margin: 0 5px;

  .rz-pointer {
    width: 15px;
    height: 15px;
    top: -6px;

    &:after {
      display: none;
    }
  }

  .rz-bar {
    height: 3px;
    background-color: #c1cdd4;
  }

  .rz-selection {
    height: 5px;
    top: 15px;
  }

  .rz-bubble {
    bottom: 10px;
    font-size: 11px;
    color: #809195;
    visibility: hidden !important;

    &.rz-limit {
      bottom: -15px;
    }
  }
}

.product-time-range {
  .rzslider {
    .rz-bubble {
      &:before {
        content: '$';
        font-size: 11px;
        color: #809195;
      }
    }

    .rz-pointer-min {
      background-color: #ffb333;
    }

    .rz-pointer-max {
      background-color: #ffdd3a;
    }

    .rz-selection {
      background-image: linear-gradient(to right ,#ffb333, #ffdd3a);
    }
  }
}

.product-price-range {
  .rzslider {
    .rz-bubble {
      &:before {
        content: '$';
        font-size: 11px;
        color: #809195;
      }
    }

    .rz-pointer-min {
      background-color: #3e879e;
    }

    .rz-pointer-max {
      background-color: #0db9f0;
    }

    .rz-selection {
      background-image: linear-gradient(to right ,#3e879e, #0db9f0);
    }
  }
}

.product-quantity-range {
  .rzslider {
    .rz-pointer-min {
      background-color: #64c733;
    }

    .rz-pointer-max {
      background-color: #a0fd00;
    }

    .rz-selection {
      background-image: linear-gradient(to right ,#64c733, #a0fd00);
    }
  }
}

.related-category {
  margin-bottom: 5px;
}

.view-filters {
  .view-filters-controls {
    display: flex;
    justify-content: space-between;
    flex: 50%;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width:576px) {
      justify-content: center;
    }

    span {
      font-size: 15px;
    }

    i.material-icons {
      font-size: 20px;
    }

    .product-list-view-options .option-name {
      font-size: 15px;
    }
  }

  .per-page-filter {
    display: flex;
    width: 550px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 991px) {
      width: auto;
    }

    @media (max-width: 576px) {
      width: 100%;
      flex-direction: column;
    }
  }

  .product-filter-item-pagination {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    position: relative;

    .pager-ui {
      position: absolute;
      top: 40px;
      left: -35px;
      z-index: 5;
    }

    .arrow_drop_down {
      font-size: 15px;
    }
  }

  .filter-icon {
    width: 15px;
    height: 20px;
    color: #99adba;
    margin-right: 10px;
  }
}

.btn-toggle-filters {
  display: none;
  background-color: $color-dark-blue;
  color: white;
  padding: 10px !important;

  @media screen and (max-width: 991px) {
    display: block;
  }

  i {
    color: #fff;
  }
}

.filters-backdrop {
  display: block;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: black;
  transition: opacity $slideTime ease;
  z-index: 4;
}

.filters-mobile {
  display: none;

  .filters-categories {
    padding: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 991px) {
  .product-filter-bar {
    transition: opacity $slideTime ease;

    .filters-mobile {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 56px;
      left: 0;
      z-index: 9;
      height: calc(100vh - 56px);
      transform: translateX(-100%);
      width: 80%;
      background-color: white;
    }

    &.active {
      .filters-mobile {
        transition: transform $slideTime ease;
        transform: translateX(0);
      }

      .filters-backdrop {
        transition: opacity $slideTime ease;
        transform: translateX(0);
        opacity: .7;
      }
    }

    &.active-remove-active {
      .filters-backdrop {
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .product-filter-bar {
    .filters-mobile {
      width: 100%;
    }
  }
}
