<div class="modal modal-confirm-delete" ng-click="close()">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" ng-click="handleClick($event)">
            <div class="modal-newsletter-header" ng-click="close()">
                <button type="button" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="description" ng-bind-html="modalData"></div>
                <form class="emailForm" ng-submit="sendEmail()">
                    <label for="newsletterEmail">Email your coupon code to:</label>
                    <input id="newsletterEmail" type="email" ng-model="email" placeholder="Enter email Address here">
                    <span class="error" ng-show="errorMessage">{{errorMessage}}</span>
                    <span class="success" ng-show="successMessage">{{successMessage}}</span>
                    <button type="submit">{{discountModalData.buttonText}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
