@import "../../scss/modules/variables";
.modal:hover, .modal-content:hover {
  cursor: default;
}
.modal-newsletter-header {
  position: absolute;
  right: 0;
  border-left: 1px solid rgb(229, 229, 229);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 17px 12px 17px;
  transition: all 100ms ease;
  background-color: #fff;
  z-index: 100;
  button {
    font-size: 24px;
  }
  &:hover {
    background-color: $color-red;
  }
  .red {
    color: $color-red;
  }
}
.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .description {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    * {
      width: 100%;
      display: flex;
      align-items: center;
    }
    img {
      object-fit: contain;
    }
  }
  .emailForm {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    label {
      font-size: 24px;
      font-weight: normal;
    }
    input {
      height: 30px;
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 13px;
      font-weight: normal;
      padding-left: 10px;
    }
    span {
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 8px;
      &.error {
        color: $color-red;
      }
      &.success{
        color: $color-orange;
      }
    }
    button {
      height: 30px;
      border: none;
      background: $color-light-green;
      color: white;
      text-transform: uppercase;
      transition: all 100ms ease-in;
      &:hover {
        background: darken($color-light-green, 10%);
      }
    }
  }
  .please-note {
    font-weight: normal;
    line-height: 1.5;
  }
}
