.page-delivery {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .delivery-wrapper {
    display: flex;
    flex-flow: wrap;

    .delivery-col {
      width: 25%;
      padding: 0 10px;

      @media screen and (max-width: 1280px) {
        width: 50%;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
