<div class="page-delivery">
    <h2 class="static-title">Shipping & Delivery</h2>
    <div class="delivery-wrapper">
        <div class="delivery-col">
            <ul class="brands-list">
                <li><img width="40" src="../../assets/img/brands-img/ups.jpg" alt=""></li>
                <li><img width="73" src="../../assets/img/brands-img/fedex.jpg" alt=""></li>
                <li><img width="130" src="../../assets/img/brands-img/uspost.jpg" alt=""></li>
            </ul>
            Superior Promos utilizes over 46 production facilities located throughout the United States in order to bring you the best selection of promotional products.
            Most orders are shipped via FedEx or UPS. In some instances USPS can be used as a shipping carrier, please contact customer service for availability.
        </div>
        <div class="delivery-col">
            All order ship out via ground service, unless expedited method was requested or needed to meet an in-hand date. All quoted shipping costs are estimated
            and might vary due to occasional over & under runs on each order. To receive and estimated shipping cost for an order please contact customer service at
            888-577-6667, email  info@superiorpromos.com or use our Live Chat feature.
        </div>
        <div class="delivery-col">
            As part of our guarantee there is absolutely no markup on shipping. We strive to deliver the best products and the lowest rates with true shipping costs.
            You pay the exact UPS or FedEx rates. You also have an option of using your own shipping account for your orders. Please note all order are subject to
            a minimal $5 handling fee for the entire shipment. Heavier items like ceramic mugs might have extra minimal packaging fees per box. There are no surprises
            when it comes to shipping.
        </div>
        <div class="delivery-col">
            Please be aware if a close in-hand date must be met then expedited shipping may be used, in which case we will present all cost and options for you before
            the products ship out. Cost of shipping, any potential over/ under run charges and all tracking information is provided once the order is shipped. Full
            order details are always available in your superiorpromos.com online account.
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
