<div class="step-options step-content animated slideInRight">
  <div id="err" class="shipping-info-modal">
    <div class="shipping-options">
      <div class="ship-option-wrap ship-time-option">
        <!--        <div class="ship-label">-->
        <!--          <h3 class="ship-header">-->
        <!--            shipping options-->
        <!--          </h3>-->
        <!--        </div>-->
        <div class="option-container">
          <div class="ship-text">
            <div class="production-time">
              <strong>Production Time:</strong>
              <p
                ng-if="orderService.orderItem.productData.production_time_from === orderService.orderItem.productData.production_time_to">
                {{ ::orderService.orderItem.productData.production_time_from }} working day{{
                (orderService.orderItem.productData.production_time_from > 1)? 's' : '' }}
              </p>
              <p
                ng-if="orderService.orderItem.productData.production_time_to > 1 && orderService.orderItem.productData.production_time_from !== orderService.orderItem.productData.production_time_to">
                {{ ::orderService.orderItem.productData.production_time_from }} -
                {{ ::orderService.orderItem.productData.production_time_to }} working days
              </p>
            </div>
            <span>When do you need to receive your order?</span>
          </div>
        </div>
      </div>
      <!-- ship option end -->

      <div class="ship-option-wrap ship-method-option">
        <md-radio-group ng-model="orderService.orderItem.orderData.shipTime"
          ng-change="updateShipTime(orderService.orderItem.orderData.shipTime)">
          <div class="ship-option date-shipping padded" ng-class="{ error: orderService.errors['shipTime']}">
            <div class="radio-container">
              <md-radio-button aria-label="Checkbox No Ink" value="regular">
                <span class="grey">ASAP - No Deadline. Regular production time</span>
              </md-radio-button>
              <md-radio-button md-no-ink="" aria-label="Checkbox No Ink" value="byEndOfTheDay">
                <span class="grey">Need this order by</span>
              </md-radio-button>
            </div>
            <md-datepicker ng-model="orderService.orderItem.orderData.shipTimeValue"
              ng-change="updateShipTime(orderService.orderItem.orderData.shipTime)" aria-label="Checkbox No Ink"
              ng-click="isOpen = true" md-min-date="minDate" md-placeholder="Select a Date" ng-blur="setDeliveryDate()"
              md-is-open="isOpen" md-min-date="minDate">
            </md-datepicker>
          </div>
        </md-radio-group>
        <!--        <div    id="error_shipping"-->
        <!--                class="error-notify"-->
        <!--                ng-class="{show: orderService.errors['shipTime']}">-->
        <!--          Receive date error-->
        <!--        </div>-->

        <md-radio-group ng-change="updateShipMethod(orderService.orderItem)" class="md-radio-group"
          ng-model="orderService.orderItem.orderData.shipMethod">
          <!--          <div class="ship-label">-->
          <!--            <span>Shipping Cost</span>-->
          <!--          </div>-->
          <!--          <div class="ship-label">-->
          <!--            <div class="error-notify"-->
          <!--                 ng-class="{show: orderService.errors['shipZip']}">-->
          <!--              Check shipping cost-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="option-container">
            <div class="ship-option-block">
              <div class="ship-option ship-option-zip padded">
                <div class="ship-zip">
                  <md-radio-button md-no-ink="" aria-label="Checkbox No Ink" value="us_shipping"
                    class="p-0">
                  </md-radio-button>
                  <input ng-model="orderService.orderItem.orderData.shipData.zipCode"
                    ng-click="orderService.orderItem.orderData.shipMethod = 'us_shipping'"
                    ng-class="{ error: orderService.errors.zipCode}" placeholder="Zip Code"
                    class="ship-input-text zipcode-input" type="text" autocomplete="off" ng-pattern="/^[0-9]{5,6}$/"
                    ng-trim="true"
                    id="zip-input"
                    >
                    <span ng-show="!orderService.orderItem.orderData.shipData.zipCode" ng-if="orderService.errors.zipCode" class="error-shipping zipcode-required">Please Enter Zip Code </span>
                </div>
                <button class="btn btn-get-cost"
                  ng-disabled="!orderService.orderItem.orderData.shipData.zipCode || orderService.orderItem.orderData.shipData.zipCode.length < 5"
                  ng-click="updateShipMethod(orderService.orderItem)">Get Shipping Cost</button>
              </div>
              <div class="ship-option-wrap ship-cost-option">
                <div class="shipment-options-container">
                  <div class="ship-option shipment-options ship-cost"
                    ng-if="isOptionsVisible === 'options' || isOptionsVisible === 'warn_message' || isOptionsVisible === 'wrong_zip'">
                    <span id="shipping-selector" class="error-shipping" >Please select shipping
                      service</span>
                    <md-radio-group ng-model="orderService.orderItem.orderData.shipData.shippingCode"
                      ng-change="switchShipping(orderService.orderItem)" ng-if="isOptionsVisible === 'options'">
                      <div class="shipment-header-block">
                        <div class="shipment-header header-name">Service</div>
                        <div class="shipment-header header-price">Cost</div>
                        <div class="shipment-header header-term">Time in Transit</div>
                      </div>
                      <div class="shipment-delivery" ng-repeat="shippingItem in orderService.orderItem.shippingData">
                        <div class="ship-name">
                          <md-radio-button md-no-ink="" aria-label="Checkbox No Ink" value="{{shippingItem.code}}"
                            class="account-radio">
                            <span class="grey">{{ shippingItem.service }}</span>
                          </md-radio-button>
                        </div>
                        <div class="ship-price"
                          ng-class="{ 'grey' : orderService.orderItem.orderData.shipData.shippingCode != shippingItem.code}">
                          {{ shippingItem.cost | currency: '$' }}
                        </div>
                        <div class="ship-term"
                          ng-class="{ 'grey' : orderService.orderItem.orderData.shipData.shippingCode != shippingItem.code}">
                          {{ shippingItem.time_in_transit }} business day<span
                            ng-if="shippingItem.time_in_transit > 1">s</span>
                        </div>
                      </div>
                    </md-radio-group>
                    <div class="shipment-options-no-item" ng-if="isOptionsVisible !== 'options'">
                      <i class="material-icons warn-sign"
                        ng-if="isOptionsVisible === 'warn_message' || isOptionsVisible === 'wrong_zip'">warning</i>
                      <span ng-if="isOptionsVisible === 'warn_message'">{{ orderService.orderItem.shippingData[0]
                        }}</span>
                      <span ng-if="isOptionsVisible === 'wrong_zip'">
                        Invalid zip code please contact customer service for details
                      </span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="ship-option">
                <md-radio-button class="ship-radio" aria-label="Checkbox No Ink" aria-checked="true"
                  value="own_account">
                  <span class="grey">Use Own Shipper Account</span>
                </md-radio-button>
                <div class="account-radio">
                  <div class="ship-account">
                    <input ng-model="orderService.orderItem.orderData.shipData.accountId" type="text"
                      class="ship-input-text" ng-class="{ error: orderService.errors['shipAccNumber']}"
                      placeholder="Account number"
                      ng-focus="orderService.orderItem.orderData.shipMethod = 'own_account'"
                      ng-change="updateShipMethod(orderService.orderItem.orderData.shipMethod)" />
                  </div>
                  <ui-select ng-model="orderService.orderItem.orderData.shipData.carrier" theme="bootstrap"
                    class="ship-select ship-account" ng-class="{ error: orderService.errors['shipAccNumber']}"
                    ng-click="orderService.orderItem.orderData.shipMethod = 'own_account'"
                    ng-change="updateShipMethod(orderService.orderItem.orderData.shipMethod)">
                    <ui-select-match placeholder="Carrier">
                      {{ $select.selected }}
                    </ui-select-match>
                    <ui-select-choices repeat="carrier in orderService.carriers">
                      <div ng-bind="carrier"></div>
                    </ui-select-choices>
                  </ui-select>
                  <ui-select ng-model="orderService.orderItem.orderData.shipData.method"
                    ng-change="updateShipMethod(orderService.orderItem.orderData.shipMethod)"
                    ng-click="orderService.orderItem.orderData.shipMethod = 'own_account'"
                    ng-class="{ error: orderService.errors['shipAccNumber']}" theme="bootstrap"
                    class="ship-select ship-account">
                    <ui-select-match placeholder="Method">{{ $select.selected }}</ui-select-match>
                    <ui-select-choices repeat="method in orderService.shipMethods">
                      <div ng-bind="method"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="ship-text text-note" ng-if="orderService.orderItem.orderData.shipMethod === 'own_account'">
                <strong>Please NOTE the following: (Only for Ceramic Goods).</strong><br />
                If you are purchasing <strong>Ceramic Mugs</strong> and will be
                using <strong>Your Own Carrier</strong> account for shipping, a
                <strong>$5 per box</strong> charge will apply for break resistant
                packaging. Most ceramic mugs are packaged 36/per box or 24/box
                depending on the size of the mug. This fee will be added after the
                order ships.
              </div>

              <div class="ship-option padded">
                <md-radio-button aria-label="Checkbox No Ink" value="outside_us">
                  <span class="grey">
                    <span>Shipping Outside of the US (Canada or other)</span><br>
                    <span><i>Taxes, duties & shipping will be billed at time of shipment. To request a quote email
                        <b>info@superiorpromos.com</b></i></span>
                  </span>
                </md-radio-button>
              </div>

              <div
                ng-if="orderService.orderItem.productData.custom_shipping && orderService.orderItem.productData.custom_shipping.cost"
                class="ship-option padded">
                <md-radio-button ng-click="orderService.orderItem.orderData.shipMethod = 'custom'"
                  aria-label="Checkbox No Ink" value="custom">
                  <span class="grey">
                    <span>{{ orderService.orderItem.productData.custom_shipping.method }}</span><br>
                    <span>${{ orderService.orderItem.productData.custom_shipping.cost }}</span>
                  </span>
                </md-radio-button>
              </div>
            </div>
          </div>
        </md-radio-group>
        <div class="ship-option-wrap ship-cost-option contact-info">
          For any questions about Shipping, Production Time or Delivery Dates
          Please feel free to contact Customer Service
          <br />
          <span class="text-emphasis">1-888-577-6667 — info@superiorpromos.com</span>
        </div>
      </div>
    </div>
  </div>