.zipcode-required {
    padding-left: 20px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
}

.zip-selected {
    border: 2px solid green !important;
    box-shadow: none !important;
}

.zip-invalid {
    border: 2px solid red !important;
}