.terms-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    h2 {
        font-size: 25px;
        margin-bottom: 25px;
        font-weight: 500;
        text-align: center;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        color: #000;
        margin-bottom: 15px;
        line-height: 22px;
        &.disclaimers {
            text-transform: uppercase;
        }
        a {
            color: blue;
            font-size: 16px;
        }
        
    }
    h3 {
        font-size: 17px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}