<bread-crumbs source="breadcrumbs"></bread-crumbs>
<div class="thank-you-wrapper">
    <div class="thank-you-page">
        <div class="top-block">
            <div class="thanks-title-block">
                <h1 class="thank-you-header">
                    Thank you for choosing SuperiorPromos for all your promotional needs!
                </h1>
                <div class="print-link" ng-click="printPage()">
                    <img class="print-img" src="/img/font-awesome-pro-5/print.svg" alt="printer">
                    <span class="link-text">Print Page</span>
                </div>
            </div>
            
            <div class="thank-you-confirmation">Your order # is <span class="emph-text">{{ $cart.orderedCartInfo.orderInfo.id }}</span></div>
            <div class="thank-you-confirmation">
                A confirmation email was sent to 
                <span class="emph-text">{{ userData.email }}</span> 
                and fill order details are available in 
                <a href="/my-account/order-history">My Account</a> section
            </div>
            <p class="thank-you-message">Please also add <b>@superiorpromos.com</b> domain to your email Safe List, to ensure delivery of all correspondance</p>
            <p class="thank-you-info">
                If artwork and/or text was not uploaded during checkout, please submit it via email to the following address —
                <a class="link-text" href="mailto:art@superiorpromos.com">
                    art@superiorpromos.com
                </a>
                <br />
                Include your Order # in the subject line.
                Proof approval is required before production starts.
                <br>
                Here are some helpful links
            </p>
        </div>
        <div class="proc-info">
            <p class="proc-info-text">Please follow the link review the NECESSARY STEPS required to complete the order.</p>
    
            <a ui-sref="router.artwork" class="link-text">Art Requirements and Details</a>
            <br>
            <a ui-sref="router.order-process" class="link-text">Order processing information</a>
        </div>
        <div class="bottom-block">
            <div class="order-info-block">
                <div class="item-block">
                    <h4 class="info-header">Ship To</h4>
                    <p class="info-data">{{ $cart.orderedCartInfo.shippingAddress.first_name + ' ' + $cart.orderedCartInfo.shippingAddress.last_name }}</p>
                    <p class="info-data" ng-if="$cart.orderedCartInfo.shippingAddress.company_name">{{ $cart.orderedCartInfo.shippingAddress.company_name }}</p>
                    <p class="info-data">{{ $cart.orderedCartInfo.shippingAddress.address_line_1 }}</p>
                    <p class="info-data">{{ $cart.orderedCartInfo.shippingAddress.city + ', ' + $cart.orderedCartInfo.shippingAddress.state + ', ' + $cart.orderedCartInfo.shippingAddress.zip }}</p>
                    <p class="info-data">{{ $cart.orderedCartInfo.shippingAddress.day_telephone }}</p>
                </div>
                <div class="item-block">
                    <h4 class="info-header">Bill To</h4>
                    <p class="info-data">{{ $cart.orderedCartInfo.billingAddress.first_name + ' ' + $cart.orderedCartInfo.billingAddress.last_name }}</p>
                    <p class="info-data" ng-if="$cart.orderedCartInfo.billingAddress.company_name">{{ $cart.orderedCartInfo.billingAddress.company_name }}</p>
                    <p class="info-data">{{ $cart.orderedCartInfo.billingAddress.address_line_1 }}</p>
                    <p class="info-data">{{ $cart.orderedCartInfo.billingAddress.city + ', ' + $cart.orderedCartInfo.billingAddress.state + ', ' + $cart.orderedCartInfo.billingAddress.zip }}</p>
                    <p class="info-data">{{ $cart.orderedCartInfo.billingAddress.day_telephone }}</p>
                </div>
                <div class="item-block order-num">
                    <h4 class="info-header">Payment Type</h4>
                    <p class="info-data" ng-if="$cart.readyOrder.paymentType === 'card'">Credit card {{ $cart.readyOrder.card_number ? $cart.readyOrder.card_number : ''  }}</p>
                    <p class="info-data" ng-if="$cart.readyOrder.paymentType === 'check'">Pay by Check / Money Order</p>
                    <p class="info-data" ng-if="$cart.readyOrder.paymentType === 'apply'">Pay after Art Approval</p>
                </div>
            </div>
            <cart-list source="$cart.orderedCartItems" order="$cart.orderedCartInfo.orderInfo" mode="thank-you"></cart-list>
        </div>
    </div>    
</div>
