@import "~scss/modules/variables.scss";

.thank-you-wrapper {
  background-color: #e6eef2;
  @media (max-width: 576px) {
    background-color: #fff;
  }
}

.thank-you-page {
  padding: 30px 0;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  @media (max-width: 576px) {
    padding: 0;
  }

  .top-block, 
  .bottom-block {
    background: #ffffff;
    padding: 40px 25px 20px;
    @media (max-width:576px) {
      padding: 0;
    }
  }

  .top-block {
    margin-bottom: 2px;
    margin-top: 5px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .bottom-block {
    border-radius: 6px;
    margin-bottom: 50px;
    padding: 40px 0 0;

    .order-info-block {
      display: flex;
      justify-content: space-between;
      padding:0 25px 30px;
      @media (max-width:576px) {
        padding: 0;
      }

      .item-block {
        flex-grow: 1;

        &.order-num {
          flex-grow: 2;
        }
      }

      .info-header {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.54;
        color: #454f51;
        margin-bottom: 10px;

        &.order-num {
          text-transform: uppercase;
          color: #d0021b;
        }
      }

      .info-data {
        font-size: 14px;
        line-height: 1.18;
        color: #2d3539;
      }
    }
  }

  .thank-you-header {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #454f51;
    margin-bottom: 30px;
  }

  .thank-you-confirmation {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.15;
    color: #2d3539;
    margin-bottom: 10px;
  }

  .thank-you-message {
    font-size: 12px;
    line-height: 1;
    color: #899399;
    margin-bottom: 30px;
  }

  .thank-you-info {
    font-size: 14px;
    line-height: 1.15;
    color: #2d3539;
    margin-bottom: 20px;

    .emph-text {
      color: #d0021b;
      font-weight: 500;
    }
  }

  .link-text {
    color: $color-darkest-blue;
    font-size: 14px;
    line-height: 1.54;
    cursor: pointer;
  }

  .print-link {
    display: flex;
    align-items: center;
    cursor: pointer;

    .print-img {
      width: 16px;
      margin-right: 10px;
    }
  }

  .proc-info {
    padding: 20px;
    background: #ffffff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 5px;
    margin-top: 2px;

    .proc-info-text {
      font-size: 14px;
      line-height: 1.15;
      color: #2d3539;
      margin-bottom: 15px;
    }

    .proc-info-link {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.54;
      color: #16a1db;

      img {
        width: 16px;
        margin-right: 10px;
      }
    }
  }

  .total-block {
    padding: 20px 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    .cont-shopping {
      font-size: 13px;
      color: #17a1db;
      cursor: pointer;
    }

    .total-text {
      font-size: 12px;
      color: #99adba;
      text-align: right;
      margin-bottom: 5px;
    }
    
    .total-cost {
      font-size: 22px;
      text-align: right;
      font-weight: 900;
      letter-spacing: 0.4px;
      color: #434e54;
    }
  }
}

.thanks-title-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
