.product-item-all-options {
  .color-option-container {
    position: relative;

    .error-notify {
      position: absolute;
      left: 20px;
      bottom: -15px;
    }
  }

  .nav-tabs {
    border-bottom: none;
  }

  .tab-content {
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
  }
}

.production-time {
  display: flex;
  
  strong {
    margin-right: 5px;
  }
}

.error-colors {
  color: red;
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
  border: none;
  display: block;
  text-align: center;
  margin-top: 20px;
  @media (max-width: 576px) {
    padding-left: 0;
    padding-top: 15px;
    margin-top: 10px;
  }
  
}

.qty {
  margin-bottom: 15px;
}

.selected {
  color: green;
  border-color: green;
}

.selected-qty {
  border: 2px solid green !important;
  box-shadow: none !important;
}

.noselect {
  border: 2px solid red;
}
