<div id="err" class="step-options step-content animated slideInRight">
    <div class="product-item-all-options">
        <div class="color-option-container">
            <div class="product-item-colors" ng-repeat="typedColor in orderService.orderItem.allColors">
                <h6>
                    <b>Select</b> <br>
                    <span class="type-color-title">{{typedColor.name}}</span>
                </h6>
                <product-color-selector product-item="orderService.orderItem"
                                        type-item="typedColor"
                                        display-mode="full"
                                        select-type="radio"
                                        error="orderService.errors['color']"
                                        on-color-selected="setColor"
                                        id="colors-selectors"
                                        >
                </product-color-selector>
            </div>
        </div>
        <span class="error-colors ng-scope" ng-if="orderService.errors.color" ng-hide="!orderService.errors.color" id="colors-selector"> Colors selection is required </span>
        <div id="error_options"
             class="product-item-options"
             ng-if="orderService.orderItem.getData().product_options.length">
                        <span class="error-notify"
                              ng-class="{show: orderService.errors['color']}"
                              >
                            Option selection is required
                        </span>
            <product-option-selector product-item="orderService.orderItem" on-option-selected="setOptions"></product-option-selector>
        </div>
        <div class="price-container">
            <div class="product-item-pricing">
                <pricing-info source="orderService.orderItem" customize-order="false" on-select="setQuantity"></pricing-info>
                <div  class="choosen-pricing">
                    <div class="manual-input">
                        <div  class="quantity-input-wrapper">
                            <input type="text"
                                   class="custom-qty"
                                   placeholder="Enter Your Quantity"
                                   ng-change="setRawQuantity(orderService.orderItem.orderData.quantity)"
                                   ng-model="orderService.orderItem.orderData.quantity"
                                   ng-class="{ noselect: orderService.errors['quantity']}"
                                   id="qty-selected"
                                   />
                            <div id="error_quantity"
                                 class="error-notify qty"
                                 ng-class="{show: orderService.errors['quantity']}">
                                Min qty: {{::orderService.orderItem.getData().min_quantity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-text-block">
          <span>Any amount can be purchased above the minimum quantity listed. Below minimum amount might be available,
              please contact customer service at <b>888-577-6667</b> or <b>info@superiorpromos.com</b> for details. Additional cost may apply</span>
            </div>
        </div>
    </div>
    <div class="product-item-breakdown breakdown-block" ng-show="orderService.orderItem.hasSizes()">
        <div class="breakdown-label">
            <h3 class="breakdown-header">
                split by size
            </h3>
            <div
                    id="error_breakdown"
                    class="breakdown-content small-text"
                    ng-show="!orderService.orderItem.orderData.laterBreakdown && ((orderService.orderItem.orderData.quantity - orderService.orderItem.sum(orderService.orderItem.orderData.breakdownBySizeQuantities)) > 0)">
                Adjust all {{orderService.orderItem.orderData.quantity - orderService.orderItem.sum(orderService.orderItem.orderData.breakdownBySizeQuantities)}}
                items
            </div>
        </div>
        <div class="option-container">
            <div class="breakdown-content small-text"
                 ng-show="(orderService.orderItem.orderData.quantity - orderService.orderItem.sum(orderService.orderItem.orderData.breakdownBySizeQuantities)) < 0">
                The total of all selected sizes must equal to the full quantity.
            </div>
            <div class="breakdown-content">Sizes 2XL+ will be at additional cost. Customer service will advise of any
                additional cost for final approval.
            </div>
            <div class="breakdown-info padded">
                <div class="all-sizes">
                    <div class="size" ng-repeat="size in orderService.orderItem.getData().size_group.sizes">
                        <span class="size-name">{{::size.name}}</span>
                        <input type="text" placeholder="~"
                               ng-model="orderService.orderItem.orderData.breakdownBySizeQuantities[size.id]"
                               ng-change="updateSizeBreakdown(orderService.orderItem.orderData.breakdownBySizeQuantities)"
                               ng-class="{'set-fake-dirty' : orderService.orderItem.orderData.breakdownBySizeQuantities[size.id] > 0}"
                               maxlength="4" ng-pattern="/^[0-9+]*$/" ng-trim="true">
                    </div>
                </div>
                <div class="breakdown-toggle">
                    <toggler
                            source="orderService.orderItem.orderData.laterBreakdown"
                            product="orderService.orderItem"
                            name="breakdown"
                            expanded="false"
                    ></toggler>
                    <div
                            class="breakdown-text"
                    >
                        provide breakdown after placing the order
                        <div class="small-text">
                            Please email the breakdown to <span class="text-emph">info@superiorpromos.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
