<h1 class="my-account-page-section-header">Reorder</h1>
<!-- <div class="my-account-page-section-content reorder-thank animated slideInRight" ng-if="$reorder.reorderedItems.length">
    <h6 class="reorder-thank-header">Thank you for your Reorder Request <span># R2001</span></h6>
    <div class="reorder-thank-message">A copy confirmation will be sent shortly with reorder details.</div>
    <div class="reorder-note-block" >
        <div class="reorder-header-wrap">
            <i class="material-icons warn-sign">warning</i>
            <h4 class="reorder-note-header">please note:</h4>
        </div>
        <ul class="reorder-list">
            <li>A reorder request is not an automatic order. Your account manager will review your request and then place an actual New Order.</li>
            <li>An new order confirmation will be emailed and the order will be available in your account. We will contact you if any further information is required.</li>
        </ul>
    </div>
    <h6 class="reorder-thank-header reorder-request">Reorder Request for the following items</h6>
    <div class="reorder-thank-item" ng-repeat="item in $reorder.reorderedItems">
        <div class="reorder-thank-info">
            <div class="reorder-thank-title">Frosted Soft Loop Bag 10W X 5 X 13H</div>
            <div class="reorder-thank-id">#34116S36033</div>
        </div>
        <div class="reorder-thank-details">
            <div class="reorder-thank-item-id">item #1349</div>
            <div class="reorder-thank-more">Selected Reorder Details</div>
        </div>
    </div>
    <div class="reorder-thank-button-block">
        <button class="reorder-back-btn">back</button>
    </div>
</div>
<div class="my-account-page-section-content reorder-no-items animated slideInRight" ng-if="!$reorder.reorderedItems.length">
    <h5>No items</h5>
</div> -->

<div class="my-account-page-section-content reorder-thank animated slideInRight">
    <h2>Thank you for your Reorder Request. It has been accepted for processing.</h2>
</div>