.reorder-thank {
  font-size: 11px;

  .reorder-thank-header {
    font-size: 11px;

    span {
      color: #14a2ff;
    }

    &.reorder-request {
      margin-bottom: 10px;
    }
  }

  .reorder-thank-message {
    padding: 10px 0 15px;
    font-weight: normal;
  }

  .reorder-note-block {
    border: solid 1px #e94639;
    padding: 20px 44px;
    margin-bottom: 25px;

    .reorder-header-wrap {
      position: relative;

      .warn-sign {
        position: absolute;
        color: #ef7167;
        width: 17px;
        height: 20px;
        left: -30px;
        top: -5px;
        font-size: 16px;
      }

      .reorder-note-header {
        text-transform: uppercase;
        color: #ef7167;
        font-weight: 500;
        font-size: 11px;
        margin-bottom: 10px;
      }
    }

    .reorder-list {
      list-style: disc;
      font-weight: normal;
      line-height: 2;

      .reorder-email {
        color: #4ac8fe;
      }
    }
  }

  .reorder-thank-item {
    padding: 15px;
    border: solid 1px #eaedef;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    .reorder-thank-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .reorder-thank-title {
        font-weight: 500;
        color: #3598db;
      }

      .reorder-thank-id {
        font-size: 13px;
        font-weight: normal;
      }
    }

    .reorder-thank-details {
      display: flex;
      justify-content: space-between;

      .reorder-thank-item-id {
        font-weight: normal;
      }

      .reorder-thank-more {
        color: #23bdff;
      }
    }
  }

  .reorder-thank-button-block {
    padding: 20px 0;

    .reorder-back-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-weight: 500;
      border-radius: 6px;
      padding: 10px 12px;
      border: none;
      width: 130px;
      text-transform: capitalize;
      background-color: #d8e5ed;
      color: #5d717d;
      cursor: pointer;
    }
  }
}
