<div class="modal modal-danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete this {{title}}?</h4>
            </div>
            <div class="modal-footer">
                <form ng-submit="delete()">
                    <input type="submit" class="btn btn-danger pull-right delete-confirm"
                       value="Yes, Delete This">
                </form>
            </div>
        </div>
    </div>
</div>