@import "~scss/modules/variables";

.pricing-info {
  position: relative;
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding-top: 20px;
  margin-top: -20px;
  

  .pricing-info-block {
    flex: 0 0 50px;
    border-radius: 4px;
    border: 4px solid transparent;
    padding-right: 12px;
    @media (max-width:768px) {
      flex: unset;
      padding-right: 5px;
    }
    @media (max-width:576px) {
      padding-right: 3px;
    }
    .empty-item {
      height: 13px;
    }

    &.active {
      border-color: #4ac9ff;
    }

    &.quantity-block {
      text-align: right;

      &.selected {
        border-color: $color-background;
        padding-right: 5px;
      }
    }

    &:last-child {
      .info-text.green {
        font-size: 15px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.6px;
        text-align: right;
        color: #ce031c;
      }
    }
  }

  .quantity-container {
    display: flex;
    justify-content: space-between;

    .min-title {
      position: absolute;
      margin-top: -15px;
      margin-left: 15px;
    }
  }

  .info-text {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2d3539;
    @media (max-width:768px) {
      font-size: 13px;
    }

    &.green {
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;
      color: #2d3539;
      text-transform: uppercase;
    }

    &.strike {
      text-decoration: line-through;
    }
  }

  .quantity-block {
    .info-text {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: right;
      color: #2d3539;
      @media (max-width:768px) {
        font-size: 13px;
      }
    }

    .green {
      opacity: 1;
    }
  }
}
