<div class="pricing-info">
    <div class="pricing-info-block text-block">
        <div class="info-text border">QTY</div>
        <div class="info-text border" ng-if="onSale">REG.</div>
        <div class="info-text green border" ng-if="!onSale">Sale</div>
        <div class="info-text green border" ng-if="onSale">Sale</div>
    </div>
    <div class="quantity-container">
        <span class="min-title">Min</span>
        <div class="pricing-info-block quantity-block"
             ng-class="{ 'selected' : source.orderData.quantity === option.quantity}"
             ng-repeat="option in priceGrid"
             ng-click="proceedWithOption(option)">
            <div class="info-text">{{option.quantity}}</div>
            <div class="info-text strike" ng-if="onSale">{{option.regular_price | currency: '$'}}</div>
            <div class="info-text green price-green" ng-if="onSale">{{option.sale_price | currency: '$'}}</div>
            <div class="info-text green price-green" ng-if="!onSale">{{option.regular_price | currency: '$'}}</div>
        </div>
    </div>
</div>
