<div class="welcome-text-wrapper">
     <div class="welcome-text-layout">
        <div class="welcome">
            <div class="header">
                <h2>
                    Welcome to Superior Promos
                </h2>
                <div class="social-icons">
                    <div class="icon" title="Facebook">
                        <a href="https://www.facebook.com/superiorpromos" target="_blank">
                            <img src="/img/social-icons/fbp.png" alt="Facebook">
                        </a>
                    </div>
                    <div class="icon" title="Pinterest">
                        <a href="https://pinterest.com/promoitem/" target="_blank">
                            <img src="/img/social-icons/pintp.png" alt="Pinterest">
                        </a>
                    </div>
                    <div class="icon" title="Twitter">
                        <a href="https://twitter.com/#!/superior_promos" target="_blank">
                            <img src="/img/social-icons/twitterp.png" alt="Twitter">
                        </a>
                    </div>
                </div>
            </div>
            <div class="body">
                <p>
                    Your one stop shop for all your <a href="/">promotional product needs</a>. Here you will find everything you need to make
                    your next promotion a huge success.
                    Our endless list of <a href="/">promotional items</a> include <a href="/calendars-planners/">custom calendars</a>,
                    <a href="">corporate gifts</a>, the newest in <a href="/electronic-items/">promotional tech items</a>, <a
                        href="/bags-totes-more/">promotional tote bags</a>, <a href="/pens-pencils/">custom pens</a> and so much more.
                </p>
                <p>
                    We took out all the guess work so you can purchase your <a href="/">promotional products</a> with tremendous ease. Our
                    professional art department will strive to provide you with the best art work all at no extra cost. We will
                    not stop until you are satisfied with your logo and are ready to proceed with production of your <a
                        href="/">promotional items</a>.
                </p>
                <p>
                    We will not be beat, if you find an advertised price online; we will match it and in most cases beat it. We
                    are confident that you will enjoy working with us. Our experience and determination will make your next
                    promotion a wonderful success.
                </p>
                <p>
                    We are aware that you have options when it comes to buying <a href="#">promotional products</a>. Price is one of the biggest
                    factors that will determine your decision. Our goal at Superior Promos is to provide the lowest possible
                    price on the web for everything we sell. However if someone has the same item for less, then we will always
                    attempt to price match and will go a step further and beat the price by 10%.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="clients-slider-block" ng-if="isVisible">
    <h3 class="clients-slider-header">Clients that trust our unbeatable service for their promotional needs</h3>
    <div>
        <ui-carousel
            slides="clientsList"
            slides-to-show="6"
            slides-to-scroll="1"
            initial-slide="1"
            autoplay="true"
            autoplay-speed="10000"
            dots="false"
            arrows="true"
            infinite="false">
            <carousel-item>
                <div class="product-image-square blue-border">
                    <img class="product-image"
                        ng-src="{{ item.img }}"
                        
                        alt="client-image" />
                </div>
            </carousel-item>
        </ui-carousel>
    </div>
</div>
