.welcome-text-wrapper {
  position: relative;
  width: 100%;
  height: auto;

  @media screen and (max-width: 991px) {
    display: none;
  }

  .welcome-text-layout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #203340;
    z-index: 1;
    padding: 25px 100px 10px;
  }

  a {
    color: #fff;
  }

}

.clients-slider-block {
  max-width: 1170px;
  margin: 25px auto;
  padding: 0 34px;
  display: none;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .ui-carousel {
    margin: 0;
  }

  .clients-slider-header {
    text-align: center;
  }

  .carousel-prev .carousel-btn,
  .carousel-next .carousel-btn {
    z-index: 8;
    border: 1px solid #b5b5b5;
    background: #fff;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    transform: none;
  }

  .carousel-next .carousel-btn {
    right: -34px;
  }

  .carousel-prev .carousel-btn  {
    left: -34px;
  }
  
  .product-image-square {
    min-height: 0;
    height: 156px;
    padding: 10px;
  }
}
