<form id="err" class="edit-form" name="addressEditForm" ng-submit="submit()">
  <!--<h4 class="edit-form-section-title">{{::$stateParams.mode == 'edit' ? 'Edit' : 'Add'}} Address</h4>-->
  <h5 class="text-default" ng-if="source.type === '1'">Shipping to</h5>
  <h5 class="text-default" ng-if="source.type === '2'">Billing to</h5>
  <div class="row" ng-if="!addressType">
    <div class="col-md-6">
      <!-- Address Type -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.type.$error.backend">Address Type</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.type.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.type.$error.backend}}</span>
          </span>
        </label>
        <md-radio-group ng-model="source.type"dfthr
                        md-no-ink="true"
                        class="address-type-radio"
                        ng-focus="resetError(addressEditForm.type)"
                        name="type">
          <md-radio-button ng-value="1">
            <span class="grey">Shipping Address</span>
          </md-radio-button>
          <md-radio-button ng-value="2">
            <span class="grey left">Billing Address</span>
          </md-radio-button>
        </md-radio-group>
      </div>
      <!--<div class="form-group" ng-if="addressType">-->
        <!--<label class="edit-form-label">-->
          <!--<span>Store</span>-->
        <!--</label>-->
        <!--<md-checkbox-->
                <!--ng-model="saveInAddressBook"-->
                <!--md-no-ink="true"-->
                <!--class="address-default">-->
          <!--<span class="grey">Save in address book</span>-->
        <!--</md-checkbox>-->
      <!--</div>-->
    </div>
    <div class="col-md-6">
      <!-- Address default -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.is_default.$error.backend">Address Default</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.is_default.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.is_default.$error.backend}}</span>
          </span>
        </label>
        <md-checkbox
                ng-model="source.is_default"
                md-no-ink="true"
                ng-true-value="1"
                ng-false-value="0"
                class="address-default"
                ng-focus="resetError(addressEditForm.is_default)"
                name="is_default">
          <span class="grey">Make default</span>
        </md-checkbox>
      </div>
    </div>
  </div>
  <div class="row edit-form-section">
    <div class="col-md-6">
      <!-- Address Nickname -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.title.$error.backend">Address Nickname:</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.title.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.title.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.title"
               name="title"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.title)"
               ng-pattern="" ng-trim="true" >
      </div>
      <!-- First Name -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.first_name.$error.backend">First Name:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.first_name.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.first_name.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.first_name"
               class="form-control"
               type="text" autocomplete="off"
               name="first_name"
               ng-focus="resetError(addressEditForm.first_name)"
               ng-trim="true" >
      </div>
      <!-- Middle Name -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.middle_name.$error.backend">Middle Name:</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.middle_name.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.middle_name.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.middle_name"
               name="middle_name"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.middle_name)"
               ng-pattern="" ng-trim="true" >
      </div>
      <!-- Last Name -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.last_name.$error.backend">Last Name:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.last_name.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.last_name.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.last_name"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.last_name)"
               name="last_name"
               ng-pattern="" ng-trim="true" >
      </div>

      <!--<div class="form-group">-->
        <!--<label class="edit-form-label">-->
          <!--<span ng-hide="addressEditForm.suffix.$error.backend">Suffix</span>-->
          <!--<span class="text-danger" ng-messages="addressEditForm.suffix.$error" role="alert">-->
              <!--<span ng-message="backend">{{addressEditForm.suffix.$error.backend}}</span>-->
          <!--</span>-->
        <!--</label>-->
        <!--<input ng-model="source.suffix"-->
               <!--name="suffix"-->
               <!--class="form-control"-->
               <!--type="text" autocomplete="off"-->
               <!--ng-focus="resetError(addressEditForm.suffix)"-->
               <!--ng-pattern="" ng-trim="true" >-->
      <!--</div>-->
      
      <!-- Company Name -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.company_name.$error.backend">Company Name:</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.company_name.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.company_name.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.company_name"
               name="company_name"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.company_name)"
               ng-pattern="" ng-trim="true" >
      </div>
      <div class="row">
        <div class="col-md-8">
          <!-- Day Telephone -->
          <div class="form-group">
            <label class="edit-form-label">
              <span ng-hide="addressEditForm.day_telephone.$error.backend">Day Telephone:</span>
              <span class="text-danger payment-danger" ng-messages="addressEditForm.day_telephone.$error" role="alert">
                  <span ng-message="backend">{{addressEditForm.day_telephone.$error.backend}}</span>
              </span>
            </label>
            <input ng-model="source.day_telephone"
                   class="form-control"
                   type="text" autocomplete="off"
                   ng-focus="resetError(addressEditForm.day_telephone)"
                   model-view-value="true"
                   ui-mask="999-999-9999"
                   name="day_telephone"
                   maxlength="15">
          </div>
        </div>
        <div class="col-md-4">
          <!-- Ext -->
          <div class="form-group">
            <label class="edit-form-label">
              <span ng-hide="addressEditForm.ext.$error.backend">Ext:</span>
              <span class="text-danger payment-danger" ng-messages="addressEditForm.ext.$error" role="alert">
                  <span ng-message="backend">{{addressEditForm.ext.$error.backend}}</span>
              </span>
            </label>
            <input ng-model="source.ext"
                   class="form-control"
                   ng-focus="resetError(addressEditForm.ext)"
                   type="text" autocomplete="off"
                   name="ext"
                   maxlength="3" ng-pattern="/^[0-9+]*$/">
          </div>
        </div>
      </div>
      <!-- Fax -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.fax.$error.backend">Fax:</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.fax.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.fax.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.fax"
               name="fax"
               model-view-value="true"
               class="form-control input-address-day-telephone"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.fax)"
               ui-mask="999-999-9999"
               maxlength="15" ng-trim="true" >
      </div>
    </div>
    <div class="col-md-6">
      <!-- Address Line 1 -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.address_line_1.$error.backend">Address Line 1:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.address_line_1.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.address_line_1.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.address_line_1"
               name="address_line_1"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.address_line_1)"
               ng-pattern="" ng-trim="true" >
      </div>
      <!-- Address Line 2 -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.address_line_2.$error.backend">Address Line 2:</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.address_line_2.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.address_line_2.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.address_line_2"
               name="address_line_2"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.address_line_2)"
               ng-pattern="" ng-trim="true" >
      </div>
      <!-- City -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.city.$error.backend">City:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.city.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.city.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.city"
               name="city"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.city)"
               ng-pattern="" ng-trim="true" >
      </div>
      <!-- State -->
      <div class="form-group" ng-if="source.country === 'US'">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.state.$error.backend">State:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.state.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.state.$error.backend}}</span>
          </span>
        </label>
        <select ng-model="source.state"
                name="state"
                class="form-control"
                ng-options="option.abbreviation as option.name for option in $usStates"
                ng-focus="resetError(addressEditForm.state)">
        </select>
      </div>
      <!-- Zip code -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.zip.$error.backend">Zip/Postal Code:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.zip.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.zip.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.zip"
               name="zip"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.zip)"
               maxlength="6"
               ng-pattern="/^[A-Za-z0-9_.]+$/">
      </div>
      <!-- Country -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.country.$error.backend">Country:<sup>*</sup></span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.country.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.country.$error.backend}}</span>
          </span>
        </label>
        <select
                ng-model="source.country"
                name="country"
                class="form-control"
                ng-options="option.code as option.name for option in $countriesList"
                ng-focus="resetError(addressEditForm.country)">
        </select>
      </div>
      <!-- Province -->
      <div class="form-group">
        <label class="edit-form-label">
          <span ng-hide="addressEditForm.province.$error.backend">Province:</span>
          <span class="text-danger payment-danger" ng-messages="addressEditForm.province.$error" role="alert">
              <span ng-message="backend">{{addressEditForm.province.$error.backend}}</span>
          </span>
        </label>
        <input ng-model="source.province"
               name="province"
               class="form-control"
               type="text" autocomplete="off"
               ng-focus="resetError(addressEditForm.province)"
               ng-pattern="" ng-trim="true" >
      </div>
    </div>
  </div>
  <div class="row edit-form-section margin-bottom-0">
    <div class="col-md-12">
      <div class="edit-form-controls">
        <button type="button"
                ng-click="confirmDelete($stateParams.addressId)"
                class="btn-edit-form-control delete"
                ng-if="$stateParams.mode == 'edit'">Delete</button>
        <button type="button" class="btn-link btn-edit-form-control cancel" ng-click="back()">Cancel</button>
        <button type="submit" class="btn-edit-form-control submit">Save Changes</button>
      </div>
    </div>
  </div>
</form>
