* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

header, section {
  width: 100%;
}

header .content {
  padding: 20px;
}

header .content .img {
  float: left;
  width: 30%;
}

.main-content {
  height: 1020px;
  position: relative;
  padding-bottom: 83px;
}

.content {
  padding: 10px 0;
  border-bottom: 5px solid #5ca22f;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
}
.content img {
  width: 100%;
}

.content .prod-img {
  width: 200px;
  float: right;
}
.content .prod-details-block {
  float: left;
  width: 400px;
}
.content .clerfix {
  clear: both;
}
.content .contact .tel {
  font-size: 20px;
  text-align: right;
}
.content .contact .web {
  text-align: right;
  color: #5392c6;
}
.content .prod-details {
  list-style-type: none;
}
.content .prod-details li {
  line-height: 1.3;
  font-size: 13px;
  list-style-type: none;
}
.content .prod-details li:before {
  content: "- ";
}
.content .prod-name {
  font-size: 18px;
}
.content .prod-number, .content .prod-name {
  padding-left: 40px;
}
.content table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.content th {
  padding: 8px;
  border-bottom: 4px solid #5392c6;
  text-align: center;
}
.content th:first-child {
  padding-left: 40px;
  text-align: left;
}
.content th:last-child {
  padding-right: 40px;
}
.content td {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #cbcbcb;
}
.content td.green {
  color: #5ca22f;
}
.content td.header {
  font-weight: 900;
}
.content td:first-child {
  padding-left: 40px;
  text-align: left;
}
.content td:last-child {
  padding-right: 40px;
}
.content .prod-options {
  margin-bottom: 10px;
  border-bottom: 2px solid #cbcbcb;
}
.content .prod-options .header-top {
  border-bottom: 4px solid #5392c6;
  margin-bottom: 0;
  padding: 5px 10px 5px 40px;
}
.content .prod-options ul {
  margin: 5px 0;
}
.content .prod-options .details-list {
  list-style-type: none;
}
.content .prod-options .details-list.pricing-info li:before {
  content: "-";
  margin-right: 5px;
}
.content .prod-options .details-list li {
  font-size: 14px;
  word-break: break-word;
  overflow: hidden;
}
.content .prod-options .details-list li .description {
  float: right;
  width: 70%;
  word-break: break-word;
}
.content .prod-options .details-list li .name {
  width: 30%;
  float: left;
  font-size: 14px;
  word-break: break-word;
}
.content .prod-options .details-list li .clearfix {
  width: 100%;
  clear: both;
}

section .content {
  display: block;
  border: none;
}

footer {
  margin-top: -63px;
  position: relative;
}
footer .content {
  border: none;
  border-top: 5px solid #5ca22f;
  padding: 10px;
}
footer .content .inc {
  float: left;
}
footer .content .web {
  color: #5392c6;
  text-align: right;
}

.quote-prod-info .prod-number, .quote-prod-info .prod-name {
  padding-left: 0;
}

.content .quote-prod-details-block {
  float: left;
  width: 400px;
  padding: 0 40px;
}

.quote-prod-options-block .prod-options {
  border-bottom: none;
}

/*# sourceMappingURL=main.css.map */
