$blue:  #5392c6;
$green: #5ca22f;
$grey: #cbcbcb;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, 
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  padding: 0;
  margin: 0;
}

header, 
section {
  width: 100%;
}

header {
  .content {
    padding: 20px;

    .img {
      float: left;

      img {
        width: 150px;
      }
    }
  }
}

.main-content {
  //min-height: 100%;
  height: 1020px;
  position: relative;
  padding-bottom: 83px;
}

.content {
  padding: 10px 0;
  border-bottom: 5px solid $green;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;

  img {
    width: 100%;
  }

  .img {
    width: 30%;
  }

  .prod-img {
    width: 200px;
    float: right;
  }

  .prod-details-block {
    float: left;
    width: 400px;
  }

  .clerfix {
    clear: both;
  }

  .contact {
    .tel {
      font-size: 40px;
      text-align: right;
    }

    .web {
      text-align: right;
      color: $blue;
    }
  }

  .prod-details {
    list-style-type: none;

    li {
      line-height: 1.3;
      font-size: 13px;
      list-style-type: none;
    }

    li:before {
      content: "- ";
    }
  }

  .prod-name {
    font-size: 18px;
  }

  .prod-number, 
  .prod-name {
    padding-left: 40px;
  }

  table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  th {
    padding: 8px;
    border-bottom: 4px solid $blue;
    text-align: center;

    &:first-child {
      padding-left: 40px;
      text-align: left;
    }

    &:last-child {
      padding-right: 40px;
    }
  }

  td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid $grey;

    &.green {
      color: $green;
    }

    &.header {
      font-weight: 900;
    }

    &:first-child {
      padding-left: 40px;
      text-align: left;
    }

    &:last-child {
      padding-right: 40px;
    }
  }

  .prod-options {
    margin-bottom: 10px;
    border-bottom: 2px solid $grey;

    .header-top {
      border-bottom: 4px solid $blue;
      margin-bottom: 0;
      padding: 5px 10px 5px 40px;
    }

    ul {
      margin: 5px 0;
    }
    
    .details-list {
      list-style-type: none;

      &.pricing-info {
        li:before {
          content: '-';
          margin-right: 5px;
        }
      }
      
      li {
        font-size: 14px;
        word-break: break-word;
        overflow: hidden;

        .description {
          float: right;
          width: 70%;
          word-break: break-word;
        }

        .name {
          width: 30%;
          float: left;
          font-size: 14px;
          word-break: break-word;
        }

        .clearfix {
          width: 100%;
          clear: both;
        }
      }
    }    
  }
}

section {
  .content {
    display: block;
    border: none;
  }
}

footer {
  margin-top: -63px;
  position: relative;

  .content {
    border: none;
    border-top: 5px solid $green;
    padding: 10px;

    .inc {
      float: left;
    }
    
    .web {
      color: $blue;
      text-align: right;
    }
  }
}
