<bread-crumbs source="breadcrumbs"></bread-crumbs>
<div class="cart-checkout-page ready-order-page-wrapper">
    <div class="checkout-container ">
        <div class="checkout-option">
            <!-- 1 = shipping address type; 2 = billing address type-->
            <address-edit-form
                address-type="1"
                on-confirm="assignNewShippingAddress"
                on-cancel="toggleCreateNewShippingAddress"
                ng-show="showAddShippingAddress">
            </address-edit-form>
            <div ng-hide="showAddShippingAddress" class="cont-block">
                <div class="checkout-option-head" ng-class="{'error':errors.shippingAddress}">
                    <h5 class="text-default">Ship to</h5>
                    <span class="text-error">Please specify Shipping address</span>
                </div>
                <div class="address-brief" ng-show="checkoutParams.shippingAddress">
                    <p class="address-field">
                        <span class="field-value">{{ checkoutParams.shippingAddress.first_name +' '+ checkoutParams.shippingAddress.last_name }}</span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">{{ checkoutParams.shippingAddress.company_name }}</span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">
                            {{ checkoutParams.shippingAddress.address_line_1 || checkoutParams.shippingAddress.address_line_2 }}
                        </span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">
                            {{ checkoutParams.shippingAddress.city + ', ' + checkoutParams.shippingAddress.state + ' ' + checkoutParams.shippingAddress.zip }}
                        </span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">
                            {{ checkoutParams.shippingAddress.day_telephone }}
                        </span>
                    </p>
                </div>
            </div>
            <div
                class="btn-edit-address"
                ng-click="goToCheckout()"
            >
                <span>Edit shipping information</span>
            </div>
        </div>
        <div class="checkout-option">
            <address-edit-form
                address-type="2"
                on-confirm="assignNewBillingAddress"
                on-cancel="toggleCreateNewBillingAddress"
                ng-show="showAddBillingAddress">
            </address-edit-form>
            <div ng-hide="showAddBillingAddress" class="cont-block">
                <div class="checkout-option-head" ng-class="{'error':errors.billingAddress}">
                    <h5 class="text-default">Bill to</h5>
                    <span class="text-error">Please specify Billing address</span>
                </div>
                <div class="address-brief" ng-show="checkoutParams.billingAddress">
                    <p class="address-field">
                        <span class="field-value">{{ checkoutParams.billingAddress.first_name +' '+ checkoutParams.billingAddress.last_name }}</span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">{{ checkoutParams.billingAddress.company_name }}</span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">
                            {{ checkoutParams.billingAddress.address_line_1 || checkoutParams.billingAddress.address_line_2 }}
                        </span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">
                            {{ checkoutParams.billingAddress.city + ', ' + checkoutParams.billingAddress.state + ' ' + checkoutParams.billingAddress.zip }}
                        </span>
                    </p>
                    <p class="address-field">
                        <span class="field-value">
                            {{ checkoutParams.billingAddress.day_telephone }}
                        </span>
                    </p>
                </div>
            </div>
            <div
                class="btn-edit-address"
                ng-click="goToCheckout()"
            >
                <span>Edit billing information</span>
            </div>
        </div>
    </div>
    <div class="payment-information">
        <h5 class="pay-header">payment information:</h5>
        <div class="pay-type">
            <span ng-if="checkoutParams.paymentProfile">Credit Card</span>
            <span ng-if="!checkoutParams.paymentProfile && paymentType === 'check'">Check / Money Order</span>
            <span ng-if="!checkoutParams.paymentProfile && paymentType === 'apply'">Pay After Proof Approval</span>
        </div>
        <div class="card-info">
            <div class="address-brief payment-block" ng-if="checkoutParams.paymentProfile">
                <!-- <div class="address-field">
                    <div class="field-name">Card security code:<sup>*</sup></div>
                    <input readonly type="text" placeholder="CVV">
                    <div class="field-question">What is this?</div>
                </div> -->
                <!-- <div class="address-field">
                    <input readonly type="text" placeholder="CVV">
                </div> -->
                <div class="address-field">
                    <div class="field-name">Card type:</div>
                    <div class="field-value">{{ checkoutParams.paymentProfile.card_type || 'unknown' }}</div>
                </div>
                <div class="address-field">
                    <div class="field-name">Card holder:</div>
                    <div class="field-value">{{ checkoutParams.paymentProfile.card_holder }}</div>
                </div>
                <div class="address-field">
                    <div class="field-name">Card number:</div>
                    <div class="field-value">{{ hideCardNumber(checkoutParams.paymentProfile.card_number) }}</div>
                </div>
                <div class="address-field">
                    <div class="field-name">Expiration date:</div>
                    <div class="field-value">{{ checkoutParams.paymentProfile.expiration_month+'/'+checkoutParams.paymentProfile.expiration_year }}</div>
                </div>
            </div>
            <div class="btn-edit-address"
                ng-click="goToCheckout()">
                <span>Edit Payment Information</span>
            </div>
        </div>
        <div class="pay-info" ng-if="!checkoutParams.paymentProfile && paymentType === 'check'">
            After the order is placed, Customer Service will contact you to discuss check or money order payment options. <br>
            Please feel free to check our <a ui-sref="router.guarantee">Guarantee</a> and <a ui-sref="router.order-process">Order Process</a> pages.
        </div>
        <div class="pay-info" ng-if="!checkoutParams.paymentProfile && paymentType === 'apply'">
            Payment will be required after an approval and before order moves to production. <br>
            For any questions please contact customer service and check our <a ui-sref="router.order-process">Order Process</a> page.
        </div>
    </div>
    <div class="payment-error" ng-if="paymentError">
        {{ paymentError }}
        <p>
        An approval was not returned for the transaction. <br />
        Please contact your bank issuer for details or our customer service team at 888-577-6667
            <br /><br />
        Possible reasons your transaction was declined
        </p>

        <ul class="">
            <li>Proper funds are not available for this transaction</li>
            <li>Spending limit restriction</li>
            <li>Account closed or not active</li>
            <li>Account on hold with the card issuing bank</li>
            <li>Possible Expiration Data or Security Information does not match</li>
        </ul>
    </div>
    <cart-list source="$cart.cartItems"
               mode="ready-order"
               on-confirm="checkout">
    </cart-list>
</div>
