@import "~scss/modules/variables";

.payment-information {
  margin-top: 15px;
  background: #fff;
  border-radius: 6px;
  padding: 20px;

  .pay-header {
    text-transform: uppercase;
    background-color: $color-background;
    padding: 10px 5px;
  }

  .pay-type {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #2d3539;
    margin-bottom: 20px;
  }

  .card-info {
    margin-bottom: 10px;

    .checkout-select {
      max-width: 200px;
      width: 100%;
      border-radius: 4px;
      background-color: #e6eef2;
      border: none;
      box-shadow: none;
      font-size: 11px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: .2px;
      color: #2d3539;
      margin-top: 10px;
    }
  }

  .pay-info {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.2px;
    color: #899399;

    a {
      color: $color-darkest-blue;
    }
  }
}

.payment-error {
  padding: 10px;
  border: 1px solid red;
  border-radius: 8px;
  color: red;
  font-weight: bold;
  line-height: 1.5;

  ul {
    list-style: circle;
    margin-left: 20px;
  }
}
