<div class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Product Sub Options</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" ng-repeat="productSubOption in productOption.product_sub_options">
                        <form editable-form name="tableform[productSubOption.id]" onaftersave="saveSubOptionPrices(productSubOption.id)" oncancel="cancelSubOptionPrices(productSubOption.id)">
                            <span class="section-title" editable-text="productSubOption.name" e-form="tableform[productSubOption.id]">
                                {{ productSubOption.name || 'empty' }}
                            </span>
                            <a class="btn btn-default btn-xs pull-right" ng-show="!tableform[productSubOption.id].$visible" ng-click="tableform[productSubOption.id].$show()" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <!-- table -->
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <tbody>
                                <tr>
                                    <th class="info" scope="row">Count From</th>
                                    <td class="col-md-1" ng-repeat="productSubOptionPrice in productSubOption.product_sub_option_prices">
                                        <span editable-text="productSubOptionPrice.quantity" e-form="tableform[productSubOption.id]">
                                                {{ productSubOptionPrice.quantity || 'empty' }}
                                            </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="info" scope="row">Setup Price</th>
                                    <td class="col-md-1" ng-repeat="productSubOptionPrice in productSubOption.product_sub_option_prices">
                                        <span editable-text="productSubOptionPrice.setup_price" e-form="tableform[productSubOption.id]">
                                                {{ productSubOptionPrice.setup_price || 'empty' }}
                                            </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="info" scope="row">Per Item Price</th>
                                    <td class="col-md-1" ng-repeat="productSubOptionPrice in productSubOption.product_sub_option_prices">
                                        <span editable-text="productSubOptionPrice.item_price" e-form="tableform[productSubOption.id]">
                                                {{ productSubOptionPrice.item_price || 'empty' }}
                                            </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="info" scope="row">Actions</th>
                                    <td class="col-md-1" ng-repeat="productSubOptionPrice in productSubOption.product_sub_option_prices">
                                        <span ng-show="tableform[productSubOption.id].$visible"  ng-click="deleteSubOptionPrice(productSubOption.id, productSubOptionPrice.id)" class="btn btn-xs btn-danger">
                                            <i class="voyager-trash"></i>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-form" ng-show="tableform[productSubOption.id].$visible">
                                <button type="button" ng-disabled="tableform[productSubOption.id].$waiting" ng-click="addProductSubOptionPrice(productSubOption.id)" class="btn btn-success pull-right">
                                    <i class="voyager-plus"></i>
                                </button>
                                <button type="submit" ng-disabled="tableform[productSubOption.id].$waiting" class="btn btn-primary">save</button>
                                <button type="button" ng-disabled="tableform[productSubOption.id].$waiting" ng-click="tableform[productSubOption.id].$cancel()" class="btn btn-default">cancel</button>
                                <button type="button" ng-disabled="tableform[productSubOption.id].$waiting" ng-click="showProductSubOptionsForm(productSubOption.id)" class="btn btn-default">Edit Sub Options</button>
                                <button type="button" ng-disabled="tableform[productSubOption.id].$waiting" ng-click="deleteSubOption(productSubOption.id)" class="btn btn-danger"><i class="voyager-trash"></i></button>
                            </div>

                        </form>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-default" ng-click="addProductSubOption()">
                        Add Product Sub Option
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
