@import "~scss/modules/variables";
.mobile-info {
    display: none;
    @media (max-width:576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 20px 0;
    }
    .phone {
        margin-bottom: 20px;
        h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        a {
            font-size: 16px;
            font-weight: 700;
        }
    }
    .email {
        div {
            &:first-child {
                margin-bottom: 15px;
            }
            h2 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            a {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}