<div class="mobile-info" ng-show="isShown">
    <div class="phone">
        <h3>Have a Question? We Are Here to Help!</h3>
        <a href="tel:888-577-6667">888-577-6667</a>
    </div>

    <div class="email">
        <div>
            <h2>Artwork Questions:</h2>
            <a href="mailto: art@superiorpromos.com">art@superiorpromos.com</a>
        </div>

        <div>
            <h2>General Information:</h2>
            <a href="mailto: info@superiorpromos.com">info@superiorpromos.com</a>
        </div>
    </div>
</div>

<aside class="aside-section" ng-show="isShown" watch-height>
    <search-filters></search-filters>
    <subscribe class="hidden-xs hidden-sm"></subscribe>
</aside>
