<script type="text/ng-template" id="mobile_nodes_renderer.html">
  <div 
    ui-tree-handle 
    class="mobile-tree-node-label"
    ng-click="switchCategory($event, category)">
    <span 
      ng-bind-html="category.title | highlightText:$search.catSearchQuery"
      ng-class="{active: $state.includes('router.categories', {slug: category.slug})}">
    </span>
    <i 
      ng-if="category.sub_categories_exist"
      data-nodrag
      ng-click="switchCategory($event, category)"
      class="material-icons"
      ng-class="{
        'arrow_drop_down': category.expanded,
        'arrow_drop_up': !category.expanded
      }"
    >
      keyboard_arrow_right
    </i>
  </div>
  <ol 
    class="mobile-sub-treeview"
    ui-tree-nodes=""
    ng-model="category.sub_categories"
    ng-class="{ active: category.expanded,
                'in-view': categoryIdsList[categoryIdsList.length - 1] === category.id }"
    data-catId="category.id"
    ng-if="category.sub_categories_exist">
    <li id="scrollable-anchor-{{category.id}}">
      <div class="back-btn"
        ng-click="closeCategory(category)">
        <i class="material-icons">
          keyboard_arrow_left
        </i>
        <span class="back-btn-label">Back</span>
      </div>
    </li>
    <li
      ng-repeat="category in category.sub_categories | filter:$search.catSearchQuery:strict track by category.id"
      ui-tree-node
      ng-include="'mobile_nodes_renderer.html'"
    >
    </li>
  </ol>
</script>

<div ui-tree id="tree-root" class="tree-root" ng-class="{ collapsed: collapsedStepsCounter }" data-drag-enabled="tree.disabled">
  <!-- <div id="scrollable-anchor"></div> -->
  <ol ui-tree-nodes ng-model="productCategories">
    <li class="mobile-tree-node"
      ng-repeat="category in productCategories | filter:$search.catSearchQuery:strict track by category.id"
      ui-tree-node ng-include="'mobile_nodes_renderer.html'"
    ></li>
  </ol>
</div>
