@import "../../scss/modules/variables";

.mobile-tree-node {
  position: static;

  .mobile-tree-node-label {
    padding: 10px 15px;
    color: #4c4c4c;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightblue; 

    & > span {
      flex: 1;
      line-height: 24px;
    }
  }

  .mobile-sub-treeview {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    background: #fff;
    transition: 0.3s;
    animation: slide-out-of-view .3s linear forwards;

    &.active {
      animation: slide-into-view .3s linear forwards;
    }
  }

  .angular-ui-tree-node {
    position: static;
  }
}

.back-btn {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid lightblue;
  color: #4784b8;

  .back-btn-label {
    flex: 1;
    font-weight: 600;
  }
}

.tree-root {
  &.collapsed {
    .angular-ui-tree-nodes {
      height: calc(100vh - 58px);
      overflow: hidden;
      
      &.in-view {
        min-height: calc(100vh - 58px);
        height: auto;
        overflow-y: auto;
      }
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide-into-view {
  from { 
    left: 100%;
    right: -100%;
  }
  to {
    left: 0%;
    right: 0%;
  }
}

@keyframes slide-into-view {
  from {
    left: 100%;
    right: -100%;
  }
  to {
    left: 0%;
    right: 0%;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide-out-of-view {
  0% { 
    left: 0%;
    right: 0%;
  }
  99% {
    left: 100%;
    right: -100%;
  }
  100% {
    display: none;
  }
}

@keyframes slide-out-of-view {
  0% { 
    left: 0%;
    right: 0%;  
  }
  99% {
    left: 100%;
    right: -100%;
  }
  100% {
    display: none;
  }
}

