@import "modules/root";
@import "modules/normalize";
@import "modules/variables";
@import "modules/base";
@import "modules/typography";
@import "modules/users";
@import "modules/static";
@import "modules/media";
@import "modules/products";

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  background: white;
  position: static !important;
  height: auto !important;
  min-height: auto !important;
  font-display: swap
}

[ui-view="sidebar"] {
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

[ui-view="content"] {
  width: 100%;

  @media screen and (max-width: 991px) {
    padding: 15px 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  padding: 10px 10px 20px;

  .main-section {
    width: 100%;

    .main-image {
      display: flex;

      & > img {
        width: 80%;
        height: auto;
        max-height: 600px;
      }
    }
  }
}


.payment-danger {
  color: red;
  font-size: 14px;
  &.duplicate {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
