.modal.ng-enter {
    transition: opacity .2s ease-out;
    opacity: 0;
}

.modal.ng-enter.ng-enter-active {
    opacity: 1;
}

.modal.ng-leave {
    transition: opacity .2s ease-out;
    opacity: 1;
}

.modal.ng-leave.ng-leave-active {
    opacity: 0;
}

.btn.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.form-group-sm .form-control {
    height: 25px;
}

.form-group.form-group-sm {
    margin-bottom: 5px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 55px;
    margin: 10px;
}

.status-block {
    font-weight: bold;
    padding: 7px;
}

.order-list-container {
    margin-top: 15px;
}

.order-container {
    border: 1px solid;
    padding-left: 0;
    padding-right:0;
}

.form-block-container {
    border: 1px solid;
    padding-top: 10px;
    margin-bottom: 15px;
}

.form-block-container .drop-box {
    height: 80px;
    padding-top: 25px;
}

.ui-select-container .btn {
    margin-top: 0;
}

.order-container .table-bordered {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.order-container .table {
    color: #353d47;
}

.order-container .table-bordered>thead:first-child>tr:first-child>th {
    border-left: 0;
}

.order-container .table-bordered>thead:first-child>tr>th:last-child {
    border-right: 0;
}

.order-container .important-cell {
    font-size: larger;
}

.order-container .unimportant-cell {
    font-size: smaller;
}

.order-container .table-bordered {
    margin-bottom: 0;
}

.voyager-loader {
    background: #F9F9F9;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 99;
}

.voyager-loader img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-right: -50px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.table.table-info {
    border-color: #d9edf7;
    color: #353d47;
}

.table.table-info > tbody > tr > td,
.table.table-info > tbody > tr > th,
.table.table-info > tfoot > tr > td,
.table.table-info > tfoot > tr > th {
    border-color: #d9edf7;
}

.flat-blue .page-title {
    height: 50px;
    padding-top: 5px;
}

.page-content {
    font-size: 13px;
}

img.admin-thumbnail {
    width: 80px;
    height: 80px;
}

.unimportant-info-block {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.55);
}

.as-sortable-item {
    font-size: large;
}

.section-title {
    font-weight: bold;
}

.table.order-table,
.tree-node .row > [class*="col-"] {
    margin-bottom: 0;
}

.tree-node-title {
    margin-top: 5px;
    font-weight: bold;
}

.tree-root {
    margin-left: 15px;
}

.images-container > .col-md-2 {
    height: 180px;
}

.images-container > .col-md-2 img {
    max-height: 150px;
}

.form-block-container .images-container .drop-box {
    height: 150px;
    padding-top: 55px;
}

.table-info td.col-md-1 input {
    width: 100%;
}

.table-info .full-width .editable-wrap,  
.table-info .full-width input {
    width: 100%;
}

ul.selectable li {
    cursor: pointer;
    padding: 3px;
}

.table-info .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.flat-blue .table .info {
    border-bottom:1px solid dimgray;
}

.color-block {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.table-info tr.as-sortable-item, 
.table-info .as-sortable-placeholder {
    display: table-row;
    font-size: inherit;
}

.drag-icon {
    font-size: larger;
    margin-right: 10px;
}

.table-info .drop-box {
    width: 150px;
    height: 100px;
    padding-top: 35px;
}

body .app-container .content-container .side-menu {
    z-index: 1031;
}

body .navbar {
    z-index: 1030;
}

body .modal-backdrop {
    z-index: 1040;
}

body .modal {
    z-index: 1050;
}

.modal .modal-row.row > [class*="col-"] {
    margin-bottom: 0;
}

.search-form .row > [class*="col-"] {
    margin-bottom: 0;
}

.search-form .selectize-control.single .selectize-input {
    box-shadow: none;
    background: #fff none;
    padding: 5px;
}

html .app-container, 
body .app-container {
    color: #000;
}

.app-container .form-control {
    border: 1px solid #b8b8b8;
}

.sort-icon {
    color: #b8b8b8;
}

.sort-icon.sort-active {
    color: #000;
}

.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle,
.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-nodes {
    font-weight: normal;
}

.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle .angular-ui-tree-edit-button,
.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-nodes .angular-ui-tree-edit-button {
    cursor: pointer;
}

.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle .angular-ui-tree-delete-button,
.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-nodes .angular-ui-tree-delete-button {
    cursor: pointer;
}

.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle .ui-select-highlight {
    background: #ffdc0f;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/*.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle span:hover {
    font-weight: bold;
    font-size: 18px;
    background: dodgerblue;
    color: white;
}*/

.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle .hovered {
    font-weight: bold;
    font-size: 18px;
    background: dodgerblue;
    color: white;
}

.categories-tree .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle .hovered-category {
    font-weight: bold;
    font-size: 18px;
    background: #ffdc0f;
    color: white;
}

.selectize-dropdown {
    width: 200px !important;
}

.product-item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}

.product-item .product-active-status-badge {
    position: absolute;
    right:-20px;
    top:10px;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:9px;
}

.product-item .product-active-badge {
    background:green;
}

.product-item .product-inactive-badge {
    background:red;
}

.preview-image-wrapper {
   position: relative;
   display: inline-block;
   width: auto;
}

.preview-delete-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    background: red;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}

.preview-image {
    display: block;
    max-width: 100px;
    max-height: 100px;
}

.color-multi-select .ui-select-match-item {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}

.color-multi-select span[uis-transclude-append] {
    display: inline-flex;
    align-items: center;
}

.color-multi-select .color-block {
    margin-right: 3px;
}
