@import "../../scss/modules/variables";

.product-color-selector {
  display: flex;
  width: 100%;
  max-height: 125px;
  flex-wrap: wrap;
  border: 1px solid #d8e5ed;
  box-shadow: 0 0 10px #d8e5ed;
  background: #fff;
  border-radius: 6px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #ccc;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #16a1db;
    border-radius: 5px;
  }

  .colors-list {
    display: flex;
    flex-wrap: wrap;
    @media (max-width:576px) {
      justify-content: center;
    }
  }

  .color-selector-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    padding: 5px;
    margin-right: 6px;
    width: 80px;

    .color-display {
      border: 2px solid transparent;
      border-radius: 6px;
      width: 70px;
      height: 70px;
      display: inline-block;
      object-fit: contain;
    }

    .color-name {
      font-size: 11px;
      display: none;
      margin: 0;
    }

    &.active {
      .color-display {
        border-color: #4ac9ff!important;
        border-width: 4px!important;
      }
    }
  }

  &.full {
    .color-selector-item {
      .color-name {
        display: inline-block;
      }
    }
  }
}

.error-color {
  border: 1px solid $color-error;
}

.color-title {
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}
