<div class="product-color-selector" ng-class="{'error-color': error}">
    <ul class="colors-list">
        <li
            class="color-selector-item"
            tooltips
            tooltip-template="{{ ::colorItem.color.title }}"
            tooltip-class="tooltip-720"
            tooltip-side="top"
            ng-repeat="colorItem in typeItem.product_colors track by $index"
            ng-class="{active: colorItem.isActive}"
            ng-click="selectColor(colorItem)">
            <div
                ng-if="::!colorItem.image_src" class="color-display"
                ng-style="getColorStyles(colorItem.color)"
            ></div>
            <img
                ng-if="::colorItem.image_src"
                class="color-display"
                ng-src="{{ ::colorItem.image_src }}"
                fallback-src="img/image-not-available.jpg"
            >
            <span class="color-title">{{ colorItem.color.title }}</span>
        </li>
    </ul>
</div>
