@import "variables";

.quick-search {
  .inp-quick-search {
    outline: none;
    box-shadow: none;
    border: none;
    color: #99adba;

    @media screen and (max-width: 991px) {
      border-top: 1px solid #99adba;
      border-bottom: 1px solid #99adba;
    }
  }

  .btn-quick-search {
    height: 30px;
    background-color: $color-blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    text-transform: uppercase;
    padding: 0;
    margin-right: 0;
  }
}

.order-history-button-toggle {
  border: none;
  box-shadow: none;
  background-color: #e7eef3;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  padding: 1px 0 0 0;
  vertical-align: middle;
  position: relative;
  
  & > img {
    width: 21px;
    height: 21px;
    transform: rotate(0deg);
    transition: transform 0.25s;

    &:hover {
      transform: rotate(-90deg);
    }
  }

  & > span {
    position: absolute;
    width: 150px;
    display: inline-block;
    top: 0;
    left: 37px;
    text-align: left;
    line-height: 20px;
    font-family: $base-font;
  }

  &.button-toggle-right {
    & > img {
      &:hover {
        transform: rotate(90deg);
      }
    }

    & > span {
      text-align: right;
      left: auto;
      right: 37px;
    }
  }

  &.toggled-on {
    & > img {
      transform: rotate(-180deg) translateY(2px);
    }
  }

  &.roll-up-button {
    & > img {
      transform: rotate(180deg) translateY(2px);
    }
  }
}

.account-input-text, 
.account-select .btn, 
.account-select input, 
.account-select input:focus {
  width: 92px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  position: relative;
  z-index: 10;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: none;
}

.aside-section {
  margin-right: 10px;
  padding: 10px 0 15px;

  @media screen and (max-width: 991px) {
    margin: 0;
  }
}

.tooltip-720 {
  background: #22282b;
  border: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 5px 6px;
}

.price-green {
  color: $color-price-green !important;
}

.chat-wrapper {
  @media screen and (max-width: 550px) {
    zoom: 0.7;
  }
}
