@media (min-width: 320px) and (max-width: 991px){
  .main-view-block {
    padding: 0 15px;
  }
}

@media (min-width: 1920px){
  .main-view-block {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .dropdown-component {
    padding: 0 30px;
  }

  .contact-phone {
    font-size: 20px;
  }

  .chat {
    font-size: 12px;
  }

  .header-bottom-nav {
    width: 65%;
    padding-left: 1%;
  }

  .sort-menu {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-bottom-nav {
    li {
      margin-right: 15px;
    }
  }

  .contacts {
    img {
      width: 17px;
    }
  }

  .social-links {
    right: -150px;

    img {
      height: 30px;
    }
  }

  .buy-now {
    height: 78px;
    margin-top: 5px;
  }

  .price-block {
    left: 9px;
    top: 4px;
    height: 63px;
    width: 91px;
  }

  .promo-new-price {
    font-size: 26px;
    top: 10px;
  }

  .promo-old-price {
    top: 43px;
  }

  .promo-mark {
    margin-top: 10px;
    width: 50%;

    li {
      height: 40px;
      margin-right: 0;
    }
  }

  .promo-h2 {
    font-size: 15px;
  }

  .header-bottom-nav {
    width: 58%;
  }
}

@media screen and (max-width: 1340px) {
  .addition-info {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .dropdown-list, 
  .quicklinks-list {
    display: block;
  }

  .quicklinks-list {
    margin-bottom: 0;
    width: 100%;
  }

  .topProducts {
    width: 315px;
  }

  .cart, 
  .header-top {
    font-size: 11px;
  }

  .accordion-wrap {
    padding: 0;

    .panel-heading {
      height: 60px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .sort-menu, 
  .breadcrumbs {
    padding-left: 10px;
    padding-right: 10px;

    .color-items {
      width: 100px;
      height: 22px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-bottom-nav {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  .header-bottom-nav {
    width: 20%;
  }

  .accordion-wrap {
    padding: 0;
  }
  
  .two-col {
    width: 100%;
    display: block;
  }
}
