@import "../../scss/modules/variables";

.footer-title {
  text-align: left;
  text-align-last: left;
  font-family: "Roboto" , sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  color: $color-black;
}

.promo-show-more {
  float: right;
  font-family: "Roboto" , sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-decoration: none;
  color: $color-black;
  width: 35%;
  padding: 16px 0 15px 38px;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 10px;
  }

  &.background-default {
    background-color: rgba(53, 151, 219, 0.15);
  }
}

.item-number, 
.as-low {
  font-family: "Roboto" , sans-serif;
  font-size: 12px;
  opacity: 0.8;
  margin-right: 5px;
  line-height: 1.09;
  color: #2d3539;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.item-number {
  margin-right: 0;
}

.promo-slider {
  .layer {
    position: relative;
  }

  .carousel-indicators {
    z-index: 8;

    li {
      width: 6px;
      height: 6px;
      border: none;
      background-color: $color-light-grey;
      margin-left: 6px;

      &.active {
        background-color: $color-blue;
        width: 6px;
        height: 6px;
        margin: 1px 1px 1px 6px;
      }
    }
  }

  .carousel-control {
    &.left, 
    &.right {
      display: none;
    }
  }

  .carousel-control:hover, 
  .carousel-control {
    background-image: none;
    width: 5%;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  .glyphicon-chevron-left, 
  .glyphicon-chevron-right {
    &:before {
      content: none;
    }
  }

  &:hover {
    .glyphicon-chevron-left {
      &:before {
        content: "";
      }
    }

    .glyphicon-chevron-right {
      &:before {
        content: "";
      }
    }
  }
}

.promo-slide {
  position: relative;
}

.product-detailed-info-modal {
  display: block;
  width: 100%;
  z-index: 1000;
  height: 1000%;
  background-color: $color-white;
  position: fixed;
  right: 0;

  & > .modal-wrapper {
    position: relative;
  }
}

.step-container {
  margin-top: 4px;

  md-tabs.product-options-top-tabs {
    width: 40%;
    min-width: 256px;

    md-tabs-canvas, 
    md-pagination-wrapper {
      height: 34px;
    }

    md-tab-item.md-tab {
      text-transform: none;
      font-size: 13px;
      color: #22282b;
      background-color: $color-white;
      line-height: 13px;
      padding: 11px 14px;
      margin: 0 8px 6px 0;
      transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
      border-top-right-radius: 5px;
      border-top: 1px solid #d8e5ed;
      border-right: 1px solid #d8e5ed;

      &.md-active {
        color: $color-dark-blue;
        border-top-color: $color-dark-blue;
        border-right-color: $color-dark-blue;
      }
    }
  }

  .product-options-tabpanel-container {
    display: block;
    position: relative;
    background: $color-white;
    border: none;
    height: auto;
    overflow: hidden;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;

    [role="tabpanel"] {
      width: 100%;
      height: 100%;
      transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
      z-index: 110;
      opacity: 1;
      padding: 15px 0 0 0;
      border-top: solid 1px #d8e5ed;
      position: relative;

      .color-name {
        font-size: 11px;
      }

      .product-options-group-scroll-wrap {
        max-height: 260px;
      }

      .product-options-group {
        .product-options-group-name {
          font-size: 13px;
          line-height: 1.15;
          letter-spacing: -0.2px;
          color: $color-black;
          margin-bottom: 14px;

          .option-group-price {
            color: $color-dark-blue;
            margin-left: 24px;
            letter-spacing: -0.2px;
          }
        }

        .product-option-wrap {
          margin-bottom: 12px;

          .suboption-price {
            color: $color-blue;
            display: inline-block;
            margin-left: 12px;
            letter-spacing: -0.2px;
          }

          &.md-checked {
            .suboption-price {
              color: $color-dark-blue;
            }
          }
        }

        md-radio-group {
          &.ng-empty {
            .product-options-group-name {
              &.option-required {
                color: $color-error;
              }
            }
          }
        }
      }
    }

    [role="tabpanel"].ng-leave.ng-leave-active,
    [role="tabpanel"].ng-enter {
      transform: rotate3d(0, 1, 0, 90deg);
      opacity: 1;
      transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
    }

    [role="tabpanel"].ng-leave,
    [role="tabpanel"].ng-enter.ng-enter-active {
      transform: rotate3d(0, 1, 0, 0deg);
    }

    [role="tabpanel"].ng-leave {
      position: absolute;
      z-index: 100;
      opacity: 0.1;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.modal-view {
  position: fixed;
  top: 152px;
  z-index: 1000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.addition-info {
  float: left;
  padding: 20px 5px 5px 35px;
  width: calc(100% - 1135px);
  min-width: 150px;

  .additional-message {
    max-width: 217px;
    opacity: 0.5;
    font-size: 11px;
    line-height: 1.09;
    letter-spacing: -0.2px;
    color: $color-black;
    margin-bottom: 9px;
  }

  a, 
  a:hover, 
  a:active, 
  a:focus {
    display: block;
    line-height: 1.54;
    color: $color-dark-blue;
    font-size: 11px;
    margin-bottom: 12px;
  }

  .link-img {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  .social-links {
    position: static;
    margin: 15px 0;
  }

  li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align-last: center;
    margin-right: 6px !important;

    img {
      position: absolute;
      top: 0;
      left: -2px;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 28px;
      height: 28px;
    }
  }
}

.update-profile-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width:768px) {
    margin-bottom: 15px;
  }
}

.blue-button {
  max-width: 130px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #4ac9ff;
  border: none;
  box-shadow: none;
  outline: none;
  font-family: "Roboto" , sans-serif, sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  color: $color-white;

  img {
    width: 17px;
    height: 20px;
    margin-right: 8px;
  }

  span, 
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.custom-qty {
  width: 200px;
  height: 34px;
  border-radius: 6px;
  border: solid 5px #e6eef2;
  position: relative;
  transition: border 0.3s;
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #2d3539;

  @media screen and (max-width: 1200px) {
    width: 145px;
  }

  @media screen and (max-width: 991px) {
    width: 200px;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    color: #8d9ea2;
    font-weight: 600;
  }
}

.custom-qty.error.ng-not-empty {
  border: solid 1px $color-error;

  &:before {
    content: "";
  }
}

.zipcode-input.ship-input-text {
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2d3539;
  max-width: 120px;
  width: 100%;
  transition: border 0.3s;
  text-align: center;
  @media (max-width:576px) {
    max-width: none;
  }

  &::placeholder {
    color: #2d3539;
    opacity: .5;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
  }
}

.zipcode-input.ng-valid.ng-not-empty {
  border: solid 1px #4ac9ff;
}

.zipcode-input.ng-invalid {
  border: solid 1px $color-error;
}

.selected-price {
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2d3539;
}

.modal-all-colors {
  max-height: 160px;
}

.fadeIn {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.promo-slide{
  &.fadeIn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
}

.sizes-info {
  font-size: 13px;
  line-height: 1.54;
  color: #2d3539;
  position: relative;

  .small-text {
    display: block;
    font-size: 11px;
    line-height: 1.09;
    letter-spacing: -0.2px;
    opacity: 0.5;
  }
}

.size-name {
  font-family: "Roboto" , sans-serif, sans-serif;
  font-size: 11px;
  line-height: 1.82;
  text-align: center;
  opacity: 0.49;
  color: #22282b;
}

.sizes-breakdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #d8e5ed;
  padding: 15px 0;

  * {
    display: inline-block;
    vertical-align: top;
  }

  input, 
  .size-name {
    display: block;
  }

  input.ng-dirty, 
  input.set-fake-dirty {
    outline: none;
    border: 4px solid #4ac9ff;
  }

  input, 
  input.ng-empty {
    width: 52px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #d8d8d8;
    outline: 3px solid transparent;
    padding: 8px 0;
    text-align: center;
    font-size: 13px;
    font-family: "RobotoBold", sans-serif;
    line-height: 1.54;
    color: #22282b;
  }

  ::-webkit-input-placeholder {
    color: $color-black;
  }

  ::-moz-placeholder {
    color: $color-black;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }

  input:focus {
    outline: none;
    border: 4px solid #4ac9ff;
  }

  input.ng-invalid, 
  input.ng-invalid:focus {
    outline: none;
    border: 4px solid #ff0201;
  }
}

.size {
  padding-left: 4px;
}

.additional-size-info {
  font-size: 13px;
  width: 352px;
  padding: 15px 0;
}

.md-primary.md-checked {
  .md-icon {
    background-color: #b5bfc6;
    border-color: #b5bfc6;
  }
}

.additional-size-info, 
.ship-option, 
.art-block, 
.form-links {
  md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon, 
  md-checkbox:not([disabled]).md-primary.md-checked .md-icon, 
  md-checkbox:not([disabled]).md-primary.md-indeterminate .md-icon {
    background-color: #b5bfc6;
    border-color: #b5bfc6;
  }
  
  md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-ink-ripple, 
  md-checkbox:not([disabled]).md-primary.md-checked .md-ink-ripple {
    color: #b5bfc6;
  }
}

md-checkbox.small-checkbox .md-icon {
  width: 12px;
  height: 12px;
}

md-checkbox.md-indeterminate.small-checkbox .md-icon {
  &:after {
    border-color: rgba(255, 255, 255, 0.87);
    height: 1px;
    border-width: 1px;
    width: 8px;
    border-right: 0;
  }
}

.grey-checkbox, 
.blue-checkbox {
  .md-icon {
    border-color: #b5bfc6 !important;
  }

  .md-container, 
  .md-icon {
    width: 14px;
    height: 14px;
    margin-top: -1px;
  }
}

.blue-checkbox {
  .md-icon {
    border-color: $color-blue !important;
  }
}

md-checkbox.md-checked {
  .md-icon:after {
    top: -1px;
    left: 2px;
    height: 10px;
  }
}

.blue-checkbox.md-checked {
  .md-icon {
    background-color: $color-blue !important;
  }
}

md-checkbox.blue-checkbox.md-checked.small-checkbox .md-icon:after {
  left: 2px;
  top: -2px;
  width: 5px;
  height: 10px;
}

.grey-label {
  .md-label {
    color: #b5bfc6;
  }
}

.sizes-info-notes {
  font-size: 11px;
  opacity: 0.5;
  margin-left: 15px;

  li {
    position: relative;
    margin: 0 0 0 15px;
    line-height: 1.36;

    &:before {
      content: "*";
      position: absolute;
      left: -30px;
      top: 0;
      font-size: 18px;
      color: #454f51;
    }
  }
}

.ship-option {
  padding: 5px;
  margin-bottom: 10px;
  @media (max-width:576px) {
    padding: 10px 5px;
  }

  &.padded {
    padding: 11px 5px;
  }

  &:first-child {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  &:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &.ship-option-full-width {
    width: 100%;
    display: flex;

    @media (min-width: 991px) and (max-width: 1280px) {
      display: block;
    }

    @media screen and (max-width: 768px) {
      display: block;
    }
    .shipment-options {
      @media (min-width: 991px) and (max-width: 1280px) {
        width: 100%;
        margin-top: 20px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  .text-muted {
    color: #899399;
  }

  ::-webkit-input-placeholder {
    color: rgba(45, 53, 57, 0.5);
  }

  ::-moz-placeholder {
    color: rgba(45, 53, 57, 0.5);
  }

  md-radio-button.md-default-theme .md-off,
  md-radio-button .md-off {
    border: 2px solid rgba(45, 53, 57, 0.5);
  }

  md-radio-button.md-default-theme.md-checked .md-off,
  md-radio-button.md-checked .md-off {
    border-color: $color-darkest-blue;
  }

  md-radio-button.md-default-theme .md-on,
  md-radio-button .md-on {
    background-color: $color-darkest-blue;
  }

  md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
  md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
    background-color: $color-darkest-blue;
    opacity: 0.1;
  }

  &.ship-cost {
    background-color: $color-white !important;
  }
}

.date-shipping {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  .radio-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      margin-bottom: 10px;  
    }
  }
}

.ship-option-zip {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.grey {
  color: $color-black;
  line-height: 1.3;
}

.error md-datepicker, 
input.error,
.ship-select.error {
  border-radius: 6px;
  .ui-select-toggle {
    border: 1px solid red;
  }
}

.small-text {
  font-family: "Roboto" , sans-serif, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
}

.shipping-info-modal {
  border-bottom: solid 1px #d8e5ed;
  padding: 0 0 23px;

  .shipment-text, 
  .contact-info {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.2px;
    color: #899399;

    &.ship-option-wrap {
      &.ship-cost-option {
        padding-top: 0;
      }

      &.contact-info {
        padding-top: 20px;
        color: #2d3539;
        font-size: 14px;
        line-height: 1.36;
        display: block;
        text-align: center;

        .text-emphasis {
          color: $color-dark-blue;
        }
      }

      &.action-block {
        color: #2d3539;
        display: flex;
        justify-content: space-between;

        .shopping-cart {
          color: $color-darkest-blue;
          margin-right: 10px;
        }

        .text {
          color: #2d3539;
          font-size: 13px;
          font-weight: normal;
          line-height: 1.54;
          letter-spacing: normal;
          display: flex;
          align-items: center;
        }

        .btn-next {
          background: #4ac9ff;
          font-size: 23px;
          font-weight: 900;
          line-height: 0.96;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          width: 264px;
          height: 54px;
          border-radius: 0;
          text-transform: uppercase;
          margin-right: 0;
        }
      }
    }
  }

  .shipment-text.ship-option-wrap.ship-cost-option {
    padding: 0 20px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #d8e5ed;
  }

  .ship-option-wrap {
    .date-shipping {
      md-datepicker .md-datepicker-input {
        color: $color-darkest-blue !important;
      }
    }

    &.tax-option, 
    &.ship-time-option, 
    &.ship-method-option, 
    &.ship-cost-option {
      border-bottom: solid 1px #d8e5ed;
      display: flex;
      flex-direction: column;
      padding: 0 20px;

      .md-radio-group {
        display: flex;
        flex-direction: column;
      }

      .ship-label {
        padding: 0 15px 15px 0;
        font-family: $base-font;
        width: 100%;
        position: relative;

        .error-notify {
          position: absolute;
          left: 0;
          bottom: 5px;
        }

        .ship-header {
          font-size: 14px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #454f51;
          text-transform: uppercase;
          margin-bottom: 7px;
        }

        .ship-text {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: -0.2px;
          color: #899399;
          margin-top: 5px;
          margin-bottom: 5px;

          strong {
            color: #2d3539;
            font-weight: 500;
            line-height: 1;
          }
        }
      }

      .option-container {
        width: 100%;

        .ship-text {
          display: flex;
          flex-direction: column;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: -0.2px;
          color: #899399;
          margin-top: 5px;
          margin-bottom: 5px;

          strong {
            color: #2d3539;
            font-weight: 500;
            line-height: 1;
          }

          span {
            padding: 5px 0;
            color: $color-darkest-blue;
          }
        }

        .text-note {
          padding: 0 10px;
          display: block;
          line-height: 20px;

          & :first-child {
            line-height: 40px;
          }
        }
      }

      .tax-info {
        width: 100%;
      }
    }

    &.ship-time-option {
      position: relative;
      padding: 0 20px;
      border-bottom: none;

      .ship-label {
        display: flex;
        align-items: center;

        .ship-header {
          margin-bottom: 5px;
        }
      }

      .error-notify {
        bottom: 5px;
      }
    }

    &.ship-method-option {
      position: relative;

      .ship-label {
        display: flex;
        align-items: center;
      }

      .md-radio-group {
        display: flex;
      }

      .ship-option-block {
        width: 100%;
      }

      .error-notify {
        bottom: 5px;
      }
    }

    &.ship-cost-option {
      padding: 0;
      border-bottom: none;
      margin-bottom: 0;

      .ship-label {
        display: flex;
        align-items: center;
      }

      .ship-option-block {
        width: 100%;
      }

      .shipment-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 25px;
        border-radius: 0;

        .shipment-header-block {
          display: flex;
          width: 100%;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.54;
          letter-spacing: normal;
          color: #2d3539;
          margin-bottom: 10px;
          margin-top: 10px;

          .header-name {
            width: 50%;
          }

          .header-term {
            width: 30%;
            text-align: right;
          }

          .header-price {
            width: 20%;
          }
        }

        .shipment-delivery {
          display: flex;
          width: 100%;
          font-size: 13px;
          color: #22282b;
          font-weight: normal;
          margin-bottom: 15px;
          border-bottom: 1px solid;
          padding-bottom: 5px;

          .ship-name {
            width: 50%;
          }

          .ship-price {
            width: 20%;
          }
          
          .ship-term {
            width: 30%;
            text-align: right;
          }
        }

        .shipment-options-no-item {
          color: #f15642;
          display: flex;
          align-items: center;
          font-size: 11px;

          .warn-sign {
            margin-right: 5px;
            font-size: 18px;
          }
        }
      }
    }

    &.tax-option {
      flex-direction: row-reverse;

      .tax-info {
        display: flex;
        padding-left: 20px;
        justify-content: flex-start;
        border-radius: 6px;

        .tax-text {
          margin-left: 15px;
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #899399;
        }
      }

      .ship-label {
        display: flex;
        align-items: center;

        .ship-header {
          margin-bottom: 0;
        }
      }
    }
  }

  md-radio-group {
    width: 100%;
  }

  .ship-option {
    background: $color-background;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > md-datepicker {
      align-self: flex-end;
    }

    .md-label {
      margin-left: 0;
    }

    .md-container {
      left: -37px;
      top: 50%;
    }

    md-radio-button {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      font-size: 13px;
      line-height: 1;
      letter-spacing: normal;
      color: #2d3539;
      padding-right: 40px;
      margin: 5px 0;

      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    &.ship-option-zip {
      justify-content: flex-start;
      padding-left: 60px;
      @media (max-width:576px) {
        button {
          margin-top: 15px;
        }
      }
    }

    .ship-zip {
      display: flex;
      align-items: center;
      margin-right: 20px;

      @media (max-width:576px) {
        flex-direction: column;
        span {
          margin-top: 15px;
          display: block;
        }
        
      }

      @media screen and (max-width: 400px) {
        margin-bottom: 10px;
      }

      .shipping-fast-img {
        width: 22px;
        height: 17px;
        margin-right: 20px;
      }
    }

    .btn-get-cost {
      @media screen and (max-width: 550px) {
        white-space: pre-wrap;
        height: auto;
      }
    }
  }

  .tax-option {
    .md-container {
      top: 20%;
      left: -20px;
    }
  }
}

.btn.btn-get-cost {
  height: 24px;
  background-color: #4ac9ff;
  color: $color-white;
  text-transform: uppercase;
  padding: 0 15px;
  margin-right: 0;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;

  &:disabled {
    background: #b5bfc6;
    opacity: 1;
  }
}

.ship-option, 
.imprint-decorate-options {
  font-size: 13px;
  position: relative;
  padding-left: 23px;

  md-radio-button, 
  md-checkbox {
    margin-bottom: 0;
  }

  .small-text {
    display: block;
  }

  .md-off {
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &.no-shipping-account-right {
    padding: 2px 0 0 26px;

    .zip-options-loadprogress {
      position: absolute;
      top: 8px;
      left: 0;
      right: 0;
      margin: 0 auto;

      path {
        stroke: $color-dark-blue;
      }
    }
  }

  .account-radio {
    width: 80%;
    display: flex;
    justify-content: space-between;
    @media (max-width:576px) {
      flex-direction: column;
      .ship-account {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .ship-account {
      flex: 0 0 32.7%;

      .ui-select-match {
        border-radius: 4px;
      }

      input, 
      .text-muted {
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #2d3539;
        padding-left: 5px;
      }

      input::placeholder {
        color: #899399;
      }

      .ui-select-toggle {
        display: flex;
        align-items: center;
      }
    }
  }

  .zipotion-radio {
    margin-bottom: 9px;

    .md-label {
      width: 100%;

      .zip-option-info {
        width: 148px;
      }
    }
  }

  .ship-option-label {
    vertical-align: middle;
    display: inline-block;
    height: 24px;
  }
}

.ship-option.md-checked,
.ship-option md-radio-button.md-checked,
.imprint-decorate-options md-radio-button.md-checked {
  .md-label {
    .grey {
      color: #2d3539;
      font-weight: 500;
    }
  }

  .md-off {
    width: 20px;
    height: 20px;
  }
}

.ship-input-text, 
.ship-select .btn, 
.ship-select input, 
.ship-select input:focus {
  height: 24px;
  border-radius: 6px;
  position: relative;
  z-index: 10;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  border: none;
  background: $color-white;
}

.zipcode-input:focus::placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent !important;
}

.ship-select {
  display: inline-block;
  vertical-align: top;
  flex: 1;

  .form-control {
    font-size: 13px;
    letter-spacing: 0;
    color: rgb(45, 53, 57);

    &:hover {
      background-color: $color-white;
    }
  }

  .btn {
    padding: 2px;
  }

  .btn-default-focus {
    box-shadow: none;
  }

  .dropdown-menu {
    min-width: 92px;
    font-size: 13px;
  }

  .ui-select-choices-row {
    .ui-select-choices-row-inner {
      display: flex;
      padding: 3px;
    }

    &.active {
      .ui-select-choices-row-inner {
        background-color: #4ac9ff !important;
      }
    }
  }

  .selected-color {
    display: flex;

    .color-sample {
      width: 23px;
      height: 20px;
    }

    .color-title {
      display: flex;
      align-items: center;
    }
  }
}

.color-sample {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  margin-right: 5px;
}

.ship-radio-content {
  .md-select-menu-container {
    display: none;
  }
}

.sizes-help {
  color: #cc1a1a;
  font-size: 11px;
  position: absolute;
  width: 200px;
  top: 100%;
}

md-datepicker {
  background: #fff;
  border-radius: 4px;
  max-width: 150px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  &._md-datepicker-has-triangle-icon {
    padding-right: 0;
    margin-right: 0;
  }

  .md-button.md-icon-button {
    margin: 0;
    padding: 0;
    height: 24px;
    min-height: 24px;

    &.md-focused {
      background: none;
    }
  }

  .md-datepicker-triangle-button.md-button.md-icon-button {
    display: none;
  }

  .md-datepicker-input-container {
    border-bottom: none;
  }

  .md-datepicker-input {
    min-width: 100px !important;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #899399;
  }

  md-icon {
    height: 20px;
    min-height: 20px;
    color: #99adba;
  }
}

.md-datepicker-calendar-pane {
  z-index: 10000000;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: #4ac9ff;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
  border-color: #4ac9ff;
}

.md-calendar-date-selection-indicator {
  line-height: 38px;
}

.md-datepicker-open {
  .md-datepicker-calendar-icon {
    color: #4ac9ff;
  }
}

.md-datepicker-input-container.md-datepicker-focused {
  border-bottom-color: #4ac9ff;
}

.md-datepicker-calendar {
  th {
    padding: 15px 0 16px;
    height: 0;
  }
}

.datepicker-modal {
  margin-left: -20px;

  md-icon {
    width: 20px;
    height: 20px;
    fill: #b5bfc6;
  }
}

md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
  background-color: transparent;
}

.last-option {
  margin-bottom: 0;

  md-radio-button {
    margin-bottom: 0;
  }
}

.step2-notes {
  width: 100%;
  padding-top: 23px;

  a, 
  a:hover, 
  a:focus {
    color: #337ab7;
  }

  .left-note, 
  .right-note {
    width: 50%;
    font-size: 11px;
  }

  .left-note {
    padding-right: 32px;
  }

  .right-note {
    padding-left: 30px;

    li {
      margin-top: 10px;
    }
  }
}

.step3-content {
  border-top: solid 1px #d8e5ed;
  margin-top: 5px;
  padding-top: 15px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.or {
  font-size: 13px;
  display: inline-block;
  margin: 0 10px;
}

.art-block {
  width: 50%;

  &.left {
    width: 40%;
  }

  &.right {
    width: 60%;
    padding-left: 48px;
  }
}

.art-block.imprints-block {
  font-size: 13px;
  color: $color-black;
}

.product-imprint-addcomment-textarea {
  width: 100%;
  height: 80px;
  border-radius: 6px;
  border: 1px solid rgba(180, 191, 198, 0.5);
  resize: none;
  text-align: left;
  padding: 4px 6px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 8px;
  line-height: 1.2em;
}

.uploadfile-hint {
  line-height: 1.36;
}

.step3-info {
  width: 100%;
  padding: 14px 0 0;

  a, 
  a:hover, 
  a:focus, 
  a:active {
    margin-bottom: 8px;
  }
}

.error-shipping {
  color: $color-error;
}

.error-notify {
  position: absolute;
  color: $color-error;
  font-size: 14px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.25s;
  bottom: -15px;

  &.show {
    z-index: 1;
    opacity: 0.7;
  }
}
