@import "../../scss/modules/variables";

html {
  background-color: white;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: auto;
}

.main-view {
  min-height: 100vh;
  background-color: white;
}

.main-view-block {
  max-width: 1645px;
  display: flex;
  margin: 0 auto;
  padding: 115px 15px 40px;
}

.flex {
  display: flex;
}

.flex-center-vertical {
  align-items: center;
}

.flex-center-horizontal {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.p-0 {
  padding: 0 !important;
}
