
.static-title {
  font-size: 22px;
  font-weight: 700;
  color: #22282b;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}

.two-col {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding: 0 20px;
}

.panel-default {
  border: none;
  box-shadow: none;
  .panel-body {
    font-size: 13px;
    color: #454f51;
    line-height: 1;
    font-weight: normal;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #b5c0c7;
      opacity: 0.51;
      width: 92%;
      right: 15px;
      bottom: 0;
    }
    p {
      overflow: auto;
      overflow-y: hidden;
      padding: 15px 0;
      font-size: 15px;
      line-height: 22px;
      &::-webkit-scrollbar {
        height: 6px;
        background-color: #ccc;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        height: 6px;
        background-color: #16a1db;
        border-radius: 10px;
      }
    }
  }
  .panel-heading {
    background-color: transparent;
    line-height: 1.23;
    border: none;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #b5c0c7;
      opacity: 0.51;
      width: 92%;
      right: 15px;
      bottom: 0;
    }
    span, a {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      color: #454f51;
      text-transform: capitalize;
    }
  }
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}


.accordion-wrap {
  .panel-open {
    .panel-heading {
      &:before {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
  }

  .panel-heading {
    position: relative;
    height: 45px;
    line-height: 35px;
    padding: 2px 15px 2px 0;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgb(231, 238, 243);
      background-image: url("~assets/img/material-icons/ic_chevron_right_black.svg");
      background-size: 90% 90%;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      left: 10px;
      top: calc(50% - 10px);
      z-index: 0;
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    a {
      display: block;
      padding: 10px 0 10px 40px;
      background: transparent;
      position: relative;
    }
  }
}

.go-shopping {
  max-width: 200px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(44, 166, 216);
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 1.54;
  color: $color-white;
  margin: 37px auto 0;
  display: block;
  text-transform: capitalize;
}

.choose-industry {
  font-size: 16px;
  line-height: 1.36;
  margin-left: 10px;
  color: rgba(45, 53, 57, 0.5);
}

.choose-industry, 
.view-glossary {
  display: inline-block;
  vertical-align: middle;
}

.view-glossary {
  max-width: 200px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(216, 216, 216, 0.26);
  border: none;
  box-shadow: none;
  outline: none;
  margin-left: 15px;
  color: rgb(45, 53, 57);
  font-size: 11px;
  padding-left: 14px;

  span, 
  img {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    margin-left: 10px;
  }
}

.choose-industry-wrap {
  margin-bottom: 23px;
  @media(max-width:576px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      margin: 0;
    }
    button {
      margin: 10px 0 0 0;
    }
  }
}

.view-glossary.up {
  img {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.delivery-col {
  line-height: 1.3;
  font-size: 13px;
  color: rgb(34, 40, 43);
  margin-bottom: 30px;
  font-weight: normal;
}

.margin-0 {
  margin: 0;
}

.brands-list {
  height: 50px;
  overflow: hidden;
  filter: opacity(60%);

  li {
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
  }
}

.guarantee-block {
  font-size: 13px;
  margin-bottom: 40px;
  line-height: 1.23;

  img {
    height: 80px;
  }
}

.mission-head {
  text-align: center;
  margin-bottom: 40px;

  img {
    height: 70px;
  }
}

.guarantee-head {
  text-align: center;
  height: auto;
  margin-bottom: 30px;

  img {
    height: 80px;
  }
}

.guarantee-heading {
  text-transform: uppercase;
  margin: 15px 0 5px;
  font-family: "Roboto", sans-serif;
}

.extra-info {
  font-size: 11px;
  color: rgba(69, 79, 81, 0.69);
  margin-top: 5px;
  line-height: 1.45;
}

.order-process-content {
  .guarantee-info {
    font-size: 13px;
    margin: 0 auto;
    line-height: 1.08;
    color: #22282b;
    font-weight: normal;
  }

  a, 
  a:focus, 
  a:hover {
    color: #22282b;
    text-decoration: none;
    font-weight: 500;
  }

  .blue {
    color: #2c84d2;
    font-family: "Roboto", sans-serif;
  }

  .tel {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #2c84d2;
    font-weight: 900;
  }

  .m-5 {
    margin-top: 5px;
  }

  .static-title {
    margin-bottom: 60px;
  }

  .order-block {
    margin-bottom: 60px;
  }
}

.mission-title {
  font-family: "RobotoBold", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #22282b;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  height: 40px;

  .small {
    text-transform: none;
    font-size: 13px;
  }
}

.art-title {
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #22282b;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 36px;
  margin-bottom: 10px;
}

.art-info {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.27;
  color: #22282b;

  p {
    margin-bottom: 15px;
  }
}

.artwork {
  .order-block {
    height: 400px;
  }
}

.about {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.23;
  color: #454f51;

  img {
    max-height: 63px;
  }

  .img-list {
    text-align: center;
    margin: 35px 0;
  }

  p {
    margin: 10px 0;
  }

  .view-all {
    margin: 37px auto;
  }
}

.about-title {
  text-transform: uppercase;
  line-height: 1.46;
  color: #454f51;
  margin: 20px 0 40px;
  font-size: 13px;
  font-weight: 500;

  &.about-secondary-header {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.mb-15 {
  margin-bottom: 15px;
}

.rmedium {
  font-family: "Roboto", sans-serif;
}

.samples .order-block {
  height: 480px;

  .check {
    margin-right: 10px;
    width: 15px;
    float: left;
    margin-top: 5px;
  }

  span {
    overflow: hidden;
    display: block;
  }
}

/* textarea editable */

.ta-toolbar {
  padding: 10px 0;

  .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
  .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
  .btn-group>.btn:last-child:not(:first-child), 
  .btn-group>.dropdown-toggle:not(:first-child) {
    border: none;
    border-radius: 6px;
    background: $color-white;
  }

  .btn-group {
    .btn {
      @media screen and (max-width: 767px) {
        margin-bottom: 8px;
      }
    }
  }
}

.ta-editor, 
.sample-area {
  font-size: 11px;
  resize: none;
  border: none;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  min-height: 125px;
  overflow: auto;

  .ta-bind {
    height: 100%;
  }
}

.ta-root {
  padding: 0;
}

.sample-area {
  ul {
    list-style-type: disc;
    margin-left: 15px;
  }

  ol {
    list-style-type: decimal;
    margin-left: 15px;
  }
}

.whitebg {
  background: white;
}
