.login-modal {
  width: 863px;
  height: 620px;
  background-color: $color-white;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translate(0%, -50%);
  display: none;
  color: $color-black;
  padding: 27px 44px 39px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.49);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.49);

  .login-modal-steps-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .forgot-password-block {
      display: flex;
      align-items: center;
      height: 100%;

      .remember_me {
        margin-top: 7px;

        .md-container {
          margin-top: -3px;
        }
      }
    }
  }

  .form-fields {
    display: flex;
    justify-content: space-between;

    .registration-auth-data, 
    .registration-user-data {
      width: 43%;
    }
  }
}

.login-step, 
.forgotpassw-step {
  background: #fff url("~assets/img/pens.png") no-repeat;
  background-position: 0 0;
  background-size: 80% 80%;
  object-fit: contain;
}

.login-heading {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  margin: 6px auto 0;
  padding: 0 8px;
  display: inline-block;
}

.form-text-divider {
  font-size: 13px;
  font-weight: normal;
  font-family: $base-font;
  color: $color-black;
  margin: 8px 0 14px;
}

.side-middle-line {
  width: auto;
  padding: 0;
  display: inline-block;
  position: relative;

  &:before, 
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 1px;
    border-bottom: 1px solid #d8d8d8;
    top: 49%;
  }

  &:before {
    left: -56px;
  }

  &:after {
    right: -56px;
  }
}

.registration-heading, 
.forgotpassw-heading, 
.report-heading {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  color: $color-black;
  margin-bottom: 30px;
}

.registration-heading {
  margin-bottom: 10px;

  .registration-sub_heading {
    margin-top: 10px;
  }
}

.report-heading {
  margin-bottom: 26px;
}

.report-msg {
  font-size: 19px;
  line-height: 1.26;
  margin-top: 19px;
  font-family: $base-font;
  font-weight: normal;
}

.forgotpassw-heading {
  margin: 6px 0 13px;
}

.fp-form {
  text-align: center;
}

.passw-info {
  max-width: 243px;
  margin: auto;
  font-family: $base-font;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 1.43;
  border-bottom: solid 2px #d8d8d8;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.registration-step {
  padding: 40px 192px;
  overflow-y: auto;
}

.report-step {
  padding: 0;
}

.report-content {
  width: 50%;
  background-color: $color-white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-content {
  width: 100%;
  text-align: center;
}

.login-info {
  width: 36%;
  text-align: right;
  color: $color-black;
  margin-bottom: 12px;

  .bold {
    font-family: "RobotoBold", sans-serif;
    font-size: 24px;
    line-height: 1.5;
  }
}

.register-info, 
.forgot-passw-info {
  font-size: 13px;
  line-height: 1.39;
  font-family: $base-font;
}

.register-info {
  padding-left: 50px;
}

.help-block {
  display: none;
}

.has-error {
  .help-block {
    display: block;
    font-size: 11px;
    color: #ce031c;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 0;
  }

  .form-control {
    border: solid 1px rgba(205, 3, 27, 0.71);
  }

  .form-control:focus {
    border: solid 1px rgba(205, 3, 27, 0.71);
    box-shadow: 0 0 2px 0 rgba(205, 3, 27, 0.6);
  }
}

.form-group {
  position: relative;
  margin-bottom: 16px;

  .authorization-error {
    display: block;
    font-size: 11px;
    color: #ce031c;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    margin-top: 0;
  }

  &.phone {
    display: flex;
    justify-content: space-between;

    .phone {
      width: 62%;
    }

    .ext {
      width: 30%;
    }
  }

  &.name, 
  &.company {
    display: flex;
    justify-content: space-between;

    .country, 
    .fname {
      width: 46%;
    }

    .zpcode, 
    .mname {
      width: 46%;
    }
  }
}

.login-form {
  position: relative;
  width: 290px;
  margin: 5px auto 0;

  button, 
  input {
    width: 100%;
    height: 36px;

    &.facebook-btn, 
    &.google-btn {
      width: 48.6%;
    }
  }

  .form-links {
    margin: 0 0 11px;
    width: 100%;
    text-align: left;

    md-checkbox {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }

    .md-label {
      margin-left: 20px;
      margin-top: -7px;
    }

    &.report-links {
      .forgot-password {
        display: inline-block;
        padding: 8px 0 18px;
      }

      md-checkbox {
        margin-bottom: 0;
        display: inline-block;
      }
    }
  }

  .forgot-password {
    display: inline-block;
    padding: 18px 0;
  }

  a, 
  a:hover, 
  a:focus {
    font-size: 11px;
    color: #2c84d2;
  }

  ::-webkit-input-placeholder {
    color: rgba(34, 40, 43, 0.5);
  }

  ::-moz-placeholder {
    color: rgba(34, 40, 43, 0.5);
  }
}

.report-form, 
.report-links {
  width: 228px;
}

.report-step {
  background-color: #e7eef3;
}

.msg-wrap {
  width: 50%;
  position: relative;
  padding: 0 109px;
  text-align: center;
}

.flash.success {
  color: #3c763d;
}

.flash.error {
  color: #a94442;
  margin-bottom: 7px;
}

.user-button {
  border: none;
}

.quick-button {
  border-radius: 14px;
  color: $color-white;
  text-transform: uppercase;
  font-size: 13px;
  padding: 8px 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
}

.button-grey {
  background-color: $color-light-grey;
}

.button-green {
  background-color: $color-light-green;
}

.button-orange {
  background-color: $color-orange;
}

.button-red {
  background-color: $color-red;
}

.flash.success, 
.flash.error {
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  text-align: center;
}

.login-flash {
  top: 0;
  left: 0;
}

.login-logo {
  margin-top: -5px;

  img {
    width: 100%;
    height: auto;
    margin-right: -3px;
  }
}

.sign-in-btn, 
.register-btn, 
.next-btn, 
.prev-btn, 
.facebook-btn, 
.google-btn {
  width: 228px;
  height: 36px;
  margin-bottom: 12px;
  font-size: 13px;
  border-radius: 6px;

  img, 
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.facebook-btn, 
.google-btn {
  background-color: #3b5998;
  color: $color-white;
  border: none;
  box-shadow: none;
  position: relative;
  font-size: 11px;
  text-align: left;
  padding-left: 9px;

  img {
    position: absolute;
    right: 8px;
    height: 14px;
    bottom: 10px;
  }
}

.google-btn {
  background-color: #dd4b39;

  img {
    right: 7px;
  }
}

.sign-in-btn, 
.next-btn {
  border: none;
  background-color: #2ca6d8;
  color: #e6eef2;
}

.register-btn, 
.prev-btn {
  border: solid 1px $color-dark-blue;
  color: #2c84d2;
  background-color: $color-white;
}

.prev-btn {
  &.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      cursor: not-allowed;
      border-color: rgba(53, 152, 219, .5);
      color: rgba(44, 132, 210, .5);
    }
  }
}

.next-btn.submit {
  &:disabled {
    cursor: not-allowed;
    background-color: rgba(44, 166, 216, .6);
  }
}

header.open-login {
  .login-modal {
    z-index: 11;
    display: flex;
  }

  .dark-bg {
    display: block;
  }
}

.close-modal {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
}

.news-link {
  margin-top: 5px;

  &.news-link-indent {
    margin-top: 15px;
  }

  .shipping-type-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .md-radio-shipping {
      width: 43%;

      .md-container {
        top: 30%;
      }

      .md-label {
        font-size: 11px;
        color: #2c84d2;
      }

      a {
        margin-left: 5px;
      }
    }

    md-radio-button {
      .md-on {
        background-color: #000000;
      }

      &.md-checked {
        .md-off {
          border-color: #000000;
        }
      }
    }
  }

  md-checkbox {
    &.checkbox-promo_send {
      .md-container {
        top: 10%;
      }
    }
  }
}

.registration-form {
  position: relative;

  .registaration-auth-data {
    width: 43%;
  }

  .registaration-user-data {
    width: 43%;
  }

  label {
    font-size: 11px;
    line-height: 1.82;
    display: block;
    color: rgba(34, 40, 43, 0.75);
  }

  .star {
    color: rgba(192, 0, 22, 0.75);
    font-size: 10px;
  }

  .md-label {
    margin: (-7px) 0 0 20px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &.indent-billing {
      margin-top: 36px;
    }

    &.indent-general {
      margin-top: 125px;
    }
  }
}

.ext {
  width: 56px;
}

a.send-news, 
a.send-news:hover, 
a.send-news:active {
  font-size: 11px;
  color: #2c84d2;
}

.password-tooltip {
  width: 210px;
  font-size: 11px;
  text-align: left;
  font-family: $base-font;
}

tooltip tip {
  border: 1px solid $color-dark-blue;
  background: $color-white;
  color: $color-black;
}

tooltip._top tip tip-arrow {
  border-top: 6px solid $color-dark-blue;
}

@media (min-width: 320px) and (max-width: 991px) {
  .login-modal {
    width: 100vw;
    height: 100vh;
    padding: 25px 15px 75px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .login-modal-steps-content {
      justify-content: flex-start;
    }

    tooltip {
      width: 100%;
    }

    .login-info {
      width: 100%;
      float: none;
    }

    .register-info {
      line-height: 1;
      font-size: 1em;
      padding: 0;
      text-align: center;
    }

    .login-form {
      width: 100%;
    }

    .form-fields {
      .registration-auth-data, 
      .registration-user-data {
        width: 100%;
      }
    }
  }

  .news-link {
    .shipping-type-radio {
      display: block;

      .md-radio-shipping {
        width: 100%;
      }
    }
  }

  .forgotpassw-step,
  .login-step {
    background-size: auto 36%;
  }

  .registration-form {
    .form-fields {
      flex-direction: column;                                                         
    }

    .form-actions {
      .prev-btn,
      .next-btn {
        width: auto;
        padding: 6px 12px;
        margin: 0;
      }
    }

    .form-actions{
      &.indent-general {
        margin-top: 36px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 991px) and (max-height: 568px){
  .login-modal {
    padding: 35px 15px 15px 15px;

    .register-info {
      display: none;
    }

    .registration-heading {
      margin-bottom: 10px;
      text-align: left;
    }
  }
}