$base-font: "Roboto", Arial, Helvetica, sans-serif;
$color-white: #fff;
$color-background: #e6eef2;
$color-dark-blue: #3598db;
$color-blue: #4ac9ff;
$color-blue-light-2: #d8e5ed;
$color-light-blue: #c5e1f6;
$color-darkest-blue: #16a1db;
$color-light-green: #98cd7e;
$color-price-green: #4d9320;
$color-orange: #efbe6e;
$color-red: #d95b3f;
$color-grey: #454f51;
$color-header-grey: #9e9e9e;
$color-black: #22282b;
$color-error: #ff0201;
$color-light-grey: #b5bfc6;
$color-border-grey: #b5bfc6;
$color-light-grey-opac: rgba(181, 192, 199, 0.33);
$slideTime: 0.3s;
