<div class="my-account-page-layout">
    <ul class="my-account-nav-menu">
        <li class="my-account-nav-menu-item heading">
            <h4 class="my-account-nav-menu-item-title">
                <span>Logged in As</span>
            </h4>
        </li>
        <li class="my-account-nav-menu-item user">
            <h4 class="my-account-nav-menu-item-title">
                <span>{{$appUser.user.name}}</span>
            </h4>
            <button class="my-account-logout-btn" ng-click="$appUser.logout()">
                <span>Log Out</span>
            </button>
        </li>
        <li class="my-account-nav-menu-item edit-profile"
            ng-class="{'active':$state.includes('**.edit-profile')}"
            ui-sref="router.my-account.edit-profile">
            <h4 class="my-account-nav-menu-item-title">
                <span>Edit profile</span>
            </h4>
        </li>
        <li class="my-account-nav-menu-item"
            ng-class="{'active':$state.includes('**.order-history')}"
            ui-sref="router.my-account.order-history">
            <h4 class="my-account-nav-menu-item-title has-title-icon">
                <i class="material-icons title-icon icon-order-history">history</i>
                <span>Order History</span>
            </h4>
            <div class="badge">{{$cartService.orderHistoryItems.length || 0}}</div>
        </li>
        <li class="my-account-nav-menu-item"
            ng-class="{'active':$state.includes('**.wish-list')}"
            ui-sref="router.my-account.wish-list">
            <h4 class="my-account-nav-menu-item-title has-title-icon">
                <i class="material-icons title-icon icon-wish-list">favorite</i>
                <span>Wish List</span>
            </h4>
            <div class="badge">{{$cartService.wishListItems.length || 0}}</div>
        </li>
        <li class="my-account-nav-menu-item"
            ng-class="{'active':$state.includes('**.saved-cart')}"
            ui-sref="router.my-account.saved-cart">
            <h4 class="my-account-nav-menu-item-title has-title-icon">
                <i class="material-icons title-icon icon-saved-cart">save</i>
                <span>Saved Cart</span>
            </h4>
            <div class="badge">{{$cartService.savedCartItems.length || 0}}</div>
        </li>
        <li class="my-account-nav-menu-item"
            ng-class="{'active':$state.includes('**.payment-profile') || $state.includes('**.edit-payment-profile')}"
            ui-sref="router.my-account.payment-profile">
            <h4 class="my-account-nav-menu-item-title has-title-icon">
                <i class="material-icons title-icon icon-payment-information">history</i>
                <span>Payment Information</span>
            </h4>
            <div class="badge">{{$paymentProfile.profiles.length || 0}}</div>
        </li>
        <li class="my-account-nav-menu-item"
            ng-class="{'active':$state.includes('**.art-proofs')}"
            ui-sref="router.my-account.art-proofs">
            <h4 class="my-account-nav-menu-item-title has-title-icon">
                <i class="material-icons title-icon icon-art-proofs">art_track</i>
                <span>Pending Art Proofs</span>
            </h4>
            <div class="badge">{{$artProofs.artProofs.length || 0}}</div>
        </li>
        <li class="my-account-nav-menu-item"
            ng-class="{'active':$state.includes('**.address-book') || $state.includes('**.edit-address')}"
            ui-sref="router.my-account.address-book">
            <h4 class="my-account-nav-menu-item-title has-title-icon">
                <i class="material-icons title-icon icon-address-book">book</i>
                <span>Address Book</span>
            </h4>
            <div class="badge">{{$addressBook.addressBook.length || 0}}</div>
        </li>
        <!--<li class="my-account-nav-menu-item my-ntfs" ng-if="$notifications.getNewNotes().length || $notifications.getNewArtproofs().length">
            <h5 class="my-ntfs-header">Notifications</h5>
            <ul>
                <li class="my-ntfs-item" ng-repeat="note in $notifications.getNewNotes()"><span class="text" ng-click="$notifications.showChosenNotification(note.order_id, 'Notes', note.order_item_id, $index, note.id, $cartService.orderHistoryItems)"><span class="badge">1</span>New Note #{{::note.id}}</span><span class="date">{{::note.created_at | date: 'dd.MM.yyyy'}}</span></li>
                <li class="my-ntfs-item" ng-repeat="artproof in $notifications.getNewArtproofs()"><span class="text" ng-click="$notifications.showChosenNotification(artproof.order_id, 'Artproofs', artproof.order_item_id, $index, artproof.id, $cartService.orderHistoryItems)"><span class="badge">1</span>New Artproof #{{::artproof.id}}</span><span class="date">{{::artproof.created_at | date: 'dd.MM.yyyy'}}</span></li>
            </ul>
        </li>-->
    </ul>
    <div class="my-account-content" ui-view></div>
</div>
