@import "../../scss/modules/variables";

.order-history-button-toggle {
  border: none;
  box-shadow: none;
  background-color: #e7eef3;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  padding: 1px 0 0 0;
  vertical-align: middle;
  position: relative;

  & > img {
    width: 21px;
    height: 21px;
    transform: rotate(0deg);
    transition: transform 0.25s;

    &:hover {
      transform: rotate(-90deg);
    }
  }

  & > span {
    position: absolute;
    width: 150px;
    display: inline-block;
    top: 0;
    left: 37px;
    text-align: left;
    line-height: 20px;
    font-family: $base-font;
  }

  &.button-toggle-right {
    & > img {
      &:hover {
        transform: rotate(90deg);
      }
    }

    & > span {
      text-align: right;
      left: auto;
      right: 37px;
    }
  }

  &.toggled-on {
    & > img {
      transform: rotate(-180deg) translateY(2px);
    }
  }

  &.roll-up-button {
    & > img {
      transform: rotate(180deg) translateY(2px);
    }
  }
}

.account-input-text, 
.account-select .btn, 
.account-select input, 
.account-select input:focus {
  width: 92px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  position: relative;
  z-index: 10;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: none;
}

.add-new-card-input-text, 
.add-new-card-select .btn, 
.add-new-card-select input, 
.add-new-card-select input:focus {
  width: 92px;
  height: 34px;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  position: relative;
  z-index: 10;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: none;
}

.add-new-card-option {
  width: 100%;
}

.add-new-card-wrap {
  padding-top: 0;
  width: 100%;
  position: relative;

  &.add-new-card-open {
    max-height: 700px;
    padding-top: 32px;
  }

  &.add-new-address-open {
    max-height: 940px;
    display: table;

    .add-new-card-col {
      display: table-cell;
      float: none;
      vertical-align: top;
      padding-bottom: 14px;
    }

    .add-new-card-error-notify {
      bottom: 8px;
      position: relative;
    }
  }

  &.add-new-address-open {
    max-height: 750px;
    padding-top: 32px;

    .add-new-card-col {
      display: table-cell;
      float: none;
    }
  }

  .add-new-card-loadprogress, 
  .add-new-paymentprofile-loadprogress {
    top: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;

    path {
      stroke: $color-dark-blue;
    }
  }

  .add-new-paymentprofile-loadprogress {
    position: relative;
  }

  .add-new-card-error-notify {
    right: auto;
    left: 0;
    bottom: -12px;
  }

  .add-new-address-error-notify {
    position: relative;
    bottom: 0;
    left: 0;
    right: auto;
    font-size: 11px;
    padding-bottom: 3px;
  }
}

.add-new-card-cancel-button {
  position: absolute;
  top: 0;
  right: 24px;
}

.add-new-card-section {
  display: table;
}

.add-new-card-section-title {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.add-new-card-col {
  position: relative;
  width: 50%;
  padding-right: 10%;

  .add-new-card-input-text, 
  .add-new-card-input-label {
    display: block;
    width: 100%;
  }

  .add-new-card-input-label {
    color: rgba(34, 40, 43, 0.75);
    margin-bottom: 10px;
  }

  .add-new-card-input-text {
    margin-bottom: 14px;

    &.input-address-day-telephone, 
    &.input-address-day-telephone-ext {
      display: inline-block;
      width: 68%;
      margin-right: 2%;
    }

    &.input-address-day-telephone-ext {
      width: 28%;
      margin-right: 0;
    }

    &.ng-invalid {
      border-color: $color-error;
    }
  }

  .add-new-card-security-options {
    & .input-card-exp-month, 
    & .input-card-exp-year, 
    & .input-card-cvv {
      display: inline-block;
    }

    & .input-card-exp-month {
      width: 25%;
      margin-right: 2%;
    }

    & .input-card-exp-year {
      width: 40%;
      margin-right: 2%;
    }

    & .input-card-cvv {
      width: 25%;
    }

    & .add-new-card-input-label {
      width: 50%;
      display: inline-block;

      &.right {
        text-align: right;
      }

      &.label-address-day-telephone-ext {
        width: 28%;
        text-align: left;
      }
    }
  }

  .add-new-cart-submit-btn {
    width: 100%;
    margin-top: 8px;

    &.add-payment-halfwidth-btn {
      width: 48%;
    }
  }

  .card-sample-img {
    width: auto;
    max-width: 100%;
  }
}

/*add-new-payment-card */
.account-card-list {
  &>.empty-left {
    margin-left: 0;
  }

  &>.empty-left ~ .empty-left {
    margin-left: calc(50% - 15px);
  }

  &>.empty-right {
    margin-right: 10px;
  }

  &>.empty-right ~ .empty-right {
    margin-right: calc(50% - 15px);
  }

  &>.empty-right {
    &:first-child {
      margin-right: 10px;
    }
  }

  &>.empty-left {
    &:first-child {
      margin-left: 0;
    }
  }
}

.account-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px 30px;
  flex: 1 0 325px;
  max-width: 325px;
  min-height: 200px;
  margin:0 10px 20px 0;
  border: solid 1px #d8e5ed;
  color: #555d62;
  border-radius: 10px;

  &.default {
    background: #e7eef3;
  }

  .btn-account-card-set-default {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    .btn-text {
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      color: #2d3539;
      text-transform: uppercase;
    }

    .btn-icon {
      color:$color-dark-blue;
      margin-right: 5px;
      font-size: 16px;
      display: none;
    }

    &.active {
      .btn-icon {
        display: block;
      }
    }
  }

  .btn-edit-account-card, 
  .btn-make-default-card {
    color: $color-dark-blue;
    background-color: transparent;
    width: 122.2px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px $color-dark-blue;
    margin-top: auto;
  }

  &.active {
    background-color: #e7eef3;
  }

  .account-card-title {
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
    color: #22282b;
    text-transform: uppercase;
    margin-bottom:25px;
  }

  .account-card-content {
    display: flex;
    flex: 1;

    @media screen and (max-width: 550px) {
      flex-wrap: wrap;
    }

    .brief-item {
      font-size: 13px;
      margin-bottom: 3px;
      color: #505050;

      & > b {
        color: #22282b;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    .card-content-item {
      display: flex;
      flex: 0.5;
      flex-direction: column;

      @media screen and (max-width: 550px) {
        flex: 1;
        margin-right: 10px;
      }

      &.account-card-default {
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (max-width: 550px) {
          flex: 1;
          margin-top: 15px;
          margin-right: 0;
          align-items: flex-start;
        }
      }
    }

    &.card-profile-content {
      flex-direction: column;

      .card-content-item {
        flex: 0.5;
      }

      .btn-edit-account-card {
        align-self: flex-end;
      }
    }
  }

  &.btn-add-new-card {
    order: 1000;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(230, 237, 242, 0.3);
    }
    
    .add-new-card-icon {
      color:$color-dark-blue;
      margin-bottom: 10px;
    }

    .add-new-card-title {
      color:$color-dark-blue;
      font-size: 18px;
      line-height: 1.11;
    }
  }
}

.fake-element-radiogroup {
  visibility: hidden;
  opacity: 0;
}

.my-account-page-layout {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: flex-start;
  flex: 100%;
  min-height: 50vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;

  .my-account-page-section-header {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;
    color: #22282b;
    margin:0 0 25px 0;
  }

  .filter-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    background-color: #e7eef3;
    padding: 5px;
    border-radius: 6px;

    @media (min-width: 320px) and (max-width: 680px) {
      flex-wrap: wrap;
    }

    .filter-item {
      width: 200px;
      padding-right: 20px;

      @media (min-width: 320px) and (max-width: 680px) {
        text-align: center;
        width: calc(50% - 18px);
        padding: 0;
        margin: 10px 9px;
      }

      md-datepicker {
        height: 30px;
        border-radius: 6px;

        @media (min-width: 320px) and (max-width: 680px) {
          width: 100%;
        }

        input {
          @media (min-width: 320px) and (max-width: 680px) {
            min-width: 85px !important;
          }
        }

        .md-datepicker-input-container {
          @media (min-width: 320px) and (max-width: 680px) {
            width: 100%;
          }

          input {
            @media (min-width: 320px) and (max-width: 680px) {
              width: 100%;
            }
          }
        }
      }
    }

    .title-search {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: -5px;

      @media (min-width: 320px) and (max-width: 680px) {
        width: calc(100% - 34px);
        margin: 10px 5px;
      }

      input {
        border-radius: 6px;
        height: 30px;
        border: none;
        padding: 0 35px 0 10px;

        @media (min-width: 320px) and (max-width: 680px) {
          width: 100%;
        }
      }

      .title-search-icon {
        margin-left: -30px;
      }
    }

    .reset-search {
      display: flex;
      align-items: center;
      justify-content: center;

      .reset-btn {
        transition: transform .3s, color .3s;
        cursor: pointer;

        &:hover {
          color: #f15642;
          transform: scale(1.2);
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }

  .my-account-page-section-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 5px;
  }

  .my-account-nav-menu,
  .my-account-content {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    flex: 100%;
    overflow: hidden;
    background: $color-white;
  }

  .my-account-nav-menu {
    padding: 20px 15px 30px;
    border-radius: 6px;
    margin-right: 10px;
    max-width: 30%;
    width: 100%;

    .my-account-nav-menu-item {
      border-bottom: 1px solid transparent;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      box-sizing: content-box;
      cursor: pointer;

      &.heading {
        justify-content: space-between;
        padding: 0;
        cursor: default;

        .my-account-nav-menu-item-title {
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #909395;
        }
      }

      &.user {
        padding: 10px 0 15px;

        .my-account-nav-menu-item-title {
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #22282b;
        }
      }

      &.edit-profile {
        padding: 0;
        margin-bottom: 30px;

        .my-account-nav-menu-item-title {
          color:$color-blue;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.2px;
        }
      }

      &.my-ntfs {
        margin-top: 20px;
        display: block;

        .my-ntfs-header {
          margin-bottom: 30px;
        }

        .my-ntfs-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 0;

          .text {
            color: #3598db;
            font-size: 13px;
          }

          .badge {
            margin-right: 20px;
            color: #ffffff;
            background-color: #4ac9ff;
          }
        }
      }

      .my-account-nav-menu-item-title {
        font-size: 14px;
        line-height: 2em;
        color: #22282b;
        font-weight: normal;

        .title-icon {
          color:#b5bfc6;
          margin-right: 15px;
          font-size: 20px;

          &.icon-order-history {
            color: #434d50;
          }

          &.icon-wish-list {
            color: $color-red;
          }

          &.icon-saved-cart {
            color: $color-blue;
          }

          &.icon-payment-information {
            color: #f0c169;
          }

          &.icon-art-proofs {
            color: $color-light-green;
          }

          &.icon-address-book {
            color: #ff9b73;
          }
        }

        &.has-title-icon {
          display: flex;
          align-items: center;
        }
      }

      .badge {
        border-radius: 4px;
        color: $color-light-grey;
        background-color: #fff;
        padding: 1px 5px 1px 3px;
        font-style: italic;
      }

      &.active {
        border-bottom-color: $color-blue;

        .badge {
          background-color: $color-blue;
          color:white;
          font-weight: normal;
        }
      }
    }
  }

  .my-account-logout-btn {
    padding: 5px;
    max-width: 70px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #b5c0c7;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: rgba(69,79,81,.5);
    transition: all 50ms ease-in;

    &img {
      width: 14px;
      height: 14px;
    }
    
    &:hover {
      border-color: $color-red;
      color: white;
      background-color: $color-red;
    }
  }

  .my-account-content {
    padding: 0;
    background: transparent;
  }
}

.account-content-payment-options-edit-form {
  transition: opacity .5s ease;
  display: none;
  max-width: 690px;
  margin: 0 auto;
  opacity: 0;
  padding: 25px 0;
}

.account-info-block {
  padding: 0 12px 0;
  font-size: 13px;
  color: $color-black;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $base-font;

  .account-info-option {
    width: 50%;
    padding: 0 15px;

    &.tax-exemption {
      margin-bottom: 30px;

      .view-certificate {
        color: $color-blue;
      }

      .file-upload {
        margin-top: 20px;
      }
    }

    & > h5 {
      padding-bottom: 22px;
    }

    .account-info-option-assort {
      width: 100%;

      .account-info-option-assort-item {
        width: 50%;

        &.account-info-option-userphonenum {
          width: 68.5%;
        }

        &.account-info-option-userphoneext {
          width: 28.5%;
        }
      }
    }

    .account-info-option-btn {
      margin-top: 4px;

      &[disabled]{
        background-color: lightgrey;
      }
    }
  }

  .account-input-text, 
  .account-input-label {
    display: block;
    width: 100%;
  }

  .account-input-label {
    font-size: 11px;
    color: rgba(34, 40, 43, 0.75);
    margin-bottom: 5px;

    &.has-error {
      color: red;
    }
  }

  .account-input-text {
    margin-bottom: 9px;

    &.ng-invalid {
      border-color: $color-error;
    }
  }

  .account-info-current-email-info {
    margin-bottom: 19px;
  }

  .notify-info-message {
    color: $color-blue;
    font-size: 11px;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 11px;
  }

  .account-info-checkbox {
    display: inline-block;

    .md-container {
      top: 32%;
    }

    .md-label {
      margin-left: 22px;

      & > .small-text {
        line-height: 1.8;
      }
    }
  }
}

.account-content-payment-block {
  margin-bottom: 54px;
  font-size: 13px;
  display: table;
}

.account-card-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.account-card-edit-button {
  border: 1px solid $color-dark-blue;
  background-color: transparent;
  box-shadow: none;
  letter-spacing: 0;
  color: $color-dark-blue;
  margin-top: 1px;
  font-weight: 400;
  font-family: $base-font;
  max-width: 120px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 6px;
  transition: color 0.3s, background-color 0.2s;
  position: absolute;
  bottom: 18px;
  right: 18px;

  &:hover {
    background-color: $color-dark-blue;
    color: $color-white;
  }

  & * {
    display: inline-block;
    vertical-align: middle;
  }

  &.edit-button-active {
    background-color: $color-dark-blue;
    color: $color-white;
  }
}

.addressbook-set-as-default-button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  letter-spacing: 0;
  color: $color-dark-blue;
  margin-top: 1px;
  padding: 0;
  font-weight: 400;
  font-family: $base-font;
  text-transform: uppercase;

  & * {
    display: inline-block;
    vertical-align: middle;
  }
}

.add-new-address-radiogroup {
  width: 100%;
  
  md-radio-button {
    .md-label {
      margin-left: 24px;
    }
  }
}

.account-sidebar-header {
  padding-top: 26px;
  background-color: #f8fbff;
  width: 100%;
  height: 76px;
  box-sizing: border-box;

  .my-account-title {
    font-weight: 500;
    font-size: 13px;

    .my-account-title-usericon {
      width: 21px;
      height: 21px;
    }

    .my-account-title-username {
      font-weight: 800;
      line-height: 21px;
      margin-left: 30px;
    }
  }
}

.my-account-edit-profile-button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 11px;
  letter-spacing: 0;
  color: $color-dark-blue;
  margin-top: 1px;
  padding: 0;
  font-weight: 400;
  font-family: $base-font;

  & * {
    display: inline-block;
    vertical-align: middle;
  }

  & img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
}

.account-sidebar-section {
  margin-bottom: 58px;

  .account-sidebar-section-title {
    font-weight: 800;
    margin-bottom: 16px;
  }

  .account-sidebar-section-content {
    .account-options {
      li {
        font-size: 13px;
        color: $color-black;

        .account-history-option-link {
          color: #555d62;
          display: inline-block;
          width: 100%;
          height: 56px;
          line-height: 52px;
          cursor: pointer;

          & * {
            display: inline-block;
            vertical-align: middle;
          }

          svg {
            width: 20px;
            height: 20px;
            fill: $color-light-grey;
            margin-right: 28px;
          }

          .account-history-counter {
            font-weight: 800;
            font-size: 0.7em;
            opacity: 0.6;
            line-height: 58px;
            font-family: $base-font;
          }
        }

        &.account-history-active, 
        &:active {
          svg {
            fill: $color-dark-blue;
          }

          .account-history-option-link {
            & * {
              color: $color-dark-blue;
              opacity: 1;
            }
          }
        }

        &:hover {
          background-color: #f8fbff;
        }

        &.last-account-item {
          border: 1px solid #f5f5f5;
          border-right: 0 none;
          border-left: 0 none;
        }
      }
    }

    .account-options {
      &.account-notifications-options {
        li {
          font-size: 13px;
          color: $color-dark-blue;
          margin-bottom: 18px;
          padding-bottom: 3px;
          border-bottom: 1px solid $color-light-grey-opac;

          .account-notification-option-link {
            color: $color-dark-blue;
            display: inline-block;
            width: 100%;
            height: 31px;
            cursor: pointer;

            .notification-activities {
              display: inline-block;
              vertical-align: middle;
              width: 22px;
              height: 22px;
              color: $color-white;
              background: $color-dark-blue;
              border-radius: 3px;
              line-height: 20px;
              text-align: center;
              margin-right: 12px;
            }

            .notification-name {
              display: inline-block;
              vertical-align: middle;
            }

            .notification-item-info {
              text-align: right;
              display: inline-block;
              vertical-align: middle;

              .notification-info-num {
                display: block;
                font-size: 11px;
                margin-bottom: 7px;
              }

              .notification-info-date {
                color: $color-black;
                font-weight: 600;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.success-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  flex-direction: column;

  .success-badge {
    background-color: #2ca6d8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;

    .ico-check {
      color: #a5ef43;
      margin-bottom: 25px;
      margin-left: 20px;
      font-size: 100px;
    }
  }

  .success-message {
    font-size: 18px;
    color: #22282b;
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .my-account-page-layout {
    min-height: calc(100vh - 54px);
    padding: 0;

    .my-account-page-section-content {
      margin: 0;
    }

    .animated {
      animation: none;
      z-index: 0;
    }

    .my-account-nav-menu {
      display: none;
    }

    .my-account-content {
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .account-card {
      flex:1;
      max-width: 100%;
      margin: 0 0 15px 0;
    }

    .account-info-block {
      padding: 0;

      .account-info-option {
        padding: 0;
        width: 100%;
        float: none;
      }
    }

    .account-card-list {
      flex-direction: column-reverse;
    }

    .edit-form-controls {
      .btn-edit-form-control {
        width: 80px;
      }
    }

    .product-preorder-preview {
      flex-direction: column;
      padding: 0;
      margin-bottom: 10px;

      .preorder-row {
        min-width: 100%;
        flex-direction: column;
      }

      .main-preview-content {
        padding: 5px;
        margin-bottom: 10px;
      }

      .preorder-links {
        .preorder-link-item {
          flex:0 0 50%;
          margin-bottom: 10px;
        }
      }

      .pricing-info {
        margin:10px 0;
      }

      .preorder-controls {
        margin-bottom: 10px;
      }

      .social-links {
        margin: 0 0 10px 0;
      }
    }

    .my-account-page-section-header {
      margin: 0 0 15px 0;
      text-align: left;
    }
  }
}

@media (min-width: 320px) and (max-width: 420px) {
    .my-account-page-layout .date-picker-wrapper {
      display: block;

      .date-picker-date {
        text-align: center;
        width: 100%;
        margin: 10px 0;
      }
    }
}

.mt20 {
  margin-top: 20px;
}
