.categories {
  margin-bottom: 15px;
  padding:0;
  overflow-y: auto;
  @media (max-width:576px) {
    overflow-y: scroll;
    height: 300px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #16a1db;
    border-radius: 10px;
  }

  .category-item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .category-title {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: #454f51;
      transition: color .2s ease;
      font-weight: 500;

      &.selected {
        color: #00acee !important;
      }
    }

    &:hover {
      .category-title:not(.selected) {
        color: #818181 !important;
      }
    }

    .arrow_drop_down {
      display: none;
      color: #16a1db;
    }

    .more_horiz {
      display: block;
    }

    .item-right {
      float: right;
    }

    .material-icons {
      font-size: 16px;
    }

    &:hover {
      .category-title {
        color: #b5bfc6;
      }

      .arrow_drop_down {
        display: block;
      }

      .more_horiz {
        display: none;
      }
    }
  }
}

.category-item-back {
  margin-right: 5px;
}