<div>
    <label class="categories-heading" ng-if="instantSearch">
        <i class="material-icons category-item-back"
           ng-click="back()"
           ng-hide="!$categories.showBackArrow()">
            arrow_back
        </i>
        {{::title}}
    </label>
    <ul class="categories">
        <li class="category-item" ng-repeat="category in (text ? searchFilter($categories.getCategories()) : $categories.getCategories())" ng-click="showCategory(category);
        dial({id: category.id})">
            <span class="category-title" ng-class="{selected: (passSelectedCategoryBack && selectedItem === category.id)}">{{category.title}}</span>
            <i ng-hide="!category.sub_categories.length || !moreIcon" class="material-icons">keyboard_arrow_right</i>
        </li>
        <li ng-show="$categories.showBackArrow() && !instantSearch" class="category-item heading-link" ng-click="search($categories.getHistoryItemId())">
            Show All Items From This Category
        </li>
    </ul>
</div>