.authorize-net-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .blue-button {
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #4ac9ff;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin-right: 5px;
  }
}

.payment-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}