<div class="account-card-list">
    <div class="payment-list" ng-if="userInfo.authorize_net_id">
        <div class="account-card" ng-repeat="profile in source track by profile.id"
            ng-style="{'order': profile.is_default ? 1 : 2}"
            ng-class="{'active' : checkActive(profile.id), 'default' : profile.is_default}" ng-show=" !$mode || checkActive(profile.id)">
            <h4 class="account-card-title">
                <span>Payment Method</span>
            </h4>
            <div class="account-card-content account-card-brief">
                <div class="card-content-item">
                    <div class="brief-item">
                        <b>Name: </b>
                        {{ profile.first_name }} {{ profile.last_name }}
                    </div>
                    <div class="brief-item">
                        <b>Card Type: </b>
                        {{ profile.card_type }}
                    </div>
                    <div class="brief-item">
                        <b>Last 4 Digits: </b>
                        {{ profile.card_number.slice(-6) }}
                    </div>
                    <div class="brief-item">
                        <b>Exp. Date: </b>
                        {{ profile.expiration_month }} /
                        {{ profile.expiration_year.toString().slice(-2) }}
                    </div>
                    <button class="btn-make-default-card"
                            ng-click="$paymentProfile.setDefaultPaymentProfile(profile.id)"
                            ng-hide="profile.is_default || $mode === 'edit' || profile.is_expired ">
                        Make Default
                    </button>
                </div>
                <div class="card-content-item account-card-default">
                    <button class="btn-account-card-set-default active"
                            ng-show="profile.is_default">
                        <i class="material-icons btn-icon">check</i>
                        <span class="btn-text">Default</span>
                    </button>
                    <button class="btn-account-card-set-default active"
                            ng-if="profile.is_expired">
                        <span class="btn-text" ng-style="{color:'red'}">EXPIRED</span>
                    </button>
                    <button class="btn-edit-account-card"
                            ui-sref="router.my-account.edit-payment-profile({mode:'edit', profileId: profile.id})"
                            ng-hide="$mode === 'edit'">
                        Edit
                    </button>
                </div>
            </div>
        </div>
        <div class="account-card btn-add-new-card" ng-show="!$mode"
            ui-sref="router.my-account.edit-payment-profile({mode:'create', profileId:null})">
            <i class="material-icons add-new-card-icon">add_circle</i>
            <span class="add-new-card-title">Add Payment Information</span>
        </div>
    </div>
    <div class="authorize-net-btn-wrap" ng-if="!userInfo.authorize_net_id">
        <button class="blue-button" ng-click="getAuthorizeNet()">Autorize on Authorize.Net</button>
        <a title="Press to see Athorize.Net certificate" href="https://verify.authorize.net/anetseal/?pid=52b39719-1dab-4980-84d3-cb3abb105628&rurl=https://www.superiorpromos.com/" target="_blank">
            <i class="material-icons">
                help_outline
            </i>
        </span>
    </div>
</div>
