.page-rush-service {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 0 0 25px 0;
  }

  .rush-wrapper {
    border-bottom: 1px solid #D8D8D8;
    overflow: hidden;
    margin: 0 15px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: block;
    }

    &.rush-reverse {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &.rush-top {
      border-top: 1px solid #D8D8D8;
    }

    .rush-img {
      text-align: center;
      padding: 40px 0;
    }

    .rush-info {
      padding: 40px 0;
      color: #9ca0a3;
      line-height: 1.42;

      .rush-header {
        color: #31393c;
        margin: 5px 0;
      }
    }
  }
}
