<div class="page-rush-service">
    <h2 class="static-title">Rush Service</h2>
    <div class="row">
        <div class="rush-wrapper rush-top">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="rush-img">
                    <img src="/img/rush-calendar.png" alt="rush-calendar">
                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <div class="rush-info">
                    <h5 class="rush-header">
                        We know that deadlines are part of business and a special event or a promotion can be just around the corner.
                        That's why we specialize in rush service and will deliver your product on time every time.
                    </h5>
                    <br />
                    <p>
                        Most of our items are available on some type of a rush service. When you find the product of
                        interest,
                        production time is indicated right under the product name and is also available on product
                        detail page.
                        If rush service information is not provided please do not hesitate to contact the customer
                        service
                        department at 888-577-6667 for further availability.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rush-wrapper rush-reverse">
            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <div class="rush-info">
                    <h5 class="rush-header">
                        Every product has its own production time. Production time reflects on working days only.
                        When a rush option is chosen we are able to reduce the amount of working days it takes to
                        produce your product.
                    </h5>
                    <br />
                    <p>
                        Most items have a 5, 3 or 2 day rush option. Please note non standard Rush Service will require
                        addition cost per item or an addition Setup Charge.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="rush-img">
                    <img src="/img/rush-clock.png" alt="rush-clock">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rush-wrapper">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="rush-img">
                    <img src="/img/rush-box.png" alt="rush-box">
                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <div class="rush-info">
                    <h5 class="rush-header">
                        Along with rush production, we are always able to expedite shipping.
                    </h5>
                    <br/>
                    <p>
                        All orders ship out via UPS ground service, unless expedited method is requested. If a close
                        in-hand date must be met and a rush service is chosen, then expediting shipping might be an only
                        option for an on time delivery. Customer service will provide all shipping options for you
                        before the order ships.
                    </p>
                    <br/>
                    <p>
                        We encourage our customers to get more information on rush service availability prior to placing
                        and order. This will expedite the order process and ensure that we can deliver the order on time
                        for the event. - See more at:
                        <a href="http://www.superiorpromos.com/customer_service/rush_service">
                            http://www.superiorpromos.com/customer_service/rush_service
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
