<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Invoice</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="invoiceForm" class="form-horizontal form-group-sm" ng-submit="updateInvoiceFile()">

                            <div ngf-drop ngf-select ng-model="file" class="drop-box" name="file"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                 Drop file to upload</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <div ng-if="file">New File: {{file.name}}</div>
                            <div ng-hide="file">Uploaded File:
                                <span ng-if="orderItem.invoice_file" style="font:smaller">{{orderItem.invoice_file}}</span>
                                <a ng-if="orderItem.invoice_file" class="btn btn-default btn-xs" role="button" ng-click="deleteInvoiceFile()"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-true-value="1" ng-false-value="0" ng-model="invoice_notify_customer" type="checkbox"> Notify customer
                                </label>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
