<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sample Order Notes</h4>
                <h5>Order # {{orderId}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Sample Order Notes Management (these are internal notes)</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">Date</th>
                                    <th class="info">User</th>
                                    <th class="info">Note</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="backNote in userNotes">
                                <tr>
                                    <td>{{backNote.created_at|date:'short'}}</td>
                                    <td>{{backNote.user.name}}</td>
                                    <td><div ng-bind-html="trustAsHtml(backNote.note)"></div></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-model="orderItem.check_notes" ng-change="updateCheckNotes()">Check Notes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5>Add New Note</h5>
                        <form name="noteForm"  ng-submit="addUserNote()">
                            <div class="form-group">
                                <textarea ui-tinymce="tinymceOptions" ng-model="note" class="form-control" rows="6"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Add Note</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
