.art-proofs {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background: #ffffff;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0;
  }
}

.art-proof-item {
  border-radius: 3px;
  border: solid 1px #dcdfe4;
  margin-bottom: 35px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: 320px) and (max-width: 991px) {
    width: 100%;
    padding: 15px;
  }
}

.art-proof-item-header {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.art-proof-item-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.23;
  color: #2d3539;
  margin: 0;
}

.art-proof-item-number {
  font-size: 14px;
  line-height: 1.82;
  text-align: left;
  color: #3598db;
  margin: 0;
}

.art-proof-date {
  font-size: 11px;
  line-height: 1.09;
  text-align: right;
  color: #2d3539;
}

.art-proof-status {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  display: flex;
  align-items: center;

  .status-icon {
    margin-right: 5px;
  }

  .status-text {
    text-transform: uppercase;
  }

  &.approved {
    color: #6eca2c;
  }

  &.declined {
    color: #f15642;
  }

  &.pending {
    color: #f1c334;
  }
}

.art-proof-item-content {
  padding: 20px 0;
  display: flex;
  border-top: solid 1px #dcdfe4;
  border-bottom: solid 1px #dcdfe4;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 15px 0;
  }
}

.art-proof-item-variants {
  display: flex;
  flex-wrap: wrap;

  .art-proof-variant {
    display: flex;
    flex: 1 0 25%;

    @media (min-width: 320px) and (max-width: 991px) {
      margin-bottom: 10px;
    }

    &:last-child {
      @media (min-width: 320px) and (max-width: 991px) {
        margin-bottom: 0;
      }
    }

    &.art-proof-variant-indent {
      margin-right: 20px;
    }
  }
}

.art-proof-icon-pdf {
  width: 56px;
  height: 60px;
  object-fit: contain;
}

.art-proof-preview-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 15px;

  .action-download,
  .action-preview {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    .action-icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      border-radius: 3px;
      background-color: #4ac9ff;
      color: white;
      font-size: 14px;
    }

    .action-text {
      font-size: 11px;
      line-height: 1.82;
      text-align: left;
      color: #4ac9ff;
    }
  }
}

.art-proof-dialog-item {
  margin-bottom: 15px;

  .message-author {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 10px;

    .author-name {
      color: #b5bfc6;
      font-size: 13px;
      line-height: 1.23;
    }
  }

  .dialog-message {
    font-size: 13px;
    line-height: 2em;
    color: #394144;
  }
}

.message-composer-icon,
.author-icon {
  color: white;
  background-color: #b5bfc6;
  width: 24px;
  height: 24px;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex: 1 0 24px;
}

.art-proof-message-composer {
  .composer-content {
    display: flex;
    margin-bottom: 10px;
  }
}

.composer-controls {
  padding-left: 34px;

  md-checkbox {
    .md-label {
      margin-left: 20px;
    }

    &.md-primary {
      &.md-checked {
        .md-icon {
          background-color: #b5bfc6;
        }
      }
    }
  }
}

.art-proof-controls {
  margin-top: 15px;
}

.composer-controls,
.art-proof-controls {
  display: flex;

  @media (min-width: 320px) and (max-width: 991px) {
    justify-content: space-between;
  }

  .control-cancel,
  .control-deny,
  .control-approve,
  .control-send {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px 12px;
    border: none;
    width: 130px;
    cursor: pointer;

    .control-icon {
      font-size: inherit;
      color: inherit;
      margin-right: 5px;
    }
  }

  .control-cancel,
  .control-deny {
    background-color: #d8e5ed;
    color: #5c717d;
    margin-right: 15px;

    &:disabled {
      cursor: not-allowed;
      background-color: #eeeeee;
    }
  }

  .control-send {
    background-color: #4ac9ff;
    color: white;
  }

  .control-approve {
    color: white;
    background-color: #6eca2c;
    transition: background-color .3s;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba(110, 202, 44, .6);
    }
  }
}

.composer-message-area {
  resize: none;
  border-radius: 3px;
  border: solid 1px #e6e8ec;
  width: 100%;
  padding: 5px;

  &::-webkit-input-placeholder {
    color: #99a5ad;
    font-size: 13px;
    line-height: 1.23;
  }
}

.art-proof-item-footer {
  padding-top: 15px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .art-proofs {
    padding: 0;

    .art-proof-item {
      width: 100%;
      padding: 15px;

      .art-proof-controls,
      .composer-controls {
        justify-content: space-between;
      }

      .art-proof-item-content {
        padding: 15px 0;

        .art-proof-item-variants {
          .art-proof-variant {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.art-approval-modal-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 20;

  &.modal-opened {
    display: flex;
  }
}

.dark-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  z-index: 20;
}

.art-approval-modal {
  position: relative;
  background: #fff;
  padding: 20px;
  max-width: 600px;
  z-index: 21;

  .art-approval-modal-header {
    display: flex;
    justify-content: space-between;
  }

  p {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .red-text {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .green-text {
    color: green;
    font-weight: bold;
    text-align: center;
  }
}
