<div class="my-account-page-section-content section-art-proofs animated slideInRight mt20">
    <ul class="art-proofs">
        <li id="artproof_{{ ::item.id }}" class="art-proof-item" ng-repeat="item in $artProofs.artProofs track by $index">
            <div class="art-proof-item-header">
                <div>
                    <h4 class="art-proof-item-name" ng-bind-html="::item.product_name | trust"></h4>
                    <p class="art-proof-item-number">
                        <!-- Item #{{ ::item.order_item_id }} /  -->
                        <span ng-click="$artProofs.showChosenOrder(item ,item.order_id)">Order #{{ ::item.order_id }}</span>
                    </p>
                </div>
                <div>
                    <p class="art-proof-date">{{ ::item.created_at | date:'short' }}</p>
                    <!--<h4 class="art-proof-status" ng-class="item.status">
                        <i class="material-icons status-icon">{{item.status == $artProofs.APPROVED || item.status == $artProofs.PENDING ? 'check' : 'clear'}}</i>
                        <span class="status-text">{{item.status}}</span>
                    </h4>-->
                </div>
            </div>
            <div class="art-proof-item-content">
                <div class="art-proof-item-variants">
                    <div class="art-proof-variant art-proof-variant-indent">
                        <img class="art-proof-icon-pdf" src="./assets/img/pdf-icon.svg">
                        <div class="art-proof-preview-actions">
                            <div class="action-preview">
                                <a class="action-download" ng-href="{{ ::item.path }}" target="_blank">
                                    <i class="material-icons action-icon">remove_red_eye</i>
                                    <span class="action-text">View Atr Proof</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="art-proof-variant">
                        <img class="art-proof-icon-pdf" src="./assets/img/adobe-icon.png">
                        <div class="art-proof-preview-actions">
                            <a class="action-download" href="https://get.adobe.com/reader" target="_blank">
                                <i class="material-icons action-icon">file_download</i>
                                <span class="action-text">Download PDF Viewer</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-proof-item-footer">
                <ul class="art-proof-dialog">
                    <li class="art-proof-dialog-item" ng-show="item.note && item.note != ''">
                        <div class="message-author">
                            <i class="material-icons author-icon">person</i>
                            <span class="author-name">Notes from Art Department : </span>
                        </div>
                        <div class="dialog-message" ng-bind-html="item.note"></div>
                    </li>

                    <li class="art-proof-dialog-item" ng-show="item.customer_note && item.customer_note != ''">
                        <div class="message-author">
                            <i class="material-icons author-icon">person</i>
                            <span class="author-name">You : </span>
                        </div>
                        <span class="dialog-message">{{ item.customer_note }}</span>
                    </li>
                </ul>
                <div class="art-proof-message-composer" ng-if="!item.customer_note">
                    <div class="composer-content">
                        <i class="material-icons message-composer-icon">person</i>
                        <textarea ng-model="item.tempNote"
                                  class="composer-message-area"
                                  rows="4"
                                  placeholder="Write your comment for the Art Department"></textarea>
                    </div>

                    <div class="composer-controls" ng-show="item.status == 'pending'">
                        <md-checkbox ng-model="item.agreementAccept"
                                     aria-label="Checkbox No Ink"
                                     class="md-primary grey-checkbox">
                            <span class="small-text grey">I agree to the terms and conditions of 
                                <a href="" ng-click="openArtProofModal($event)">Art Approval</a> <!-- ui-sref="router.artwork" -->
                            </span>
                        </md-checkbox>
                    </div>
                    <!--<div class="composer-controls">
                        <button class="control-send" ng-click="$artProofs.note(item.id, item.tempNote)">Send</button>
                    </div>-->
                </div>
                <div class="art-proof-controls" ng-if="!item.status || item.status == $artProofs.PENDING">
                    <button class="control-deny"
                            ng-click="$artProofs.decline(item.id, item.tempNote)"
                            ng-disabled="(!item.tempNote || item.tempNote == '') && item.status == 'pending'">
                        <i class="material-icons control-icon">highlight_off</i>
                        <span>Decline</span>
                    </button>
                    <button class="control-approve"
                            ng-click="$artProofs.approve(item.id, item.tempNote)"
                            ng-disabled="!item.agreementAccept && item.status == 'pending'">
                        <i class="material-icons control-icon">check</i>
                        <span>Approve</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="art-approval-modal-wrap" ng-class="{'modal-opened' : artProofModalIsOpened }">
    <div class="dark-bg" ng-click="closeArtProofModal()"></div>
    <div class="art-approval-modal">
        <div class="art-approval-modal-header">
            <h3>Artwork terms</h3>
            <img class="close-modal" ng-click="closeArtProofModal()" src="/img/material-icons/ic_close_grey.svg" alt="" role="button" tabindex="0">
        </div>
        <p class="red-text">You must read the agreement below.</p>
        <p>Please NOTE: upon approval of your art proof you are agreeing to the art work that was provided for you. Actual colors and imprint sizes might slightly vary do to resolutions and color management of monitors.</p>
        <p>We do not guarantee the colors that you see but it will be matched to the best of our ability to the specifications that you have provided. If you require a PMS match or have any other concerns please contact Customer Service prior to approving your art work by calling 888-577-6667.</p>
        <p>The following approval becomes a binding agreement. Superior Promos will proceed with production of the exact art that was approved. Changes can only be made until the order goes to production. Once the order reaches production stage, changes cannot be made.</p>
        <p class="green-text">I have reviewed my artwork and I am satisfied with the design (including art and text).</p>
        <p class="green-text">I have read the above agreement and would like Superior Promos to proceed with my order.</p>
    </div>
</div>
