<header ng-class="[{'open-nav' : showPopUpMenu}, {'open-login' : $appUser.showLoginModal}, 
    {'mobile-menu-active' : mobileMenuActive}, {'filter-menu-active': filterMenuActive}]">
    <div class="hidden-xs hidden-sm">
        <div class="user-status-bar">
            <i class="material-icons user-icon">account_circle</i>
            <ul class="user-auth">
                <li class="auth-item"
                    ng-hide="$appUser.user"
                    ng-click="toggleLogin()">
                    Log In / Register
                </li>
                <li class="auth-item"
                    ng-show="$appUser.user"
                    ui-sref="router.my-account.order-history">
                    My Account
                </li>
                <li class="home-btn">
                    <i class="material-icons home-icon" ui-sref="router.home">home</i>
                </li>
            </ul>
            <ul class="info">
                <li class="info-item">
                    Artwork Questions:
                    <a href = "mailto: art@superiorpromos.com">art@superiorpromos.com</a>
                </li>
                <li class="info-item">
                    General Information:
                    <a href = "mailto: info@superiorpromos.com">info@superiorpromos.com</a>
                </li>
            </ul>
            <ul class="user-cart">
                <li
                    class="cart-info-item"
                    ng-click="quickCartToggle()"
                >
                    <div
                        class="cart-qantity"
                        ng-if="$cartService.cartItems.length"
                    >{{ $cartService.cartItems.length }}</div>
                    Shopping Cart
                    <i class="material-icons ico-cart">shopping_cart</i>
                    <!--<span>{{$cartService.cartItems.length > 0 ? $cartService.cartItems.length + ' items in your cart' : 'Your cart is empty'}}</span>-->
                    <img class="shopping-cart-plus-one" ng-class="{ 'add-cart-item' : $orderService.addToCart }" src="../../assets/img/material-icons/ic_shopping_cart_blue_bordered-plus_one.svg" width="17" height="17" alt="cart">
                </li>
               <!-- <li class="cart-info-item" ui-sref="router.my-account.saved-cart">
                    <span>Saved {{$cartService.savedCartItems.length}}</span>
                    <i class="material-icons ico-saved-cart">bookmark_border</i>
                    <img class="wish-list-icon" ng-class="{ 'add-to-fav' : $orderService.addToFav }" src="../../assets/img/material-icons/star-outline.svg" width="17" height="17" alt="wishlist_icon">
                </li>-->
            </ul>
        </div>
        <div
          class="header-auto-hide"
          ng-class="{'inactive' : isHeaderHidden}"
          header-auto-hide>
            <div class="header-nav">
                <div class="header-section-main">
                    <div class="logo-and-search">
                        <a href="/"><img class="logo" src="/img/new_logo.svg" alt="Superior Promos"></a>
                        <img class="logo-white" src="../../assets/img/logo-white.svg" alt="Superior Promos" ui-sref="router.home">
                        <form class="quick-search" ng-submit="search($event)">
                            <div class="search-container">
                                <i class="material-icons search-icon">
                                    search
                                </i>

                                <input type="text" class="form-control inp-quick-search" ng-model="search_query" ng-model-options="{ debounce: 500 }"
                                       ng-change="quickSearchForCategories()" ng-focus="showsQuickSearch()" ng-blur="hideQuickSearch()">
                                <span ng-click="getAllColors()" ui-sref="router.search.advanced" class="search-adv">Advanced Search</span>
                                <span class="search-btn">
                                    <button type="submit" class="btn btn-quick-search">Find!</button>
                                </span>
                            </div>
                            <div class="quick-search-wrapper" ng-if="showQuickSearch && quickSearchCategories.length">
                                <div class="quick-search-categories-block">
                                    <div class="header">
                                        <h5>Search in Categories</h5>
                                    </div>
                                    <div class="body">
                                        <div class="category"ng-repeat="category in quickSearchCategories" ng-class="{'active' : category.id === selectedCategory}"
                                             ng-mousedown="quickSearchForProducts(category.id, $event)">{{ category.name }}</div>
                                    </div>
                                </div>
                                <div class="quick-search-result-block" ng-mousedown="$event.preventDefault()">
                                    <div class="result" ng-repeat="product in quickSearchItems">
                                        <div class="image" ng-mousedown="placeOrder(product.full_slug)">
                                            <image-uploader
                                                    img-url="product.thumbnail"
                                                    img-alt="''"
                                                    img-class="''"
                                                    force-load="true">
                                            </image-uploader>
                                        </div>
                                        <div class="description">
                                            <div class="head">
                                                <h6 class="title" ng-mousedown="placeOrder(product.full_slug)">{{ ::product.title }}</h6>
                                            </div>
                                            <div class="body">
                                                <div class="info">
                                                    <div class="text">Item # {{ ::product.id }}</div>
                                                    <div class="text">Order as few as {{ ::product.min_quantity || 0 }}</div>
                                                    <div class="text">Ships {{ ::product.production_time }}</div>
                                                </div>
                                                <div class="info">
                                                    <div class="text">As Low As</div>
                                                    <div class="price">${{ ::product.lowest_price }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="showMore" ng-show="quickSearchItems.length">
                                        <span class="total">Total Results: {{ totalResults }}</span>
                                        <a class="viewAll" ng-mousedown="search($event)">View all <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                    </div>

                                    <div class="loading" ng-show="quickSearchDataLoading">
                                        <h3>Loading...</h3>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-section-social">
                    <div class="contact-information">
                        <span class="contact-text">Have a Question? We Are Here to Help!</span>
                        <div class="contact-phone">
                            888-577-6667
                        </div>
                    </div>
                    <div class="reseller-rating-container">
                        <a href="https://www.resellerratings.com"
                           onclick="window.open('https://seals.resellerratings.com/landing.php?seller=52232','name','height=760,width=780,scrollbars=1');return false;">
                            <img style='border:none;'
                                 src='//seals.resellerratings.com/seal.php?seller=52232'
                                 oncontextmenu="alert('Copying Prohibited by Law'); return false;">
                        </a>
                    </div>
                </div>
                <nav-menu categories="categories"
                          quick-links="quicklinks"
                          top-products="topProducts"
                          is-opened="showPopUpMenu">
                </nav-menu>
            </div>
        </div>
    </div>

    <div class="dark-bg" ng-click="toggleAll()"></div>
    <div class="login-modal" ng-if="$appUser.showLoginModal && !$appUser.user" ng-controller="RegistrationController as ctrl" ng-class="loginRegistrationService.activeStepView.cssClass">
        <div class="login-modal-steps-content" ng-include="loginRegistrationService.getActiveStep().templateUrl"></div>
    </div>
    <cart-quick></cart-quick>
    <div class="mobile-menu-container">
        <div class="mobile-header-btn-wrapper">
            
            <div class="filter-menu-toggle visible-mobile" ng-click="toggleFilterMobileMenu()" 
                ng-if="('router.home' | includedByState) || ( 'router.categories' | includedByState)">
                <!-- <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M14,12V19.88C14.04,20.18 13.94,20.5 13.71,20.71C13.32,21.1 12.69,21.1 12.3,20.71L10.29,18.7C10.06,18.47 9.96,18.16 10,17.87V12H9.97L4.21,4.62C3.87,4.19 3.95,3.56 4.38,3.22C4.57,3.08 4.78,3 5,3V3H19V3C19.22,3 19.43,3.08 19.62,3.22C20.05,3.56 20.13,4.19 19.79,4.62L14.03,12H14Z" />
                </svg> -->
                <svg xmlns="https://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path fill="currentColor" d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/><path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
        </div>
        <div class="mobile-logo-wrapper">
            <img class="logo-solo" src="/img/new_logo_white.svg" ui-sref="router.home">
        </div>
        <div class="mobile-menu-toggle visible-mobile" ng-click="toggleMobileMenu()">
            <svg xmlns="https://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path fill="currentColor" d="M3 5v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.11 0-2 .9-2 2zm12 4c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3zm-9 8c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1H6v-1z"/><path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-content">
                <!-- Common links -->
                <ul class="mobile-menu-section">
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()" ui-sref="router.home" ui-sref-active="active">
                        <i class="mobile-menu-icon material-icons">home</i>
                        <span class="text-content">Home</span>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()" ui-sref="router.search" ui-sref-active="active">
                        <i class="mobile-menu-icon material-icons">search</i>
                        <span class="text-content">Search</span>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.shopping-cart')}"
                        ui-sref="router.shopping-cart">
                        <i class="mobile-menu-icon material-icons">shopping_cart</i>
                        <span class="text-content">Cart</span>
                        <div class="badge">{{ $cartService.cartItems.length || 0 }}</div>
                    </li>
                </ul>
                <!-- Logged user links -->
                <ul class="mobile-menu-section" ng-if="$appUser.user">
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.edit-profile')}"
                        ui-sref="router.my-account.edit-profile">
                        <i class="mobile-menu-icon material-icons">account_circle</i>
                        <span class="text-content">Edit profile</span>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.order-history')}"
                        ui-sref="router.my-account.order-history">
                        <i class="mobile-menu-icon material-icons">add_shopping_cart</i>
                        <span class="text-content">Order history</span>
                        <div class="badge">{{ $cartService.orderHistoryItems.length || 0 }}</div>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.saved-cart')}"
                        ui-sref="router.my-account.saved-cart">
                        <i class="mobile-menu-icon material-icons">save</i>
                        <span class="text-content">Saved cart</span>
                        <div class="badge">{{ $cartService.savedCartItems.length || 0 }}</div>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.payment-profile') || $state.includes('**.edit-payment-profile')}"
                        ui-sref="router.my-account.payment-profile">
                        <i class="mobile-menu-icon material-icons">history</i>
                        <span class="text-content">Payment profile</span>
                        <div class="badge">{{ $paymentProfile.profiles.length || 0 }}</div>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.address-book') || $state.includes('**.edit-address')}"
                        ui-sref="router.my-account.address-book">
                        <i class="mobile-menu-icon material-icons">book</i>
                        <span class="text-content">Address book</span>
                        <div class="badge">{{ $addressBook.addressBook.length || 0 }}</div>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.wish-list')}"
                        ui-sref="router.my-account.wish-list">
                        <i class="mobile-menu-icon material-icons">favorite</i>
                        <span class="text-content">WishList</span>
                        <div class="badge">{{ $cartService.wishListItems.length || 0 }}</div>
                    </li>
                    <li class="mobile-menu-item" ng-click="toggleMobileMenu()"
                        ng-class="{'active':$state.includes('**.art-proofs')}"
                        ui-sref="router.my-account.art-proofs">
                        <i class="mobile-menu-icon material-icons">art_track</i>
                        <span class="text-content">Art proofs</span>
                    </li>
                </ul>
                <hr class="menu-separator" />
                <!-- Log in/out button-->
                <ul class="mobile-menu-section auth-section">
                    <li class="mobile-menu-item" ng-click="resolveAuth()">
                        <i class="mobile-menu-icon material-icons">{{ $appUser.user ? 'exit_to_app' : 'verified_user' }}</i>
                        <span class="text-content">{{ $appUser.user ? 'Log Out' : 'Log In / Register' }}</span>
                    </li>
                </ul>
                <hr class="menu-separator" />
                <!-- Links from footer -->
                <div class="nav-links-container">
                    <div>
                        <div class="mobile-menu-item"
                            ng-click="toggleLinksList(0)">
                            <div class="nav-links-label">
                                <i class="mobile-menu-icon material-icons">
                                    chat_bubble
                                </i>
                                <span>Social</span>
                            </div>
                            <i class="material-icons">
                                {{ activeListNumber !== 0 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                            </i>
                        </div>
                        <div class="social-icons nav-links-list"
                            ng-class="{'hidden-list' : activeListNumber !== 0}">
                            <div class="icon" title="Facebook">
                                <a href="https://www.facebook.com/superiorpromos" target="_blank">
                                    <img src="/img/social-icons/fbp.png" alt="Facebook">
                                </a>
                            </div>
                            <div class="icon" title="Pinterest">
                                <a href="https://pinterest.com/promoitem/" target="_blank">
                                    <img src="/img/social-icons/pintp.png" alt="Pinterest">
                                </a>
                            </div>
                            <div class="icon" title="Twitter">
                                <a href="https://twitter.com/#!/superior_promos" target="_blank">
                                    <img src="/img/social-icons/twitterp.png" alt="Twitter">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mobile-menu-item"
                            ng-click="toggleLinksList(1)">
                            <div class="nav-links-label">
                                <i class="mobile-menu-icon material-icons">
                                    face
                                </i>
                                <span>Customer Service</span>
                            </div>
                            <i class="material-icons">
                                {{ activeListNumber !== 1 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                            </i>
                        </div>
                        <ul class="nav-links-list"
                            ng-class="{'hidden-list' : activeListNumber !== 1}">
                            <li>
                                <a class="header-nav-link" title="Contact Us"
                                   ui-sref="router.contact-us"
                                   ui-sref-active="active">Contact Us</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Frequently Asked Questions"
                                   ui-sref="router.faq"
                                   ui-sref-active="active">Frequently Asked Questions</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Rush Service"
                                   ui-sref="router.rush-service"
                                   ui-sref-active="active">Rush Service</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Artwork Requirements"
                                   ui-sref="router.artwork"
                                   ui-sref-active="active">Artwork Requirements</a>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <div class="mobile-menu-item"
                            ng-click="toggleLinksList(2)">
                            <div class="nav-links-label">
                                <i class="mobile-menu-icon material-icons">
                                    help_outline
                                </i>
                                <span>Shopping Help</span>
                            </div>
                            <i class="material-icons">
                                {{ activeListNumber !== 2 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                            </i>
                        </div>
                        <ul class="nav-links-list"
                            ng-class="{'hidden-list' : activeListNumber !== 2}">
                            <li>
                                <a class="header-nav-link" title="Order Process"
                                   ui-sref="router.order-process"
                                   ui-sref-active="active">Order Process</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Shipping &amp; Delivery"
                                   ui-sref="router.delivery"
                                   ui-sref-active="active">Shipping &amp; Delivery</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Product Samples"
                                   ui-sref="router.samples"
                                   ui-sref-active="active">Product Samples</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Current Promotion"
                                   ui-sref="router.promotion"
                                   ui-sref-active="active">Current Promotion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <div class="mobile-menu-item"
                            ng-click="toggleLinksList(3)">
                            <div class="nav-links-label">
                                <i class="mobile-menu-icon material-icons">
                                    info
                                </i>
                                <span>Company Info</span>
                            </div>
                            <i class="material-icons">
                                {{ activeListNumber !== 3 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                            </i>
                        </div>
                        <ul class="nav-links-list"
                            ng-class="{'hidden-list' : activeListNumber !== 3}">
                            <li>
                                <a class="header-nav-link" title="About Us"
                                   ui-sref="router.about"
                                   ui-sref-active="active">About Us</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Mission Statement"
                                   ui-sref="router.mission"
                                   ui-sref-active="active">Mission Statement</a>
                            </li>
<!--                            <li>-->
<!--                                <a class="header-nav-link" title="Awards"-->
<!--                                   ui-sref="router.awards"-->
<!--                                   ui-sref-active="active">Awards</a>-->
<!--                            </li>-->
                            <li>
                                <a class="header-nav-link" title="Our Guarantee"
                                   ui-sref="router.guarantee"
                                   ui-sref-active="active">Our Guarantee</a>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <div class="mobile-menu-item"
                            ng-click="toggleLinksList(4)">
                            <div class="nav-links-label">
                                <i class="mobile-menu-icon material-icons">
                                    build
                                </i>
                                <span>Tools & Resources</span>
                            </div>
                            <i class="material-icons">
                                {{ activeListNumber !== 4 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                            </i>
                        </div>
                        <ul class="nav-links-list"
                            ng-class="{'hidden-list' : activeListNumber !== 4}">
                            <li>
                                <a class="header-nav-link" title="Sitemap"
                                   href="//www.superiorpromos.com/products"
                                   ui-sref-active="active">Sitemap</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Superior Promos Blog"
                                   ui-sref="router.blog"
                                   ui-sref-active="active">Promotional Blog</a>
                            </li>
                            <li>
                                <a class="header-nav-link"
                                   title="Promotional Glossary"
                                   ui-sref="router.glossary"
                                   ui-sref-active="active">Promotional Glossary</a>
                            </li>
                            <li>
                                <a class="header-nav-link" title="Case Studies"
                                   ui-sref="router.case-studies"
                                   ui-sref-active="active">Case Studies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-backdrop" ng-click="toggleMobileMenu()"></div>
    </div>
    <div id="anchor_scroll"></div>
</header>
