@import "../../scss/modules/variables";

.dropdown-menu {
  box-shadow: none;
}

.logo-white {
  display: none;
}

.quicklinks-list {
  line-height: 1.4;
  padding-right: 5px;
  width: 50%;
  margin-top: 10px;

  li {
    margin-bottom: 25px;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.quicklink-img {
  width: 24px;
  text-align: center;
  margin-right: 15px;
  float: left;
}

.quicklinks {
  height: 100%;
  overflow: hidden;
  background: $color-white;
  padding: 0 20px 0;
  border-left: rgba(44, 53, 57, 0.8);
}

.quicklinks-heading {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.15;
  color: #2d3539;
  margin-left: 38px;
}

.quicklinks-heading.dark-blue {
  padding-left: 0;
}

.dropdown-block {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.addToCartLink, 
.addToCartLink:hover {
  float: right;
  font-size: 13px;
  line-height: 2.15;
  color: $color-dark-blue;
  font-family: "Roboto", sans-serif;
}

a.dark-blue, 
.dark-blue {
  color: $color-dark-blue;
}

.topProducts {
  width: 352px;
  height: 120px;
  border: solid 1px #e7eef3;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;

  .ship-info {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    line-height: 1.3;
  }

  .info {
    font-size: 10px;
    margin: 5px 0;
  }

  .small-price-top {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    float: left;
  }
}

.topImg {
  max-height: 100%;
  float: left;
  width: 40%;
  position: relative;
  padding-left: 8px;

  img {
    width: 112px;
    height: 112px;
  }
}

.topProductInfo {
  float: right;
  width: 60%;
  padding-right: 8px;

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1.15;
    color: #2d3539;
    margin-bottom: 2px;
  }
}

.back-link, 
.back-link:hover {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;

  img {
    position: absolute;
    width: 19px;
    height: 16px;
    left: -25px;
    top: 2px;
  }
}

$head-padding: 62px;

@keyframes star-icon {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateY(50px) translateX(-50px) scale(8);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) translateX(-50px) scale(8);
  }
}

@keyframes cart-icon {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateY(50px) scale(8);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) scale(8);
  }
}

header {
  transition: opacity $slideTime linear;
  padding: 0;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  background-color: white;
  z-index: 12;
  box-shadow: 0 -2px 5px 0px black;

  .header-fade {
    display: none;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.7);

    &.active {
      display: block;
    }
  }

  &.open-nav {
    .dark-bg {
      display: block;
    }

    .header-nav {
      position: relative;

      .logo-and-search {
        .logo {
          display: none;
        }

        .logo-white {
          display: block;
          z-index: 999;
        }
      }

      .header-nav-menu {
        .header-nav-menu-item {
          z-index: 999;
          color: white;

          &.item-categories {
            z-index: 999;
            color: initial;
          }
        }
      }
    }
  }

  .dark-bg {
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom:0;
    display: none;
    z-index: 11;
    background-color: rgba(0,0,0,.7);
  }

  .user-status-bar {
    height: 26px;
    display: flex;
    background-color: #203340;
    color: $color-white;
    padding: 15px 20px;
    align-items: center;
    position: relative;
    z-index: 10;

    .my-account {
      display: flex;
      min-width: 115px;
      align-items: center;
    }

    .user-icon {
      font-size: 20px;
      margin-right: 15px;
    }

    .user-auth,
    .info,
    .user-cart {
      padding: 5px 0;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      color: white;

      .material-icons {
        color: white;
        font-size: 18px;
      }

      .cart-info-item {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        .ico-cart {
          margin-left: 15px;
          font-size: 20px;
        }

        .cart-qantity {
          position: absolute;
          width: auto;
          padding: 3px 5px 2px;
          font-size: 12px;
          font-weight: 700;
          top: -2px;
          right: 1px;
          z-index: 0;
          background: #4ac9ff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }

    .user-auth {
      flex: 1 0 25%;
      padding-left: 5px;

      @media screen and (min-width: 992px) and (max-width: 1300px) {
        flex: 1 0 17%;
      }

      .auth-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
      }

      .home-btn {
        cursor: pointer;
      }
    }

    .info {
      flex:1 0 50%;
      justify-content: center;
      padding-left: 5px;

      @media screen and (min-width: 992px) and (max-width: 1300px) {
        flex: 1 0 56%;
      }

      .info-item {
        display: flex;
        align-items: center;
        padding-right: 20px;
        font-weight: 400;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          cursor: default;
        }
        
        a {
          font-size: 14px;
          font-weight: 500;
          color: white;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }

    .user-cart {
      flex:0 1 25%;
      padding: 0 5px;
      justify-content: flex-end;
      position: relative;

      @media screen and (min-width: 992px) and (max-width: 1300px) {
        flex: 1 0 15%;
      }

      .shopping-cart-plus-one {
        position: absolute;
        width: 34px;
        top: 5px;
        right: 10px;
        opacity: 0;

        &.add-cart-item {
          animation-name: cart-icon;
          animation-duration: 1.5s;
        }
      }

      .wish-list-icon {
        position: absolute;
        top: 5px;
        right: 1px;
        opacity: 0;

        &.add-to-fav {
          animation-name: star-icon;
          animation-duration: 1.5s;
        }
      }

      .ico-cart{
        margin-right: 5px;
      }

      .ico-saved-cart {
        margin-left: 5px;
      }
    }
  }

  .header-auto-hide {
    position: fixed;
    top: 23px;
    left: 0;
    right: 0;
    background: $color-white;
    box-shadow: 0 0 5px #333;
    transition: top .5s ease;

    &.inactive {
      top: -103px;
      transition: top .5s ease;
    }
  }

  .header-nav {
    display: flex;

    .header-section-main,
    .header-section-social,
    .header-nav-menu {
      display: flex;
    }

    .header-section-main {
      flex: 1 0 70%;
      padding-left: $head-padding;
      flex-direction: column;
    }

    .header-section-social {
      flex:0 1 30%;
      justify-content: flex-end;
      align-items: center;
      padding-right: 30px;

      & .reseller-rating-container {
        height: 54px;
        margin-left: 10px;

        & a img {
          height: 100%;
        }
      }
    }

    .logo-and-search {
      display: flex;
      align-items: center;
      padding: 15px;
      position: relative;

      .logo,
      .logo-white {
        margin-left: -57px;
        cursor: pointer;
      }

      .logo {
        width: 234px;
        margin-right: 15px;
      }

      .logo-white {
        display: none;
      }

      .quick-search {
        width: 100%;

        .search-container {
          border: 10px solid #e6eef2;
          border-radius: 14px;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 2px 0 10px;

          .search-icon {
            color: $color-dark-blue;
          }

          .search-adv {
            white-space: nowrap;
            margin: 0 2%;
            text-decoration: none;
            color: #99adba;
            font-weight: normal;
            font-size: 13px;
            cursor: pointer;
          }

          .search-btn {
            border-radius: 14px;
          }
        }
      }     

      .quick-search-wrapper {
        background: #f0f0f0;
        position: absolute;
        left: 210px;
        top: 70px;
        z-index: 1;
        box-shadow: 0 2px 7px #616161;
        border-radius: 5px;
        display: flex;
        height: 600px;

        .quick-search-categories-block {
          display: flex;
          flex-direction: column;
          margin: 10px;
          border-radius: 5px;
          overflow: hidden;
          background: #fff;
          max-width: 200px;

          .header {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-blue;
            color: #fff;
            padding: 10px;
          }

          .body {
            padding-top: 10px;
            overflow: auto;
            display: flex;
            flex-direction: column;

            .category {
              color: #454f51;
              padding: 8px 10px;
              transition: 100ms ease background-color;

              &:hover {
                background-color: #f0f0f0;
                cursor: pointer;
              }

              &.active {
                background-color: $color-blue;
                color: #fff;
              }
            }
          }
        }

        .quick-search-result-block {
          width: 700px;
          display: flex;
          flex-wrap: wrap;
          border-left: 2px solid #e0e0e0;
          padding: 5px;
          overflow: hidden;

          .result {
            display: flex;
            flex-direction: column;
            width: 24%;
            height: 45%;
            padding: 5px;
            margin: 3px 0.5%;
            background: #fff;
            border-radius: 5px;
            transition: .3s;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            transition-delay: 0s;
            border: 1px solid transparent;

            &:hover {
              box-shadow: 0 2px 18px rgba(0,0,0,.2);
              z-index: 2;
            }

            .image {
              width: 100%;
              margin-bottom: 7px;
              overflow: hidden;

              img {
                width: 100%;
                transform-origin: 50% 50%;
                transition: transform .25s, visibility .25s ease-in;
              }

              &:hover {
                cursor: pointer;

                img {
                  transform: scale(1.1);
                }
              }
            }

            .description {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .head {
                &:hover {
                  color: $color-blue;
                  cursor: pointer;
                }
              }

              .body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .info {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  margin: 7px 0;

                  .text {
                    opacity: .5;
                    color: #2d3539;
                    font-size: 11px;
                    font-weight: 400;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.09;
                    letter-spacing: normal;
                  }

                  .price {
                    margin-top: 3px;
                    font-size: 18px;
                    font-weight: 900;
                    color: $color-price-green;
                    vertical-align: middle;
                    opacity: 1;
                  }
                }
              }
            }
          }

          .showMore {
            width: 100%;
            height: 30px;
            display: flex;
            margin-bottom: 5px;
            justify-content: space-between;
            align-self: flex-end;
            align-items: center;
            font-size: 12px;
            padding: 0 5px;

            .viewAll {
              border-radius: 5px;
              color: rgb(41, 171, 226);
              padding-left: 7px;
              padding-right: 7px;
              width: 101px;
              background: #ffffff;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-decoration: none;
              transition: all 150ms ease;

              &:hover {
                width: 120px;
                background: $color-blue;
                color: white;
                cursor: pointer;
              }
            }

            .total {
              font-size: 14px;
              color: $color-grey;
            }
          }

          .loading {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
              color: #454f51;
            }
          }
        }
      }
    }
  }

  .header-nav-menu {
    display: flex;
    align-items: center;
    padding: 12px;

    .header-nav-menu-item {
      display: flex;      
      align-items: center;
      font-size: 13px;
      font-weight: 500;
      margin-right: 12px;
      color: #22282b;
      position: relative;
      cursor: pointer;

      &.static {
        margin: 0 12px;
      }

      .ico-more {
        color:$color-dark-blue;
        font-size: 24px;
      }

      &.item-categories {
        font-size: 18px;
        font-weight: 900;
        padding: 10px 0 10px 10px;
        margin-left: -10px;
        margin-right: 15px;
        background-color: white;
      }

      &.quick-container {
        .quick-block {
          display: none;
          position: absolute;
          top: 29px;
          left: -2px;
          width: 244px;

          .quick-links {
            box-shadow: 0 0 10px #d8e5ed;
            margin-top: 17px;

            .link-item {
              margin-bottom: 10px;
            }
          }

          &.active {
            display: block;
          }
        }
      }
    }
  }

  .nav-links-container {
    .mobile-menu-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-links-label {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .nav-links-list {
      margin-left: 43px;
      overflow: hidden;
      height: 112px;
      transition: 0.3s;

      li {
        a {
          display: block;
          padding: 7px 0;
          color: #69ace4;
        }
      }

      &.hidden-list {
        height: 0;
      }
    }

    .social-icons {
      background: #ececec;
      border-radius: 5px;
      display: flex;
      max-width: 150px;
      width: 100%;
      height: 46px;
      justify-content: space-evenly;
      align-items: center;
      .icon {
        a {
          img {
            width: 24px;
            height: 24px;
            display: block;
            object-fit: contain;
          }
        }
      }
    }
  }

  .contact-information {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 54px;

    .contact-text {
      @media screen and (min-width: 992px) and (max-width: 1300px) {
        text-align: center;
      }
    }

    .contact-phone,
    .contact-chat {
      display: flex;
      align-items: center;
      justify-content: center;

      .text-chat {
        font-weight: normal;
        color: $color-dark-blue;
      }
    }

    .contact-phone {
      font-family: $base-font;
      font-size: 26px;
      font-weight: 900;
      font-stretch: condensed;

      @media screen and (min-width: 992px) and (max-width: 1300px) {
        font-size: 17px;
      }
    }

    .ico-phone {
      margin-right: 10px;
      color: $color-light-grey;
      font-size: 17px;
    }

    .ico-chat {
      width: 20px;
      margin-right: 10px;
    }
  }

  .contact-social-links {
    display: flex;

    .social-link-item {
      display: flex;
      width: 30px;
      height: 30px;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
