.registration-success {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  strong {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
  }

  h4 {
    display: block;
  }
}