<img class="close-modal" ng-click="toggleAll()" src="/img/material-icons/ic_close_grey.svg" alt="">
<div class="login-content">
    <div class="login-info right">
        <div class="bold">Welcome to</div>
        <div class="login-logo">
            <img src="/img/new_logo.svg" alt="Superior Promos" title="Superior Promos">
        </div>
        <div class="register-info">
            Register now on Superior promos site and make orders with our branding decorated products
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="forgotpassw-heading side-middle-line">
        Forgot your password?
    </div>
    <div class="passw-info">
        Please enter your email address. Your password will be sent to you.
    </div>
    <form class="login-form fp-form" name="passwordForm" ng-submit="forgotPassword()">
        <span class="flash" ng-class="[{error: !flashMessage.isSuccess},{success: flashMessage.isSuccess}]">{{flashMessage.message}}</span>

        <div class="form-group left" ng-class="{ 'has-error' : passwordForm.email.$invalid && !passwordForm.email.$pristine }">
            <input type="email" name="email" class="form-control" placeholder="Email address" ng-model="resetData.users.email" required>
            <p ng-show="passwordForm.email.$invalid && !passwordForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <div class="form-actions right">
            <button type="submit" class="sign-in-btn">Submit</button>
        </div>
        <button type="button" class="register-btn" ng-click="goToRegistration()">Register</button>
    </form>
</div>
