<img class="close-modal" ng-click="toggleAll()" src="/img/material-icons/ic_close_grey.svg" alt="">
<div class="login-content">
    <div class="login-info right">
        <div class="bold">Welcome to</div>
        <div class="login-logo right">
            <img src="img/new_logo.svg" alt="Superior Promos" title="Superior Promos">
        </div>
        <div class="register-info">
            Register now on Superior promos site and make orders with our branding decorated products
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="login-heading side-middle-line">
        Login / Register
    </div>
    <form class="login-form" name="loginForm" ng-submit="login()">
        <!--ng-class="flashMessage.isSuccess ? 'success' : 'error'"-->
        <span class="flash login-flash" ng-class="[{error: !flashMessage.isSuccess},{success: flashMessage.isSuccess}]"  ng-if="flashMessage.message">{{flashMessage.message}}</span>

        <div class="form-group " ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
            <input type="email" name="email" class="form-control" placeholder="Email address" ng-model="loginData.email" required>
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password">
            <span class="authorization-error" ng-if="authorizationError">Invalid email or password</span>
            <div class="clearfix"></div>
            <a href="#" class="forgot-password left" ng-click="loginRegistrationService.goToStep('forgotPassword')">Forgot your password?</a>
        </div>

        <div class="form-actions">
            <button class="sign-in-btn" type="submit" ng-disabled="userForm.$invalid">Sign in</button>
        </div>

        <div class="form-links">
            <md-checkbox ng-model="$appUser.remember" md-no-ink="" aria-label="Checkbox No Ink" class="md-primary grey-checkbox">
                <a href="">Remember me</a><!--</span>-->
            </md-checkbox>
        </div>

        <div class="clearfix"></div>

        <div class="form-text-divider side-middle-line">
            New to SuperiorPromos?
        </div>


        <button type="button" class="register-btn" ng-click="goToRegistration()">Register</button>
        <div class="clearfix"></div>

<!--        <div ng-if="::false" class="form-text-divider side-middle-line">-->
<!--            Or-->
<!--        </div>-->
<!--        <div class="clearfix"></div>-->

<!--        <button ng-if="::false" class="google-btn left" type="button" ng-click="socialLogin('google-plus')">-->
<!--            Sign in with Google-->
<!--            <img src="/img/social-icons/google.svg" alt="">-->
<!--        </button>-->

<!--        <button ng-if="::false" class="facebook-btn right" type="button" ng-click="socialLogin('facebook')">-->
<!--            Sign in with Facebook-->
<!--            <img src="/img/social-icons/fb.svg" alt="">-->
<!--        </button>-->
<!--        <div class="clearfix"></div>-->
    </form>
</div>


