<img class="close-modal" ng-click="toggleAll()" src="/img/material-icons/ic_close_grey.svg" alt="">
<div class="registration-heading">
    Account Registration
    <h6 class="registration-sub_heading">{{sub_header_text}}</h6>
</div>
<form class="registration-form" name="ctrl.userForm" ng-submit="registerUser()" role="form">
    <span class="flash" ng-class="[{error: !flashMessage.isSuccess},{success: flashMessage.isSuccess}]">{{flashMessage.message}}</span>
    <div class="form-fields" ng-if="reg_screen == 'general-info'">
        <div class="registration-auth-data">
            <!-- Email Address -->
            <div class="form-group" ng-class="{'has-error': ctrl.userForm.email.$error.email || isExistingEmail }">
                <label>Email Address <span class="star">*</span></label>
                <input type="email" name="email" class="form-control" ng-model="dataSend.users.email" required>
                <!--<p ng-show="ctrl.userForm.email.$invalid && !ctrl.userForm.email.$pristine" class="help-block">Enter a valid email.</p>-->
                <p ng-show="ctrl.userForm.email.$error.email" class="help-block">{{ctrl.userForm.email.$error.errorMessage}}</p>
                <p ng-show="isExistingEmail" class="help-block">This email has already been taken</p>
            </div>
            <!-- Retype Email -->
            <div class="form-group">
                <label>Retype Email <span class="star">*</span></label>
                <input type="email" name="email_confirmation" class="form-control" ng-model="dataSend.users.email_confirmation" required>
                <!--<p ng-show="ctrl.userForm.email.$invalid && !ctrl.userForm.email.$pristine" class="help-block">Enter a valid email.</p>-->
                <p ng-show="ctrl.userForm.email.$error.email" class="help-block">{{ctrl.userForm.email.$error.errorMessage}}</p>
            </div>
            <!-- Password -->
            <div class="form-group" ng-class="{'has-error' : ctrl.userForm.password.$error.password || passpattern}">
                <label>Password <span class="star">*</span></label>
                <input type="password" name="password" class="form-control" ng-model="dataSend.users.password" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required
                       tooltip-template-url="/views/partials/loginRegistrationSteps/tooltip.tpl.html" tooltip-side="top" tooltips="" ng-change="testPattern(dataSend.users.password)">
                <p ng-show="ctrl.userForm.password.$error.password" class="help-block">{{ctrl.userForm.password.$error.errorMessage}}</p>
                <p ng-show="passpattern" class="help-block">Password pattern error</p>
            </div>
            <!-- Confirm Password -->
            <div class="form-group" ng-class="{ 'has-error' : dataSend.users.password != dataSend.users.password_confirmation && !ctrl.userForm.password_confirmation.$pristine }">
                <label>Confirm Password <span class="star">*</span></label>
                <input type="password" name="password_confirmation" class="form-control" ng-model="dataSend.users.password_confirmation" required
                       ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/">
                <p ng-show="dataSend.users.password != dataSend.users.password_confirmation && !ctrl.userForm.password_confirmation.$pristine" class="help-block">Password doesn't match.</p>
            </div>
        </div>
        <div class="registration-user-data">
            <!-- Contact Name -->
            <div class="form-group" ng-class="{ 'has-error' : ctrl.userForm.name.$invalid && !ctrl.userForm.name.$pristine }">
                <label>Contact Name <span class="star">*</span></label>
                <input type="text" name="name" class="form-control" ng-model="dataSend.users.name" required>
                <p ng-show="ctrl.userForm.name.$invalid && !ctrl.userForm.name.$pristine" class="help-block">Your name is required</p>
                <p ng-show="ctrl.userForm.name.$error.name" class="help-block">{{ctrl.userForm.name.$error.errorMessage}}</p>
            </div>
            <!-- Phone Nxumber -->
            <div class="form-group phone" ng-class="{ 'has-error' : ctrl.userForm.phone.$invalid && !ctrl.userForm.phone.$pristine }">
                <div class="phone">
                    <label>Phone Number <span class="star">*</span></label>
                    <input type="text" name="phone" class="form-control" ng-model="dataSend.users.contact_telephone" required ui-mask="999-999-9999" model-view-value="true"
                           ui-options="{addDefaultPlaceholder: false}">
                    <p ng-show="ctrl.userForm.phone.$invalid && !ctrl.userForm.phone.$pristine" class="help-block">Enter a valid telephone.</p>
                    <p ng-show="ctrl.userForm.phone.$error.phone" class="help-block">{{ctrl.userForm.phone.$error.errorMessage}}</p>
                </div>
                <!-- Ext -->
                <div class="ext">
                    <label>Ext</label>
                    <input type="text"
                           name="ext"
                           class="form-control"
                           ng-model="dataSend.users.ext"
                           maxlength="3"
                           ng-pattern="/^[0-9+]*$/">
                </div>
            </div>
            <!-- Fax -->
            <div class="form-group">
                <label>Fax</label>
                <input type="text" name="fax" class="form-control" ng-model="dataSend.users.fax">
            </div>

            <!--<div class="form-group" >
                <label>Password <span class="star">*</span></label>
                <input type="password" name="pass" class="form-control" ng-model="pass" required ng-pattern="/\d+/" ng-keyup="testPattern(ctrl.userForm.pass, pass)">
            </div>-->

        </div>
    </div>

    <div class="form-fields" ng-if="reg_screen == 'shipping-info'">
        <div class="registration-auth-data">
            <!-- First and Middle Name -->
            <div class="form-group name">
                <div class="fname">
                    <label>First Name <span class="star">*</span></label>
                    <input type="text" name="first_name_shipping" class="form-control" ng-model="dataSend.users.shipping.first_name" required>
                </div>
                <div class="mname">
                    <label>Middle Name</label>
                    <input type="text" name="middle_name_shipping" class="form-control" ng-model="dataSend.users.shipping.middle_name">
                </div>
            </div>
            <!-- Last Name -->
            <div class="form-group">
                <label>Last Name <span class="star">*</span></label>
                <input type="text" name="last_name_shipping" class="form-control" ng-model="dataSend.users.shipping.last_name" required>
            </div>
            <!-- Company Name -->
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="company_shipping" class="form-control" ng-model="dataSend.users.shipping.company">
            </div>
            <!-- Title -->
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title_shipping" class="form-control" ng-model="dataSend.users.shipping.title">
            </div>
            <!-- Phone Number -->
            <div class="form-group phone" ng-class="{ 'has-error' : ctrl.userForm.phone_shipping.$invalid && !ctrl.userForm.phone_shipping.$pristine }">
                <div class="phone">
                    <label>Phone Number <span class="star">*</span></label>
                    <input type="text" name="phone_shipping" class="form-control" ng-model="dataSend.users.shipping.day_telephone" ui-mask="999-999-9999" model-view-value="true"
                           ui-options="{addDefaultPlaceholder: false}" required>
                    <p ng-show="ctrl.userForm.phone_shipping.$invalid && !ctrl.userForm.phone_shipping.$pristine" class="help-block">Enter a valid telephone.</p>
                    <p ng-show="ctrl.userForm.phone_shipping.$error.phone_shipping" class="help-block">{{ctrl.userForm.phone_shipping.$error.errorMessage}}</p>
                </div>
                <div class="ext">
                    <label>Ext</label>
                    <input type="text"
                           name="ext_shipping"
                           class="form-control"
                           ng-model="dataSend.users.shipping.ext"
                           maxlength="3"
                           ng-pattern="/^[0-9+]*$/">
                </div>
            </div>
            <!-- Fax -->
            <div class="form-group">
                <label>Fax</label>
                <input type="text" name="fax_shipping" class="form-control" ng-model="dataSend.users.shipping.fax">
            </div>

            <!--<div class="form-links news-link">
                <md-checkbox ng-model="dataSend.users.billing.same_as_shipping" md-no-ink="" aria-label="Checkbox No Ink" class="md-primary grey-checkbox">
                    <a href="" class="send-news">Billing Address (same as shipping)</a>
                </md-checkbox>
            </div>-->

        </div>
        <div class="registration-user-data">
            <!-- Address 1 -->
            <div class="form-group">
                <label>Address 1 <span class="star">*</span></label>
                <input type="text" name="address1_shipping" class="form-control" ng-model="dataSend.users.shipping.address_line_1" required>
            </div>
            <!-- Address 2 -->
            <div class="form-group">
                <label>Address 2</label>
                <input type="text" name="address2_shipping" class="form-control" ng-model="dataSend.users.shipping.address_line_2">
            </div>
            <!-- City -->
            <div class="form-group">
                <label>City <span class="star">*</span></label>
                <input type="text" name="city_shipping" class="form-control" ng-model="dataSend.users.shipping.city" required>
            </div>
            <!-- State -->
            <div class="form-group" ng-if="dataSend.users.shipping.country === 'US'">
                <label>State <span class="star">*</span></label>
                <!-- <input type="text" name="state_shipping" class="form-control" ng-model="dataSend.users.shipping.state" required> -->
                <select ng-model="dataSend.users.shipping.state"
                        name="state"
                        class="form-control"
                        ng-options="option.abbreviation as option.name for option in $usStates"
                        ng-focus="resetError(ctrl.userForm.state)"
                        required>
                </select>
            </div>
            <!-- Country-->
            <div class="form-group name">
                <div class="country">
                    <label>Country <span class="star">*</span></label>
                    <select ng-model="dataSend.users.shipping.country"
                            name="country"
                            class="form-control"
                            ng-options="option.code as option.name for option in $countriesList"
                            ng-focus="resetError(ctrl.userForm.country)"
                            required>
                    </select>
                    <!-- <input type="text" 
                    name="country_shipping" 
                    class="form-control" 
                    ng-model="dataSend.users.shipping.country" required> -->
                </div>
                <!-- Zip code-->
                <div class="zpcode">
                    <label>Zip/Postal Code <span class="star">*</span></label>
                    <input class="form-control"
                           type="text"
                           name="zpcode_shipping"
                           ng-model="dataSend.users.shipping.zip"
                           maxlength="5"
                           ng-pattern="/^[0-9+]*$/" required>
                </div>
            </div>
            <!-- Province -->
            <div class="form-group">
                <label>Province (if non-US)</label>
                <input type="text" name="province_shipping" class="form-control" ng-model="dataSend.users.shipping.province">
            </div>

            <!--<div class="form-links news-link">
                <md-checkbox ng-model="billing.address_new" md-no-ink="" aria-label="Checkbox No Ink" class="md-primary grey-checkbox">
                    <a href="" class="send-news">New Billing Address</a>
                </md-checkbox>
            </div>-->

        </div>
    </div>

    <div class="form-fields" ng-if="reg_screen == 'billing-info'">
        <div class="registration-auth-data">
            <!-- First and Middle Names -->
            <div class="form-group name">
                <div class="fname">
                    <label>First Name <span class="star">*</span></label>
                    <input type="text" name="first_name_billing" class="form-control" ng-model="dataSend.users.billing.first_name" required>
                </div>
                <div class="mname">
                    <label>Middle Name</label>
                    <input type="text" name="middle_name_billing" class="form-control" ng-model="dataSend.users.billing.middle_name">
                </div>
            </div>
            <!-- Last Name -->
            <div class="form-group">
                <label>Last Name <span class="star">*</span></label>
                <input type="text" name="last_name_billing" class="form-control" ng-model="dataSend.users.billing.last_name" required>
            </div>
            <!-- Company Name -->
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="company_billing" class="form-control" ng-model="dataSend.users.billing.company">
            </div>
            <!-- Title -->
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title_billing" class="form-control" ng-model="dataSend.users.billing.title">
            </div>
            <!-- Phone Number -->
            <div class="form-group phone" ng-class="{ 'has-error' : ctrl.userForm.phone_billing.$invalid && !ctrl.userForm.phone_billing.$pristine }">
                <div class="phone">
                    <label>Phone Number <span class="star">*</span></label>
                    <input type="text" name="phone_billing" class="form-control" ng-model="dataSend.users.billing.day_telephone" ui-mask="999-999-9999" model-view-value="true"
                           ui-options="{addDefaultPlaceholder: false}" required>
                    <p ng-show="ctrl.userForm.phone_billing.$invalid && !ctrl.userForm.phone_billing.$pristine" class="help-block">Enter a valid telephone.</p>
                    <p ng-show="ctrl.userForm.phone_billing.$error.phone_billing" class="help-block">{{ctrl.userForm.phone_billing.$error.errorMessage}}</p>
                </div>
                <div class="ext">
                    <label>Ext</label>
                    <input type="text"
                           name="ext_billing"
                           class="form-control"
                           ng-model="dataSend.users.billing.ext"
                           maxlength="3"
                           ng-pattern="/^[0-9+]*$/">
                </div>
            </div>
            <!-- Fax -->
            <div class="form-group">
                <label>Fax</label>
                <input type="text" name="fax_billing" class="form-control" ng-model="dataSend.users.billing.fax">
            </div>
        </div>
        <div class="registration-user-data">
            <!-- Address 1 -->
            <div class="form-group">
                <label>Address 1 <span class="star">*</span></label>
                <input type="text" name="address1_billing" class="form-control" ng-model="dataSend.users.billing.address_line_1" required>
            </div>
            <!-- Address 2 -->
            <div class="form-group">
                <label>Address 2</label>
                <input type="text" name="address2_billing" class="form-control" ng-model="dataSend.users.billing.address_line_2">
            </div>
            <!-- City -->
            <div class="form-group">
                <label>City <span class="star">*</span></label>
                <input type="text" name="city_billing" class="form-control" ng-model="dataSend.users.billing.city" required>
            </div>
            <!-- State -->
            <div class="form-group" ng-if="dataSend.users.billing.country === 'US'">
                <label>State <span class="star">*</span></label>
                <select ng-model="dataSend.users.billing.state"
                        name="state"
                        class="form-control"
                        ng-options="option.abbreviation as option.name for option in $usStates"
                        ng-focus="resetError(ctrl.userForm.state)"
                        required>
                </select>
                <!-- <input type="text" name="state_billing" class="form-control" ng-model="dataSend.users.billing.state" required> -->
            </div>
            <!-- Country -->
            <div class="form-group name">
                <div class="country">
                    <label>Country <span class="star">*</span></label>
                    <select ng-model="dataSend.users.billing.country"
                            name="country"
                            class="form-control"
                            ng-options="option.code as option.name for option in $countriesList"
                            ng-focus="resetError(ctrl.userForm.country)"
                            required>
                    </select>
                    <!-- <input type="text" name="country_billing" class="form-control" ng-model="dataSend.users.billing.country" required> -->
                </div>
                <div class="zpcode">
                    <label>Zip/Postal Code <span class="star">*</span></label>
                    <input class="form-control"
                           type="text"
                           name="zpcode_billing"
                           ng-model="dataSend.users.billing.zip"
                           maxlength="5"
                           ng-pattern="/^[0-9+]*$/" required>
                </div>
            </div>
            <!-- Province -->
            <div class="form-group">
                <label>Province (if non-US)</label>
                <input type="text" name="province_billing" class="form-control" ng-model="dataSend.users.billing.province">
            </div>

        </div>
    </div>

    <div class="form-links news-link news-link-indent" ng-if="reg_screen == 'general-info'">
        <md-checkbox ng-model="dataSend.users.send_promos" md-no-ink="" aria-label="Checkbox No Ink" class="md-primary grey-checkbox">
            <a href="" class="send-news">Yes, please send me Superior Promos e-mail updates about the latest trends, special sale announcements, online-only offers, and more</a>
        </md-checkbox>
    </div>

    <div class="form-links news-link" ng-if="reg_screen == 'shipping-info'">
        <md-radio-group ng-model="billing.address"
                        md-no-ink="true"
                        class="shipping-type-radio"
                        name="type">
            <md-radio-button ng-value="'same_as_shipping'" class="md-radio-shipping">
                <a href="">Billing Address (same as shipping)</a>
            </md-radio-button>
            <md-radio-button ng-value="'new_address'" class="md-radio-shipping">
                <a href="" class="left">New Billing Address</a>
            </md-radio-button>
        </md-radio-group>
    </div>

    <div class="form-actions" ng-class="{ 'indent-general' : reg_screen == 'general-info', 'indent-billing' : reg_screen == 'billing-info'}">
        <button class="prev-btn" ng-click="goToLogin()" ng-if="reg_screen == 'general-info'">
            <img src="/img/material-icons/ic_chevron_left_blue.svg" alt="">
            <span>Back</span>
        </button>
        <button class="prev-btn next-btn" ng-click="moveToScreen('shipping-info', $event)" ng-if="reg_screen == 'general-info'" ng-disabled="ctrl.userForm.$invalid">
            <span>Next step</span>
            <i class="material-icons">chevron_right</i>
        </button>
        <button class="prev-btn" ng-click="moveToScreen('general-info', $event)" ng-if="reg_screen == 'shipping-info'">
            <img src="/img/material-icons/ic_chevron_left_blue.svg" alt="">
            <span>Back</span>
        </button>
        <button class="prev-btn next-btn"
                ng-click="moveToScreen('billing-info', $event)"
                ng-if="reg_screen == 'shipping-info' && billing.address == 'new_address'"
                ng-disabled="ctrl.userForm.$invalid">
            <span>Next step</span>
            <i class="material-icons">chevron_right</i>
        </button>
        <button class="prev-btn" ng-click="moveToScreen('shipping-info', $event)" ng-if="reg_screen == 'billing-info'">
            <img src="/img/material-icons/ic_chevron_left_blue.svg" alt="">
            <span>Back</span>
        </button>
        <button class="next-btn submit" type="submit"
                ng-disabled="ctrl.userForm.$invalid"
                ng-if="reg_screen == 'shipping-info' && billing.address == 'same_as_shipping'"
                ng-disabled="ctrl.userForm.$invalid">
            <span>Register</span>
        </button>
        <button class="next-btn submit"
                type="submit" ng-disabled="ctrl.userForm.$invalid"
                ng-if="reg_screen == 'billing-info'"
                ng-disabled="ctrl.userForm.$invalid">
            <span>Register</span>
        </button>
    </div>
</form>


