<div class="forgot-password-block">
    <img class="close-modal" ng-click="toggleAll()" src="/img/material-icons/ic_close_grey.svg" alt="">
    <div class="msg-wrap left">
        <img src="/img/e-mail-icon.svg" alt="">
        <div class="report-msg">
            Your Password was sent to you. Please check your email.
        </div>
    </div>
    <div class="report-content right">
        <div class="report-heading">
            Login / Register
        </div>
        <form class="login-form report-form" name="loginForm" ng-submit="login()">

            <span class="flash" ng-class="[{error: !flashMessage.isSuccess},{success: flashMessage.isSuccess}]"  ng-if="flashMessage.message">{{flashMessage.message}}</span>

            <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                <input type="email" name="email" class="form-control" placeholder="Email address" ng-model="loginData.email" required>
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password">
                <div class="clearfix"></div>
            </div>
            <div class="form-links report-links">
                <md-checkbox ng-model="loginData.remember_me" md-no-ink="" aria-label="Checkbox No Ink" class="md-primary grey-checkbox remember_me">
                    <a href="">Remind me</a></span>
                </md-checkbox>
                <a href="#" class="right forgot-password" ng-click="loginRegistrationService.goToStep('forgotPassword')">Forgot your password?</a>
            </div>
            <div class="form-actions">
                <button class="sign-in-btn" type="submit" ng-disabled="userForm.$invalid">Sign in</button>
            </div>
            <button type="button" class="register-btn" ng-click="goToRegistration()">Register</button>
        </form>
    </div>
</div>
