<div class="password-tooltip">
    Password must contain:
    <ul>
        <li>- a minimum of 1 uppercase letter [A-Z]</li>
        <li>- a minimum of 1 numeric character [0-9]</li>
        <li>- least 8 characters in length</li>
    </ul>
</div>
