.page-blog {
  padding: 25px 125px;

  @media screen and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .page-blog-wrapper {
    display: flex;

    @media screen and (max-width: 640px) {
      display: block;
    }

    .blog-action {
      max-width: 300px;
      width: 100%;
      padding: 10px;

      @media screen and (max-width: 1280px) {
        width: 30%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        max-width: none;
      }

      .blog-search {
        display: flex;
        align-items: center;

        .blog-search-input {
          border-radius: 6px;
          height: 30px;
          border: none;
          padding: 0 35px 0 15px;
          border-radius: 8px;
          height: 42px;
          background-color: rgba(180, 191, 198, 0.3);
          font-size: 11px;
          color: rgba(45, 53, 57, 0.5);
          max-width: 250px;
          width: 100%;

          @media screen and (max-width: 1280px) {
            width: 90%;
          }

          @media screen and (max-width: 640px) {
            width: 100%;
            max-width: none;
          }
        }

        .blog-search-icon {
          margin-left: -30px;
          color: #3598db;
        }
      }

      .blog-date {
        &.date-picker {
          margin: 30px 0 30px -15px;
        }
      }

      .blog-history {
        @media screen and (max-width: 640px) {
          margin-bottom: 40px;
        }

        .blog-history-header {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .blog-history-item {
          display: flex;
          justify-content: space-between;
          width: 250px;
          font-size: 13px;
          font-weight: normal;
          margin-bottom: 10px;

          @media screen and (max-width: 1280px) {
            width: 90%;
          }

          @media screen and (max-width: 640px) {
            width: 100%;
          }

          .blog-history-qty {
            min-width: 30px;
            padding-left: 5px;
            text-align: right;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .blog-articles {
    width: 800px;
    font-size: 13px;

    @media screen and (max-width: 1280px) {
      width: 70%;
    }

    @media screen and (max-width: 640px) {
      width: 100%;
    }

    .blog-articles-item {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(151, 151, 151, .5);
      margin-bottom: 30px;
    }

    .blog-articles-header-wrapper {
      border-bottom: 1px solid rgba(151, 151, 151, .5);
      margin-bottom: 30px;
    }

    .blog-article-title {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .blog-article-date {
      margin-bottom: 20px;
      font-size: 11px;
    }

    .blog-article-text {
      line-height: 1.69;
    }

    .blog-link-wrap {
      display: flex;
      font-size: 11px;
      font-weight: 500;
      color: #3598db;

      .blog-link {
        margin-right: 5px;
        margin-top: 20px;
      }
    }

    .page-blog-pagination {
      display: flex;
      justify-content: flex-end;
    }
  }
}
