<div class="page-blog">
    <h2 class="static-title">Promoblog</h2>
    <div class="page-blog-wrapper">
        <div class="blog-action">
            <div class="blog-search">
                <input type="text" placeholder="Search blog" class="blog-search-input">
                <i class="material-icons blog-search-icon">search</i>
            </div>
            <div class="blog-date date-picker">
                <md-datepicker ng-model="blog_date" md-placeholder="Choose Date"></md-datepicker>
            </div>
            <div class="blog-history">
                <h3 class="blog-history-header">Categories</h3>
                <ul>
                    <li class="blog-history-item" ng-repeat="group in $blog.mockBlogGroups">
                        <div class="blog-history-title">{{::group.title}}</div>
                        <div class="blog-history-qty">{{::group.quantity}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="blog-articles">
            <div class="blog-articles-header-wrapper">
                <h2 class="static-title">Archive for January, 2017</h2>
            </div>
            <div class="blog-articles-item" ng-repeat="blog in $blog.blogs track by $index">
                <h6 class="blog-article-title">{{blog.title}}</h6>
                <p class="blog-article-date">{{blog.created_at | dateSuffix}}</p>
                <p class="blog-article-text" ng-bind-html="blog.body | trust"></p>
                <ul class="blog-link-wrap">
                    <li class="blog-link"><a href="/">#Promotional Items</a></li>
                    <li class="blog-link"><a href="/">#Promotional Products</a></li>
                </ul>
            </div>
            <div class="page-blog-pagination">
                <pagination-blog></pagination-blog>
            </div>
        </div>
    </div>
</div>