<div class="page-about-us">
    <h2 class="static-title">About Us</h2>
    <div class="about">
        <h3 class="about-title">
            Promotional Items<br>
            Welcome to superior promos
        </h3>
        <p>Our mission here at Superior Promos is based on 4 guarantees:</p>

        <ul class="img-list row margin-0 no-padding">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6"><img src="../../assets/img/static-icons/1.svg" alt="">
                <p>Superior Prices</p>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6"><img src="../../assets/img/static-icons/2.svg" alt="">
                <p>Superior Quality</p>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6"><img src="../../assets/img/static-icons/3_4.svg" alt="">
                <p>Superior Service</p>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6"><img src="../../assets/img/static-icons/4_4.svg" alt="">
                <p>Superior Products</p>
            </li>
        </ul>
        <p>Our new and exciting website was designed from the ground up to accommodate our clients. We know that shopping online can sometimes be a frustrating
            matter. That's why at Superior Promos we had one goal in mind and that is to bring you the best, worry free shopping experience on the web.</p>
        <h3 class="about-title about-secondary-header">We specialize in promotional gifts of all kinds.</h3>
        <p>Here, you will find everything you need to make your campaign successful. Our endless list of promotional items include custom calendars,
            corporate gifts, health care products, stress relievers, bags, writing instruments and so much more. From trade shows to company picnics, we have
            you covered regardless. Our website is filled with gift ideas for any occasion. Weddings, birthdays or even that special thank you that you were planning
            for a group, we can help make your next event a tremendous success.</p>
        <button class="go-shopping view-all" ui-sref="router.site-map">View All Categories</button>
        <p>Superior Promos brings you innovative features. We took out all the guess work so you can purchase your
            product with tremendous ease. Our My Budget feature will help you monitor your spending and plan your next
            promotion. Our professional art department will strive to provide you with the best art work possible. We
            will not stop until you are satisfied with your imprint and are ready to proceed with production of your
            item.</p>
        <p>We will not be beat, if you find an advertised price online; we will match it and in most cases beat it. We
            are confident that you will enjoy working with us. Our experience and determination will make your next
            promotion a wonderful success.</p>
        <p>Thank you for choosing the most exciting and innovative promotional company.</p>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
