.page-about-us {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {    
    padding: 0 0 25px 0;
  }

  .about {
    width: 65%;
    margin: 0 auto;

    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
    }
  }
}
