<div class="page-artwork">
    <h2 class="static-title">Artwork</h2>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 order-block">
            <div class="guarantee-head">
                <img class="guarantee-img" src="/img/artwork_1.png" alt="">
            </div>
            <div class="art-title">Full Art Services, Free Digital Proofs, Unlimited Proof Revisions</div>
            <br />
            <div class="art-info">
                <p>
                    Here at Superior Promos we understand the right design can make all the difference when it comes to
                    promotional products. That is why we provide an unconditional guarantee to all our clients when it
                    comes to artwork. All art services are always FREE, there are no catches or tricks. Our job is to
                    create or recreate a design that will not only be right for you but also have a lasting effect on
                    the promotional product that you are buying.
                </p>
                <br />
                <p>
                    We house a group of talented designers that will work with you every step of the way to insure that
                    you are satisfied with your design and layout. We offer unlimited revisions and digital proofs for
                    your review. We will not print anything until you give us your final approval. Below are some
                    guidelines and suggestions in regards to file types, fonts and artwork.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 order-block">
            <div class="guarantee-head">
                <img class="guarantee-img" src="/img/artwork_2.png" alt="">
            </div>
            <div class="art-title">
                Preferred File Types
            </div>
            <br />
            <div class="art-info">
                <p>
                    No matter what file type you currently have we will be able to produce great artwork for you product.
                    However not all files are made equal and some are better than others. Here is a list of file types
                    that will produce the best possible imprint.
                </p>
                <br />
                <ul  class="artwork-list">
                    <li> Adobe Illustrator (8.0+) .EPS or .AI files - Vector Files </li>
                    <li> Adobe .PDF files - Vector Files </li>
                    <li> Adobe PhotoShop (300 dpi +) .PSD files </li>
                    <li> High resolution (300 dpi +) .JPG or .TIFF files. or .PNG files </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 order-block">
            <div class="guarantee-head">
                <img class="guarantee-img" src="/img/artwork_3.png" alt="">
            </div>
            <div class="art-title">File Types that Require redraws or modification</div>
            <br />
            <div class="art-info">
                <p>
                    Files set up for Web presentation, such as low resolution JPEG, GIF, PNG etc.
                </p>
                <br />
                <ul class="artwork-list">
                    <li> Files set up for Web presentation, such as low resolution JPEG, GIF, PNG etc. Any artwork
                        imported into a word processing program such as: Microsoft Word, WordPerfect,
                    </li>
                    <li> PowerPoint, Publisher, etc.</li>
                    <li> Note faxed artwork is NOT clear enough to reproduce on your imprint, and will require a redraw.
                        Redraws or any other art modification services are 100% FREE.
                    </li>
                    <li> We will however accept ANY of the above files. Please allow extra time for your art art proofs
                        to be setup. If you have questions about any file types please contact the art department via
                        art@superiorpromos.com.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 order-block">
            <div class="guarantee-head">
                <img class="guarantee-img" src="/img/artwork_4.png" alt="">
            </div>
            <div class="art-title">Fonts</div>
            <div class="art-info">
                <ul class="artwork-list">
                    <li> If a specific font is used in your artwork, please email the actual font to the art
                        department.
                    </li>
                    <li> If submitting an .EPS or .AI file please outline all the fonts.
                    <li>
                    <li> In some instances we have to recreate your artwork and an alternate font might be used. We have
                        over 5000 fonts available and will present the best option to you.
                    <li>
                </ul>
            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>

