.page-artwork {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .order-block {
    min-height: 350px;
    margin-bottom: 60px;

    @media (min-width: 320px) and (max-width: 991px) {
      min-height: 0;
    }
  }
}

ul.artwork-list {
  li {
    list-style: circle;
  }
}
