@import "../../scss/modules/variables";

.footer-top {
  background-color: $color-white;
}

.footer-columns {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.footer-nav-images {
  padding: 11px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 6px;
  text-align: center;
}

.footer-nav-box {
  margin-bottom: 0;
  width: 232px;
  height: 103px;
  border-right: 1px solid #e3e3e3;
  display: inline-block;

  &:last-child {
    border-right: none;
  }

  a#icon-0, 
  a#icon-1, 
  a#icon-2, 
  a#icon-3 {
    height: 100%;
    display: block;
    text-decoration: none;
    margin-top: 5px;
  }

  a#icon-0 {
    background: url(~assets/img/footer-img/lowprice.gif) center no-repeat;
  }

  a#icon-1 {
    background: url(~assets/img/footer-img/artwork.gif) center no-repeat;
  }

  a#icon-2 {
    background: url(~assets/img/footer-img/hugeselectionwhyussection.png) center no-repeat;
  }

  a#icon-3 {
    background: url(~assets/img/footer-img/reliabilityselectionwhyussection.png) center no-repeat;
  }
}

.banner {
  margin: 25px 0 22px;
  text-align: center;

  .img-responsive {
    margin: 0 auto;
  }
}

.footer-logos {
  display: -webkit-box;
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
  width: 710px;
  margin: 10px auto 30px;

  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.geo-trust {
  background-image: url("~assets/img/footer-img/getgeotrust.gif");
  background-repeat: no-repeat;
  width: 140px;
  height: 67px;
}

.web-reputation {
  margin-top: 5px;
}

.geo-trust {
  margin-top: -3px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #203340;
  padding: 25px 100px 5px;
  @media (max-width:576px) {
    padding: 15px;
    text-align: center;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    letter-spacing: 0;
    color: $color-white;
    margin-bottom: 7px;
  }

  .reviews-rate {
    text-align: center;
    color: #fff;
    font-size: 15px;
  }
}

.footer-list {
  .footer-nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.86;
    letter-spacing: 0;
    color: white;

    &.active {
      text-decoration: underline;
    }
  }
}

.footer-column {
  display: inline-block;

  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 550px) {
    flex: 0 0 50%;
  }

  .social-icons {
    display: flex;

    .icon {
      margin: 2px;
    }
  }
}

.footer-bottom-links {
  text-align: center;
  margin: 10px 0 9px;

  @media screen and (max-width: 991px) {
    margin-top: 0; 
  }

  li {
    display: inline-block;
    line-height: 0.6;
    @media (max-width:576px) {
      width: 100%;
    }
  }

  li:not(:last-child) {
    border-right: 1px solid #adb3b7;
    @media (max-width:576px) {
      border: none;
    }

    a {
      margin-right: 4px;
    }
  }

  a {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    color: $color-white;
  }
}

.privacy-police-links, 
.privacy-link, 
.copyright {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-grey;
}

.privacy-police-links, 
.copyright {
  opacity: 0.5;
}

.footer-title {
  text-align-last: center;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  text-align: center;
  color: #22282b;
}

.footer-credit-cards {
  height: 60px;
}

.copyright-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .copyright-1st-column,
  .copyright-2nd-column,
  .copyright-3rd-column {
    display: flex;
    align-items: center;
    
    a {
      margin: 0 10px;

      @media screen and (max-width: 991px){
        margin: 5px 10px;
      }

      .secure-mark {
        max-width: 100px;
        max-height: 50px;
        width: 100%;
      }
    }
  }

  .copyright-1st-column {
    width: 40%;
    justify-content: flex-end;

    @media screen and (max-width: 991px) {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
  }

  .copyright-2nd-column {
    flex-direction: column;
    width: 20%;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  .copyright-3rd-column {
    width: 40%;
    justify-content: flex-start;

    @media screen and (max-width: 991px) {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }
}

.credit-cards-wrapper {
  display: flex;
  margin: 0 15px;

  img {
    max-width: 60px;
    max-height: 40px;
    width: 100%;
    margin: 0 2px;

    @media screen and (max-width: 991px){
      margin: 5px 2px;
    }
  }
}
