<footer>
    <!--<div class="footer-top hidden-xs" ng-hide="$state.includes('router.my-account')">-->
        <!--<div class="container">-->
            <!--<h2 class="footer-title">Why Shop for Promotional Products and Promotional Items at Superior Promos?-->
            <!--</h2>-->
            <!--<div class="footer-nav-images">-->
                <!--<div class="footer-nav-box">-->
                    <!--<a title="Our Guarantee" id="icon-0" ui-sref="router.guarantee"></a>-->
                <!--</div>-->

                <!--<div class="footer-nav-box">-->
                    <!--<a title="Artwork Requirments" id="icon-1" ui-sref="router.artwork"></a>-->
                <!--</div>-->

                <!--<div class="footer-nav-box">-->
                    <!--<a title="Sitemap" id="icon-2" ui-sref="router.home"></a>-->
                <!--</div>-->

                <!--<div class="footer-nav-box">-->
                    <!--<a title="Testimonials" id="icon-3" ui-sref="router.testimonials"></a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="banner text-center">-->
                <!--<a title="Awards" ui-sref="router.awards">-->
                    <!--<img class="img-responsive" title="Awards" alt="Awards" src="/img/banners.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<ul class="footer-logos">-->
                <!--<li>-->
                    <!--<a target="_blank" href="https://www.bbb.org/online/consumer/cks.aspx?id=109111191837">-->
                        <!--<img width="135" height="51" title="Click to verify BBB accreditation and to see a BBB report." src="/img/footer-img/bbbsealh1US.gif" alt="Click to verify BBB accreditation and to see a BBB report.">-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="creditcards">-->
                    <!--<img src="/img/footer-img/creditcards.gif" width="80" height="57" alt="Visa, Mastercard, American Express, Discover" title="Visa, Mastercard, American Express, Discover">-->
                <!--</li>-->
                <!--<li class="web-reputation">-->
                    <!--<a href="http://www.webutation.net/go/review/superiorpromos.com">-->
                        <!--<img src="http://www.webutation.net/rating-badges/a/k/superiorpromos.com.png" alt="Webutation" height="44" width="158" id="webutation-badge-image">-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="geo-trust">-->
                    <!--<script type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="footer-bottom">
            <div class="footer-columns">
                <div class="footer-column">
                    <h3>Customer Service</h3>
                    <ul class="footer-list">
                        <li>
                            <a class="footer-nav-link" title="Contact Us"
                               ui-sref="router.contact-us"
                               ui-sref-active="active">Contact Us</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Frequently Asked Questions"
                               ui-sref="router.faq"
                               ui-sref-active="active">Frequently Asked Questions</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Rush Service"
                               ui-sref="router.rush-service"
                               ui-sref-active="active">Rush Service</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Artwork Requirements"
                               ui-sref="router.artwork"
                               ui-sref-active="active">Artwork Requirements</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Shopping Help</h3>
                    <ul class="footer-list">
                        <li>
                            <a class="footer-nav-link" title="Order Process"
                               ui-sref="router.order-process"
                               ui-sref-active="active">Order Process</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Shipping &amp; Delivery"
                               ui-sref="router.delivery"
                               ui-sref-active="active">Shipping &amp; Delivery</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Product Samples"
                               ui-sref="router.samples"
                               ui-sref-active="active">Product Samples</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Current Promotion"
                               ui-sref="router.promotion"
                               ui-sref-active="active">Current Promotion</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Company Info</h3>
                    <ul class="footer-list">
                        <li>
                            <a class="footer-nav-link" title="About Us"
                               ui-sref="router.about"
                               ui-sref-active="active">About Us</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Mission Statement"
                               ui-sref="router.mission"
                               ui-sref-active="active">Mission Statement</a>
                        </li>
<!--                        <li>-->
<!--                            <a class="footer-nav-link" title="Awards"-->
<!--                               ui-sref="router.awards"-->
<!--                               ui-sref-active="active">Awards</a>-->
<!--                        </li>-->
                        <li>
                            <a class="footer-nav-link" title="Our Guarantee"
                               ui-sref="router.guarantee"
                               ui-sref-active="active">Our Guarantee</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Tools & Resources</h3>
                    <ul class="footer-list">
                        <li>
                            <a class="footer-nav-link"
                               title="Sitemap"
                               ui-sref="router.site-map"
                               ui-sref-active="active">Sitemap</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Superior Promos Blog"
                               ui-sref="router.blog"
                               ui-sref-active="active">Promotional Blog</a>
                        </li>
                        <li>
                            <a class="footer-nav-link"
                               title="Promotional Glossary"
                               ui-sref="router.glossary"
                               ui-sref-active="active">Promotional Glossary</a>
                        </li>
                        <li>
                            <a class="footer-nav-link" title="Case Studies"
                               ui-sref="router.case-studies"
                               ui-sref-active="active">Case Studies</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="footer-bottom-links">
                <li><a class="footer-nav-link" title="Promotional Products from SuperiorPromos.com" href="/">Promotional Products</a></li>
                <li><a class="footer-nav-link" title="Promotional Items from SuperiorPromos.com" href="/">Promotional Items</a></li>
                <li><a class="footer-nav-link" title="Promotional Custom Tote Bags from SuperiorPromos.com" href="/bags-totes-more/">Custom Tote Bags </a></li>
                <li><a class="footer-nav-link" title="Promotional Custom Calendars from SuperiorPromos.com" href="/calendars-planners/">Promotional Calendars</a></li>
                <li><a class="footer-nav-link" title="Promotional Custom Ceramic Mugs" href="/drinkware/mugs/">Custom Mugs </a></li>
                <li><a class="footer-nav-link" title="Promotional Custom Pens from SuperiorPromos.com" href="/pens-pencils/">Promotional Pens</a></li>
                <li><a class="footer-nav-link" title="Tradeshow Giveaways from SuperiorPromos.com" href="/">Tradeshow Giveaways</a></li>
                <li><a class="footer-nav-link" title="Business Card Magnets" href="/custom-magnets/">Business Card Magnets</a></li>
            </ul>
            <p class="reviews-rate">superiorpromos.com rated 4.8/5 based on 5,018 reviews</p>
    </div>
    <div>
        <div class="copyright-wrapper">
            <!-- 1st column -->
            <div class="copyright-1st-column">
                <a href="https://verify.authorize.net/anetseal/?pid=52b39719-1dab-4980-84d3-cb3abb105628&rurl=https://www.superiorpromos.com/">
                    <img class="secure-mark"
                        src="https://verify.authorize.net/anetseal/images/secure90x72.gif"
                        alt="secure_1">
                </a>
                <!-- <a href="https://seal.digicert.com/seals/cascade/?tag=6ogy_p-Y&referer=www.superiorpromos.com&lang=&format=png">
                    <img class="secure-mark"
                        src="https://sealsplash.geotrust.com/images/ssl-valid-en-M.gif"
                        alt="secure_2">
                </a> -->
                <!-- DigiCert Seal HTML -->
                <!-- Place HTML on your site where the seal should appear -->
                <div id="DigiCertClickID_6ogy_p-Y"></div>
                <!-- TODOs: image below is not secure -->
                <!-- <a href="http://www.webutation.net/go/review/superiorpromos.com">
                    <img class="secure-mark"
                        src="/img/footer-img/webutation.jpg"
                        alt="secure_3">
                </a> -->
            </div>
            <!-- 2nd column -->
            <div class="copyright-2nd-column">
                <div class="privacy-police-links">
                    <a ui-sref="router.terms-conditions" ui-sref-active="active" class="privacy-link" title="Terms and Conditions">Terms and Conditions</a> |
                    <a class="privacy-link" title="Privacy Policy" href="/privacy_policy">Privacy Policy</a>
                </div>
                <div class="copyright">© 2020 Superior Promos Inc. </div>
            </div>
            <!-- 3rd column -->
            <div class="copyright-3rd-column">
                <a href="https://www.bbb.org/online/consumer/cks.aspx?id=109111191837">
                    <img class="secure-mark" 
                        src="/img/footer-img/bbbsealh1US.gif"
                        alt="secure-4">
                </a>
                <div class="credit-cards-wrapper">
                    <img src="/img/footer-img/visa.png" alt="visa">
                    <img src="/img/footer-img/american_express.svg" alt="american_express">
                    <img src="/img/footer-img/discover.png" alt="discover">
                    <img src="/img/footer-img/mastercard.png" alt="mastercard">
                </div>
            </div>
        </div>
    </div>
</footer>
