pagination {
  display: flex;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 991px) {
    margin: 5px 0 5px 0;
  }

  .pagination {
    display: flex;
    margin: 0;

    @media screen and (max-width: 991px) {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      @media screen and (max-width: 991px) {
        display: flex;
        flex: 1;
      }

      a {
        @media screen and (max-width: 991px) {
          display: flex;
          padding: 5px 15px;
          flex: 1;
          justify-content: center;
        }
      }
    }
  }
}

.pagination-wrapper {
  display: flex;
  margin: 0 20px;
  align-items: center;

  .product-filter-item-pagination {
    flex: auto !important;
    margin: 0 8px 0 10px; 
  }
}

.control-pagination {
  display: flex;
  width: 100px;

  &.next-control {
    justify-content: flex-start;

    @media screen and (max-width: 767px){
      justify-content: center;
    }
  }

  &.back-control {
    justify-content: flex-end;

    @media screen and (max-width: 767px){
      justify-content: center;
    }
  }

  .next-page-btn {
    cursor: pointer;
  }

  .ship-option-wrap ship-cost-option contact-info action-blockprevious-page-btn {
    margin-right: 20px;
    cursor: pointer;
  }
}
