.page-order-process {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .guarantee-info {
    @media (min-width: 320px) and (max-width: 991px) {
      max-width: 100%;
    }

    @media screen and (max-width: 640px) {
      padding-bottom: 20px;
    }
  }

  .order-process-wrapper {
    display: flex;
    flex-flow: wrap;

    .order-block {
      width: 25%;
      padding-right: 60px;
      position: relative;

      @media screen and (max-width: 1280px) {
        width: 33.33%;
      }

      @media screen and (max-width: 768px) {
        width: 50%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        margin-bottom: 80px;
        padding-right: 0;
      }

      .guarantee-head {
        position: relative;
        height: auto;

        img {
          width: 35%;
        }

        .op-dotted-line {
          content: '';
          position: absolute;
          width: 55px;
          height: 4px;
          right: -55px;
          top: 50%;
          transform: translateY(-50%);
          background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #b5c0c7 50%);
          background-position: bottom;
          background-size: 8px 4px;
          background-repeat: repeat-x;
          display: block;

          @media screen and (max-width: 640px) {
            display: none;
          }

          .op-arrow {
            position: absolute;
            right: -4px;
            top: 0;
            color: #b5c0c7;
            font-size: 20px;
            border-bottom: 4px solid #b5c0c7;
            border-right: 4px solid #b5c0c7;
            width: 10px;
            height: 10px;
            transform: rotateZ(-45deg) translateY(-45%);
            display: block;
          }
        }
      }

      .op-dotted-v-line {
        content: '';
        display: none;
        position: absolute;
        width: 4px;
        height: 55px;
        bottom: -55px;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(rgba(255,255,255,0) 50%, #b5c0c7 50%);
        background-position: right;
        background-size: 4px 8px;
        background-repeat: repeat-y;

        @media screen and (max-width: 640px) {
          display: block;
        }

        .op-v-arrow {
          position: absolute;
          right: -4px;
          bottom: 0;
          color: #b5c0c7;
          font-size: 20px;
          border-bottom: 4px solid #b5c0c7;
          border-right: 4px solid #b5c0c7;
          width: 10px;
          height: 10px;
          transform: rotateZ(45deg) translateX(-15%);
          display: block;
        }
      }
    }
  }
}
