<div class="page-order-process order-process-content">
    <h2 class="static-title">Full Art Services, Free Digital Proofs, Unlimited Proof Revisions</h2>
    <div class="order-process-wrapper">
        <div class="order-block">
            <div class="guarantee-head">
                <img class="op-img" src="../../assets/img/static-icons/1_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                An order can be placed online or by calling our customer service department at
                <div class="tel m-5">888-577-6667</div>
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/2_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                Email your artwork/logo/text to: <a href="mailto:art@superiorpromos.com"><strong>art@superiorpromos.com</strong></a> include your order # in the subject line.
                <p class="m-5"><a class="blue" ui-sref="router.artwork">Artwork Requirements Page</a></p>
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/3_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                <p>We provide unlimited FREE digital proofs.</p>
                <p>Art proof(s) will be available within <strong>24-48</strong> hours via email & also uploaded to you account for approval.</p>
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/4_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                <p>Proof approval is required before an order moves to production. Approvals woll be accepted via email or in your online account.</p>
                <p>For any questions contact the art department at <a href="mailto:art@superiorpromos.com"><strong>art@superiorpromos.com</strong></a></p>
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/5_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                After art approval is received, the order will move into production. Production time varies by product and is listed on the product page. If a rush option is choosen production time will be adjusted accordingly.
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img width="100" src="../../assets/img/static-icons/6_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                An estimated ship date for your order will be set within <strong>24-48</strong> hours after the order is sent to production. If required, contact customer service for expedited shipping options.
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img width="100" src="../../assets/img/static-icons/7_1.svg" alt="">
                <span class="op-dotted-line"><span class="op-arrow"></span></span>
            </div>
            <div class="guarantee-info">
                After the order ships will emails full tracking information and cost of shipping (if applicable).
            </div>
            <span class="op-dotted-v-line"><span class="op-v-arrow"></span></span>
        </div>
        <div class="order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/8_1.svg" alt="">
            </div>
            <div class="guarantee-info">
                Final Invoice(s) will be available within <strong>48 hours</strong> after the order ships. Invoice(s) can be viewed in your online account or requested by emailing the Billing Department at <a href="mailto:billing@superiorpromos.com"><strong>billing@superiorpromos.com</strong></a>
            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
