.reorder-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  padding: 10px 12px;
  border: none;
  width: 130px;
  background-color: #4ac9ff;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.reorder-grey-btn {
  background-color: #d8e5ed;
  color: #5d717d;
}

.reorder-page {
  .reorder-block-wrap {
    padding: 20px 15px 20px 8px;
    border: 1px solid #eaedef;
    margin-bottom: 20px;
    transition: max-height .3s;
    max-height: 3333px;

    &.collapsed {
      max-height: 78px;
      overflow: hidden;
    }

    .reorder-block {
      display: flex;
      padding-bottom: 20px;
      border-bottom: solid 1px #f2f4f5;
      position: relative;

      .reorder-block-cell {
        display: flex;
        align-items: center;
        justify-content: center;

        &.btn-cell {
          width: 34px;

          .reorder-button-toggle {
            border: none;
            box-shadow: none;
            background-color: #e7eef3;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            padding: 1px 0 0;
            vertical-align: middle;
            position: relative;

            img {
              width: 21px;
              height: 21px;
            }
          }
        }

        &.productimage-cell {
          width: 54px;

          img {
            width: 36px;
            border: 1px solid #eceff4;
          }
        }

        &.product-info-cell {
          flex-direction: column;
          font-size: 11px;
          width: 100%;
          padding-left: 5px;

          .reorder-product-title {
            color: #3598db;
            font-weight: 500;
            width: 100%;
            margin-bottom: 5px;
          }

          .reorder-product-id {
            font-weight: normal;
            width: 100%;
          }
        }

        &.productscu-cell {
          font-size: 13px;
          display: block;
        }
      }
      
      .reorder-block-edit {
        position: absolute;
        right: 0;
        bottom: 15px;
        color: #23bdff;
        font-size: 11px;
        cursor: pointer;

        .reorder-edit-icon {
          font-size: 13px;
          margin-right: 10px;
        }
      }
    }

    .reorder-question-block {
      display: flex;
      align-items: center;
      font-size: 11px;
      font-weight: normal;
      padding: 15px 0;
      margin-left: 36px;
      border-bottom: solid 1px #f2f4f5;

      &.contents {
        display: block;

        .reorder-question-block-wrap {
          display: flex;
          align-items: center;

          &.strong {
            font-weight: 500;
          }
        }

        .reorder-sub-question-block {
          .reorder-sub-question-block-wrap {
            display: block;
            border-bottom: solid 1px #d8e5ed;
            padding: 10px 0;

            .reorder-item-block {
              display: flex;
              align-items: center;
              margin-left: 23%;
            }

            .reorder-sub-item-block {
              max-height: 0;
              transition: max-height .3s, margin-top .7s;
              overflow: hidden;
              color: #1e2326;

              &.opened {
                max-height: 3333px;
                margin-top: 20px;
              }

              .reorder-choose-price {
                display: flex;
                justify-content: space-between;
                padding: 20px;

                .pricing-info {
                  .green {
                    font-weight: bold;
                  }
                }

                .choosen-pricing {
                  display: flex;
                  justify-content: space-between;
                  position: relative;
                  max-width: 465px;

                  .error-notify{
                    right: 0;
                    top: 50px;
                  }

                  .choosen-value,
                  .manual-input {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .custom-qty {
                      font-size: 20px;
                      font-weight: bold;
                      margin-left: 5px;
                    }

                    .text {
                      font-size: 11px;
                      color: #2d3539;
                    }
                  }

                  .choosen-value {
                    .selected-price {
                      font-size: 20px;
                      font-weight: bold;
                    }
                  }
                }
              }

              .reorder-save-price-btn {
                overflow: hidden;
                padding: 15px 0;
              }

              .reorder-sub-item-block-wrap {
                padding: 20px;

                .reorder-choose-color {
                  margin-top: 15px;

                  &:first-child {
                    margin-top: 0;
                  }
                }

                .artwork-block {
                  .btn-imprint-add-colors {
                    display: block;

                    .imprint-colors-selector {
                      width: auto;
                      position: relative;
                      overflow: hidden;
                      margin-top: 10px;
                      box-shadow: inset 0 0 10px #cecece;

                      .selector-color-item {
                        float: left;
                      }

                      &:before, 
                      &:after {
                        display: none;
                      }
                    }

                    .btn-icon {
                      transform: translateY(5px);
                    }
                  }
                }
              }

              .email-new-artwork {
                text-decoration: none;
                color: #3595c7;
              }
            }
          }
        }
      }

      &.date-to-deliver {
        display: block;

        .reorder-question-block-wrap {
          display: flex;
          align-items: center;
        }

        .reorder-sub-question-block-wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-height: 0;
          transition: max-height .3s, margin-top .3s;
          overflow: hidden;

          md-datepicker {
            .md-datepicker-button {
              opacity: .5;

              md-icon {
                min-width: 20px;
                margin-top: 0px;
                height: 20px;
              }
            }

            .md-datepicker-input-container {
              margin-left: 5px;

              .md-datepicker-input {
                font-size: 13px;
                min-width: 70px;
                color: rgba(0, 0, 0, .5);
              }

              .md-button {
                min-height: 25px;

                &.md-datepicker-triangle-button {
                  height: 30px;
                }

                .md-datepicker-expand-triangle {
                  border-left-width: 4px;
                  border-right-width: 4px;
                  border-top-width: 4px;
                }
              }
            }
          }

          &.opened {
            max-height: 100px;
            background: #e6eef2;
            padding: 5px 10px 5px 20px;
            border-radius: 6px;
            margin: 15px 20px 0 20px;
          }
        }
      }

      &.reorder-shipping, 
      &.reorder-billing, 
      &.reorder-payment {
        display: block;

        .reorder-question-block-wrap {
          display: flex;
          align-items: center;
        }
      }

      &.reorder-payment {
        md-input-container {
          width: 465px;
        }
      }

      .reorder-sub-question-block {
        max-height: 0;
        margin-top: 0;
        transition: max-height .3s, margin-top .5s;
        overflow: hidden;
        color: #636c71;

        &.opened {
          margin-top: 15px;
          max-height: 3333px;
          overflow: visible;
        }

        .form-fields {
          display: flex;
          justify-content: space-between;

          .registration-auth-data, 
          .registration-user-data {
            width: 43%;
          }

          label {
            margin-bottom: 10px;
            font-size: 11px;
            font-weight: normal;

            &.zpcode-label {
              white-space: nowrap;
            }

            .star {
              color: rgba(192, 0, 22, 0.75);
            }
          }
        }

        .form-action {
          overflow: hidden;

          .reorder-btn {
            &:disabled {
              cursor: not-allowed;
              background-color: rgba(44, 166, 216, .4);
            }
          }
        }

        .reorder-sub-question-block-wrap {
          display: flex;
          align-items: center;
          margin-top: 20px;
        }

        md-input-container {
          margin: 0;

          md-select {
            font-weight: normal;

            &:not([disabled]):focus {
              .md-select-value {
                border-bottom-color: #4ac9ff;
                font-size: 11px;
                font-weight: normal;
                color: #717274;
              }
            }

            .md-select-value {
              min-height: 40px;

              & > span {
                font-size: 14px;
              }
            }

            .reorder-payment-info {
              display: flex;
              justify-content: space-between;

              .reorder-payment-checkmark {
                position: relative;
                margin-left: 30px;

                &:before {
                  content: "";
                  position: absolute;
                  top: 2px;
                  left: -25px;
                  width: 10px;
                  height: 5px;
                  border-bottom: 1px solid #3598db;
                  border-left: 1px solid #3598db;
                  transform: rotate(-45deg);
                }
              }

              .reorder-payment-item {
                margin-left: 10px;
              }
            }
          }
        }

        .reorder-payment-header {
          font-size: 11px;
          color: #282e32;
        }

        .payment-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .reorder-add-card-button {
          .reorder-save-comment {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: 500;
            border-radius: 6px;
            padding: 10px 12px;
            border: none;
            width: 130px;
            background-color: #4ac9ff;
            color: #fff;
            text-transform: capitalize;
            cursor: pointer;
          }
        }
      }

      .reorder-question-text {
        padding-right: 20px;
        width: 350px;
      }

      .reorder-radio-group {
        md-radio-group {
          display: flex;

          md-radio-button {
            width: 70px;
            margin-bottom: 0;

            .md-on {
              background-color: #4ac8fe;
            }

            &.md-checked {
              .md-off {
                border-color: #4ac8fe;
              }
            }

            span {
              color: #22282b;
            }
          }
        }
      }
    }

    .reorder-comment-block {
      font-size: 11px;
      font-weight: normal;
      padding: 15px 0;
      margin-left: 36px;

      .reorder-comment-header {
        margin-bottom: 15px;
      }

      .reorder-comment-textarea {
        margin-bottom: 15px;

        textarea {
          border: solid 1px #e6e8ec;
          border-radius: 3px;
          width: 465px;
          resize: none;
          padding: 10px;
          font-size: 14px;
        }
      }

      .reorder-comment-button {
        max-width: 465px;
        text-align: right;

        .reorder-save-comment {
          @extend .reorder-btn;
        }
      }
    }
  }

  .reorder-note-block {
    border: solid 1px #e94639;
    padding: 20px 44px;

    .reorder-header-wrap {
      position: relative;

      .warn-sign {
        position: absolute;
        color: #ef7167;
        width: 17px;
        height: 20px;
        left: -27px;
        top: 5px;
        font-size: 16px;
      }

      .reorder-note-header {
        text-transform: uppercase;
        color: #ef7167;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }

    .reorder-list {
      list-style: disc;
      font-size: 13px;
      font-weight: normal;
      line-height: 2;

      .reorder-email {
        color: #4ac8fe;
      }
    }
  }

  .reorder-action-button-block {
    padding: 20px 0;

    @media (max-width:576px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    button {
      @media (max-width:576px) {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
    .reorder-save-comment {
      @extend .reorder-btn;

      &.reorder-clear-btn {
        margin-right: 10px;
        @media (max-width:576px) {
          margin-right: 0;
        }
      }

      &.reorder-back-btn, 
      &.reorder-clear-btn {
        @extend .reorder-grey-btn;
      }
    }
  }
}

.reorder-sub-item-block-wrap .imprint-option-block {
  padding-bottom: 15px;

  & .op-item {
    display: flex;
    margin-bottom: 5px;
    background: #e6eef2;
    padding: 5px 10px 5px 20px;
    box-sizing: border-box;
    align-items: center;

    & .op-item-block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-left: 10px;

      .sided {
        width: 33%;
        text-align: right;

        .ship-select {
          display: block;
          flex: 1;
        }
      }
    }
  }
}

.imprint-option-block .imprint-options .op-item:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.imprint-option-block .imprint-options .op-item.bottom-rounded,
.imprint-option-block .imprint-options .op-item:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.add-item {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background: #4ac9ff;
  height: 24px;
  width: 90px;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 640px) {
  .reorder-page {
    .reorder-block-wrap {
      .reorder-question-block {
        margin-left: 8px;

        &.contents {
          .reorder-sub-question-block {
            .reorder-sub-question-block-wrap {
              .reorder-sub-item-block {
                .reorder-choose-price {
                  .choosen-pricing {
                    display: block;

                    .choosen-value {
                      margin-top: 15px;
                    }
                  }
                }
              }
            }
          }
        }

        &.contents, 
        &.date-to-deliver, 
        &.reorder-shipping, 
        &.reorder-billing,
         &.reorder-payment {
          .reorder-question-block-wrap {
            justify-content: space-between;
          }
        }

        &.reorder-payment {
          md-input-container {
            width: 100%;
          }
        }

        .reorder-sub-question-block {
          .form-fields {
            max-width: 100%;

            .registration-auth-data, 
            .registration-user-data {
              width: 48%;
            }
          }

          .form-action {
            max-width: 100%;
          }
        }
      }

      .reorder-comment-block {
        margin-left: 8px;

        .reorder-comment-textarea {
          textarea {
            width: 100%;
          }
        }

        .reorder-comment-button {
          max-width: 100%;
        }
      }
    }
  }
}

.container-payment {
  padding: 20px;
}

.reorder-datepicker {
  border: 1px solid #eee;
  height: 32px;
  width: 200px;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .reorder-page {
    .reorder-block-wrap {
      .reorder-question-block {
        .reorder-sub-question-block {
          .form-fields {
            display: block;

            .registration-auth-data, 
            .registration-user-data {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
