<h1 class="my-account-page-section-header">Reorder requests</h1>
<div class="my-account-page-section-content reorder-page animated slideInRight">
    <div class="reorder-block-wrap" ng-class="{'collapsed' : reorder.editIsActive}" ng-repeat="reorder in $reorder.reorders track by $index">
        <div class="reorder-block">
            <div class="reorder-block-cell productimage-cell">
                <img ng-src="{{::reorder.cartItem.productData.thumbnail}}" fallback-src="img/image-not-available.jpg" alt="product_img" class="reorder-product-img">
            </div>
            <div class="reorder-block-cell product-info-cell">
                <div class="reorder-product-title" ng-bind-html="::reorder.cartItem.productData.title | trust"></div>
                <div class="reorder-product-id">item #{{ ::reorder.cartItem.productData.id }}</div>
            </div>
            <div class="reorder-block-cell productscu-cell">#{{ ::reorder.cartItem.productId }}</div>
            <div class="reorder-block-edit" ng-if="reorder.editIsActive" ng-click="$reorder.editRequest(reorder)"><i class="material-icons reorder-edit-icon">border_color</i>Edit Request</div>
        </div>
        <div class="reorder-question-block contents">
            <div class="reorder-question-block-wrap" ng-class="{'strong' : reorder.sameContents === 'no'}">
                <div class="reorder-question-text">Are the contents of this reorder going to be exactly the same?</div>
                <div class="reorder-radio-group">
                    <md-radio-group ng-model="reorder.sameContents"
                                    md-no-ink="true"
                                    class="address-type-radio"
                                    name="type">
                        <md-radio-button ng-value="'yes'">
                            <span class="grey">Yes</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'no'">
                            <span class="grey left">No</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="reorder-sub-question-block" ng-class="{'opened' : reorder.sameContents === 'no'}">
                <div class="reorder-sub-question-block-wrap">
                    <div class="reorder-item-block">
                        <div class="reorder-question-text">Is the quantity going to change?</div>
                        <div class="reorder-radio-group">
                            <md-radio-group ng-model="reorder.isQuantityChange"
                                            md-no-ink="true"
                                            class="address-type-radio"
                                            ng-change="reorder.isQuantitySaved = false"
                                            name="type">
                                <md-radio-button ng-value="'yes'">
                                    <span class="grey">Yes</span>
                                </md-radio-button>
                                <md-radio-button ng-value="'no'">
                                    <span class="grey left">No</span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="reorder-sub-item-block" ng-class="{'opened' : reorder.isQuantityChange === 'yes' && !reorder.isQuantitySaved}">
                        <div class="reorder-choose-price">
                            <pricing-info source="reorder.cartItem"></pricing-info>
                            <div class="choosen-pricing">
                                <div class="manual-input">
                                    <span class="text">Your Quantity</span>
                                    <input class="custom-qty" ng-model="reorder.cartItem.orderData.quantity" ng-model-options="{ debounce: 1000 }"
                                           ng-change="
                                            reorder.cartItem.orderData.quantity >= reorder.cartItem.productData.min_quantity ?
                                            setRawQuantity(reorder.cartItem.orderData.quantity) :
                                            reorder.cartItem.orderData.quantity = reorder.cartItem.productData.min_quantity" type="number" aria-invalid="false">

                                    <span class="error-notify" ng-class="{show: orderService.errors['quantity']}"> Min qty: {{ ::reorder.cartItem.productData.min_quantity }} </span>
                                </div>
<!--                                <div class="choosen-value">-->
<!--                                    <span class="text">Price for {{reorder.cartItem.orderData.quantity}} items — </span>-->
<!--                                    <span class="selected-price">{{reorder.cartItem.getTotalGridPrice() | currency:"$"}}</span>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reorder-sub-question-block-wrap">
                    <div class="reorder-item-block">
                        <div class="reorder-question-text">Is item color going to change?</div>
                        <div class="reorder-radio-group">
                            <md-radio-group ng-model="reorder.isItemColorChange"
                                            md-no-ink="true"
                                            class="address-type-radio"
                                            name="type">
                                <md-radio-button ng-value="'yes'">
                                    <span class="grey">Yes</span>
                                </md-radio-button>
                                <md-radio-button ng-value="'no'">
                                    <span class="grey left">No</span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="reorder-sub-item-block" ng-class="{'opened' : reorder.isItemColorChange === 'yes'}">
                        <div class="reorder-sub-item-block-wrap">
                            <div class="reorder-choose-color" ng-repeat="typedColor in reorder.cartItem.allColors">
                                <h6>{{ typedColor.name }}</h6>
                                <product-color-selector product-item="reorder.cartItem"
                                                        type-item="typedColor"
                                                        display-mode="full"
                                                        select-type="radio"
                                                        on-color-selected="setColor">
                                </product-color-selector>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reorder-sub-question-block-wrap">
                    <div class="reorder-item-block">
                        <div class="reorder-question-text"> Is the imprint color going to change?</div>
                        <div class="reorder-radio-group">
                            <md-radio-group ng-model="reorder.isImprintColorChange"
                                            md-no-ink="true"
                                            class="address-type-radio"
                                            name="type">
                                <md-radio-button ng-click="onImprintsBlankChange(reorder.cartItem)" ng-value="'yes'">
                                    <span class="grey">Yes</span>
                                </md-radio-button>
                                <md-radio-button ng-value="'no'">
                                    <span class="grey left">No</span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="reorder-sub-item-block" ng-class="{'opened' : reorder.isImprintColorChange === 'yes'}">
                        <div class="reorder-sub-item-block-wrap">
                            <div class="imprint-option-block no-border"
                                 ng-repeat="imprint in reorder.productImprints track by $index"
                                 ng-init="imprintIndex=$index">
                                <div class="flex-block">
                                    <div class="imprint-options">
                                        <div  class="op-item padded"
                                              ng-class="{'bottom-rounded' : !reorder.selectedImprints[imprint.id].data || !reorder.selectedImprints[imprint.id].data.colors.length}">
                                            <toggler
                                                    source="imprint"
                                                    product="reorder"
                                                    instance="this"
                                                    expanded="false"
                                                    name="imprints-reorder"></toggler>

                                            <div class="op-item-block"
                                                 ng-init="imprintSelector[imprint.id].expanded = false;">
                                                <div class="sided">
                                                    {{ ::imprint.name }}
                                                </div>
                                                <div class="im-info">
                                                    Max colors: {{ ::imprint.max_colors }}
                                                </div>
                                                <div class="sided" ng-show="(imprint.imprint_prices[0].setup_price !== '0.00') || (imprint.imprint_prices[0].color_item_price !== '0.00')">
                                                    <div class="big-text" ng-show="imprint.imprint_prices[0].setup_price !== '0.00'">
                                                        Setup Fee — ${{ imprint.imprint_prices[0].setup_price }}
                                                    </div>
                                                    <div class="big-text" ng-show="imprint.imprint_prices[0].color_item_price !== '0.00'">
                                                        Color Fee (per item) — ${{ imprint.imprint_prices[0].color_item_price }}
                                                    </div>
                                                    <div class="small-text">
                                                        Price includes 1 color imprint
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
<!--                                        <span>{{$index}} - {{productImprints[$index].selected}}</span>-->
                                        <div class="op-item"
                                             ng-repeat="color in reorder.selectedImprints[imprint.id].data.colors track by $index +Date.now()"
                                             ng-if="reorder.selectedImprints[imprint.id].selected"
                                             ng-class="{'bottom-rounded' : reorder.selectedImprints[imprint.id].data.colors.length - 1 === $index}">
                                            <div class="op-item-block">
                                                <div class="sided">
                                                    <ui-select ng-model="color"
                                                               theme="bootstrap"
                                                               class="ship-select ship-account"
                                                               ng-change="$reorder.replaceImprintColor(imprint, $select.selected, $index, reorder.id)">
                                                        <ui-select-match placeholder="Choosen color">
                                                            <div class="selected-color">
                                                                <span ng-style="colorStyle($select.selected.color_hex)" class="color-sample"></span>
                                                                <span class="color-title">{{ $select.selected.title }}</span>
                                                            </div>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="color in imprint.color_group.colors | orderBy: 'title' track by $index">
                                                            <span ng-style="colorStyle(color.color_hex)" class="color-sample"></span>
                                                            <div>{{ color.title }}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="sided">
                                                    <i class="material-icons" ng-click="$reorder.removeImprintColor(imprint, color, reorder.id)">
                                                        clear
                                                    </i>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="add-item"
                                                ng-if="imprint.color_group.colors && !$reorder.isImprintMaxColorsSelected(imprint.id, imprint.max_colors, reorder.id) && reorder.selectedImprints[imprint.id].selected"
                                                ng-click="$reorder.addImprintColor(imprint, imprint.color_group.colors[0], reorder.id)">
                                            Add color
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reorder-sub-question-block-wrap">
                    <div class="reorder-item-block">
                        <div class="reorder-question-text">Are you going to be providing new artwork for this reorder?</div>
                        <div class="reorder-radio-group">
                            <md-radio-group ng-model="reorder.isNewArtwork"
                                            md-no-ink="true"
                                            class="address-type-radio"
                                            name="type">
                                <md-radio-button ng-value="'yes'">
                                    <span class="grey">Yes</span>
                                </md-radio-button>
                                <md-radio-button ng-value="'no'">
                                    <span class="grey left">No</span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="reorder-sub-item-block" ng-class="{'opened' : reorder.isNewArtwork === 'yes'}">
                        Email your new artwork to <a href="mailto:art@superiorpromos.com" class="email-new-artwork">art@superiorpromos.com</a> and indicate it's for a reorder.
                    </div>
                </div>
            </div>
        </div>
        <div class="reorder-question-block date-to-deliver">
            <div class="reorder-question-block-wrap">
                <div class="reorder-question-text">When do you need this order delivered by?</div>
                <div class="reorder-radio-group">
                    <md-radio-group ng-model="reorder.deliveredByAsap"
                                    md-no-ink="true"
                                    class="address-type-radio"
                                    name="type">
                        <md-radio-button ng-value="'asap'">
                            <span class="grey">ASAP</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'no'">
                            <span class="grey left">No</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="reorder-sub-question-block-wrap" ng-class="{'opened' : reorder.deliveredByAsap === 'no'}">
                <md-datepicker class="reorder-datepicker" ng-model="reorder.cartItem.orderData.shipTimeValue"
                                md-placeholder="Set Date"
                                ng-click="isOpen = true"
                                md-is-open="isOpen"
                                ng-change="updateShipTime(reorder.cartItem.orderData.shipTime, reorder)">
                </md-datepicker>
            </div>
        </div>
        <div class="reorder-question-block reorder-shipping">
            <div class="reorder-question-block-wrap">
                <div class="reorder-question-text">Is the shipping address for this order the same as before?</div>
                <div class="reorder-radio-group">
                    <md-radio-group ng-model="reorder.isShippingSame"
                                    md-no-ink="true"
                                    class="address-type-radio"
                                    ng-change="reorder.isShippingSaved = false"
                                    name="type">
                        <md-radio-button ng-value="'yes'">
                            <span class="grey">Yes</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'no'">
                            <span class="grey left">No</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="reorder-sub-question-block" ng-class="{'opened' : reorder.isShippingSame === 'no' && !reorder.isShippingSaved}">
                <form class="reorder-form" name="shippingForm" ng-submit="$reorder.submitShipping(reorder)">
                    <div class="form-fields">
                        <div class="registration-auth-data">

                            <div class="form-group name">
                                <div class="fname">
                                    <label>First Name <span class="star">*</span></label>
                                    <input type="text" name="first_name_shipping" class="form-control" ng-model="reorder.shippingData.first_name" required>
                                </div>
                                <div class="mname">
                                    <label>Middle Name</label>
                                    <input type="text" name="middle_name_shipping" class="form-control" ng-model="reorder.shippingData.middle_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Last Name <span class="star">*</span></label>
                                <input type="text" name="last_name_shipping" class="form-control" ng-model="reorder.shippingData.last_name" required>
                            </div>

                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" name="company_shipping" class="form-control" ng-model="reorder.shippingData.company_name">
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title_shipping" class="form-control" ng-model="reorder.shippingData.title">
                            </div>

                            <div class="form-group phone" ng-class="{ 'has-error' : shippingForm.phone_shipping.$invalid && !shippingForm.phone_shipping.$pristine }">
                                <div class="phone">
                                    <label>Phone Number <span class="star">*</span></label>
                                    <input type="text" name="phone_shipping" class="form-control" ng-model="reorder.shippingData.day_telephone" ui-mask="999-999-9999" model-view-value="true"
                                           ui-options="{addDefaultPlaceholder: false}" required>
                                    <p ng-show="shippingForm.phone_shipping.$invalid && !shippingForm.phone_shipping.$pristine" class="help-block">Enter a valid telephone.</p>
                                    <p ng-show="shippingForm.phone_shipping.$error.phone_shipping" class="help-block">{{ shippingForm.phone_shipping.$error.errorMessage }}</p>
                                </div>
                                <div class="ext">
                                    <label>Ext</label>
                                    <input type="text"
                                           name="ext_shipping"
                                           class="form-control"
                                           ng-model="reorder.shippingData.ext"
                                           maxlength="3"
                                           ng-pattern="/^[0-9+]*$/">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Fax</label>
                                <input type="text" name="fax_shipping" class="form-control" ng-model="reorder.shippingData.fax">
                            </div>

                        </div>
                        <div class="registration-user-data">

                            <div class="form-group">
                                <label>Address 1 <span class="star">*</span></label>
                                <input type="text" name="address1_shipping" class="form-control" ng-model="reorder.shippingData.address_line_1" required>
                            </div>

                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text" name="address2_shipping" class="form-control" ng-model="reorder.shippingData.address_line_2">
                            </div>

                            <div class="form-group">
                                <label>City <span class="star">*</span></label>
                                <input type="text" name="city_shipping" class="form-control" ng-model="reorder.shippingData.city" required>
                            </div>

                            <div class="form-group">
                                <label>State <span class="star" ng-if="reorder.shippingData.country === 'US'">*</span></label>
                                <select
                                        ng-model="reorder.shippingData.state"
                                        name="state"
                                        class="form-control"
                                        ng-options="option.abbreviation as option.name for option in $usStates"
                                        ng-disabled="reorder.shippingData.country !== 'US'"
                                        ng-required="reorder.shippingData.country === 'US'">
                                </select>
                            </div>

                            <div class="form-group name">
                                <div class="country">
                                    <label>Country <span class="star">*</span></label>
                                    <select
                                            ng-model="reorder.shippingData.country"
                                            ng-change="checkCountry(reorder.shippingData)"
                                            name="country_shipping"
                                            class="form-control"
                                            ng-options="option.code as option.name for option in $countriesList"
                                            ng-focus="resetError(paymentProfileEditForm.country)" required>
                                    </select>
                                </div>

                                <div class="zpcode">
                                    <label class="zpcode-label">Zip/Postal Code <span class="star">*</span></label>
                                    <input class="form-control"
                                           type="text"
                                           name="zpcode_shipping"
                                           ng-model="reorder.shippingData.zip"
                                           maxlength="5"
                                           ng-pattern="/^[0-9+]*$/" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Province (if non-US)</label>
                                <input type="text" name="province_shipping" class="form-control" ng-model="reorder.shippingData.province">
                            </div>

                        </div>
                    </div>
                    <div class="form-action">
                        <button class="reorder-btn pull-right" ng-click="reorder.isShippingSaved = true" ng-disabled="shippingForm.$invalid">save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="reorder-question-block reorder-billing">
            <div class="reorder-question-block-wrap">
                <div class="reorder-question-text">Is the billing address for this order the same as before?</div>
                <div class="reorder-radio-group">
                    <md-radio-group ng-model="reorder.isBillingSame"
                                    md-no-ink="true"
                                    class="address-type-radio"
                                    ng-change="reorder.isBillingSaved = false"
                                    name="type">
                        <md-radio-button ng-value="'yes'">
                            <span class="grey">Yes</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'no'">
                            <span class="grey left">No</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="reorder-sub-question-block" ng-class="{'opened' : reorder.isBillingSame === 'no' && !reorder.isBillingSaved}">
                <form class="reorder-form" name="billingForm" ng-submit="$reorder.submitBilling(reorder)">
                    <div class="form-fields">
                        <div class="registration-auth-data">

                            <div class="form-group name">
                                <div class="fname">
                                    <label>First Name <span class="star">*</span></label>
                                    <input type="text" name="first_name_shipping" class="form-control" ng-model="reorder.billingData.first_name" required>
                                </div>
                                <div class="mname">
                                    <label>Middle Name</label>
                                    <input type="text" name="middle_name_shipping" class="form-control" ng-model="reorder.billingData.middle_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Last Name <span class="star">*</span></label>
                                <input type="text" name="last_name_shipping" class="form-control" ng-model="reorder.billingData.last_name" required>
                            </div>

                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" name="company_shipping" class="form-control" ng-model="reorder.billingData.company_name">
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title_shipping" class="form-control" ng-model="reorder.billingData.title">
                            </div>

                            <div class="form-group phone" ng-class="{ 'has-error' : billingForm.phone_shipping.$invalid && !billingForm.phone_shipping.$pristine }">
                                <div class="phone">
                                    <label>Phone Number <span class="star">*</span></label>
                                    <input type="text" name="phone_shipping" class="form-control" ng-model="reorder.billingData.day_telephone" ui-mask="999-999-9999" model-view-value="true"
                                           ui-options="{addDefaultPlaceholder: false}" required>
                                    <p ng-show="billingForm.phone_shipping.$invalid && !billingForm.phone_shipping.$pristine" class="help-block">Enter a valid telephone.</p>
                                    <p ng-show="billingForm.phone_shipping.$error.phone_shipping" class="help-block">{{ billingForm.phone_shipping.$error.errorMessage }}</p>
                                </div>
                                <div class="ext">
                                    <label>Ext</label>
                                    <input type="text"
                                           name="ext_shipping"
                                           class="form-control"
                                           ng-model="reorder.billingData.ext"
                                           maxlength="3"
                                           ng-pattern="/^[0-9+]*$/">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Fax</label>
                                <input type="text" name="fax_shipping" class="form-control" ng-model="reorder.billingData.fax">
                            </div>

                        </div>
                        <div class="registration-user-data">

                            <div class="form-group">
                                <label>Address 1 <span class="star">*</span></label>
                                <input type="text" name="address1_shipping" class="form-control" ng-model="reorder.billingData.address_line_1" required>
                            </div>

                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text" name="address2_shipping" class="form-control" ng-model="reorder.billingData.address_line_2">
                            </div>

                            <div class="form-group">
                                <label>City <span class="star">*</span></label>
                                <input type="text" name="city_shipping" class="form-control" ng-model="reorder.billingData.city" required>
                            </div>

                            <div class="form-group">
                                <label>State <span class="star" ng-if="reorder.billingData.country === 'US'">*</span></label>
                                <select
                                        ng-model="reorder.billingData.state"
                                        name="state"
                                        class="form-control"
                                        ng-options="option.abbreviation as option.name for option in $usStates"
                                        ng-disabled="reorder.billingData.country !== 'US'"
                                        ng-required="reorder.billingData.country === 'US'">
                                </select>
                            </div>

                            <div class="form-group name">
                                <div class="country">
                                    <label>Country <span class="star">*</span></label>
                                    <select
                                            ng-model="reorder.billingData.country"
                                            ng-change="checkCountry(reorder.billingData)"
                                            name="country_billing"
                                            class="form-control"
                                            ng-options="option.code as option.name for option in $countriesList"
                                            ng-focus="resetError(paymentProfileEditForm.country)" required>
                                    </select>
                                </div>
                                <div class="zpcode">
                                    <label class="zpcode-label">Zip/Postal Code <span class="star">*</span></label>
                                    <input class="form-control"
                                           type="text"
                                           name="zpcode_shipping"
                                           ng-model="reorder.billingData.zip"
                                           maxlength="5"
                                           ng-pattern="/^[0-9+]*$/" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Province (if non-US)</label>
                                <input type="text" name="province_shipping" class="form-control" ng-model="reorder.billingData.province">
                            </div>

                        </div>
                    </div>
                    <div class="form-action">
                        <button class="reorder-btn pull-right" ng-click="reorder.isBillingSaved = true" ng-disabled="billingForm.$invalid">save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="reorder-question-block reorder-payment">
            <div class="reorder-question-block-wrap">
                <div class="reorder-question-text">Should the same payment on file be used for this reorder?</div>
                <div class="reorder-radio-group">
                    <md-radio-group ng-model="reorder.isPaymentSame"
                                    md-no-ink="true"
                                    class="address-type-radio"
                                    name="type">
                        <md-radio-button ng-value="'yes'">
                            <span class="grey">Yes</span>
                        </md-radio-button>
                        <md-radio-button ng-value="'no'">
                            <span class="grey left">No</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="reorder-sub-question-block" ng-class="{'opened' : reorder.isPaymentSame === 'no'}">
                <!-- <div class="reorder-payment-header">Payment</div> -->
                <div class="payment-container">
                    <md-input-container>
                        <md-select ng-model="reorder.payment"
                                   aria-label="Select"
                                   placeholder="Choose your Card">
                            <md-option ng-value="::paymentOption.id" ng-selected="paymentOption.selected" ng-repeat="paymentOption in paymentProfileList">
                                <div class="reorder-payment-info">
                                    <span class="reorder-payment-checkmark">{{ ::paymentOption.card_holder }}</span>
                                    <span class="reorder-payment-checkmark">{{ ::paymentOption.card_number.slice(-8) }}</span>
                                </div>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div class="reorder-add-card-button">
                        <button class="reorder-save-comment pull-right" ng-click="openAddNewCardModal(reorder.id)">Add New Card</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="reorder-comment-block">
            <div class="reorder-comment-header">Specific Comments about your reorder ( shipping, billing , design etc..)</div>
            <div class="reorder-comment-textarea">
                <textarea rows="10" placeholder="Write your comment" aria-invalid="false" ng-model="reorder.comment"></textarea>
            </div>
            <div class="reorder-comment-button">
                <button class="reorder-save-comment pull-right" ng-click="$reorder.saveAllChanges(reorder)">save reorder details</button>
            </div>
        </div>
    </div>
    <div class="reorder-note-block" ng-if="$reorder.reorders.length">
        <div class="reorder-header-wrap">
            <i class="material-icons warn-sign">warning</i>
            <h3 class="reorder-note-header">please note:</h3>
        </div>
        <ul class="reorder-list">
            <li>Current product pricing will apply to all reorders.</li>
            <li>Please check the product details page for current pricing or details.</li>
            <li>Setup charge(s) will be waived on all exact reorders (if imprint is the same)</li>
            <li>If submitting a reorder request with no actual order changes, we will setup the order for you and email you a confirmation.</li>
            <li>If your reorder requires specific changes to the artwork, shipping, billing or we have any questions, a customer service representative will contact you within one business day to complete the order.</li>
            <li>If you have any questions please contact customer service at 1-888-577-6667, or send an email to <span class="reorder-email">info@superiorpromos.com.</span></li>
        </ul>
    </div>
    <div class="reorder-action-button-block" ng-if="$reorder.reorders.length">
        <button class="reorder-save-comment reorder-back-btn pull-left" ng-click="$reorder.goToOrderHistory()">back</button>
        <button class="reorder-save-comment pull-right" ng-click="$reorder.prepareReorderToSend()">submit</button>
        <button class="reorder-save-comment reorder-clear-btn pull-right" ng-click="$reorder.clearReorders()">clear</button>
    </div>
    <div class="reorder-no-items" ng-if="!$reorder.reorders.length">
        <h5>No items</h5>
    </div>
</div>




