@import "~scss/modules/variables";

.shopping-cart-page {
  margin: 5px auto;
  padding: 15px;
  border-radius: 6px;
  background-color: transparent;
  @media (max-width:576px) {
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .shopping-cart-page,
  .cart-checkout-page {
    min-height: calc(100vh - 54px);

    .shopping-cart-list {
      .cart-item-brief {
        justify-content: space-between;
      }

      .cart-list-header {
        display: none;
      }

      .content-item {
        &.product {
          flex: 100%;
        }

        &.costs {
          display: none;
        }
      }

      .cart-item-additional {
        .selected-options,
        .order-summary {
          flex: 0 0 50%;
        }

        .order-summary {
          background: none;
          padding: 25px 0 25px 15px;
        }

        .selected-options {
          padding: 0;
        }
      }
    }

    .item-controls {
      .btn-edit {
        width: 100%;
        text-align: left;
      }

      .btn-remove,
      .btn-save-for-later {
        padding: 5px;
      }
    }
  }
}
