<bread-crumbs source="breadcrumbs"></bread-crumbs>
<div class="shopping-cart-page">
  <cart-list source="cartService.cartItems"
             mode="shopping-cart"
             on-confirm="checkout">
  </cart-list>
</div>

