<div class="page-guarantee">
    <h2 class="static-title">Our Guarantee</h2>
    <div class="row">
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/1.svg" alt="">
                <div class="guarantee-heading">Total Price Matching</div>
                <p>We will meet or beat any price*</p>
            </div>
            <div class="guarantee-info">
                We are aware that you have options when it comes to buying promotional products. Price is one of the biggest factors that will determine your decision.
                Our goal at Superior Promos is to provide the lowest possible price on the web for everything we sell. However if someone has the same item for less,
                then we will always attempt to price match and will go a step further and beat the price
            </div>
            <div class="extra-info">
                * Price and item verification required for our price match policy. A direct link or a quote from a competitor is required. Superior
                Promos holds the right not to match pricing or bids from non-reputable companies.
            </div>
        </div>
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/2.svg" alt="">
                <div class="guarantee-heading">100% Quality Control</div>
            </div>
            <div class="guarantee-info">
                In rare cases where a product did not meet the quality control required or was poorly manufactured we will work on finding a
                solution for such cases. All claims for miss-prints, defects or errors with any order must be made within 14 days of purchase in writing.
                Superior Promos is not liable for improper use of any item or in a way that it was not intended by the manufacturer. Please contact customer
                service via info@superiorpromos.com for any possible issues with a purchased product.
            </div>
        </div>
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/3.svg" alt="">
                <div class="guarantee-heading">On Time Delivery Every Time</div>
            </div>
            <div class="guarantee-info">
                Whether you are giving us a call, using our Live Chat feature or simply sending an email to request information, you will always experience
                prompt professional service; Guaranteed. Many companies provide service with no enthusiasm and are simply not willing to go the extra mile to
                assist you with your needs. Our customer service approach is above and beyond the ordinary. We provide knowledgeable and extremely friendly service.
                We believe that service with a smile can extend over the phone or online.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/4.svg" alt="">
                <div class="guarantee-heading">Absolutely NO Markup on Shipping</div>
            </div>
            <div class="guarantee-info">
                We are in the business to help your business and we know that many companies offer low prices on their product but later surprise their customers with elevated shipping costs. To us that approach is bad business. We strive to deliver the best products and the lowest rates with true shipping costs. You pay the exact UPS or FedEx rates. You may even use your own shipping accounts for all your shipments. Heavier items like ceramic mugs might have extra minimal packaging fees per box.
                Please feel free to contact customer service prior to placing your order for an estimated shipping quote. Please note if a close in-hand date must be met, then expedited shipping may be used, in which case we will present all cost and options for you before the products ships out.
            </div>
        </div>
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/5.svg" alt="">
                <div class="guarantee-heading">100% Satisfaction</div>
            </div>
            <div class="guarantee-info">
                We guarantee that you will be 100% satisfied with your purchase. We are so confident in our products and services that we want you to have a 100% worry free shopping experience. All you have to do is browse our great product line, select your promotional items, email us your design and let us do the rest. There are NO hidden fees, NO cancelation fees. Also if your product is not printed to your exact specifications we will reprint the order or work with you in every step of the way to ensure a satisfactory result. Furthermore, because we strive to reach 100% satisfaction, if you provide us with the wrong artwork or approve a wrong proof then we will happily reprint the order with a tremendous discount price.
            </div>
        </div>
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/6.svg" alt="">
                <div class="guarantee-heading">FREE Art Services*</div>
            </div>
            <div class="guarantee-info">
                When we say free art services, we mean it! There are no catches or tricks; all art preparation is absolutely free. If you are not sure what you would like to print, or need modification to your current design, we will be happy to do it for you at no additional cost. If your artwork requires special attention or it is a more detailed design, all we ask is that you give us extra time to redraw or redesign your logo. We will not stop until you are completely satisfied with your imprint. We offer unlimited FREE revisions and FREE digital proofs. Nothing gets imprinted until you approve your artwork. We provide worry free shopping from start to finish.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/7.svg" alt="">
                <div class="guarantee-heading">Exceptional Customer Service</div>
            </div>
            <div class="guarantee-info">
                Here at Superior Promos we understand that deadlines are part of the business and we are experts in helping you meet that deadline or special event. If we are given an in-hand date we guarantee to deliver your product on time or your money back. We will work with you each step of the way to select the best rush option or proper expedited delivery method in order to deliver the products in time for your event.
            </div>
        </div>
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/8.svg" alt="">
                <div class="guarantee-heading">Absolutely NO Minimum $ Order Amount*</div>
            </div>
            <div class="guarantee-info">
                Here at Superior Promos we do not restrict you from ordering any of our products, no matter what the final cost is. Unlike most other promotional products companies we do not have a minimum Total Order Amount Policy. Your order can total to any amount. No extra fees to meet certain dollar requirements. We value any promotion big or small.
            </div>
        </div>
        <div class="guarantee-block col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/9.svg" alt="">
                <div class="guarantee-heading">NO SETUP CHARGES
                </div>
                <p>for Exact Re-Orders Ever!</p>
            </div>
            <div class="guarantee-info">
                We are aware that you have options when it comes to buying promotional products. Price is one of the biggest factors that will determine your decision.
                Our goal at Superior Promos is to provide the lowest possible price on the web for everything we sell. However if someone has the same item for less,
                then we will always attempt to price match and will go a step further and beat the price
            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
