<div class="page-contact-us">
    <h2 class="static-title">Contact Us</h2>
    <div class="row">
        <div class="col-md-3">
            <form class="contact-us-section contact-us-form"
                  name="contactUsForm"
                  ng-submit="sendContactUs()"
                  ng-show="!successMessage">
                <div class="form-group">
                    <label class="edit-form-label">
                        <span ng-hide="contactUsForm.last_name.$error.backend">Email</span>
                        <span class="text-danger" ng-messages="contactUsForm.email.$error" role="alert">
                            <span ng-message="backend">{{contactUsForm.email.$error.backend}}</span>
                        </span>
                        <span class="cont-asterisk">&#42;</span>
                    </label>
                    <input ng-model="contactData.email"
                           class="form-control"
                           type="email"
                           autocomplete="off"
                           ng-focus="resetError(contactUsForm.email)"
                           name="email"
                           ng-trim="true">
                </div>
                <div class="form-group">
                    <label class="edit-form-label">
                        <span ng-hide="contactUsForm.full_name.$error.backend">Full name</span>
                        <span class="text-danger" ng-messages="contactUsForm.full_name.$error" role="alert">
                            <span ng-message="backend">{{contactUsForm.full_name.$error.backend}}</span>
                        </span>
                        <span class="cont-asterisk">&#42;</span>
                    </label>
                    <input ng-model="contactData.full_name"
                           class="form-control"
                           type="text"
                           autocomplete="off"
                           ng-focus="resetError(contactUsForm.full_name)"
                           name="full_name"
                           ng-trim="true">
                </div>
                <div class="form-group">
                    <label class="edit-form-label">
                        <span ng-hide="contactUsForm.subject.$error.backend">Subject</span>
                        <span class="text-danger" ng-messages="contactUsForm.subject.$error" role="alert">
                            <span ng-message="backend">{{contactUsForm.subject.$error.backend}}</span>
                        </span>
                        <span class="cont-asterisk">&#42;</span>
                    </label>
                    <select ng-model="contactData.subject"
                            class="form-control"
                            ng-options="option.name as option.id for option in subjects"
                            ng-focus="resetError(contactUsForm.subject)"
                            name="subject"
                            ng-trim="true">
                    </select>
                </div>
                <div class="form-group">
                    <label class="edit-form-label">
                        <span ng-hide="contactUsForm.message.$error.backend">Subject</span>
                        <span class="text-danger" ng-messages="contactUsForm.message.$error" role="alert">
                            <span ng-message="backend">{{contactUsForm.message.$error.backend}}</span>
                        </span>
                        <span class="cont-asterisk">&#42;</span>
                    </label>
                    <textarea ng-model="contactData.message"
                              class="form-control"
                              rows="8"
                              ng-focus="resetError(contactUsForm.subject)"
                              name="subject">
                    </textarea>
                </div>
                <div class="form-group">
                    <div vc-recaptcha
                         key="'6LfC5bEaAAAAADkeOmWOnvwjNu3H-Da0f5ZHJ1Wg'"
                         ng-model="contactUsForm.captchaResponse"
                         on-success="setCaptchaResponse(response)"
                         on-expire="setCaptchaExpiration()">
                    </div>
                </div>
                <button class="btn btn-primary btn-submit-contact-us"
                        type="submit"
                        ng-disabled="!captcha">
                    Submit
                </button>
            </form>
            <div class="success text-center" ng-show="successMessage">
                <p>{{ successMessage }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="contact-us-section contact-phones">
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">access_time</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Office hours:</label>
                        <p class="contact-item-value">M-F 9:00 am - 6:00 pm EST</p>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">phone</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Toll Free:</label>
                        <p class="contact-item-value">1-888-577-6667</p>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">phone</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Local #:</label>
                        <p class="contact-item-value">1-718-382-0408</p>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">phone</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Fax:</label>
                        <p class="contact-item-value">1-888-544-2534</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="contact-us-section contact-emails">
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">email</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">General Information / Order Help:</label>
                        <a href="mailto:info@superiorpromos.com" class="contact-item-value">info@superiorpromos.com</a>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">email</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Sales and Quotes:</label>
                        <a href="mailto:sales@superiorpromos.com"
                           class="contact-item-value">sales@superiorpromos.com</a>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">email</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Art Department:</label>
                        <a href="mailto:art@superiorpromos.com" class="contact-item-value">art@superiorpromos.com</a>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">email</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Billing Questions:</label>
                        <a href="mailto:billing@superiorpromos.com" class="contact-item-value">billing@superiorpromos.com</a>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">email</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Sample Requests:</label>
                        <a href="mailto:samples@superiorpromos.com" class="contact-item-value">samples@superiorpromos.com</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="contact-us-section contact-addresses">
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">location_on</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Address Superior Promos Inc:</label>
                        <div class="contact-item-value">12-45 River Road </div>
                        <div class="contact-item-value">Fair Lawn, NJ 07410</div>
                    </div>
                </li>
                <li class="contact-item">
                    <i class="material-icons contact-item-icon">location_on</i>
                    <div class="contact-item-texts">
                        <label class="contact-item-name">Mailing Address:</label>
                        <div class="contact-item-value">12-45 River Road </div>
                        <div class="contact-item-value">Fair Lawn, NJ 07410</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
