.page-contact-us {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0;
  }

  .edit-form-label,
  .contact-item-name {
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: rgba(34, 40, 43, 0.75);

    .cont-asterisk {
      color: #c00016;
    }
  }

  textarea {
    resize: none;
  }

  .btn-submit-contact-us {
    background-color: #2ca6d8;
    color: white;
    width: 100%;
    border:none;
  }

  .contact-us-section {
    list-style: none;
    margin: 0;

    @media (min-width: 320px) and (max-width: 991px) {
      padding: 0;
      margin-bottom: 15px;
    }
  }

  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .contact-item-icon {
      color: rgba(69, 79, 81, 0.5);
      font-size: 20px;
      margin-right: 20px;
    }

    .contact-item-value {
      display: block;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.69;
      letter-spacing: normal;
      color: #22282b;
    }
  }
}
