* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
  background: #e6eef2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app .forgot-block {
  background: #ffffff;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  width: 450px;
  margin: 0 auto;
  color: #262c2f;
  padding: 50px 0;
}
#app .forgot-block .panel-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app .forgot-block .panel-heading .separator {
  height: 1px;
  width: 30px;
  background: #cecece;
  margin-left: 10px;
}
#app .forgot-block .panel-heading .separator.left {
  margin-right: 10px;
  margin-left: 0;
}
#app .forgot-block .panel-heading .forgot-header {
  margin: 0;
  font-size: 16px;
}
#app .forgot-block .forgot-info {
  margin: 0;
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
#app .forgot-block .panel-body {
  margin-top: 40px;
}
#app .forgot-block .panel-body .form-container {
  width: 65%;
  margin: 0 auto;
}
#app .forgot-block .panel-body .form-container .control-label {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
}
#app .forgot-block .panel-body .form-container .reset-button {
  height: 35px;
  border: 1px solid #2fb1df;
  color: #2fb1df;
  background: transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}
#app .forgot-block .panel-body .form-container.reset {
  margin-top: 50px;
}
#app .forgot-block .panel-body .input-block {
  margin-top: 10px;
}
#app .forgot-block .panel-body .input-block input {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #cecece;
  padding: 0 10px;
  outline: none;
  font-size: 11px;
}
#app .forgot-block .panel-body .input-block input::placeholder {
  color: #d1d1d1;
}
#app .forgot-block .panel-body .reset-status span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}
#app .forgot-block .panel-body .reset-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/*# sourceMappingURL=password.css.map */
