<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{address}} Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="addressForm" class="form-horizontal form-group-sm" ng-submit="updateAddress()">
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.title" type="text" class="form-control" id="inputEmail3" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.first_name" type="text" class="form-control" id="inputEmail3" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Middle Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.middle_name" type="text" class="form-control" id="inputEmail3" placeholder="Middle Name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.last_name" type="text" class="form-control" id="inputEmail3" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Suffix</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.suffix" type="text" class="form-control" id="inputEmail3" placeholder="Suffix">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.company_name" type="text" class="form-control" id="inputEmail3" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Address 1</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.address_line_1" type="text" class="form-control" id="inputEmail3" placeholder="Address 1">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Address 2</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.address_line_2" type="text" class="form-control" id="inputEmail3" placeholder="Address 2">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.city" type="text" class="form-control" id="inputEmail3" placeholder="City">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">State</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.state" type="text" class="form-control" id="inputEmail3" placeholder="State">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">ZIP</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.zip" class="form-control" id="inputEmail3" placeholder="ZIP">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.country" type="text" class="form-control" id="inputEmail3" placeholder="Country">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Province</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.province" type="text" class="form-control" id="inputEmail3" placeholder="Province">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="inputEmail3" class="col-sm-2 control-label">Day Telephone</label>
                                <div class="col-sm-10">
                                    <input ng-model="user.day_telephone" type="text" class="form-control" id="inputEmail3" placeholder="Day Telephone">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
