<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Art Proof Management</h4>
                <h5>Order # {{orderId}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Art Proofs</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">ID</th>
                                    <th class="info">Submitted On</th>
                                    <th class="info">User</th>
                                    <th class="info">File</th>
                                    <th class="info">Admin Note</th>
                                    <th class="info">Customer Note</th>
                                    <th class="info">Status</th>
                                    <th class="info">Date of Approval / Denial</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="artProof in artProofs">
                                <tr>
                                    <td>{{artProof.id}}</td>
                                    <td>{{artProof.created_at|date:'short'}}</td>
                                    <td>{{artProof.user.name}}</td>
                                    <td>
                                        <a target="_blank" href="/admin/api/order_item/{{orderItem.id}}/art_proof/{{artProof.id}}/file">{{artProof.path}}</a>
                                    </td>
                                    <td><div ng-bind-html="trustAsHtml(artProof.note)"></div></td>
                                    <td><div ng-bind-html="trustAsHtml(artProof.customer_note)"></div></td>
                                    <td>{{artProof.status}}</td>
                                    <td>{{artProof.answered_at || ''}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5>Add New Art Proof</h5>
                        <form name="noteForm"  ng-submit="addArtProof()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="approve_required">Request Approval
                                </label>
                            </div>
                            <div class="form-group">
                                <textarea ui-tinymce="tinymceOptions" ng-model="note" class="form-control" rows="6"></textarea>
                            </div>
                            <div ngf-drop ngf-select ng-model="file" class="drop-box" name="file"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                Drop file to upload</div>
                            <div ng-if="file">File: {{file.name}}</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <div>
                                <button type="submit" class="btn btn-default">Add Art Proof</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
