<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Extra Payment Management</h4>
                <h5>Order # {{orderId}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-true-value="1" ng-model="orderItem.not_paid" ng-change="updateNotPaid()">Not Paid
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5>Extra billing</h5>
                        <p ng-show="paymentProfiles.length == 0">Sorry, this customer does not have any CIM account.</p>
                        <form name="extraShippingBillingForm" class="form-horizontal form-group-sm" ng-submit="addExtraOtherBilling()" ng-show="paymentProfiles.length > 0">
                            <div class="form-group form-group-sm">
                                <label for="other-billing-payment-profile" class="col-sm-2 control-label">Payment Profile</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="otherBilling.payment_profile_id" id="other-billing-payment-profile"> <!-- ng-options="obj.id as obj.card_number for obj in paymentProfiles" -->
                                        <option ng-value="obj.id" ng-repeat="obj in paymentProfiles">{{ obj.card_number }} {{ obj.card_holder }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="other-billing-extra-amount" class="col-sm-2 control-label">Extra Amount</label>
                                <div class="col-sm-10">
                                    <input ng-model="otherBilling.extra_amount" name="tax_amount" id="other-billing-extra-amount" type="text" class="form-control" placeholder="Extra Amount">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="other-billing-credit-amount" class="col-sm-2 control-label">Credit Amount</label>
                                <div class="col-sm-10">
                                    <input ng-model="otherBilling.credit_amount" name="credit_amount" id="other-billing-credit-amount" type="text" class="form-control" placeholder="Credit Amount">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">Total Charges</label>
                                <div class="col-sm-10">
                                    {{otherTotal()}}
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-true-value="1" ng-false-value="0" ng-model="otherBilling.notify_customer"  type="checkbox"> Notify customer
                                </label>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="other-billing-message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea ng-model="otherBilling.notify_message"
                                              class="form-control" id="other-billing-message" placeholder="Message" rows="4">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Bill Customer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <h5>Apply Credit</h5>
                        <p ng-show="payments.length == 0">Transaction ID is not avaiable. Credit transaction disabled.</p>
                        <form name="extraShippingBillingForm" class="form-horizontal form-group-sm" ng-submit="addApplyCredit()" ng-show="payments.length > 0">
                            <div class="form-group form-group-sm">
                                <label for="credit-payment-id" class="col-sm-2 control-label">Transaction</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="credit.payment_id" id="credit-payment-id" ng-options="obj.id as obj.title for obj in payments">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="credit-credit-amount" class="col-sm-2 control-label">Credit Amount</label>
                                <div class="col-sm-10">
                                    <input ng-model="credit.credit_amount"
                                           name="credit_amount"
                                           id="credit-credit-amount"
                                           type="number"
                                           class="form-control"
                                           placeholder="Credit Amount"
                                           step="0.01">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-true-value="1" ng-false-value="0" ng-model="credit.notify_customer"  type="checkbox"> Notify customer
                                </label>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="credit-message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea ng-model="credit.notify_message"
                                              class="form-control" id="credit-message" placeholder="Message" rows="4">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Apply Credit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <h5>Payment History</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">ID</th>
                                    <th class="info">Payment Profile ID</th>
                                    <th class="info">Status</th>
                                    <th class="info">Transaction ID</th>
                                    <th class="info">Date</th>
                                    <th class="info">Type</th>
                                    <th class="info">Tax</th>
                                    <th class="info">Total Cost</th>
                                    <th class="info">Credit</th>
                                    <th class="info">Overall</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="payment in payments">
                                    <tr>
                                        <td>{{payment.id}}</td>
                                        <td>{{payment.payment_profile_id}}</td>
                                        <td>{{payment.status}}</td>
                                        <td>{{payment.transaction_id}}</td>
                                        <td>{{payment.created_at}}</td>
                                        <td>{{payment.type}}</td>
                                        <td>{{payment.tax}}</td>
                                        <td>{{payment.price}}</td>
                                        <td>{{payment.credit_amount}}</td>
                                        <td>{{payment.overall}}</td>
                                    </tr>
                                    <tr>
                                       <td colspan="10" class="unimportant-info-block">
                                           <div>ACCT : {{payment.paymentProfile.card_number}}</div>
                                           <div>Card Type : {{payment.paymentProfile.card_type}}</div>
                                           <div>Expiration Date : {{payment.paymentProfile.expiration_month}}/{{payment.paymentProfile.expiration_year}}</div>
                                           <div>Card Holder : {{payment.paymentProfile.card_holder}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
