<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Order Notes / Virtual File Cabinet</h4>
                <h5>Order # {{orderId}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Order Notes Management (these are internal notes)</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">Date</th>
                                    <th class="info">User</th>
                                    <th class="info">Note</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="backNote in backNotes">
                                <tr>
                                    <td>{{backNote.created_at|date:'short'}}</td>
                                    <td>{{backNote.user.name}}</td>
                                    <td><div ng-bind-html="trustAsHtml(backNote.note)"></div></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-model="orderItem.check_notes" ng-change="updateCheckNotes()">Check Notes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5>Add New Note</h5>
                        <form name="noteForm"  ng-submit="addNote()">
                            <div class="form-group">
                                <textarea ui-tinymce="tinymceOptions" ng-model="note" class="form-control" rows="6"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Add Note</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                        <h5>Virtual File Cabinet</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">Date</th>
                                    <th class="info">Name</th>
                                    <th class="info"></th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="virtualCabinetFile in virtualCabinetFiles">
                                <tr>
                                    <td>{{virtualCabinetFile.created_at|date:'short'}}</td>
                                    <td>{{virtualCabinetFile.name}}</td>
                                    <td>
                                        <a target="_blank" href="/admin/api/order_item/{{orderItem.id}}/virtual_cabinet_file/{{virtualCabinetFile.id}}/file">Download</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form name="virtualCabinetFile" class="form-horizontal form-group-sm" ng-submit="addVirtualCabinetFile()">

                            <div ngf-drop ngf-select ng-model="file" class="drop-box" name="file"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                Drop file to upload</div>
                            <div ng-if="file">File: {{file.name}}</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                            <div>
                                <button type="submit" class="btn btn-default">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
