<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Stage Management</h4>
                <h5>Order # {{orderId}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Production Stage Management</h5>
                        <div>
                            Set new stage
                            <select ng-init="stage" ng-model="stage" class="form-control" ng-options="stage.name for stage in stages track by stage.id"></select>
                            <div class="checkbox">
                                <label>
                                    <input ng-true-value="1" ng-false-value="0" ng-model="notify_customer"  type="checkbox"> Notify customer
                                </label>
                            </div>
                            <button ng-click="setNewStage()" class="btn btn-default" ng-disabled="stage == 0" ng-class="stage == 0 ? 'disabled':''">Set New Stage</button>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="autoRemind" ng-change="updateAutoRemind()"> Auto Remind
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Stage History</h5>
                        <table class="table table-bordered table-condensed">
                            <tr ng-repeat="historyItem in history">
                                <td>{{historyItem.time}}</td>
                                <td>{{historyItem.name}}</td>
                                <td>{{historyItem.user}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
