<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tracking Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="trackingInformationForm" class="form-horizontal form-group-sm" ng-submit="updateTrackingInformation()">
                            <div class="form-group form-group-sm">
                                <label for="tracking_shipping_date" class="col-sm-2 control-label">Date Shipped</label>
                                <div class="col-sm-10">
                                    <input type="date"
                                           data-date-format="DD MMMM YYYY"
                                           ng-model="tracking_information.tracking_shipping_date"
                                           value="{{ tracking_information.tracking_shipping_date }}"
                                           id="tracking_shipping_date"
                                           name="tracking_shipping_date">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="tracking_number" class="col-sm-2 control-label">Tracking Number</label>
                                <div class="col-sm-10">
                                    <input ng-model="tracking_information.tracking_number" name="tracking_number" id="tracking_number" type="text" class="form-control" placeholder="Tracking Number">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="tracking_shipping_company" class="col-sm-2 control-label">Shipping Company</label>
                                <div class="col-sm-10">
                                    <select ng-model="tracking_information.tracking_shipping_company" class="form-control" name="tracking_shipping_company" id="tracking_shipping_company">
                                        <option ng-show="!tracking_information.tracking_shipping_company" disabled value="">Shipping Company</option>
                                        <option value="ups">UPS</option>
                                        <option value="fedex">FedEx</option>
                                        <option value="dhl">DHL</option>
                                        <option value="usps">USPS</option>
                                        <option value="truck">Truck</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-show="tracking_information.tracking_shipping_company == 'truck'" class="form-group form-group-sm">
                                <label for="tracking_url" class="col-sm-2 control-label">URL</label>
                                <div class="col-sm-10">
                                    <input ng-model="tracking_information.tracking_url" name="tracking_url" id="tracking_url" type="text" class="form-control" placeholder="URL">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="tracking_note" class="col-sm-2 control-label">Note</label>
                                <div class="col-sm-10">
                                    <textarea rows="5" ng-model="tracking_information.tracking_note" name="tracking_note" id="tracking_note"  type="text" class="form-control" placeholder="Note">
                                    </textarea>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-true-value="1" ng-false-value="0" ng-model="tracking_information.tracking_notify_customer" type="checkbox"> Notify customer
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-true-value="1" ng-false-value="0" ng-model="tracking_information.tracking_request_rating" type="checkbox"> Request rating
                                </label>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <h5>Tracking Information List</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">ID</th>
                                    <th class="info">Date Shipped</th>
                                    <th class="info">Tracking Number</th>
                                    <th class="info">Shipping Company</th>
                                    <th class="info">Note</th>
                                    <th class="info">Created</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="trackingInformation in getTrackingInformations">
                                <tr>
                                    <td>{{trackingInformation.id}}</td>
                                    <td>{{trackingInformation.tracking_shipping_date}}</td>
                                    <td>{{trackingInformation.tracking_number}}</td>
                                    <td>{{trackingInformation.tracking_shipping_company}}</td>
                                    <td>{{trackingInformation.tracking_note}}</td>
                                    <td>{{trackingInformation.created_at}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
