<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Notes</h4>
                <h5>Order # {{orderId}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>User Notes Management (this is what customer will see)</h5>
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover table-info">
                                <thead>
                                <tr>
                                    <th class="info">ID</th>
                                    <th class="info">Submitted On</th>
                                    <th class="info">User</th>
                                    <th class="info">Admin Notes</th>
                                    <th class="info">Customer Notes</th>
                                    <th class="info">Status</th>
                                    <th class="info">Date of Approval / Denial</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="userNote in userNotes">
                                <tr>
                                    <td>{{userNote.id}}</td>
                                    <td>{{userNote.created_at}}</td>
                                    <td>{{userNote.user.name}}</td>
                                    <td><div ng-bind-html="trustAsHtml(userNote.note)"></div></td>
                                    <td><div ng-bind-html="trustAsHtml(userNote.customer_note)"></div></td>
                                    <td>{{userNote.status}}</td>
                                    <td>{{userNote.answered_at || ''}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5>Add New Note</h5>
                        <form name="userNoteForm" class="form-horizontal form-group-sm" ng-submit="addUserNote()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="approve_required">Request Approval
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="subject" class="col-sm-2 control-label">Subject</label>
                                <div class="col-sm-10">
                                    <input ng-model="subject" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="subject" placeholder="Subject" aria-invalid="false">
                                </div>
                            </div>
                            <div>
                                <textarea ui-tinymce="tinymceOptions" ng-model="note" class="form-control" rows="6"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Add Note</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
