.page-wish-list{
  flex-direction: column;
}

.wish-action-panel {
  margin-top: 10px;
  padding: 15px 15px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: #ffffff;
}

.back-to-prifile {
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #99adba;
  display: flex;
  align-items: center;
  font-weight: normal;

  &:hover {
    text-decoration: none;
    color: #4ac9ff;
    cursor: pointer;
  }

  .material-icons {
    font-size: 20px;
  }
}

.clear-wishlist {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #4ac9ff;
  
  .clear-wishlist-img {
    width: 15px;
    margin-right: 5px;
  }
}
