<div class="my-account-page-section-content page-wish-list animated slideInRight">
    <h5 ng-hide="cartService.wishListItems.length">
        No items
    </h5>
    <product-preorder-preview ng-repeat="wish in cartService.wishListItems track by wish.id"
                              is-wish-list-item="true"
                              source="wish">
    </product-preorder-preview>
</div>
<div
    class="wish-action-panel"
    ng-if="cartService.wishListItems.length"
>
    <span class="back-to-prifile" ui-sref="router.my-account.order-history">
        <i class="material-icons">
            navigate_before
        </i>
        Back to My Profile
    </span>
    <span
        class="clear-wishlist"
        ng-click="cartService.deleteAllWhishListItems()"
    >
            <img
                class="clear-wishlist-img"
                src="/img/times-circle.svg"
                alt="clear-wishlist"
            >
                <span> Empty wishlist </span>
        </span>
</div>
