<div class="product-preorder-preview min-height" ng-class="{'wish-list' : isWishListItem}">
    <div class="preorder-row main-preview-content" ng-class="{'customized' : customizeOrder}">
        <wish-like
            product-id="{{ productItem.getData().id }}"
            ng-if="!isWishListItem && !customizeOrder"
        ></wish-like>
        <div class="preview-graphics preorder-cell" ng-if="!customizeOrder" ng-class="{'wish-list' : isWishListItem}">
            <img class="product-preview-image" ng-src="{{ productItem.getData().thumbnail }}" fallback-src="img/image-not-available.jpg">
        </div>
        <div
          class="preview-content preorder-cell"
          ng-class="{'customized' : customizeOrder, 'wish-list' : isWishListItem}"
        >
            <h3
              class="product-item-title"
              ng-bind-html="productItem.getData().title | trust"
              ng-if="!customizeOrder"
            ></h3>
            <div class="product-item-id" ng-if="isWishListItem">Item #{{ productItem.getData().id }}</div>
            <pricing-info ng-if="isWishListItem" source="productItem" customize-order="false" on-select="setQuantity"></pricing-info>
            <ul class="preorder-links" ng-hide="isWishListItem">
                <li
                  class="preorder-link-item"
                  ng-class="{ 'activated' : link.id == $root.activated && !isWishListItem }"
                  ng-repeat="link in preorderLinks">
                    <span class="preorder-link-span" ng-if="!link.arrayItem" ng-click="link.handleClick(productItem, link)">
                        <img class="lv-icon"
                             ng-src="{{ link.id == $root.activated ? link.pathActive : link.path }}"
                             alt="th-blue">
                        <span class="link-item-text">{{ link.title }}</span>
                    </span>
                    <span class="join-btn" ng-if="link.arrayItem && link.arrayItem.length > 0">
                        <img class="lv-icon"
                             ng-src="{{ link.id == $root.activated ? link.arrayItem[0].pathActive : link.arrayItem[0].path }}"
                             alt="th-blue">
                        <span class="link-item-text" ng-click="link.arrayItem[0].handleClick(productItem, link)">{{ link.arrayItem[0].title }}</span>
                        <span class="slash">/</span>
<!--                         <img class="lv-icon"-->
<!--                              ng-src="{{link.id == $root.activated ? link.arrayItem[1].pathActive : link.arrayItem[1].path}}"-->
<!--                              alt="th-blue">-->
                        <span class="link-item-text" ng-click="link.arrayItem[1].handleClick(productItem, link)">{{ link.arrayItem[1].title }}</span>
                    </span>
                </li>

            </ul>
          <div class="preview-description preorder-cell common-container" ng-hide="isWishListItem">
            <div class="preview-list order-details" ng-if="productItem.chosenLink == 'itemDescription'" ng-bind-html="productItem.productData.description | trust"></div>
            <div class="preview-list" ng-if="productItem.chosenLink == 'watchVideo'">
              Some video here
            </div>
            <div class="preview-list shipping-info" ng-if="productItem.chosenLink == 'shippingEstimate'">
              <h6 class="shipping-info-header">Shipping Estimate:</h6>
              <form name="getShipInfoForm" class="shipping-form" ng-submit="getShippingInfo(productItem)">
                <div class="quantity-wrap">
                  <input ng-model="productItem.quantity"
                         placeholder="Quantity"
                         class="ship-input-text quantity-input"
                         ng-class="{ 'qty-err' : quantityErr}"
                         type="text" autocomplete="off"
                         ng-pattern="/^[0-9+]*$/" ng-trim="true" required>
                  <span class="quantity-min" ng-if="quantityErr">Minimum quantity is required</span>
                </div>
                <input ng-model="productItem.zipCode"
                       placeholder="Zip Code"
                       class="ship-input-text"
                       type="text" maxlength="5" minlength="5" autocomplete="off"
                       ng-pattern="/^[0-9+]*$/" ng-trim="true" required>
                <button ng-disabled="getShipInfoForm.$invalid" class="get-cost">Get Cost</button>
              </form>
              <div class="shipment-delivery-wrapper" >
                  <div class="shipment-header-block" id="shipment-header">
                      <div class="shipment-header header-name">Service</div>
                      <div class="shipment-header header-price">Cost</div>
                      <div class="shipment-header header-term">Time in Transit</div>
                  </div>
                  <div class="shipment-delivery" ng-repeat="shippingItem in productItem.shippingData">
                      <div class="ship-name">
                          <span class="grey">{{ shippingItem.service }}</span>
                      </div>
                      <div class="ship-price"
                           ng-class="{ 'grey' : orderItem.orderData.shipData.shippingCode != shippingItem.code}">
                          {{ shippingItem.cost | currency: '$' }}
                      </div>
                      <div class="ship-term"
                           ng-class="{ 'grey' : orderItem.orderData.shipData.shippingCode != shippingItem.code}">
                          {{ shippingItem.time_in_transit }} business day<span ng-if="shippingItem.time_in_transit > 1">s</span>
                      </div>
                  </div>

              </div>
              <div class="shipment-options-no-item" ng-if="isOptionsVisible !== 'options'">
                <i class="material-icons warn-sign" ng-if="isOptionsVisible === 'warn_message' || isOptionsVisible === 'wrong_zip'">warning</i>
                <span ng-if="isOptionsVisible === 'warn_message'">{{ productItem.shippingData[0] }}</span>
                <span ng-if="isOptionsVisible === 'wrong_zip'">Invalid zip code please contact customer service for details</span>
              </div>
            </div>
            <div class="preview-list order-details" ng-if="productItem.chosenLink == 'itemDetails'">
                <ul ng-click="show(productItem)">
                    <li>
                        <span class="order-details__title">Minimum Order Amount:</span>
                        <span>{{ productItem.productData.min_quantity }}</span>
                    </li>
                    <li>
                        <span class="order-details__title">Production time:</span>
                        <span>{{ productItem.productData.production_time_from }} - {{ productItem.productData.production_time_to }} working days</span>
                    </li>
                    <li>
                        <span class="order-details__title">Product Dimensions:</span>
                        <span>{{ productItem.productData.dimensions }}</span>
                    </li>
                    <li>
                        <span class="order-details__title">Imprint Area:</span>
                        <span class="order-details__imprint_area" ng-bind-html="productItem.productData.imprint_area"></span>
                    </li>
                </ul>
            </div>

            <div
              class="preview-list pricing-information"
              ng-if="productItem.chosenLink == 'pricingInfo'"
              ng-bind-html="productItem.productData.pricing_information | trust"
            ></div>
          </div>
        </div>
        <i class="material-icons btn-delete-item"
           ng-show="isWishListItem"
           title="Delete item"
           ng-click="confirmDelete(source.id)">
            cancel
        </i>
    </div>
    <div class="product-bottom-pannel" ng-if="!customizeOrder" ng-class="{'wish-list-panel' : isWishListItem}">
        <div class="product-info" ng-hide="isWishListItem">
            <div class="product-info-text">Item # {{ productItem.getData().id }}</div>
            <div class="product-info-text">Order as few as {{ productItem.getData().min_quantity || 0 }}</div>
            <div class="product-info-text">Ships {{ productItem.getData().production_time }}</div>
        </div>
        <div class="product-customize-later">
         <!-- <i class="material-icons cart-icon">add_shopping_cart</i>
          <span class="customize-later-text">Add and customize later</span>-->
        </div>
        <div class="product-customize">
            <button
                class="btn-customize-order"
                ui-sref="router.customize-order.options({ slug: productItem.getData().full_slug })"
                ng-class="{'wish-list' : isWishListItem}"
            >
                <span class="btn-text" ng-if="!isWishListItem">Customize Order</span>
                <span class="btn-text" ng-if="isWishListItem">product details</span>
            </button>
        </div>
    </div>
    <!--<div class="preorder-row has-border main-preview-description" ng-show="!isWishListItem">
        <div class="preview-description preorder-cell">
            <div class="preview-list order-details" ng-if="productItem.chosenLink == 'orderDetails'" ng-bind-html="productItem.productData.description | trust"></div>
            <div class="preview-list" ng-if="productItem.chosenLink == 'watchVideo'">
                Some video here
            </div>
            <div class="preview-list shipping-info" ng-if="productItem.chosenLink == 'shippingEstimate'">
                <h6 class="shipping-info-header">Shipping Estimate:</h6>
                <form name="getShipInfoForm" class="shipping-form" ng-submit="getShippingInfo(productItem)">
                    <div class="quantity-wrap">
                        <input ng-model="productItem.quantity"
                               placeholder="Quantity"
                               class="ship-input-text quantity-input"
                               ng-class="{ 'qty-err' : quantityErr}"
                               type="text" autocomplete="off"
                               ng-pattern="/^[0-9+]*$/" ng-trim="true" required>
                        <span class="quantity-min" ng-if="quantityErr">Min quantity error</span>
                    </div>
                    <input ng-model="productItem.zipCode"
                           placeholder="Zip Code"
                           class="ship-input-text"
                           type="text" maxlength="5" minlength="5" autocomplete="off"
                           ng-pattern="/^[0-9+]*$/" ng-trim="true" required>
                    <button ng-disabled="getShipInfoForm.$invalid" class="get-cost">Get Cost</button>
                </form>
                <div class="shipment-delivery-wrapper" ng-if="isOptionsVisible === 'options'">
                    <div class="shipment-delivery" ng-repeat="shippingItem in productItem.shippingData">
                        <div class="ship-name ship-item">{{shippingItem.service}}</div>
                        <div class="ship-price ship-item">{{shippingItem.cost | currency: '$'}}</div>
                        <div class="ship-term ship-item"><div>{{shippingItem.time_in_transit}} business day<span ng-if="shippingItem.time_in_transit > 1">s</span></div></div>
                    </div>
                </div>
                <div class="shipment-options-no-item" ng-if="isOptionsVisible !== 'options'">
                    <i class="material-icons warn-sign" ng-if="isOptionsVisible === 'warn_message' || isOptionsVisible === 'wrong_zip'">warning</i>
                    <span ng-if="isOptionsVisible === 'warn_message'">{{productItem.shippingData[0]}}</span>
                    <span ng-if="isOptionsVisible === 'wrong_zip'">Invalid zip code please contact customer service for details</span>
                </div>
            </div>
            <div class="preview-list pricing-information" ng-if="productItem.chosenLink == 'pricingInfo'" ng-bind-html="productItem.productData.pricing_information | trust"></div>
        </div>
    </div>
    <div class="preorder-row has-border main-action-panel">
        <div class="action-panel preorder-cell">
            <ul class="action-links">
                <li class="action-link-item" ng-show="!isWishListItem" ng-click="addToWishList(source)">
                    <i class="material-icons link-item-icon">grade</i>
                    <a href=""><span class="link-item-text">Add to wishlist</span></a>
                </li>
                <li class="action-link-item">
                    <i class="material-icons link-item-icon">flip_to_front</i>
                    <a href="" ui-sref="router.artwork"><span class="link-item-text">Artwork Requirements</span></a>
                </li>
                <li class="action-link-item">
                    <i class="material-icons link-item-icon">library_add</i><span class="link-item-text">Order a Sample</span>
                </li>
                <li class="action-link-item">
                    <i class="material-icons link-item-icon">picture_as_pdf</i><span class="link-item-text">Download as PDF</span>
                </li>
            </ul>
            <div class="action-social">
                <div class="action-social-item facebook"><a href="https://www.facebook.com/superiorpromos" target="_blank"><img src="/dist/img/facebook.png" alt="facebook"></a></div>
                <div class="action-social-item twitter"><a href="https://twitter.com/#!/superior_promos" target="_blank"><img src="/dist/img/twitter.png" alt="twitter"></a></div>
                <div class="action-social-item pinterest"><a href="https://pinterest.com/promoitem/" target="_blank"><img src="/dist/img/pinterest.png" alt="pinterest"></a></div>
                <div class="action-social-item gplus"><a href="https://plus.google.com/115944618217479371430/posts" target="_blank"><img src="/dist/img/google-plus.png" alt="gplus"></a></div>
                <div class="action-social-item mail"><a href=""><img src="/dist/img/email-outline.png" alt="mail" target="_blank"></a></div>
            </div>
            <ul class="action-spec">
                <li>Production time: 7 working days. Production time refers to the actual working days the order will spend in production. Production time does not include artwork setup or transit time.</li>
                <li>Tax May Apply</li>
            </ul>
        </div>
    </div>-->
</div>
