@import "../../scss/modules/variables";

.sample-header {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #454f51;
}

.product-preorder-preview {
  padding: 0;
  height: auto;

  .preview-content {
    justify-content: space-around;
    padding: 0 5px;
    width: 70%;

    &.customized {
      width: 100%;
      padding: 0 20px 20px 0;
    }
  }

  .product-item-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #2d3539;
  }

  .product-item-id {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #3598db;
    margin: 10px 0 30px;
  }

  .preview-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

    &.wish-list {
      width: auto;
    }
  }

  .action-panel {
    padding: 40px 20px 40px 60px;

    .action-links {
      margin-bottom: 10px;

      .action-link-item {
        display: flex;
        align-items: center;
        flex: 0 0 33%;
        padding-bottom: 10px;

        a {
          color: #3598db;

          &:hover {
            color: #3598db;
          }
        }

        .link-item-icon {
          color:#b5bfc6;
          font-size: 16px;
          margin-right: 5px;
        }

        .link-item-text {
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.54;
          letter-spacing: normal;
          color: #16a1db;
        }
      }
    }

    .action-social {
      display: flex;
      margin-bottom: 20px;

      .action-social-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.facebook {
          background-color: #7e97bd;
        }

        &.twitter {
          background-color: #85c1dd;
        }

        &.pinterest {
          background-color: #e36b61;
        }

        &.gplus {
          background-color: #fa9c93;
        }

        &.mail {
          background-color: #94c6d9;
        }

        img {
          width: 16px;
        }
      }
    }

    .action-spec {
      list-style-type: none;

      li {
        position: relative;
        font-size: 11px;
        font-weight: normal;
        color: #22282b;
        opacity: .5;
        margin-bottom: 10px;
        line-height: 1.09;

        &:before {
          content: "*";
          position: absolute;
          left: -10px;
          top: 0;
        }
      }
    }
  }

  .has-border {
    border: 1px solid #d8e5ed;
  }

  .preorder-row {
    display: flex;
    flex-direction: row;
    position: relative;

    &.main-action-panel {
      border: none;
      width: 25%;
    }

    &.main-preview-description {
      border-left: none;
      border-right: none;
      width: 25%;

      .preview-description {
        background-repeat: no-repeat;
        background-position: -3px -5px;
        background-size: 344px;
        position: relative;
        padding: 20px 30px;
        width: 100%;

        &:after {
          content: '';
          background-image: url("~assets/img/list-view-side-bg.png");
          background-size: 16px;
          background-repeat: repeat-y;
          position: absolute;
          height: 100%;
          width: 15px;
          top: 0;
          right: -7px;
        }

        .preview-list {
          list-style-type: none;

          &.order-details, 
          &.pricing-information {
            padding: 10px;
            opacity: .5;
            font-weight: normal;
            line-height: 1.09;
            color: #2d3539;
            font-size: 13px;

            li {
                list-style-type: none;
                position: relative;
                margin-bottom: 10px;
                color: #2d3539;

              &:first-child {
                margin-top: 10px;
              }

              &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: -15px;
                width: 10px;
                height: 5px;
                border-bottom: 1px solid #3598db;
                border-left: 1px solid #3598db;
                transform: rotateZ(-45deg);
              }
            }
          }

          &.shipping-info {
            .shipping-info-header {
              margin-bottom: 20px;
            }

            .shipping-form {
              display: flex;

              .quantity-wrap {
                display: flex;
                flex-direction: column;

                .quantity-min {
                  font-size: 11px;
                  color: #f15642;
                  margin-bottom: 5px;
                }
              }

              .ship-input-text {
                text-align: right;
                margin-right: 5px;
                z-index: 1;
                font-size: 13px;
                font-weight: 500;

                &.qty-err {
                  border-color: #f15642;
                  margin-bottom: 0;
                }
              }

              .get-cost {
                border-radius: 6px;
                background-color: #4ac9ff;
                border: none;
                color: #fff;
                text-align: center;
                padding: 0 12px;
                height: 34px;
                font-size: 13px;
                font-weight: 500;

                &:disabled {
                  cursor: not-allowed;
                  background-color: rgba(74, 201, 255, 0.7);
                }
              }
            }

            .shipment-delivery-wrapper {
              margin-top: 25px;

              .shipment-delivery {
                display: flex;
                font-size: 13px;
                color: #22282b;
                font-weight: normal;
                width: 100%;
                margin-top: 15px;

                .ship-name {
                  width: 50%;
                  margin-right: 5px;
                }

                .ship-price {
                  width: 25%;
                  margin-right: 5px;
                }

                .ship-term {
                  width: 25%;
                }

                .ship-item {
                  display: flex;
                  align-items: center;
                }
              }
            }

            .shipment-options-no-item {
              padding-top: 20px;
              color: #f15642;
              display: flex;
              align-items: center;

              .warn-sign {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  .btn-delete-item {
    top: 10px;
    right: 5px;
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-red;
    padding: 0.1px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .main-preview-content {
    position: relative;
    width: 100%;
    padding-top: 20px;

    .product-like {
      z-index: 1;
    }

    &.customized {
      padding-top: 0;
    }

    .pricing-information {
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: .92;
      letter-spacing: normal;
      padding: 10px;

      li {
        line-height: 20px;
        margin-top: 4px;
      }

      table {
        text-align: center;
        border: 1px solid #cecece;
        border-radius: 6px;
        padding: 10px 10px 0 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        display: block;
        width: fit-content;

        tbody {
          tr {
            opacity: .5;
            height: 20px;

            &:last-child {
              opacity: 1;

              td:last-child {
                font-weight: 900;
                color: #ce031c;
              }
            }
          }
        }
      }
    }
  }

  .preorder-cell {
    &.wish-list {
      .pricing-info {
        .info-text {
          font-size: 13px;
          padding: 3px 0;
          color: #2d3539;

          &.green {
            font-size: 13px;
            color: #49a349;
            font-weight: bold;
            line-height: 1.07;
          }
        }

        .pricing-info-block {
          flex-basis: 40px;

          &:last-child {
            .info-text {
              font-size: 13px;

                &.green {
                  font-size: 13px;
                }
              }
          }
        }
      }
    }
  }

  .product-preview-image {
    width: 165px;
    object-fit: contain;
  }

  .product-bottom-pannel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.wish-list-panel {
      margin-top: -25px;
      padding-bottom: 20px;
    }

    .product-info {
      .product-info-text {
        opacity: 0.5;
        font-family: $base-font;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.09;
        letter-spacing: normal;
        color: #2d3539;
        margin-bottom: 2px;
      }
    }

    .product-customize-later {
      display: flex;
      align-items: center;

      .cart-icon {
        font-size: 20px;
        color: #16a1db;
        margin-right: 10px;
      }

      .customize-later-text {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        color: #2d3539;
      }
    }

    .product-customize {
      .btn-customize-order {
        font-family: $base-font;
        background-color: #4ac9ff;
        border: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        max-width: 175px;
        width: 100%;
        border-radius: 10px;

        @media screen and (max-width: 500px) {
          max-width: 150px;
        }

        &.wish-list {
          height: 40px;
          max-width: 130px;
          width: 100%;
          position: relative;
          z-index: 2;

          .btn-text {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: center;
            color: #ffffff;
          }
        }

        .btn-icon {
          color: white;
          font-size: 21px;
          margin-right: 5px;
        }

        .btn-text {
          color: #ffffff;
          font-size: 15px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: normal;
        }
      }
    }
  }
}

.main-preview-content {
  .preview-content.preorder-cell {
    .shipping-info {
      margin-bottom: 20px;

      .shipping-info-header {
        margin-bottom: 20px;
      }

      .shipping-form {
        display: flex;

        .quantity-wrap {
          display: flex;
          flex-direction: column;

          .quantity-min {
            font-size: 11px;
            color: #f15642;
            margin-bottom: 5px;
          }
        }

        .ship-input-text {
          text-align: right;
          margin-right: 5px;
          z-index: 1;
          font-size: 13px;
          font-weight: 500;
          height: 34px;
          border: 1px solid #d8e5ed;
          max-width: 90px;
          width: 100%;

          &.qty-err {
            border-color: #f15642;
            margin-bottom: 0;
          }
        }

        .get-cost {
          border-radius: 6px;
          background-color: #4ac9ff;
          border: none;
          color: #fff;
          text-align: center;
          padding: 0 12px;
          height: 34px;
          font-size: 13px;
          font-weight: 500;

          &:disabled {
            background-color: rgba(74, 201, 255, 0.7);
            cursor: not-allowed;
          }
        }
      }

      .shipment-delivery-wrapper {
        margin-top: 25px;

        .shipment-delivery {
          display: flex;
          font-size: 13px;
          color: #22282b;
          font-weight: normal;
          width: 100%;
          margin-top: 15px;

          .ship-name {
            width: 50%;
            margin-right: 5px;
          }

          .ship-price {
            width: 25%;
            margin-right: 5px;
          }

          .ship-term {
            width: 25%;
          }

          .ship-item {
            display: flex;
            align-items: center;
          }
        }
      }

      .shipment-options-no-item {
        padding-top: 20px;
        color: #f15642;
        display: flex;
        align-items: center;

        .warn-sign {
          margin-right: 5px;
        }
      }
    }
  }
}

.preorder-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 10px 0;
  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:650px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .preorder-link-item {
    display: flex;
    align-items: center;
    padding: 4px 7px;

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    .lv-icon {
      height: 20px;
      margin: 0 10px 0 5px;
      width: 25px;
    }

    .link-item-icon {
      color:#b5bfc6;
      font-size: 16px;
      margin-right: 5px;
    }

    .link-item-text {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #16a1db;
      white-space: nowrap;
    }

    .link-item-arrow {
      font-size: 10px;
      color: #2d3539;
      margin-top: -2px;
      margin-right: -8px;
    }

    &.activated {
      border-radius: 14px;
      background: #e6eef2;
      margin-right: 10px;

      .link-item-icon,
      .link-item-text {
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        color: #454f51;
      }
    }
  }
}

.product-preorder-preview {
  padding: 0 15px 15px 20px;
  flex-direction: column;
  @media (max-width:576px) {
    padding: 15px;
  }
  &.wish-list {
    padding-left: 0;
    border-bottom: 2px solid #eff0f7;
    background: #fff;

    &:last-child {
      padding-bottom: 10px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  .addition-info {
    float: none;
    padding: 0;
    width: 100%;
  }
}

.product-preview-meta {
  .product-number,
  .product-selected-color {
    font-size: 13px;
    line-height: 0.92;
    color: #3598db;
  }

  .product-selected-color {
    color: #2d3539;
  }
}

.action-panel {
  flex: 1 0 35%;
}

.preview-extra-options {
  .social-links {
    margin:20px 0;
    display: flex;

    .social-link-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 26px;
      height: 26px;
      overflow: hidden;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.preorder-controls {
  display: flex;
  justify-content: space-between;

  .as-low-label {
    .as-low-text {
      font-size: 13px;
      font-weight: 900;
      font-style: italic;
      line-height: 0.92;
      letter-spacing: -0.7px;
      color: #2d3539;
    }

    .as-low-price {
      font-size: 24px;
      font-weight: 900;
      font-style: italic;
      letter-spacing: 0px;
      text-align: right;
      color: #64c733;
    }
  }
}

.preview-list {
  &.order-details {
    padding: 10px 174px 10px 10px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #2d3539;

    @media screen and (max-width: 767px) {
      padding: 10px;
    }

    li {
      margin: 5px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.order-details__title {
  font-weight: bold;
}

.order-details__imprint_area {
  line-height: 1em;
}

@media (min-width:1280px) and (max-width:1366px) {
  .product-preorder-preview {
    .preview-graphics {
      width: 30%;
    }

    .preview-content {
      width: 70%;
    }

    .pricing-info {
      justify-content: start;
    }
  }
}

@media screen and (max-width:1280px) {
  .product-preorder-preview {
    flex-flow: wrap;

    .main-preview-content {
      width: 100%;
    }

    .preorder-row {
      &.main-preview-description {
        border-top: none;
        border-left: 1px solid #d8e5ed;
        width: 50%;
        order: 1;
        border-left: none;
      }

      &.main-action-panel {
        border: 1px solid #d8e5ed;
        border-top: none;
        width: 50%;
      }
    }

    .pricing-info {
      justify-content: start;
    }

    .preorder-links {
      .preorder-link-item {
        flex: 0 0 31%;
        align-items: center;
      }
    }
  }
}



.shipment-delivery-wrapper {
  .shipment-header-block {
    font-weight: normal;
    font-size: 13px;
    display: none;
    &.showed {
      display: flex !important;
    }

    .header-name {
      width: 50%;
    }

    .header-price {
      width: 20%;
    }

    .header-term {
      width: 30%;
      text-align: right;
    }
  }

  .shipment-delivery {
    display: flex;
    width: 100%;
    font-size: 13px;
    color: #22282b;
    font-weight: 400;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    padding-bottom: 5px;

    .ship-name {
      width: 50%;
    }

    .ship-price {
      width: 20%;
    }

    .ship-term {
      width: 30%;
      text-align: right;
    }
  }
}

@media screen and (max-width:768px) {
  .product-preorder-preview {
    .main-action-panel {
      .action-panel {
        padding: 20px 30px;
      }
    }

    .preview-content {
      padding-bottom: 5px;
      width: 100%;
    }

    .preview-graphics {
      padding-bottom: 5px;
      width: 100%;
    }

    .pricing-info {
      justify-content: space-between;
    }
  }
}

@media screen and (max-width:640px) {
  .product-preorder-preview {
    .preorder-row {
      &.main-action-panel {
        width: 100%;
      }

      &.main-preview-description  {
        order: 0;
        width: 100%;
        border-left: 1px solid #d8e5ed;
      }
    }

    .main-preview-content {
      min-width: 100%;
      display: block;
    }

    .preorder-links {
      margin-bottom: 20px;
      flex-wrap: wrap;

      .preorder-link-item {
        flex-basis: unset;
        width: 50%;
      }
    }

    .product-preview-meta, 
    .product-preview-colors {
      margin-bottom: 20px;
    }
    
    .pricing-info {
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .product-preorder-preview  {
    .preorder-links {
      .preorder-link-item {
        width: 100%;
      }
    }
  }
}
