<div
    class="cat-btn"
    ng-click="toggleCategories()"
    ng-class="{'active' : isCatsActive}"
>
    <i class="material-icons menu-ico">
        menu
    </i>
    categories
    <i class="material-icons more-ico">
        expand_more
    </i>
</div>
<div
    class="quick-bg"
    ng-if="isCatsActive"
    ng-click="toggleCategories()"
></div>
<div
    class="quick-panel"
    ng-if="isCatsActive"
>
    <div class="quick-block">
        <h5 class="cat-header">Categories</h5>
        <category-list sub-cats-disabled="true"></category-list>
    </div>
    <div class="quick-block">
        <h5 class="cat-header q-links">Quick Links</h5>
        <quick-links is-header-disabled="true"></quick-links>
    </div>
</div>