@import "~scss/modules/variables";

.cat-btn {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-blue;
  color: #ffffff;
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .5px;
  cursor: pointer;

  &.active {
    position: relative;
    z-index: 13;
  }

  .menu-ico {
    margin-right: 5px;
    font-size: 20px;
  }

  .more-ico {
    margin-left: 10px;
    font-size: 18px;
  }
}

.quick-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: 12;
}

.quick-panel {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 12;
  max-width: 1000px;
  width: 100%;
  display: flex;
  background: #ffffff;
  @media (max-width:576px) {
    flex-direction: column;
  }

  .quick-block {
    width: 45%;
    @media (max-width:576px) {
      width: 100%;
    }

    &.q-links {
      width: 55%;
    }

    &:first-child {
      border-right: 2px solid #e7eef3;
    }

    .cat-header {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #2d3539;
      padding: 20px 0 0 40px;
    }

    .categories {
      padding: 20px 40px;

      .category-item {
        width: 50%;
        float: left;
        padding: 0;

        &:hover {
          .category-title {
            color: $color-blue;
          }
        }

        .category-title {
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.15;
          letter-spacing: 0.1px;
          color: #22282b;
        }
      }
    }

    .quick-links {
      padding: 20px 40px;
      margin-top: 0;

      .quick-content {
        .quick-list {
          display: flex;
          flex-wrap: wrap;
        }

        .link-item {
          margin: 0 0 24px;
          width: 50%;
          
          &:hover {
            .link-title {
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}
