<div
    class="cart-modal-bg"
    ng-click="quickCartToggle()"
    ng-show="quickCartVisible"
></div>
<div
    class="cart-content"
    ng-show="quickCartVisible"
>
    <div class="cart-container populated" ng-if="cartItems.length">
        <div
            class="cart-list"
            ng-repeat="data in cartItems track by data.id"
        >
            <div 
                class="cart-img"
                ng-click="goToProduct(data.cartItem.productData.full_slug)"
            >
                <img ng-src="{{::data.cartItem.productImage}}" fallback-src="img/image-not-available.jpg" alt="cart-img">
            </div>
            <div class="cart-info">
                <div class="info-container">
                    <div class="title">
                        <h5
                            class="descr"
                            ng-bind-html="::data.cartItem.productTitle | trust"
                            ng-click="goToProduct(data.cartItem.productData.full_slug)"
                        ></h5>
                        <div class="cost price-green">{{data.cartItem.cart_item_cost.total | currency:"$"}}</div>
                    </div>
                    <div class="number">Item #{{::data.cartItem.productId}} &middot; Count: {{data.cartItem.cart_item_cost.quantity}}</div>
                    <div class="action-links">
                        <div
                            class="edit-link"
                        >
                            <span ng-click="editOrder(data)">Edit item</span>
                        </div>
                        <div
                            class="remove-link"
                        >
                            <span ng-click="removeCartItem(data)">Remove</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-container empty"
        ng-if="!cartItems.length">
        <div class="empty-cart-block">
            <h5 class="descr">Your cart is empty</h5>
            <button ng-click="goHome()" class="cart-list-btn">Start Shopping Now</button>
        </div>
    </div>
    <div class="total-fixed" ng-if="cartItems.length">
        <div class="cart-total">
            <div class="view-cart" ng-click="viewCart()">View Cart</div>
            <div class="discount-code" ng-if="coupon.amount">
                <div class="discount-label">Discount/Coupon:</div>
                <div class="discount-code">{{ coupon.code }}</div>
            </div>
            <div class="cart-sum">
                <div class="order-total">Order Total*:</div>
                <div class="order-sum price-green">{{ (totalSelectedPrice - (coupon.amount || 0)) | currency: '$' }}</div>
            </div>
        </div>
        <span class="additional-info">*Total price may vary depending on final shipping selection and any order adjustments before final Checkout Step.</span>
        <div class="cart-checkout">
            <button class="cart-list-btn" ng-click="checkout()">Checkout Now</button>
        </div>
    </div>
</div>
