@import "~scss/modules/variables";
.cart-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  cursor: default;
}
.cart-content {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 25px;
  width: 300px;
  height: auto;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 0 50px #aaa;
  max-height: 520px;

  .cart-container {
    overflow-y: auto;
    max-height: 520px;
  }

  .total-fixed {
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #ffffff;

    .additional-info {
      display: block;
      padding: 5px 10px 0 10px;
      font-weight: 300;
      font-size: 9px;
    }
  }
}

.cart-list {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid #ebf3f6;
}

.cart-img {
  flex-grow: 1;

  img {
    width: 80px;
  }
}

.cart-info {
  flex-grow: 2;
  display: flex;
  align-items: center;
  padding-left: 5px;

  .title {
    margin-bottom: 10px;
  }

  .number {
    margin-bottom: 10px;
    font-size: 11px;
  }

  .title, 
  .action-links {
    display: flex;

    .descr {
      font-size: 11px;
      font-weight: 900;
    }

    .descr, 
    .edit-link {
      width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cost, 
    .remove-link {
      width: 90px;
      text-align: right;
    }

    .cost {
      font-weight: 900;
      font-size: 13px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .action-links {
    font-size: 11px;

    .edit-link {
      color: $color-darkest-blue;

      span {
        cursor: pointer;
      }
    }

    .remove-link {
      color: $color-red;

      span {
        cursor: pointer;
      }
    }
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  .view-cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  .discount-code {
    .discount-label {
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      color: #96abb8;
    }
    .discount-code {
      margin-top: 2px;
      text-align: center;
      color: $color-darkest-blue;
    }
  }

  .view-cart, 
  .cart-sum {
    color: #96abb8;
    font-size: 13px;
    font-weight: 500;

    .order-total {
      text-align: right;
      font-size: 11px;
      margin-bottom: 2px;
      font-weight: 500;
    }

    .order-sum {
      text-align: right;
      color: #2d3539;
      font-size: 14px;
      font-weight: 900;
    }
  }
}

.cart-checkout {
  padding: 5px;

  .cart-list-btn {
    width: 100%;
  }
}

.empty-cart-block {
  padding: 20px 5px 5px;

  .descr {
    font-size: 14px;
    font-weight: 900;
    color: #96abb8;
    text-align: center;
    margin-bottom: 20px;
  }

  .cart-list-btn {
    width: 100%;
  }
}
