<h1 class="my-account-page-section-header">Edit profile</h1>
<div class="account-view-container animated slideInRight">
    <div class="account-content-section-warp">
        <div class="account-info-block">
            <form novalidate name="contactInformationForm" class="account-info-option left" ng-submit="changeContactInfo()">
                <h5>Contact information</h5>
                <label class="account-input-label">
                    <span ng-hide="contactInformationForm['information.name'].$error.backend">Name:</span>
                    <span class="text-danger" ng-messages="contactInformationForm['information.name'].$error" role="alert">
                        <span ng-message="backend">{{contactInformationForm['information.name'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="information.name"
                       name="information.name"
                       ng-focus="resetError(contactInformationForm['information.name'])"
                       class="account-input-text"
                       type="text" maxlength="30" autocomplete="off">

                <div class="account-info-option-assort">
                    <div class="account-info-option-assort-item left account-info-option-userphonenum">
                        <label class="account-input-label">
                            <span ng-hide="contactInformationForm['information.contact_telephone'].$error.backend">Phone number:</span>
                            <span class="text-danger" ng-messages="contactInformationForm['information.contact_telephone'].$error" role="alert">
                                <span ng-message="backend">{{contactInformationForm['information.contact_telephone'].$error.backend}}</span>
                            </span>
                        </label>
                        <input ng-model="information.contact_telephone"
                               name="information.contact_telephone"
                               class="account-input-text"
                               ng-focus="resetError(contactInformationForm['information.contact_telephone'])"
                               type="text" maxlength="30" autocomplete="off"
                               ui-mask="999-999-9999" model-view-value="true"
                               ui-options="{addDefaultPlaceholder: false}">
                    </div>

                    <div class="account-info-option-assort-item right account-info-option-userphoneext">
                        <label class="account-input-label">
                            <span ng-hide="contactInformationForm['information.ext'].$error.backend">Ext:</span>
                            <span class="text-danger" ng-messages="contactInformationForm['information.ext'].$error" role="alert">
                                <span ng-message="backend">{{contactInformationForm['information.ext'].$error.backend}}</span>
                            </span>
                        </label>
                        <input ng-model="information.ext"
                               name="information.ext"
                               ng-focus="resetError(contactInformationForm['information.ext'])"
                               class="account-input-text"
                               type="text" maxlength="5" autocomplete="off"
                               ng-pattern="/^[0-9+]*$/">
                    </div>
                </div>
                <div class="clearfix"></div>

                <label class="account-input-label">
                    <span ng-hide="contactInformationForm['information.fax'].$error.backend">Fax:</span>
                    <span class="text-danger" ng-messages="contactInformationForm['information.fax'].$error" role="alert">
                        <span ng-message="backend">{{contactInformationForm['information.fax'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="information.fax"
                       name="information.fax"
                       class="account-input-text"
                       type="text" maxlength="30" autocomplete="off"
                       ng-focus="resetError(contactInformationForm['information.fax'])"
                       ui-mask="999-999-9999" model-view-value="true"
                       ui-options="{addDefaultPlaceholder: false}">
                <button class="blue-button right account-info-option-btn" type="submit" ng-disabled="changeContactInfoProgress">
                    <span class="">Save</span>
                </button>
                <div class="clearfix"></div>
            </form>



            <form novalidate name="changePasswordForm" class="account-info-option right" ng-submit="changePassword()">
                <h5>Change Password</h5>
                <label class="account-input-label">
                    <span ng-hide="changePasswordForm['password.old_password'].$error.backend">Enter old password:</span>
                    <span class="text-danger" ng-messages="changePasswordForm['password.old_password'].$error" role="alert">
                        <span ng-message="backend">{{changePasswordForm['password.old_password'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="password.old_password"
                       name="password.old_password"
                       ng-focus="resetError(changePasswordForm['password.old_password'])"
                       class="account-input-text"
                       type="password" maxlength="30" autocomplete="off">

                <label class="account-input-label">
                    <span ng-hide="changePasswordForm['password.password'].$error.backend">Enter new password:</span>
                    <span class="text-danger" ng-messages="changePasswordForm['password.password'].$error" role="alert">
                        <span ng-message="backend">{{changePasswordForm['password.password'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="password.password"
                       name="password.password"
                       ng-focus="resetError(changePasswordForm['password.password'])"
                       class="account-input-text"
                       type="password" maxlength="30" autocomplete="off">

                <label class="account-input-label">
                    <span ng-hide="changePasswordForm['password.password_confirmation'].$error.backend">Confirm password:</span>
                    <span class="text-danger" ng-messages="changePasswordForm['password.password_confirmation'].$error" role="alert">
                        <span ng-message="backend">{{changePasswordForm['password.password_confirmation'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="password.password_confirmation"
                       name="password.password_confirmation"
                       ng-focus="resetError(changePasswordForm['password.password_confirmation'])"
                       class="account-input-text"
                       type="password" maxlength="30" autocomplete="off">
                <button class="blue-button right account-info-option-btn" ng-disabled="changePasswordProgress">
                    <span class="">Save</span>
                </button>

            </form>

            <div class="clearfix"></div>
        </div>

        <div class="account-info-block">

            <form novalidate name="changeEmailForm" class="account-info-option left" ng-submit="changeEmail()">
                <h5>Change Email</h5>
                <label class="account-input-label">Your current email:</label>
                <p class="account-info-current-email-info">{{$appUser.user.email}}</p>
                <!--<span class="notify-info-message">You must confirm your email by clicking a link in a message from us</span>-->
                <label class="account-input-label">
                    <span ng-hide="changeEmailForm['email.email'].$error.backend">New email:</span>
                    <span class="text-danger" ng-messages="changeEmailForm['email.email'].$error" role="alert">
                        <span ng-message="backend">{{changeEmailForm['email.email'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="email.email"
                       name="email.email"
                       ng-focus="resetError(changeEmailForm['email.email'])"
                       class="account-input-text"
                       type="email" maxlength="30" autocomplete="off"
                       >
                <label class="account-input-label">
                    <span ng-hide="changeEmailForm['email.email_confirmation'].$error.backend">Confirm email:</span>
                    <span class="text-danger" ng-messages="changeEmailForm['email.email_confirmation'].$error" role="alert">
                        <span ng-message="backend">{{changeEmailForm['email.email_confirmation'].$error.backend}}</span>
                    </span>
                </label>
                <input ng-model="email.email_confirmation"
                       name="email.email_confirmation"
                       ng-focus="resetError(changeEmailForm['email.email_confirmation'])"
                       class="account-input-text"
                       type="email" maxlength="30" autocomplete="off"
                       >
                <button class="blue-button right account-info-option-btn" type="submit" ng-disabled="changeEmailProgress">
                    <span class="">Change</span>
                </button>
            </form>

            <div class="account-info-option right">
                <h5>Notifications</h5>

                <md-checkbox ng-model="$appUser.user.subscribe"
                             ng-true-value="true"
                             ng-false-value="false"
                             ng-change="clicked = false;"
                             aria-label="Checkbox No Ink"
                             class="md-primary blue-checkbox small-checkbox account-info-checkbox"
                             ng-disabled="false" >
                    <span class="small-text grey">I would like to be updated and reminded to reorder via email, along with any specials or sales.</span>
                </md-checkbox>

            </div>

            <div class="clearfix"></div>
        </div>


    </div>
</div>
<div class="clearfix"></div>
