.product-img-action {
  &.product-like {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 23px;
    height: 23px;
    display: block;
    object-fit: contain;
  }
  
  &.animated {
    transform: rotateY(360deg);
    transition: all .5s ease;
  }
}