.site-map-category {
  .main-category-list {
    margin-bottom: 10px;
    .title {
      margin-bottom: 5px;
    }

    img {
      height: 140px;
    }
  }

  .sub-category-list {
    line-height: 1.5;
    li a {
      font-size: 13px;
      color: #0f0f0f;

      :hover {
        color: #0f0f0f;
      }

      :visited {
        color: #0f0f0f;
      }
    }
  }
}
