<div class="page-site-map">
    <h2 class="static-title">Promotional Products and Promotional Items</h2>
    <div ng-repeat="category in $categories" ng-if="$index % 4 == 0" class="row  site-map-category">
        <div class="col-xs-12 col-sm-4 col-md-3 main-category-list">
            <img ng-show="$categories[$index].img_src" src="{{$categories[$index].img_src}}" alt="Category image">
            <a href="/{{$categories[$index].slug}}/"><h4 class="title">{{ $categories[$index].title }}</h4></a>
            <ul class="sub-category-list">
                <li ng-repeat="subCategories in $categories[$index].sub_categories"><a href="/{{subCategories.slug}}/">{{ subCategories.title }}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 main-category-list">
            <img ng-show="$categories[$index + 1].img_src" src="{{$categories[$index + 1].img_src}}" alt="Category image">
            <a href="/{{$categories[$index + 1].slug}}/"><h4 class="title">{{ $categories[$index + 1].title}}</h4></a>
            <ul class="sub-category-list">
                <li ng-repeat="subCategories in $categories[$index + 1].sub_categories"><a href="/{{subCategories.slug}}/">{{ subCategories.title }}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 main-category-list">
            <img ng-show="$categories[$index + 2].img_src" src="{{$categories[$index + 2].img_src}}" alt="Category image">
            <a href="/{{$categories[$index + 2].slug}}/"><h4 class="title">{{ $categories[$index + 2].title }}</h4></a>
            <ul class="sub-category-list">
                <li ng-repeat="subCategories in $categories[$index + 2].sub_categories"><a href="/{{subCategories.slug}}/">{{ subCategories.title }}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 main-category-list">
            <img ng-show="$categories[$index + 3].img_src" src="{{$categories[$index + 3].img_src}}" alt="Category image">
            <a href="/{{$categories[$index + 3].slug}}/"><h4 class="title">{{ $categories[$index + 3].title }}</h4></a>
            <ul class="sub-category-list">
                <li ng-repeat="subCategories in $categories[$index + 3].sub_categories"><a href="/{{subCategories.slug}}/">{{ subCategories.title }}</a></li>
            </ul>
        </div>
    </div>
</div>
