<div class="container-payment">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
    </div>
    <payment-profile-edit-form
            stay-on-page="true"
            on-confirm="assignNewPaymentProfile"
            on-cancel="toggleAddPaymentProfile">
    </payment-profile-edit-form>
</div>

