.page-case-studies {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .case-studies-wrap {
    width:100%;
    margin: 0 auto;

    @media (min-width: 320px) and (max-width: 991px) {
      width: 100%;
    }
  }

  .accordion-wrap {
    .two-col {
      padding: 0 10px 0 0;

      @media (min-width: 320px) and (max-width: 991px) {
        padding: 0;
        width: 49%;
        display: inline-block;
      }

      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        display: block;
      }

      &:last-child {
        padding: 0 0 0 10px;

        @media (min-width: 320px) and (max-width: 768px) {
          padding-left: 0;
        }
      }

      .panel-group {
        @media (min-width: 320px) and (max-width: 768px) {
          margin-bottom: 0;
        }
      }
    }
  }
}