
<div class="page-faq">
    <h2 class="static-title">Frequently Asked Questions</h2>
    <div class="accordion-wrap">
        <uib-accordion close-others="oneAtATime" class="two-col">
            <div uib-accordion-group class="panel-default" heading="{{group.question}}" ng-repeat="group in $staticPages.groupsFAQs | limitTo: ($staticPages.groupsFAQs.length + 1) /2: 0">
                <span ng-bind-html="::group.answer | trust"></span>
            </div>
        </uib-accordion>

        <uib-accordion close-others="oneAtATime" class="two-col">
            <div uib-accordion-group class="panel-default" heading="{{group.question}}" ng-repeat="group in $staticPages.groupsFAQs | limitTo: $staticPages.groupsFAQs.length /2: ($staticPages.groupsFAQs.length + 1) /2">
                <span ng-bind-html="::group.answer | trust"></span>
            </div>
        </uib-accordion>
    </div>

    <button class="go-shopping" ui-sref="router.home">Go shopping</button>

</div>