.page-faq {
  padding: 25px 125px;
  margin-bottom: 15px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0;
  }

  .accordion-wrap {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width:576px) {
      flex-direction: column;
    }
  }

  .two-col {
    width: 100%;
    padding: 0;
    @media (max-width:576px) {
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}
