<div id="search-results" class="search-results">
    <bread-crumbs source="breadCrumbs" hide-category-button="false"></bread-crumbs>
    <view-filters class="top-filters"></view-filters>
    <div class="product-row">
        <div class="product-block" ng-repeat="product in source"
             ng-class="{'preorder-preview-visible': stateParams.viewMode == 'list'}">
            <div class="border-inside-container">
                <div class="product-image-square">
                    <image-uploader
                            ng-click="placeOrder(product.full_slug)"
                            img-url="product.thumbnail"
                            img-alt="'product-image'"
                            img-class="'product-image'"
                            force-load="true">
                    </image-uploader>
                    <wish-like
                            product-id="{{ ::product.id }}"
                    ></wish-like>
                </div>
                <div class="product-promo-info">
                    <div class="product-promo-info-title">
                        <a class="product-item-title"
                           ui-sref="router.customize-order.options({mode: '', slug: product.full_slug, reload: true})"
                           ng-bind-html="product.title | trust"></a>
                    </div>
                    <div class="rating-block">
                        <rating-stars ng-if="product" source="product" template="'block'"></rating-stars>
                    </div>
                    <div class="additional-info">
                        <div class="op-grey-text no-wrap item-number text-center">Item # {{ ::product.id }}</div>
                        <div class="op-grey-text min-order fs-14 text-center">Order as few as
                            {{ ::product.min_quantity || 0 }}
                        </div>
                        <div class="shipping-info op-grey-text fs-14 text-center">Ships
                            <span ng-if="product.production_time_from === 1 && product.production_time_to === 1">
                                    {{ ::product.production_time_from }} working day
                                </span>
                            <span ng-if="product.production_time_to > 1">
                                    {{ ::product.production_time_from }} - {{ ::product.production_time_to }} working days
                                </span>
                        </div>
                        <div class="text-center min-price no-wrap ">
                            <span class="as-low">As Low As</span>
                            <span class="price-green">${{ ::product.lowest_price }}</span>
                        </div>
                        <div ng-if="$appUser.user">
                            <div class="control" ng-click="addToWishList($event, product)">Add to Wishlist</div>
                            <div class="text-right control no-wrap" ng-click="placeOrder(product.id)">Place Order</div>
                        </div>
                    </div>
                </div>
            </div>
            <product-preorder-preview source="product"></product-preorder-preview>
        </div>
    </div>
    <view-filters class="bottom-filters"></view-filters>
    <pagination class="visible-xs"></pagination>
</div>
