<div>
    <ul class="color-filter">
        <li class="color-filter-item" ng-repeat="color in colors track by $index"
            ng-click="selectColor(color)">
            <div class="picker" ng-class="{active: color.isActive}">
                <div class="color-display" ng-style="{'background-color': color.color_hex}"></div>
            </div>
            <div class="color-title">{{::color.title}}</div>
        </li>
    </ul>
</div>
