@import "~scss/modules/variables";

.cart-list-btn {
  border-radius: 6px;
  background-color: #4ac9ff;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 15px 20px;
  @media (max-width:576px) {
    padding: 10px;
    font-size: 14px;
  }

  &[disabled] {
    background-color: #9FC2C9;
  }
}

.cart-list-action-panel {
  border-radius: 6px;
  background: #ffffff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;

  .panel-right {
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
    }
  }

  .cont-shopping {
    color: $color-darkest-blue;
    display: flex;
    align-items: center;
    overflow: hidden;

    .material-icons {
      font-size: 20px;
      color: #99adba;
    }
  }
}

.shopping-cart-list {
  display: flex;
  flex-direction: column;
  margin: 15px auto 15px auto;
  border-radius: 6px;
  background: #fff;

  &.saved-cart-mode {
    margin-left: 0;
    margin-right: 0;
  }

  .hand-date,
  .shipping-cost,
  .quantity,
  .price,
  .select-item,
  .select-all {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    &#select-all {
      flex: 0 0 2%;
    }
  }

  .cart-item {
    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      transition:transform linear .4s, opacity linear .4s;
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
      transform: translate(0, -100%);
      opacity: 0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
      transform: translate(0, 0);
      opacity: 1;
    }

    .btn-toggle-additional {
      border-radius: 100%;
      background-color: #e2e9ef;
      transition: transform linear .1s;

      &:hover {
        transform: rotate(-90deg);
      }
    }

    &.disabled {
      filter: grayscale(100%);
    }

    &.expanded {
      .cart-item-content {
        max-height: 0;
        overflow: hidden;
        border: none;
        transition: max-height .3s ease;
      }

      .cart-item-additional {
        display: flex;
        transition: max-height .3s ease;
        max-height: 600px;
        padding: 20px;
        border-bottom: 2px solid #bfc0c7;
        @media (max-width:576px) {
          padding: 15px;
        }
      }

      .btn-toggle-additional {
        transform: rotate(-180deg);
      }
    }

    .cart-item-content {
      border-top: 1px solid #eff0f7;
      border-bottom: 2px solid #bfc0c7;
      display: flex;
      justify-content: space-between;
      max-height: 300px;
      transition: max-height, background-color .3s ease;

      @media (max-width:576px) {
        max-height: none;
      }

      @media screen and (max-width: 450px) {
        flex-wrap: wrap;
      }

      &.grey {
        background-color: #e7eef3;

        .item-image {
          border: 1px solid #cccbcc;
        }
      }
    }
  }

  .cart-list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: flex-end;
    padding-left: 20px;
    padding-right: 15px;
    border-bottom: 1px solid #eff0f7;

    @media screen and (max-width: 767px) {
      padding: 0 4px;
    }

    .costs {
      display: flex;
      position: relative;
      flex-basis: 46%;
      padding-left: 0;
      @media screen and (max-width: 450px) {
        display: none;
      }
    }

    .header-item {
      padding: 15px 0;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #99adba;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      text-transform: uppercase;
      @media (max-width:576px) {
        white-space: nowrap;
        padding: 15px 5px;
      }

      md-checkbox .md-label {
        display: none;
      }

      &.item {
        flex: 0 0 54%;

        @media screen and (max-width: 767px) {
          flex: 0 0 47.5%;
        }
        @media (max-width:576px) {
          flex: unset;
        }

        &.order-confirmation {
          flex-basis: 54%;
        }
      }

      &.hand-by, 
      &.shipping-cost, 
      &.price {
        justify-content: center;
        flex-basis: calc((100% - 100px) / 3);
      }

      &.edit-cart {
        justify-content: center;
        flex-basis: 100px;
      }
    }
  }

  .cart-list-header, 
  .select-item {
    md-checkbox {
      transform: scale(1.25);
      margin-bottom: 0;
      &.md-primary {
        &.md-checked {
          .md-icon {
            background-color: #4ac9ff;
            border-color: #4ac9ff!important;
          }
        }
      }
      .md-label {
        display: none;
      }
    }
  }

  

  .content-item {
    padding: 15px 0 15px 20px;
    vertical-align: top;
    @media (max-width: 576px) {
      padding: 10px;
    }

    .hand-by,
    .shipping-cost,
    .item,
    .price,
    .action,
    .select-item,
    .select-all {
      align-items: flex-start;
    }

    &.product {
      display: flex;

      .select-item {
        align-items: center;
      }
    }

    &.costs {
      display: flex;
      position: relative;
      flex-basis: 46%;
      padding-left: 0;
      padding-right: 15px;

      @media screen and (max-width: 991px) {
        display: flex !important;
        justify-content: flex-end;
      }

      

      .prod-details {
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: 0.2px;
        color: $color-darkest-blue;
        cursor: pointer;
      }
    }

    .hand-date,
    .shipping-cost {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #434e54;
    }

    .hand-date,
    .shipping-cost,
    .quantity {
      justify-content: center;
      font-size: 13px;
      color: #2d3539;
    }

    .hand-date {
      flex-basis: calc((100% - 100px) / 3);
      align-items: flex-start;

      &:first-child {
        @media screen and (max-width: 991px){
          display: none;
        }
      }
    }

    .shipping-cost {
      align-items: flex-start;
      text-align: center;
      flex-basis: calc((100% - 100px) / 3);

      @media screen and (max-width: 991px){
        display: none;
      }
    }

    .price {
      flex-basis: calc((100% - 100px) / 3);
      font-size: 13px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #2d3539;
      align-items: flex-start;
      justify-content: center;

      @media screen and (max-width: 991px){
        display: none;
      }
    }

    .edit-cart {
      flex-basis: 100px;

      @media screen and (max-width: 450px) {
        flex-basis: 100%;
      }

      .item-controls {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (max-width: 450px) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .btn-edit {
          @media screen and (max-width: 450px) {
            width: auto;
            padding: 5px;
          }
        }
      }
    }
  }

  .cart-item-brief {
    display: flex;
    align-items: center;
    max-width: 100%;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }

    .item-brief {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      justify-content: flex-start;

      @media screen and (max-width: 767px) {
        width: auto;
      }

      .item-name {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        margin-bottom: 5px;
        color: $color-blue;
        transition: all 100ms ease-in;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          color: #2d3539;
          cursor: pointer;
        }
      }

      .item-controls {
        margin: auto 0 0 -6px;
        padding-top: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
      }
    }

    .item-image {
      height: 146px;
      display: block;
      object-fit: contain;
      margin: 0 15px 0 10px;
      max-width: 150px;
      width: 100%;

      @media screen and (max-width: 767px) {
        height: auto;
        max-height: 100px;
        margin-right: 5px;
      }
    }
  }

  .item-controls {
    .btn-edit,
    .btn-remove,
    .btn-save-for-later {
      border: none;
      font-size: 13px;
      background-color: transparent;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: 0.2px;
      color: #a8b1b5;

      &:hover {
        text-decoration: underline;
      }
    }

    .btn-save-for-later {
      padding-left: 6px;
    }

    .btn-edit {
      color: $color-darkest-blue;
    }

    .btn-remove {
      color: #d95b3f;
    }
  }

  .item-number-and-color {
    .id-number,
    .item-color {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: 0.2px;
      color: #788185;

      span {
        font-weight: 500;
        color: #4c595e;
      }
    }

    .item-color {
      color: #3598db;
    }

    .item-number {
      color: #2d3539;
    }
  }

  .cart-item-additional {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    transition: max-height .3s ease;

    @media screen and (max-width: 767px){
      flex-direction: column-reverse;
    }

    .more-left, 
    .more-right {
      width: 50%;
      border-right: 2px solid #eff0f7;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      padding-right: 10px;
      position: relative;

      @media screen and (max-width: 767px){
        width: 100%;
        border: none;
        margin: 10px 0;
        padding: 0;
      }

      .item-image {
        width: 165px;
        height: 146px;
        display: block;
        object-fit: contain;
        margin: 0 15px 0 0;
      }

      .item-name {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.3px;
        color: #2d3539;
        margin: 15px 0 10px;
        cursor: pointer;
      }

      .item-id {
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: #99adba;
      }

      .regular {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 0.2px;
        color: #5a666c;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #c7d2d6;
        padding: 5px 0;

        &.total {
          font-weight: bold;
        }

        .number {
          color: #2d3539;
          text-align: right;
          max-width: 130px;

          &.location-name {
            font-weight: bold;
          }
        }
      }
    }

    .more-right {
      border-right: none;
      padding-left: 10px;
      padding-right: 0;

      .common-info-block {
        display: flex;

        .product-name-block {
          padding-top: 10px;
          @media (max-width:576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .close-window {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: $color-darkest-blue;
        display: flex;
        align-items: center;
        cursor: pointer;

        .material-icons {
          font-size: 13px;
          color: #99adba;
          margin-right: 5px;
          cursor: pointer;
        }
      }

      .more-info {
        &:first-child {
          .item-name {
            margin-top: 0;
          }
        }
      }
    }
  }

  .cart-list-controls {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    border-top: 1px solid #eff0f7;
    min-height: 85px;

    @media screen and (max-width: 450px) {
      flex-wrap: wrap;
    }

    .cart-list-total-selected {
      user-select: none;
      font-size: 18px;
      font-weight: 500;
      max-width: 200px;
      width: 100%;

      &.margin-right {
        margin-right: calc(50px + 3%);
      }

      &.right-space {
        margin-right: 60px;
      }

      @media screen and (max-width: 991px) {
        margin-right: 20px;
      }

      @media screen and (max-width: 450px) {
        width: 100%;
        margin-top: 25px;
      }

      .total-cost {
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0.4px;
        color: #434e54;
        text-align: right;

        &.strike {
          text-decoration: line-through;
        }
      }

      & .product-total-info {
        width: 100%;
        margin-bottom: 5px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        &:last-of-type {
          margin-bottom: 0;
        }

        span:first-of-type {
          width: 50%;
          text-align: right;
          margin-right: 10px;
        }

        span:last-of-type {
          width: 50%;
          text-align: right;
        }
      }

      .discount-description {
        margin: 5px 0;
        color: #556167;
        font-size: 16px;
      }

      .total-text{
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0.2px;
        color: #99adba;
        text-align: right;
        margin-bottom: 5px;
      }
    }

    .clear-cart {
      display: flex;
      align-items: center;
      font-size: 13px;
      letter-spacing: 0.2px;
      color: #99adba;
      margin-left: 20px;

      .clear-cart-img {
        width: 15px;
        margin-right: 5px;
      }
    }
  }
}
.discount {
  background: #ffffff;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #2d3539;
  padding: 5px;

  @media  (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media (max-width: 576px) {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .title {
    padding: 15px 20px;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .cert-number {
    padding: 15px;
    margin-right: 5px;
    border: none;
    border-radius: 6px;
    background: #e6eef2;
    max-width: 335px;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.2px;

    @media (max-width: 767px) {
      flex: 1;
    }

    @media (max-width: 576px) {
      flex: unset;
      margin-bottom: 10px;
      margin-right: 0;
    }

    &::placeholder {
      color: #99adba;
    }
  }

  .coupon-name {
    margin-left: auto;
  }

  .coupon-error {
    color: $color-red;
  }

  .cart-list-btn {
    padding: 15px 30px;
    font-size: 16px;

    &:disabled {
      background: #b5bfc6 !important;
    }

    &.delete {
      background: $color-red;
    }
  }
}

.checkout-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #99adba;
  margin: 20px 0 10px;

  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  &.no-margin {
    margin: 0;
  }

  .check-left {
    border: 1px solid $color-light-grey;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;

    &.back-button {
      display: flex;
      margin-right: 15px;

      @media screen and (max-width: 991px) {
        margin-bottom: 10px;
        margin-right: 0;
      }

      .additional {
        margin-left: 5px;
        width: 100px;
      }
    }
  }

  .check-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 991px) {
      width: auto;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      a {
        margin-bottom: 15px;
      }
      button {
        margin-top: 15px;
      }
    }
    

    .save-cart {
      display: flex;
      align-items: center;
      margin-right: 30px;
      margin-left: 30px;
      color: #2d3539;

      @media screen and (max-width: 767px) {
        padding: 15px;
        margin: 0;
        width: 100%;
        justify-content: center;
      }

      .save-cart-img {
        margin-right: 10px;
      }
    }

    .cart-list-btn {
      max-width: 294px;
      width: 100%;
      background-color: #4ac9ff;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 10px;
      margin-left: 10px;
      &.disabled {
        cursor: not-allowed;
      }

      @media screen and (max-width: 768px) {
        margin-left: 0;
      }

      @media screen and (max-width: 992px) {
        max-width: unset;
      }


      @media screen and (max-width: 767px) {
        width: auto;
      }

      &:disabled {
        background: #b5bfc6 !important;
      }
    }

    .guide-btn {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      max-width: 390px;
      width: 100%;
      padding: 15px;
      background-color: #9e9e9e;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 10px;
      border: none;

      @media screen and (max-width: 767px) {
        width: auto;
      }
    }
  }

  .save-cart-img {
    width: 17px;
  }
}

.save-cart-img {
  width: 15px;
  margin-right: 5px;
}

.cont-shopping {
  font-size: 13px;
  color: #17a1db;
  cursor: pointer;
}

.cart-no-items {
  text-align: center;
  padding-top: 40px;
  color: #4480b4;
  font-size: 24px;
}

.btn-move-selected-to-cart {
  justify-self: end;
}

.my-account-content {
  .shopping-cart-list {
    .cart-list-header {
      .header-item.edit-cart {
        display: none;
      }
    }

    .content-item.costs {
      .edit-cart {
        display: none;
      }
    }
  }
}

.shopping-cart-page {
  .shopping-cart-list {
    .content-item.product {
      .controls-for-account {
        display: none;
      }
    }
  }
}

