<div class="cart-list-action-panel"
    ng-if="source.length && mode =='shopping-cart'">
    <div class="panel-left">
        <a href="/" class="cont-shopping">
            <i class="material-icons">
                navigate_before
            </i>
            Continue Shopping
        </a>
    </div>
    <div class="panel-right">
        <span ng-click="saveForLaterAllCart(source)">
            <img class="save-cart-img"
                 src="../../assets/img/font-awesome-pro-5/shopping-cart-black.svg"
                 alt="shopping-cart-black">
            Save Cart
        </span>
        <button class="cart-list-btn"
            ng-click="onConfirm(selectedIds)">
            Continue Checkout
        </button>
    </div>
</div>

<!--block-->
<div class="shopping-cart-list"
    ng-hide="!source.length || mode == 'checkout'"
    ng-class="{'saved-cart-mode' : mode == 'saved-cart'}">
    <div class="cart-list-header" ng-hide="mode === 'thank-you'">
        <div class="header-item select-all" id="select-all" ng-show="mode == 'saved-cart'">
            <!--<input type="checkbox" ng-change="selectAll(all)" ng-model="all">-->
            <md-checkbox
                    ng-model="all"
                    ng-change="selectAll(all)"
                    aria-label="Checkbox No Ink"
                    class="md-primary grey-checkbox">
            </md-checkbox>
        </div>
        <div class="header-item item" ng-class="{'order-confirmation': mode === 'order-confirmation'}">Item</div>
        <div class="costs">
            <div class="header-item hand-by">In-Hand By</div>
            <div class="header-item shipping-cost">Shipping cost</div>
            <div class="header-item price">Price</div>
            <div class="header-item edit-cart" ng-hide="mode === 'ready-order' || mode === 'thank-you'"></div>
        </div>
    </div>
    <div class="cart-item" ng-if="mode != 'order-confirmation'"
         ng-repeat="data in source track by data.id"
         ng-class="{'expanded': data.cartItem.isOpened, 'disabled':!data.cartItem.isCheckedSelected}">
    <div class="cart-item-content" ng-class="{'grey' : makeGreyNoActive(source, data.cartItem.isOpened)}">
        <div class="content-item product">
            <div class="select-item" ng-if="mode == 'saved-cart'">
                <!--<input type="checkbox"
                       ng-model="data.cartItem.isCheckedSelected" ng-change="selectOne(data)">-->
                <md-checkbox ng-model="data.cartItem.isCheckedSelected"
                             ng-change="selectOne(data)"
                             aria-label="Checkbox No Ink"
                             class="md-primary grey-checkbox">
                </md-checkbox>
            </div>
            <div class="cart-item-brief">
                <img class="item-image" ng-src="{{ data.cartItem.productImage }}" fallback-src="img/image-not-available.jpg">
                <div class="item-brief">
                    <h5 title="{{ data.cartItem.productTitle | trust }}" class="item-name" ng-click="show(data.cartItem)" ui-sref="router.customize-order.options({ slug: data.cartItem.productData.full_slug })" ng-bind-html="data.cartItem.productTitle | trust"></h5>
                    <div class="item-number-and-color">
                        <span class="id-number">Item Number: <span>#{{ data.cartItem.productId }}</span></span>
                    </div>
                    <!-- Additional info items START -->
                    <div class="item-number-and-color" ng-repeat="color in data.cartItem.colors">
                        <span class="id-number">{{ color.color_group_name }}: <span>{{ color.color_name }}</span></span>
                    </div>
                    <div class="item-number-and-color" ng-repeat="option in data.cartItem.orderData.selectedOptions">
                        <span class="id-number">{{ option.name }}: <span>{{ option.chosen_sub_option.name }}</span></span>
                    </div>
                    <div class="item-number-and-color"
                       ng-if="data.cartItem.imprints && data.cartItem.imprints.length"
                       ng-repeat="imprint in data.cartItem.imprints">
                        <span class="id-number"
                            ng-if="imprint.imprint_colors && imprint.imprint_colors.length">
                            Imprint {{ imprint.name }}: <span>{{ imprint.imprint_colors.length }} color<span ng-if="imprint.imprint_colors.length > 1">s</span> </span>
                        </span>
                    </div>
                    <!-- Additional info items END -->
                    <div class="item-controls controls-for-account" ng-hide="mode === 'ready-order' || mode === 'thank-you'">
                        <button class="btn-edit" ng-click="editOrder(data, mode)">Edit Product</button>
                        <div>
                            <button ng-hide="!mode || mode=='saved-cart'" class="btn-save-for-later" ng-click="saveForLater(data)">Save for later</button>
                            <span ng-hide="!mode || mode=='saved-cart'">&middot;</span>
                            <button class="btn-remove" ng-click="removeCartItem(data, mode)">Remove</button>
                        </div>
                        <button class="prod-details btn-edit" ng-click="toggleAdditional(data.cartItem)">Order Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-item costs">
            <div class="hand-date">
                <span>{{ (data.cartItem.receivedDate ? (data.cartItem.receivedDate | date: 'MM/dd/yyyy') : 'ASAP') }}</span>
            </div>
            <div class="hand-date shipping-cost">
                <span>
                    <span ng-if="data.cartItem.orderData.shipMethod === 'us_shipping'">{{ ((data.cartItem.cart_item_cost.shipping > 0) ? (data.cartItem.cart_item_cost.shipping | currency:"$") : '') }}</span>
                    <span ng-if="data.cartItem.orderData.shipMethod === 'own_account'">My Account</span>
                    <span ng-if="data.cartItem.orderData.shipMethod === 'outside_us'">TBD</span>
                    <span ng-if="data.cartItem.orderData.shipMethod === 'custom'">{{ ((data.cartItem.cart_item_cost.shipping > 0) ? (data.cartItem.cart_item_cost.shipping | currency:"$") : '') }}</span>
                </span>
            </div>
            <div class="hand-date price">
                {{ data.cartItem.cart_item_cost.total | currency:"$" }}
            </div>
            <div class="hand-date edit-cart" ng-hide="mode === 'ready-order' || mode === 'thank-you'">
                <div class="item-controls">
                    <button class="btn-edit" ng-click="editOrder(data, mode)">Edit Product</button>
                    <button ng-hide="!mode || mode=='saved-cart'" class="btn-save-for-later" ng-click="saveForLater(data)">Save for later</button>
                    <button class="btn-remove" ng-click="removeCartItem(data, mode)">Remove</button>
                    <button class="prod-details btn-edit" ng-click="toggleAdditional(data.cartItem)">Order Details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-item-additional">
        <div class="more-left">
            <div class="more-info">
                <h5 class="item-name">Imprint Options & Artwork</h5>
                <div class="repeated"
                     ng-repeat="imprint in data.cartItem.imprints"
                     ng-if="data.cartItem.imprints && data.cartItem.imprints.length">
                    <div class="regular">
                        <span>Location:</span>
                        <span class="number location-name">{{ imprint.name }}</span>
                    </div>
                    <div class="regular"
                        ng-repeat="imColor in imprint.imprint_colors">
                        <span >Color #{{ $index + 1 }}:</span>
                        <span class="number">{{ imColor.name }}</span>
                    </div>
                </div>
                <div class="regular">
                    <span>Art Comments and Typesetting:</span>
                    <span class="number" ng-bind-html="data.cartItem.imprint_comment | trust"></span>
                </div>
            </div>
            <div class="more-info">
                <h5 class="item-name">Delivery / Rush Options / Comments</h5>
                <div class="regular">
                    <span>When do you need your order?:</span>
                    <span
                        class="number"
                        ng-if="data.cartItem.orderData.shipTime === 'regular'"
                    >
                        Regular production time. ASAP
                    </span>
                    <span
                        class="number"
                        ng-if="data.cartItem.orderData.shipTime === 'byEndOfTheDay'"
                    >
                        {{ data.cartItem.orderData.shipTimeValue | date:'MM/dd/yyyy' }}
                    </span>
                </div>
                <div class="regular">
                    <span>Use your own shipping account?:</span>
                    <span class="number">{{ data.cartItem.orderData.shipData.accountId ? 'Yes' : 'No' }}</span>
                </div>
            </div>
        </div>
        <div class="more-right">
            <div class="common-info-block">
                <img class="item-image" ng-src="{{ data.cartItem.productImage }}" fallback-src="img/image-not-available.jpg">
                <div class="product-name-block">
                    <h5 class="item-name" ui-sref="router.customize-order.options({ orderId: data.cartItem.productId })"
                        ng-bind-html="data.cartItem.productTitle | trust"></h5>
                    <div class="item-id">Item #{{ data.cartItem.productId }}</div>
                </div>
            </div>
            <div class="more-additional-block">
                <div class="regular">
                    <span>Quantity:</span>
                    <span class="number">{{ data.cartItem.cart_item_cost.quantity }}</span>
                </div>
                <div class="regular">
                    <span>Unit Price:</span>
                    <span class="number">
                        {{ (data.cartItem.cart_item_cost.base_item_price - data.cartItem.cart_item_cost.final_item_price) | currency:"$" }}
                    </span>
                </div>
                <div class="regular"  ng-if="data.cartItem.cart_item_cost.base_setup_price > 0">
                    <span>Item Setup:</span>
                    <span class="number">
                        {{ data.cartItem.cart_item_cost.base_setup_price | currency:"$" }}
                    </span>
                </div>

                <div ng-if="data.cartItem.cart_item_cost.imprints && data.cartItem.cart_item_cost.imprints.length"
                     ng-repeat="location in data.cartItem.cart_item_cost.imprints"
                >
                    <div ng-if="!location.details.length">
                        <div class="regular">
                            <span ng-if="location.details.length == 0">{{ location.name }} additional color fee</span>
                            <span ng-if="location.details.length == 0" class="number">{{ location.item_price | currency:"$" }}</span>
                        </div>
                        <div class="regular">
                            <span>{{ location.name }} setup fee:</span>
                            <span class="number">{{ location.setupPrice | currency:"$" }}</span>
                        </div>
                    </div>

                    <div ng-if="location.details.length">
                        <div class="regular"
                             ng-repeat="color in location.details track by $index"
                             ng-if="color.setup_cost > 0">
                            <span>{{ location.name }} ({{ color.title }}) setup fee:</span>
                            <span class="number">{{ (color.setup_cost > 0 ? color.setup_cost : location.setupPrice)  | currency:"$" }}</span>
                        </div>
                        <div class="regular"
                             ng-repeat="color in location.details track by $index"
                             ng-if="$index > 0">
                            <span>{{ location.name }} additional color ({{ color.title }}) fee (per item)</span>
                            <span class="number">{{ color.color_item_price | currency:"$" }}</span>
                        </div>
                    </div>
                </div>

                <div class="regular">
                    <span>Shipping:</span>
                    <span>
                        {{ ((data.cartItem.cart_item_cost.shipping > 0) ? (data.cartItem.cart_item_cost.shipping | currency:"$") : '~') }}
                    </span>
                </div>
                <div class="regular total">
                    <span>Total:</span>
                    <span class="number">{{ data.cartItem.cart_item_cost.total | currency:"$" }}</span>
                </div>
            </div>
            <span class="close-window" ng-click="toggleAdditional(data.cartItem)">
                <i class="material-icons">clear</i>
                Close
            </span>
        </div>
    </div>
    </div>
    <div class="cart-item" ng-if="mode === 'order-confirmation'"
         ng-repeat="data in source track by data.id"
         ng-class="{'expanded': data.isOpened}">
        <div class="cart-item-content" ng-class="{'grey' : makeGreyNoActiveOrderConfirmation(source, data.isOpened)}">
            <div class="content-item product">
                <div class="cart-item-brief">
                    <img class="item-image" ng-src="{{data.product.thumbnail}}" fallback-src="img/image-not-available.jpg">
                    <div class="item-brief">
                        <h5 class="item-name" ui-sref="router.customize-order.options({ slug: data.product.full_slug })" ng-bind-html="data.product.title | trust"></h5>
                        <div class="item-number-and-color">
                            <span class="id-number">Item Number: <span>#{{ data.product.id }}</span></span>
                        </div>
                        <div class="item-number-and-color" ng-repeat="color in data.colors">
                            <span class="id-number">{{ color.color_group_name }}: <span>{{ color.color_name }}</span></span>
                        </div>
                        <div class="item-number-and-color" ng-repeat="option in data.orderData.selectedOptions">
                            <span class="id-number">{{ option.name }}: <span>{{ option.chosen_sub_option.name }}</span></span>
                        </div>
                        <div class="item-number-and-color"
                                ng-if="data.imprints && data.imprints.length"
                                ng-repeat="imprint in data.imprints">
                            <span class="id-number"
                                    ng-if="imprint.imprint_colors && imprint.imprint_colors.length">
                                Imprint {{ imprint.name }}: <span>{{imprint.imprint_colors.length}} color<span ng-if="imprint.imprint_colors.length > 1">s</span> </span>
                            </span>
                        </div>
                        <div class="item-controls">
                            <button class="prod-details btn-edit" ng-click="toggleAdditional(data)">Order Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-item costs">
                <div class="hand-date"> <span>{{ (data.received_date ? (data.received_date | date: 'MM/dd/yyyy') : 'ASAP') }}</span></div>
                <div ng-click="show(data)" class="shipping-cost">
                    <span class="price-green">
                        {{ ((data.cart_item_cost.shipping > 0) ? (data.cart_item_cost.shipping | currency:"$") : '') }}
                    </span>
                </div>
                <div class="price price-green">
                    {{ data.cart_item_cost.total | currency:"$" }}
                </div>
                <div class="hand-date"></div>
            </div>
        </div>
        <div class="cart-item-additional">
            <div class="more-left">
                <div class="more-info">
                    <h5 class="item-name">Imprint Options & Artwork</h5>
                    <div class="repeated"
                         ng-repeat="imprint in data.imprints"
                         ng-if="data.imprints && data.imprints.length">
                        <div class="regular">
                            <span>Location:</span>
                            <span class="number location-name">{{ imprint.name }}</span>
                        </div>
                        <div class="regular"
                             ng-repeat="imColor in imprint.imprint_colors">
                            <span >Color #{{ $index + 1 }}:</span>
                            <span class="number">{{ imColor.name }}</span>
                        </div>
                    </div>
                    <div class="regular">
                        <span>Art Comments and Typesetting:</span>
                        <span class="number" ng-bind-html="data.imprint_comment | trust"></span>
                    </div>
                </div>
                <div class="more-info">
                    <h5 class="item-name">Delivery / Rush Options / Comments</h5>                   
                    <div class="regular">
                        <span>When do you need your order?:</span>
                        <span class="number"
                              ng-if="!data.received_date">
                        Regular production time. ASAP
                    </span>
                        <span class="number"
                              ng-if="data.received_date">
                        {{ data.received_date | date: 'MM/dd/yyyy' }}
                    </span>
                    </div>
                    <div class="regular">
                        <span>Use your own shipping account?:</span>
                        <span class="number">{{ data.own_account_number ? 'Yes' : 'No' }}</span>
                    </div>
                </div>
            </div>
            <div class="more-right">
                <div class="common-info-block">
                    <img class="item-image" ng-src="{{ data.product.thumbnail }}" fallback-src="img/image-not-available.jpg">
                    <div class="product-name-block">
                        <h5 class="item-name" ui-sref="router.customize-order.options({ orderId: data.product.id })" ng-bind-html="data.product.title | trust"></h5>
                        <div class="item-id">Item #{{ data.product.id }}</div>
                    </div>
                </div>
                <div class="more-additional-block">
                    <div class="regular">
                        <span>Quantity:</span>
                        <span class="number">{{ data.quantity }}</span>
                    </div>
<!--                    <div class="regular">-->
<!--                        <span>Base Unit Price:</span>-->
<!--                        <span class="number">{{ data.cart_item_cost.base_item_price | currency:"$" }}</span>-->
<!--                    </div>-->
                    <div class="regular">
                        <span>Unit Price:</span>
                        <span class="number">
                            {{ (data.cart_item_cost.base_item_price - data.cart_item_cost.final_item_price) | currency:"$" }}
                        </span>
                    </div>

                    <div class="regular" ng-if="data.cart_item_cost.base_setup_price > 0">
                        <span>Item Setup:</span>
                        <span class="number">
                        {{ data.cart_item_cost.base_setup_price | currency:"$" }}
                    </span>
                    </div>

                    <div ng-if="data.cart_item_cost.imprints && data.cart_item_cost.imprints.length"
                            ng-repeat="location in data.cart_item_cost.imprints">
                        <div ng-if="!location.details.length">
                            <div class="regular">
                                <span>{{ location.name }} setup fee:</span>
                                <span class="number">{{ location.setupPrice | currency:"$" }}</span>
                            </div>
                            <div class="regular">
                                <span ng-if="location.details.length == 0">{{ location.name }} additional color fee</span>
                                <span ng-if="location.details.length == 0" class="number">{{ location.item_price | currency:"$" }}</span>
                            </div>
                        </div>

                        <div ng-if="location.details.length">
                            <div class="regular"
                                 ng-repeat="color in location.details track by $index"
                                 ng-if="color.setup_cost > 0">
                                <span>{{ location.name }} ({{ color.title }}) setup fee:</span>
                                <span class="number">{{ (color.setup_cost > 0 ? color.setup_cost : location.setupPrice) | currency:"$" }}</span>
                            </div>
                            <div class="regular" ng-if="$index > 0"
                                 ng-repeat="color in location.details track by $index">
                                <span>{{ location.name }} additional color ({{ color.title }}) fee (per item)</span>
                                <span class="number">{{ color.color_item_price | currency:"$" }}</span>
                            </div>
                        </div>
                    </div>


                    <div class="regular">
                        <span>Shipping:</span>
                        <span class="number">{{ data.cart_item_cost.shipping | currency:"$" }}</span>
                    </div>
                    <div class="regular total">
                        <span>Total:</span>
                        <span class="number">{{ data.cart_item_cost.total | currency:"$" }}</span>
                    </div>
                </div>
                <span class="close-window" ng-click="toggleAdditional(data)">
                <i class="material-icons">clear</i>
                Close
            </span>
            </div>
        </div>
    </div>
    <div class="cart-list-controls" ng-if="mode !='checkout'">
        <span
            class="clear-cart"
            ng-click="deleteAllCartItems(source)"
            ng-if="mode !== 'thank-you'"
        >
            <img
                class="clear-cart-img"
                src="../../assets/img/font-awesome-pro-5/times-circle.svg"
                alt="clear-cart"
                ng-if="source.length && mode =='shopping-cart'"
            >
                <span ng-if="source.length && mode =='shopping-cart'"> Empty cart </span>
        </span>
        <a ng-if="mode === 'thank-you'" href="/" class="cont-shopping">Continue Shopping</a>
        <div class="cart-list-total-selected" ng-class="{'margin-right' : mode !== 'thank-you', 'right-space' : mode === 'thank-you' }" ng-hide="!selectedIds.length && mode !== 'order-confirmation'">
            <div class="product-total-info">
                <span>Product Total: </span>
                <span>{{ order.price || totalProduct | currency : '$' }}</span>
            </div>
            <div class="product-total-info" ng-show="(order.discount_amount && order.discount_amount > 0) || (coupon && coupon.amount > 0)">
                <span>Discount: </span>
                <span>- {{ (order.discount_amount || coupon.amount || 0) | currency : '$' }}</span>
            </div>
            <div class="product-total-info">
                <span>Shipping Cost: </span>
                <span>{{ (totalShippingCost || 0) | currency : '$' }}</span>
            </div>
            <div class="product-total-info price-green" ng-if="!order.total">
                <span>Order Total: </span>
                <span>{{ ($cart.totalSelectedPrice - (order.discount_amount || coupon.amount || 0)) | currency : '$' }}</span>
            </div>
            <div class="product-total-info price-green" ng-if="order.total">
                <span>Order Total: </span>
                <span>{{ (order.total) | currency : '$' }}</span>
            </div>
        </div>
    </div>
    <div class="cart-list-controls" ng-if="mode == 'checkout'">
        <div class="cart-list-total-selected" ng-hide="!selectedIds.length">
            <div class="total-text">Total ({{ selectedIds.length }})</div>
            <div class="total-cost price-green">{{ $cart.totalSelectedPrice | currency : '$' }}</div>
        </div>
        <button class="cart-list-btn btn-checkout"
                ng-click="onConfirm(selectedIds)">Checkout</button>
    </div>
</div>
<form class="discount" ng-if="source.length && mode =='shopping-cart'">
    <div class="title">Discount / Coupon:</div>
    <input
        class="cert-number"
        type="text"
        ng-model="giftNumber"
        placeholder="Enter Discount Code or Coupon">
    <button type="submit" class="cart-list-btn" ng-click="addCoupon(giftNumber)" ng-disabled="!giftNumber">
        Submit
    </button>
    <div class="title coupon-name" ng-if="coupon">Entered coupon: {{ coupon.code }}</div>
    <button class="cart-list-btn delete" ng-click="deleteCoupon()" title="Delete Coupon" ng-if="coupon">
        Delete
    </button>
</form>
<div class="checkout-block"
    ng-class="{'no-margin' : mode === 'thank-you'}"
    ng-if="source.length && mode !== 'order-confirmation'">
    <div class="check-left back-button"
         ng-click="goTo(mode)"
         ng-hide="mode === 'thank-you' || mode === 'saved-cart' || mode === 'order-confirmation'">Back <span class="additional" ng-hide="mode === 'ready-order' || mode === 'checkout'">to my account</span>
    </div>
    <div class="check-right">
        <a class="guide-btn"
            title="Press to see our order process step by step guide"
            ng-if="checkSaveCardVisible(mode) || checkMode(mode)"
            href="/order-process"
            target="_blank">
            Our order process step by step guide
        </a>
        <span ng-click="saveForLaterAllCart(source, mode)"
            ng-if="checkSaveCardVisible(mode)"
            class="save-cart">
            <img class="save-cart-img"
                src="../../assets/img/font-awesome-pro-5/shopping-cart-black.svg"
                alt="shopping-cart-black">
                Save Cart
        </span>
        <button class="cart-list-btn btn-move-selected-to-cart"
                ng-if="mode === 'saved-cart'"
                ng-click="onConfirm(selectedIds)"
                ng-disabled="!selectedIds.length">
            Continue checkout / Review Order
        </button>
        <button id="checkout"  class="cart-list-btn btn-checkout"
                ng-if="checkMode(mode)"
                ng-click="onConfirm(selectedIds)">
            <span ng-if="mode === 'ready-order'">Place order</span>
            <span ng-hide="mode === 'ready-order'">Continue checkout / Review Order</span>
        </button>
    </div>
</div>
<h5 ng-hide="source.length"
    class="cart-no-items">
    No items
</h5>
