@import "~scss/modules/variables";

.btn-link {
  border: none;
  background: none;
  outline: none;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #99adba;
}

.edit-form {
  margin-top: 10px;

  .text-default {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #2d3539;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .edit-form-label {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #2d3539;
    margin-bottom: 5px;

    &.error{
      color:red;
    }

    sup {
      color: #e23434;
    }
  }

  .form-group {
    margin-bottom: 5px;
  }

  .edit-form-section {
    margin-bottom: 10px;
    margin-top: 10px;

    .select-billing-header {
      margin-left: 15px;
    }

    .card-data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      @media (max-width:576px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .form-group {
        @media (max-width:576px) {
          width: 100%;
          margin-right: 0;
        }

        .container-cvv {
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            max-width: 150px;
          }

          .what-text {
            color: $color-darkest-blue;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #16a1db;
            margin-right: auto;
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }

      .expiration-input {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
      }
    }

    &.margin-bottom-0 {
      margin-bottom: 0;
    }
  }

  .cancel-btn {
    display: block;
    max-width: 125px;
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #b5c0c7;
    font-size: 13px;
    line-height: 1.54;
    color: rgba(69,79,81,.5);
    background-color: #fff;
    margin-right: 15px;
    @media (max-width: 576px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  md-checkbox.md-checked .md-icon:after {
    top: -1px;
    left: 5px;
    height: 15px;
  }

  .select-billing-section {
    .selected-address {
      .md-label {
        width: 100%;
        margin-left: 40px;
      }

      md-radio-button {
        border: 1px solid #d7d7d7;
        border-radius: 6px;
        padding: 10px;
        width: 48%;
        margin-right: 2%;

        @media screen and (max-width: 991px){
          width: 100%;
          margin-right: 0;
        }

        &.active {
          border-color: $color-blue;
        }

        .md-container {
          top: 20px;
          left: 15px;
        }
      }
    }

    .address-container {
      flex-wrap: wrap;

      .sel-address-block {
        width: 44%;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #899399;
        display: inline-block;
        margin-bottom: 20px;

        &:nth-child(odd) {
          margin-right: 10px;
        }

        &:last-child {
          margin-bottom: 5px;
        }

        .title {
          margin-bottom: 5px;
        }

        .description {
          font-size: 13px;
          color: #2d3539;
        }
      }

      & > .description {
        margin: 4px 0;
      }
    }
  }

  .address-type-radio,
  .address-default {
    height: 34px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    
    md-radio-button {
      margin: 0;
    }
  }
}

.edit-form-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-change-submit-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  @media (max-width:576px) {
    flex-direction: column;
  }
  button {
    &:first-child {
      margin-right: 15px;
      @media (max-width:576px) {
        margin-right: 0;
      }
    }
  }
}

.btn-edit-form-control {
  max-width: 125px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: solid 1px #b5c0c7;
  font-size: 13px;
  line-height: 1.54;
  color: rgba(69, 79, 81, 0.5);
  background-color: white;
  margin: 0;

  &.delete {
    margin-right: auto;
  }

  &.cancel {
    margin-right: 20px;
    background: none;
    outline: none;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }

  &.submit {
    border: none;
    background-color: $color-blue;
    color: white;
    max-width: 200px;
    width: 100%;
  }
}

.credit-card {
  margin: 20px auto 0 auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transform: rotateY(0deg);
  transition: transform .5s ease;
  width: 276px;
  height: 164.9px;
  color: #bed0d9;

  @media screen and (max-width: 991px) {
    height: 160px;
  }

  .card-front, 
  .card-back {
    background: #434d50 !important;
  }

  .card-front {
    opacity: 1;
  }

  .card-back {
    opacity: 0;
  }

  &.flipped {
    transform: rotateY(180deg);
    transition: transform .5s ease;

    .card-front {
      opacity: 0;
    }

    .card-back {
      opacity: 1;
    }
  }

  .card-front {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    background-color: #ebf6ff;
    transform-style: preserve-3d;
    transition: opacity .5s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  .card-logo {
    width: 37.4px;
    height: 24.8px;
    border-radius: 3px;
    background-color: #90989e;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .container-logo {
      width: 14px;
      height: 14px;
      margin-left: 3px;

      .stripe {
        width: 14px;
        height: 3px;
        margin-bottom: 3px;
        background: gainsboro;
        border-radius: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.visa,
    &.discover,
    &.mastercard,
    &.amex {
      background: url('./img/cards.png') left top no-repeat;
      background-size: 175px 25px;

      .container-logo {
        display: none;
      }
    }

    &.mastercard {
      background-position: -45px 0;
    }

    &.amex {
      background-position: -91px 0;
    }

    &.discover {
      background-position: -137px 0;
    }
  }

  .card-number {
    white-space: nowrap;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.5px;
    color: #bed0d9;
  }

  .card-misc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .card-date {
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: #bed0d9;

      .card-date-title {
        margin-bottom: 3px;
        font-size: 7px;
      }

      span {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }

    .card-holder {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #bed0d9;
      width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .card-stripe {
    background-image: linear-gradient(#444, #333);
    width: 100%;
    height: 20%;
    margin-top: 15px;
  }

  .card-back-content {
    padding: 0 10px;

    .card-cvc {
      display: flex;
      color: #bed0d9;
      font-size: 14px;
      margin: 15px 0;

      &:before {
        content: '';
        background-color: white;
        margin-right: 5px;
        display: flex;
        height: 30px;
        flex:0 0 80%;
      }
    }
  }
}

.select-billing-header {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #2d3539;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-top: 20px;

  span {
    color: $color-darkest-blue;
    text-transform: none;
    cursor: pointer;
  }
}

.choose-card {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: $color-darkest-blue;
  margin-top: 40px;
  border-bottom: 2px solid #e6eef2;
  padding-bottom: 15px;
  cursor: pointer;
}


