<form class="edit-form" name="paymentProfileEditForm" ng-submit="submit()">
    <div id="err" class="edit-form-section">
        <!--<h4 class="edit-form-section-title">{{::$stateParams.mode == 'edit' ? 'Edit' : 'Add' }} Payment Information</h>-->
        <h5 class="text-default">Payment information</h5>
        <span ng-if="paymentProfileEditForm.message" class="text-danger payment-danger duplicate"  role="alert">
            <span>{{ paymentProfileEditForm.message }}</span>
        </span>
        <div class="card-data">
            <!-- Card Holder -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.card_holder.$error.backend">Card Holder:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.card_holder.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.card_holder.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.card_holder"
                       class="form-control"
                       type="text"
                       ng-focus="flipCardToFront(paymentProfileEditForm.card_holder) || deleteDuplicateError(paymentProfileEditForm.message)"
                       autocomplete="off"
                       name="card_holder"
                       maxlength="30">
            </div>
            <!-- Card Number -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.card_number.$error.backend">Card Number:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.card_number.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.card_number.$error.backend }}</span>
                    </span>
                </label>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <input ng-model="source.card_number"
                            class="form-control"
                            ng-focus="flipCardToFront(paymentProfileEditForm.card_number) || deleteDuplicateError(paymentProfileEditForm.message)"

                            type="text"
                            ui-mask="{{ mask }}"
                            ng-disabled="$stateParams.mode === 'edit'"
                            name="card_number">
                    </div>
                </div>
            </div>
            <!-- Card Security Code -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.cvc.$error.backend">Card Security Code:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.cvc.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.cvc.$error.backend }}</span>
                    </span>
                </label>
                <div class="container-cvv">
                    <input ng-model="source.cvc"
                           class="form-control"
                           type="text" autocomplete="off"
                           name="cvc"
                           ng-focus="flipCardToBack(paymentProfileEditForm.cvc) || deleteDuplicateError(paymentProfileEditForm.message)"
                           maxlength="4" ng-pattern="/^[0-9+]*$/"
                    >
                    <span class="what-text" ng-click="openWhatsThis()">What’s this?</span>
                </div>
            </div>
            <!-- Expiration Date -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.expiration_month_and_year.$error.backend">Expiration Date:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.expiration_month_and_year.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.expiration_month_and_year.$error.backend }}</span>
                    </span>
                </label>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <input ng-model="monthYear"
                               placeholder="MM/YY"
                               class="form-control expiration-input"
                               type="text" autocomplete="off"
                               name="expiration_month_and_year"
                               ng-keydown="setMonthAndYear($event)"
                               ng-focus="flipCardToFront(paymentProfileEditForm.expiration_month_and_year) || deleteDuplicateError(paymentProfileEditForm.message)"
                               maxlength="7"
                               >
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-card">
            <div class="credit-card" ng-class="cardState">
                <div class="card-front">
                    <div class="card-logo" ng-class="getCardClassName(source)">
                        <div class="container-logo">
                            <div class="stripe"></div>
                            <div class="stripe"></div>
                            <div class="stripe"></div>
                        </div>
                    </div>
                    <div class="card-number">{{ source.card_number || '••••••••••••••••' | creditNumber }}</div>
                    <div class="card-misc">
                        <div class="card-holder">{{ source.card_holder || 'CARDHOLDER NAME' }}</div>
                        <div class="card-date">
                            <div class="card-date-title">MONTH/YEAR</div>
                            <span>{{ (10 > source.expiration_month ? source.expiration_month : source.expiration_month) || '••' }}</span>/<span>{{ source.expiration_year || '••' }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-back">
                    <div class="card-stripe"></div>
                    <div class="card-back-content">
                        <div class="card-cvc">
                            {{ source.cvc || '* * *' }}
                        </div>
                        <div class="card-logo" ng-class="getCardClassName(source)">
                            <div class="container-logo">
                                <div class="stripe"></div>
                                <div class="stripe"></div>
                                <div class="stripe"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="choose-card"
            ng-click="back()"
            ng-if="!$state.includes('**.edit-payment-profile')">
            Or choose a Credit Card
        </div> -->
        
    </div>
    <div class="row edit-form-section new-billing-form" ng-if="!isNewAddressActive">
        <h4 class="select-billing-header">
            Enter a Billing Address
            <span
                ng-click="newAddressToggler()"
                ng-if="$addressBook.getBillingAddresses().length && !$state.includes('**.edit-payment-profile')"
            >
                or Choose From Address Book
            </span>
        </h4>
        <div class="col-md-6">
            <!-- First Name -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.first_name.$error.backend">First Name:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.first_name.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.first_name.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.first_name"
                       class="form-control"
                       ng-focus="resetError(paymentProfileEditForm.first_name)"
                       type="text" autocomplete="off"
                       name="first_name"
                       >
            </div>
            <!-- Last Name -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.last_name.$error.backend">Last Name:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.last_name.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.last_name.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.last_name"
                       class="form-control"
                       type="text" autocomplete="off"
                       ng-focus="resetError(paymentProfileEditForm.last_name)"
                       name="last_name">
            </div>
            <!-- Company Name -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.company.$error.backend">Company Name:</span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.company.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.company.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.company"
                       class="form-control"
                       ng-focus="resetError(paymentProfileEditForm.company)"
                       type="text" autocomplete="off"
                       name="company">
            </div>
            <!-- Day Telephone -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.phone.$error.backend">Day Telephone:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.phone.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.phone.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.phone"
                       class="form-control"
                       type="text" autocomplete="off"
                       ng-focus="resetError(paymentProfileEditForm.phone)"
                       model-view-value="true"
                       ui-mask="999-999-9999"
                       name="phone"
                       maxlength="15">
            </div>
            <!-- Ext -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.phone_extension.$error.backend">Ext:</span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.phone_extension.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.phone_extension.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.phone_extension"
                       class="form-control"
                       ng-focus="resetError(paymentProfileEditForm.phone_extension)"
                       type="text" autocomplete="off"
                       name="phone_extension"
                       maxlength="3" ng-pattern="/^[0-9+]*$/">
            </div>
        </div>
        <div class="col-md-6">
            <!-- Address Line 1 -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.address1.$error.backend">Address Line 1:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.address1.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.address1.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.address1"
                       class="form-control"
                       ng-focus="resetError(paymentProfileEditForm.address1)"
                       type="text" autocomplete="off"
                       name="address1">
            </div>
            <!-- Address Line 2 -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.address2.$error.backend">Address Line 2:
                        <!-- <sup>*</sup> -->
                    </span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.address2.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.address2.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.address2"
                       class="form-control"
                       ng-focus="resetError(paymentProfileEditForm.address2)"
                       type="text" autocomplete="off"
                       name="address2">
            </div>
            <!-- City -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.city.$error.backend">City:<sup>*</sup></span>
                    <span class="text-danger payment-danger"  ng-messages="paymentProfileEditForm.city.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.city.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.city"
                       class="form-control"
                       ng-focus="resetError(paymentProfileEditForm.city)"
                       type="text" autocomplete="off"
                       name="city">
            </div>
            <!-- State -->
            <div class="form-group" ng-if="source.country === 'US'">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.state.$error.backend">State:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.state.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.state.$error.backend }}</span>
                    </span>
                </label>
                <select
                        ng-model="source.state"
                        name="state"
                        class="form-control"
                        ng-options="option.abbreviation as option.name for option in $usStates"
                        ng-focus="resetError(paymentProfileEditForm.state)">
                </select>
            </div>
            <!-- Zip/Postal Code -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.zip.$error.backend">Zip/Postal Code:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.zip.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.zip.$error.backend }}</span>
                    </span>
                </label>
                <input ng-model="source.zip"
                       class="form-control"
                       type="text" autocomplete="off"
                       ng-focus="resetError(paymentProfileEditForm.zip)"
                       maxlength="5"
                       name="zip"
                       ng-pattern="/^[0-9+]*$/">
            </div>
            <!-- Country -->
            <div class="form-group">
                <label class="edit-form-label">
                    <span ng-hide="paymentProfileEditForm.country.$error.backend">Country:<sup>*</sup></span>
                    <span class="text-danger payment-danger" ng-messages="paymentProfileEditForm.country.$error" role="alert">
                        <span ng-message="backend">{{ paymentProfileEditForm.country.$error.backend }}</span>
                    </span>
                </label>
                <select
                        ng-model="source.country"
                        name="country"
                        class="form-control"
                        ng-options="option.code as option.name for option in $countriesList"
                        ng-focus="resetError(paymentProfileEditForm.country)">
                </select>
            </div>
        </div>
        
    </div>
    <div class="select-billing-section" ng-if="isNewAddressActive && $addressBook.getBillingAddresses().length">
        <h4 class="select-billing-header">Choose a Billing Address <span ng-click="newAddressToggler()">or Enter a New Address</span></h4>
        <md-radio-group ng-model="selectedCardAddress"
                        md-no-ink="true"
                        class="selected-address"
                        name="type"
                        ng-change="switchAddressForm(selectedCardAddress)"
        >
            <md-radio-button
                ng-value="address"
                ng-repeat="address in $addressBook.getBillingAddresses()"
                ng-class="{'active' : address.id === selectedCardAddress.id}">
                <div class="address-container">
                    <div class="description">{{ ::(address.first_name + ' ' + address.last_name) }}</div>
                    <div class="description">{{ ::address.company_name || '-' }}</div>
                    <div class="description">{{ ::address.address_line_1 || '-' }}</div>
                    <div class="description">{{ ::(address.city + ', ' + address.state + ' ' + address.zip) }}</div>
                    <div class="description">{{ ::address.day_telephone || '-' }}</div>
                    <!-- <div class="sel-address-block">
                        <div class="title">Card Holder:</div>
                        <div class="description">{{::(address.first_name + ' ' + address.last_name)}}</div>
                    </div>
                    <div class="sel-address-block">
                        <div class="title">Company Name:</div>
                        <div class="description">{{::address.company_name || '-'}}</div>
                    </div>
                    <div class="sel-address-block">
                        <div class="title">Address:</div>
                        <div class="description">{{::address.address_line_1 || '-'}}</div>
                    </div>
                    <div class="sel-address-block">
                        <div class="title">City/State:</div>
                        <div class="description">{{::(address.city + ', ' + address.state + ' ' + address.zip)}}</div>
                    </div>
                    <div class="sel-address-block">
                        <div class="title">Day Telephone:</div>
                        <div class="description">{{::address.day_telephone || '-'}}</div>
                    </div> -->
                </div>
            </md-radio-button>
        </md-radio-group>
        
    </div>
    
    <div class="col-md-12">
        <div class="btn-change-submit-group">
            <button type="button" 
                class="cancel-btn" 
                ng-if="!$state.includes('**.edit-payment-profile')"
                ng-click="back()">Cancel
            </button>
                
            <button 
                type="submit" 
                class="btn-edit-form-control submit">Add Payment and Continue
            </button>
        </div>
    </div>
    <div class="row edit-form-section margin-bottom-0">
        <div class="col-md-12">
            <div class="edit-form-controls">
                <button type="button"
                        ng-click="confirmDelete($stateParams.profileId)"
                        class="btn-edit-form-control delete"
                        ng-if="$stateParams.mode == 'edit'">Delete</button>
                
            </div>
        </div>
    </div>
</form>
