<div class="modal modal-confirm-delete">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">CCV</h4>
            </div>
            <div class="modal-body">
                <img src="../../assets/img/ccv-info.jpg" alt="CCV">
            </div>
        </div>
    </div>
</div>
