@import "~scss/modules/variables";

.filter-wrapper {
  margin-top: 20px;
}

.deny-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  padding: 10px 12px;
  border: none;
  width: 130px;
  margin-bottom: 20px;
  cursor: pointer;
}

.order-history-block {
  border: 1px solid $color-light-grey-opac;
  padding: 0 8px 0;
  font-size: 13px;
  max-height: 40px;
  color: $color-black;
  margin-bottom: 14px;
  transition: max-height .3s ease;
  overflow: hidden;
  background: #fff;
  border-bottom: 2px solid darkgray;

  &.expanded {
    transition: max-height .3s ease;
  }

  .order-history-heading {
    border-bottom: 1px solid $color-light-grey-opac;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 450px) {
      flex-wrap: wrap;
    }

    & * {
      line-height: 38px;
      display: inline-block;
      vertical-align: middle;

      @media screen and (max-width: 450px) {
        line-height: 24px;
      }
    }

    .history-block-heading-date {
      font-weight: 600;

      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }

    .history-block-heading-ordernumber {
      color: $color-black;
    }

    .history-block-heading-full {
      color: $color-black;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $color-blue;
      }
    }

  }

  .order-history-items {
    display: table;
    width: 100%;
    border-collapse: collapse;

    .order-history-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $color-light-grey-opac;
      font-family: $base-font;

      &:last-child {
        border-bottom: 0 none;
      }

      &.item-opened {
        border-bottom: 1px solid $color-light-grey-opac;

        .order-history-button-toggle {
          &.general-item-switch-btn {
            & > img {
              transform: rotate(180deg) translateY(2px);
            }
          }
        }

        .order-history-item-caption {
          max-height: 3333px;
          border-radius: 5px;
          margin: 15px 0;

          &.animated {
            animation-duration: 0.4s;
          }
        }
      }

      .order-history-item-rowgroup {
        display: table-row-group;
        @media (max-width:576px) {
          padding: 5px 0;
        }
      }

      .order-history-item-row {
        display: table-row;
        transition: background-color 200ms ease;

        &.closed {
          background-color: #e7eef3;
          border-bottom: 1px solid #bfc0c7;

          .order-history-item-cell {
            .order-item-img {
              border: 1px solid #cccbcc;
            }
          }
        }
      }

      .order-history-item-caption {
        box-shadow: inset 0 0 15px #ccc;
        caption-side: bottom;
        display: table-caption;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;

        &.animated {
          animation-duration: 0s;
        }
      }

      .order-history-item-cell {
        display: table-cell;
        vertical-align: middle;
        height: 44px;

        &.btn-cell {
          width: 34px;
          text-align: center;
        }

        &.productimage-cell {
          width: 58px;
          text-align: center;
        }

        &.productscu-cell {
          width: 120px;
          color: #00acee;
          transition: color 100ms ease-in;

          &:hover {
            cursor: pointer;
            color: #0087b6;
          }
        }

        &.producttitle-cell {
          width: 200px;
          padding: 0 8px;
        }

        &.itemid-cell {
          width: 80px;
        }

        &.orderstatus-cell {
          width: 170px;
        }

        &.order-reorder {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
          font-weight: normal;
          float: right;
          padding-right: 10px;

          @media(max-width:992px) {
            margin-left: 20px;
          }

          @media (max-width: 500px) {
            padding-right: 0;
            padding-left: 7px;
          }

          md-checkbox {
            transform: scale(1.25);
            margin-bottom: 0;

            &.md-primary {
              &.md-checked {
                .md-icon {
                  background-color: #4ac9ff;
                  border-color: #4ac9ff!important;
                }
              }
            }

            .md-label {
              transform: scale(0.8);
              height: 16px;
              display: flex;
              align-items: center;
              margin-left: 20px;
            }
          }
        }

        .order-item-img {
          height: 36px;
          vertical-align: middle;
        }
      }

      .full-order-info-slide {
        width: 100%;
        padding-top: 18px;
        padding-bottom: 20px;
        position: relative;
        border-bottom: 1px solid $color-light-grey-opac;

        .close-window {
          position: absolute;
          top: -1px;
          right: 5px;
          z-index: 10;
          padding: 10px;
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: $color-darkest-blue;
          display: flex;
          align-items: center;
          cursor: pointer;

          .material-icons {
            font-size: 15px;
            color: #99adba;
            margin-right: 5px;
            cursor: pointer;
          }
        }

        .comments-content {
          max-height: 0;
          overflow: hidden;
          border: none;

          .empty-block {
            border-top: 1px solid rgba(181,192,199,.33);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 37px;

            @media screen and (max-width: 500px) {
              margin-bottom: 25px;
            }
          }

          &.toggle-open {
            max-height: 3333px;
          }

          .notes-wrapper {
            border-bottom: 1px solid rgba(181,192,199,.33);
            border-top: 1px solid rgba(181,192,199,.33);
            padding-left: 30px;

            @media screen and (max-width: 500px) {
              padding: 0 5px;
            }

            &.notes-empty {
              border: none;
            }
          }

          .comments-message-wrapper {
            border-top: 1px solid rgba(181,192,199,.33);
            width: 60%;

            &:first-child {
              border-top: none;
            }
          }

          .comments-message {
            margin: 12px 0;
            margin-bottom: 20px;

            .comments-message-fromname {
              margin-top: 31px;
              font-size: 11px;
              width: 18%;
            }

            &.administration-message {
              .comments-message-wrap {
                float: right;

                .comments-message-wrap-cloud {
                  background-color: $color-white;
                  border: solid 1px #d2d4d4;
                  box-shadow: 0 0 8px 0 #d2d4d4;

                  .message-cloud-tip-arrow {
                    left: -9px;
                    right: auto;
                    z-index: 3;

                    &:before {
                      content: "";
                      display: block;
                      border-bottom: 6px solid;
                      border-top: 6px solid;
                      border-right: 8px solid;
                      border-left: none;
                      border-color: transparent #d2d4d4 transparent;
                    }

                    &:after {
                      content: "";
                      display: block;
                      border-bottom: 6px solid;
                      border-top: 6px solid;
                      border-right: 8px solid;
                      border-left: none;
                      border-color: transparent #fff transparent;
                      top: 0;
                      left: 2px;
                      position: absolute;
                    }
                  }
                }
              }

              .comments-message-fromname {
                float: left;
              }
            }

            &.user-message {
              .comments-message-wrap {
                float: left;
                width: 80%;

                .comments-message-wrap-cloud {
                  background-color: #e5eef2;
                  border: 0 none;
                  box-shadow: none;

                  .message-cloud-tip-arrow {
                    left: auto;
                    right: -8px;
                    z-index: 3;

                    &:before {
                      content: "";
                      display: block;
                      border-bottom: 6px solid;
                      border-top: 6px solid;
                      border-left: 8px solid;
                      border-right: none;
                      border-color: transparent #e5eef2 transparent;
                    }
                  }
                }
              }

              .comments-message-fromname {
                float: right;
                color: #22282b;
                opacity: 0.3;
                width: 50px;
                margin-top: 29px;
              }
            }

            .comments-message-title {
              font-size: 11px;

              .comments-message-referencenum {
                margin-left: 18px;
              }
            }

            .comments-message-wrap {
              font-size: 11px;
              line-height: 1.4;
              color: $color-black;
              width: 82%;

              .comments-message-wrap-cloud {
                display: block;
                border-radius: 4px;
                padding: 12px 18px;
                min-height: 34px;
                position: relative;

                .message-cloud-tip-arrow {
                  width: 8px;
                  height: 12px;
                  bottom: auto;
                  display: block;
                  top: 11px;
                  position: absolute;
                  overflow: visible;
                  z-index: 3;
                }
              }
            }
          }

          .note-block {
            color: #3598db;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .note-id {
              flex-basis: 17%;
            }

            .note-created-date {
              flex-basis: 50%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              color: #454f51;
            }

            .note-block-status-wrap {
              display: inline-block;
              flex-basis: 27%;

              .notes-status {
                font-size: 13px;
                font-weight: bold;
                line-height: 1.23;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @media screen and (max-width: 500px) {
                  flex-wrap: wrap;
                  justify-content: center;
                }

                .status-icon {
                  margin-right: 5px;
                }

                .status-text{
                  text-transform: uppercase;
                }

                &.approved{
                  color: #6eca2c;
                }

                &.declined{
                  color: #f15642;
                }

                &.pending{
                  color: #f1c334;
                }
              }
            }
          }

          .note-collapsed-block {
            max-height: 0;
            transition: max-height .3s;
            overflow: hidden;

            &.note-opened {
              max-height: 3333px;
            }
          }

          .notes-img-wrap {
            text-align: center;

            .notes-img {
              width: 150px;
            }
          }

          .textarea-wrapper {
            overflow: hidden;
          }

          .control-deny,
          .control-approve {
            @extend .deny-btn;
            float: left;

            .control-icon {
              font-size: inherit;
              color: inherit;
              margin-right: 5px;
            }
          }

          .control-deny {
            background-color: #d8e5ed;
            color: #5c717d;
            margin-right: 9px;
            margin-left: 20px;

            &:disabled {
              cursor: not-allowed;
              background-color: #eeeeee;
            }
          }

          .control-approve {
            color: white;
            background-color: #6eca2c;

            &:disabled {
              cursor: not-allowed;
              background-color: rgba(110, 202, 44, .6);
            }
          }
        }

        .comments-addcomment-textarea {
          width: 100%;
          height: 64px;
          border-radius: 6px;
          border: solid 1px rgba(180, 191, 198, 0.5);
          resize: none;
          text-align: left;
          padding: 4px 6px;
          font-size: 12px;
          margin-bottom: 10px;
        }

        .order-info-staus-summary, 
        .order-info-shipping-info, 
        .order-info-shipping-addresses, 
        .order-info-artproof, 
        .order-info-artproof-switcher, 
        .order-info-item-snapshot {
          border-top: 1px solid rgba(181,192,199,.33);
          display: block;
          width: 100%;
          padding: 10px 0 22px 48px;
          border-bottom: 1px solid $color-light-grey-opac;

          p {
            color: #454f51;
            margin-bottom: 4px;

            &.black {
              color: $color-black;
            }
          }
        }

        .roll-up-button {
          position: absolute;
          left: 7px;
          bottom: 10px;
        }

        .order-history-item-option {
          width: 50%;

          h3 {
            font-weight: 600;
            color: $color-black;
          }
        }

        .order-info-staus-summary {
          font-weight: 600;
          color: $color-black;
          border: none;

          @media(max-width:576px) {
            margin: 0 !important;
          }

          @media screen and (max-width: 500px) {
            padding-top: 30px !important;
          }

          div {
            @media(max-width:576px) {
              padding: 0 !important;
            }
          }

          p > span {
            font-weight: normal;
          }
          .tracking-block {
            span {
              font-weight: 300;
            }
          }
        }

        .order-info-shipping-info {
          p {
            margin-bottom: 7px;
          }
        }

        .order-info-shipping-addresses {
          border-bottom: 0 none;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .shipping-address-option {
            width: 100%;
            h5 {
              margin-bottom: 10px;
            }
          }
        }

        .order-info-artproof-switcher {
          padding-bottom: 10px;

          .order-history-button-toggle {
            margin-right: 16px;

            & > img {
              transform: rotate(0deg) translateY(0px);
            }
          }

          &.switched-on {
            .order-history-button-toggle {
              & > img {
                transform: rotate(-180deg) translateY(2px);
              }
            }
          }
        }

        .notes-btn-wrapper {
          margin-left: 48px;
          display: flex;
          justify-content: flex-start;

          @media screen and (max-width: 500px){
            margin-left: 0;
          }

          .tabs-trigger {
            width: 140px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;
            border: 1px solid transparent;

            @media screen and (max-width: 500px) {
              padding-left: 3px;
            }

            &.tab-activated {
              border: 1px solid rgba(181,192,199,.33);
              border-bottom: none;
              background: #ffffff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
          }

          .badge {
            background-color: #4ac9ff;
            min-width: 10px;
            border-radius: 4px;
            padding: 3px 7px;
            color: #fff;
            font-size: 11px;

            &.red {
              background: $color-red;
            }
          }

          button {
            text-transform: uppercase;
            border: none;
            background: transparent;
            padding: 10px;
            color: #3598db;
          }
        }

        .proofs-wrap {
          overflow: hidden;
          max-height: 0;
          margin-top: -1px;

          @media screen and (max-width: 500px) {
            padding: 0 5px !important;
          }

          &.proofs-opened {
            border-bottom: 1px solid rgba(181,192,199,.33);
            max-height: 3333px;

            &.proofs-empty {
              border: none;
            }
          }

          .comments-message-wrapper {
            padding-left: 30px;
            padding-right: 30px;
            margin-right: 0;
            border-top: 1px solid rgba(181,192,199,.33);
            width: 100%;

            @media screen and (max-width: 500px) {
              padding: 0 4px;
            }

            &.pending {
              background: #f0c16957;
            }
            
            &:first-child {
              border-top: none;
            }
          }

          .proof-block {
            color: #3598db;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .proof-id {
              flex-basis: 18%;
            }

            .proof-download {
              display: flex;
              padding: 0 10px;
              flex-basis: 21%;

              @media screen and (max-width: 500px) {
                flex-wrap: wrap;
              }

              .proof-icon-pdf {
                width: 40px;
                height: 40px;
                margin-right: 10px;
              }

              .proof-preview-actions {
                color: #b5bfc6;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .action-download, 
                .action-preview {
                  display: flex;
                  align-items: center;
                  font-size: 9px;

                  .action-text {
                    color: #2c84d2;
                  }

                  .material-icons {
                    font-size: 15px;
                    color: #b5bfc6;
                    margin-right: 5px;
                  }
                }

                .action-download {
                  text-decoration: none;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }

            .proof-created-date {
              flex-basis: 33%;
              color: #454f51;
            }

            .proof-block-status-wrap {
              flex-basis: 16%;
              display: flex;
              justify-content: start;

              .proof-status {
                font-size: 13px;
                font-weight: bold;
                line-height: 1.23;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @media screen and (max-width: 500px) {
                  flex-wrap: wrap;
                  justify-content: center;
                }

                .status-icon {
                  margin-right: 5px;
                }

                .status-text {
                  text-transform: uppercase;
                }

                &.approved {
                  color: #6eca2c;
                }

                &.declined {
                  color: #f15642;
                }

                &.pending {
                  color: #f1c334;
                }
              }
            }
          }
        }

        .order-info-artproof {
          overflow: hidden;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 48px;
          border-bottom: 1px solid $color-light-grey-opac;
          border-top: 1px solid $color-light-grey-opac;

          .order-info-artproof-content {
            .order-info-artproof-heading {
              font-size: 11px;

              & * {
                line-height: 28px;
                display: inline-block;
                vertical-align: middle;
              }

              .artproof-heading-date {
                margin-right: 32px;
              }

              .artproof-heading-proofnumber {
                color: $color-light-grey;
              }
            }

            .order-history-item-option {
              &.right {
                padding-top: 18px;
              }
            }

            .artproof-filename {
              display: block;
              font-weight: 600;
              padding: 8px 0 3px;
            }

            .artproof-links-wrap {
              display: inline-block;
              text-align: center;
            }

            .artproof-as-pdf-img {
              width: 53px;
              height: 53px;
            }

            .artproof-download-link, 
            .artproof-preview-link {
              display: inline-block;
              font-size: 11px;
              color: $color-dark-blue;
              margin-right: 12px;

              img {
                display: inline-block;
                width: 16px;
                height: 16px;
                opacity: 0.3;
                vertical-align: middle;
              }
            }
          }
        }

        .order-info-item-snapshot {
          padding: 24px 6px 10px;
          border-bottom: 0 none;

          @media screen and (max-width: 500px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }

          .order-history-item-option {
            &.left {
              padding-right: 10px;
            }

            &.right {
              padding-left: 10px;
            }
          }

          .item-snapshot-heading {
            text-align: center;
          }

          .snapshot-item-title {
            display: block;
            width: 100%;
            font-size: 14px;
            margin-bottom: 10px;
          }

          .item-snapshot-total-row-group {
            display: table-row-group;
          }

          .snapshot-item-link {
            font-size: 11px;
            color: $color-dark-blue;
          }

          .snapshot-item-selected-color {
            font-weight: 600;
          }

          img.item-preview-img {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
          }

          .item-snapshot-total {
            width: 100%;
            border: 1px solid #d8d8d8;
            padding: 5px 16px;
            margin-bottom: 18px;

            .item-snapshot-total-table {
              display: table;
              width: 100%;
              font-size: 11px;
              font-family: $base-font;
            }

            .item-snapshot-total-heading {
              display: table-header-group;
              border-bottom: 1px solid $color-light-grey-opac;
              text-transform: uppercase;
              font-weight: 600;
            }

            .item-snapshot-total-row {
              display: table-row;
            }

            .item-snapshot-total-cell {
              display: table-cell;
              padding: 8px 0 6px;
              padding-left: 20px;
              vertical-align: middle;

              span {
                display: block;
                width: 100%;
                font-size: 0.8em;
                color: #22282b;
                line-height: 1.8;
              }

              &.cell-right {
                text-align: right;
                padding-right: 18px;
                padding-left: 0;
              }
            }
          }

          .item-snapshot-additional {
            padding: 0 6px;
            margin-bottom: 22px;

            & > span {
              font-size: 11px;
              color: #454f51;
              display: inline-block;
              width: 100%;

              strong.additional-question {
                color: $color-blue;
                font-weight: 600;
                width: 100%;
                display: inline-block;
                margin: 4px 0 1px;
              }
            }

            .item-number-and-color {
              .id-number,
              .item-color {
                font-size: 11px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.64;
                letter-spacing: 0.2px;
                color: #4c595e;

                span {
                  font-weight: 500;
                  color: #4c595e;
                }
              }

              .item-color {
                color: #3598db;
              }

              .item-number {
                color: #2d3539;
              }
            }
          }

          .item-snapshot-comments {
            padding-bottom: 12px;
            /*.comments-content {
              margin-top: 18px;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.3s;
              &.toggle-open {
                max-height: 650px;
              }
            }*/
          }
          /*.comments-message {
            margin: 12px 0;
            .comments-message-fromname {
              margin-top: 31px;
              font-size: 11px;
              width: 18%;
            }
            &.administration-message {
              .comments-message-wrap {
                float: right;
                .comments-message-wrap-cloud {
                  background-color: $color-white;
                  border: solid 1px #d2d4d4;
                  box-shadow: 0 0 8px 0 #d2d4d4;
                  .message-cloud-tip-arrow {
                    left: -9px;
                    right: auto;
                    z-index: 3;
                    &:before {
                      content: "";
                      display: block;
                      border-bottom: 6px solid;
                      border-top: 6px solid;
                      border-right: 8px solid;
                      border-left: none;
                      border-color: transparent #d2d4d4 transparent;
                    }
                    &:after {
                      content: "";
                      display: block;
                      border-bottom: 6px solid;
                      border-top: 6px solid;
                      border-right: 8px solid;
                      border-left: none;
                      border-color: transparent #fff transparent;
                      top: 0;
                      left: 2px;
                      position: absolute;
                    }
                  }
                }
              }
              .comments-message-fromname {
                float: left;
              }
            }
            &.user-message {
              .comments-message-wrap {
                float: left;
                width: 80%;
                .comments-message-wrap-cloud {
                  !*background-color: $color-white *!
                  background-color: #e5eef2;
                  border: 0 none;
                  box-shadow: none;
                  .message-cloud-tip-arrow {
                    left: auto;
                    right: -8px;
                    z-index: 3;
                    &:before {
                      content: "";
                      display: block;
                      border-bottom: 6px solid;
                      border-top: 6px solid;
                      border-left: 8px solid;
                      border-right: none;
                      border-color: transparent #e5eef2 transparent;
                    }
                  }
                }
              }
              .comments-message-fromname {
                float: right;
                color: #22282b;
                opacity: 0.3;
                width: 50px;
                margin-top: 29px;
              }
            }
            .comments-message-title {
              font-size: 11px;
              .comments-message-referencenum {
                margin-left: 18px;
              }
            }
            .comments-message-wrap {
              font-size: 11px;
              line-height: 1.4;
              color: $color-black;
              width: 82%;
              .comments-message-wrap-cloud {
                display: block;
                border-radius: 4px;
                padding: 12px 18px;
                min-height: 34px;
                position: relative;
                .message-cloud-tip-arrow {
                  width: 8px;
                  height: 12px;
                  bottom: auto;
                  display: block;
                  top: 11px;
                  position: absolute;
                  overflow: visible;
                  z-index: 3;
                }
              }
            }
          }*/
          /*.comments-addcomment-textarea {
            width: 269px;
            height: 64px;
            border-radius: 6px;
            border: solid 1px rgba(180, 191, 198, 0.5);
            resize: none;
            text-align: left;
            padding: 4px 6px;
            font-size: 12px;
            margin-bottom: 10px;
          }*/

          .comments-order-comments {
            padding-right: 14px;

            .comments-order-comments-content {
              font-size: 11px;
              line-height: 1.2;
              color: #454f51;
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.order-history-reorder {
  display: flex;
  justify-content: center;

  .reorder-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    padding: 15px;
    border: none;
    max-width: 200px;
    width: 100%;
    margin: 10px 0 10px 10px;
    background-color: #4ac9ff;
    color: #ffffff;
    cursor: pointer;

    &:disabled {
      background-color: #d8e5ed;
      color: #5d717d;
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width: 991px) {
  .order-history-block {
    .order-history-heading {
      padding: 0;
      display: flex;
      justify-content: space-between;
      @media (max-width:576px) {
        flex-direction: column;
        align-items: center;
      }

      .history-block-heading-date,
      .history-block-heading-ordernumber,
      .history-block-heading-ordertotal {
        margin: 0;
        font-size: 1em;
      }
    }

    .order-history-items {
      display: flex;
      flex-direction: column;

      .order-history-item {
        .order-history-item-cell {
          &.orderstatus-cell,
          &.itemid-cell,
          &.btn-cell,
          &.productscu-cell,
          &.itemid-cell {
            width: 40px;
          }
        }

        .full-order-info-slide {
          padding: 0;

          .notes-btn-wrapper {
            margin-left: 10px;
            @media(max-width:576px) {
              margin-left: 0;
              padding: 0 5px;
            }
          }

          .proofs-wrap {
            padding-right: 10px;

            .comments-message-wrapper {
              width: 100%;
            }
          }

          .comments-content {
            width: 100%;
            padding-left: 5px;
            padding-right: 10px;

            .comments-message-wrapper {
              width: 100%;
            }
          }

          &:last-child {
            border-bottom: none;
          }

          .order-info-staus-summary,
          .order-info-shipping-addresses,
          .order-info-artproof,
          .order-info-item-snapshot,
          .order-info-shipping-info {
            padding: 10px;
            

            .order-history-item-option {
              width: initial;

              &.left,
              &.right{
                padding: 0;
              }
            }
          }
          .order-info-artproof {
            .order-info-artproof-content {
              display: flex;
              flex-direction: row-reverse;

              .order-history-item-option {
                float: none;

                .order-info-artproof-heading {
                  margin: 0;
                }
              }
            }
          }

          .roll-up-button {
            position: relative;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .order-history-block {
    max-height: 100%;

    .order-history-items {
      .order-history-item {
        .order-history-item-cell.order-reorder {

          md-checkbox
          .md-label {
            display: none;
          }
        }
      }
    }
  }
}

.no-orders {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.my-account-page-section-header {
  margin-left: 27px;
}


table {
  width: 100%;

  tr {
    padding-bottom: 10px;

    td:first-child {
      width: 80%;
      padding-right: 5px !important;
    }
  }
  td {
    vertical-align: middle;
    padding: 0!important;
    padding-bottom: 8px !important;
  }

  thead {
    border-bottom: 1px solid rgba(181,192,199,.33);
  }

  tbody {
    padding: 0 10px;
  }

  tfoot {
    padding-top: 10px;
    border-top: 1px solid rgba(181,192,199,.33);
  }
}
