<div class="filter-wrapper">
    <div class="date-picker-start-date filter-item">
        <md-datepicker ng-model="start_date" md-placeholder="Start Date"></md-datepicker>
    </div>
    <div class="date-picker-end-date filter-item">
        <md-datepicker ng-model="end_date" md-placeholder="End Date"></md-datepicker>
    </div>
    <div class="title-search filter-item">
        <input type="text" ng-model="title_search">
        <i class="material-icons title-search-icon">search</i>
    </div>
    <div class="reset-search">
        <i class="material-icons reset-btn" ng-click="searchReset()">clear</i>
    </div>
</div>
<div class="my-account-page-section-content animated slideInRight">
    <div class="account-view-container">
        <div class="account-content-section-warp account-content-order-history">
            <div class="no-orders"
                 ng-show="!($cartService.orderHistoryItems | dateRange : start_date : end_date).length">
                <span class="description">No orders Found</span>
            </div>
            <div
                    id="product_{{ ::order.id }}"
                    class="order-history-block"
                    ng-class="{'expanded' : order.expanded}"
                    ng-style="{'max-height': order.style}"
                    ng-repeat="order in $cartService.orderHistoryItems | dateRange : start_date : end_date | titleSearch : title_search track by order.id"
                    ng-init="expandBlock(order)"
            >
                <div class="order-history-heading">
                    <span class="history-block-heading-date">{{ ::order.created_at | date:'short' }}</span>
                    <span class="history-block-heading-ordernumber">#{{ ::order.id }}</span>
                    <span class="history-block-heading-full order-confirmation"
                          ui-sref="router.order-confirmation({orderDetails:order})"
                    >View Order Confirmation
                    </span>
                    <!--                    <span class="history-block-heading-full order-items"-->
                    <!--                            ng-init="expandBlock(order)"-->
                    <!--                    >View Order Details-->
                    <!--                    </span>-->
                    <span class="history-block-heading-ordertotal right">
                        <b>Order Total:</b>
                        <span class="price-green">${{ ::order.total }}</span>
                    </span>
                </div>
                <ul class="order-history-items">
                    <li
                            class="order-history-item cart-item_{{ ::cartItem.id }}"
                            ng-class="{'item-opened' : cartItem.opened}"
                            ng-repeat="cartItem in order.cart_items">
                        <div class="order-history-item-rowgroup">
                            <div class="order-history-item-row"
                                 ng-class="{'closed' : markClosedRows(order.cart_items, cartItem.opened)}">
                                <div class="order-history-item-cell btn-cell">
                                    <button class="order-history-button-toggle general-item-switch-btn"
                                            ng-click="toggleOrder(cartItem)">
                                        <img src="/img/material-icons/ic_keyboard_arrow_down_black.svg" alt="">
                                    </button>
                                </div>
                                <div class="order-history-item-cell  productimage-cell">
                                    <img class="order-item-img" ng-src="{{ ::cartItem.product.thumbnail }}"
                                         fallback-src="img/image-not-available.jpg">
                                </div>
                                <div class="order-history-item-cell productscu-cell"
                                     ng-click="show(cartItem)"
                                     ui-sref="router.customize-order.options({ slug: cartItem.cart_item_data.product.full_slug })">
                                    #{{ ::cartItem.product.id }}
                                </div>
                                <div class="order-history-item-cell producttitle-cell">
                                    <span class="small-text" ng-bind-html="::cartItem.product.title | trust"></span>
                                </div>
                                <div class="order-history-item-cell orderstatus-cell">
                                    <span class="small-text">{{ ::cartItem.stage.name }}</span>
                                </div>
                                <div class="order-history-item-cell order-reorder">
                                    <md-checkbox ng-model="cartItem.reorder"
                                                 ng-change="specifyOrder(order, cartItem)"
                                                 aria-label="Checkbox No Ink"
                                                 class="md-primary grey-checkbox">
                                        <span>Reorder</span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="order-history-item-caption">
                            <div class="full-order-info-slide">
                                <span class="close-window" ng-click="cartItem.opened=false">
                                        <i class="material-icons">clear</i>Close
                                </span>
                                <div class="order-info-staus-summary row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <p class="staus-summary-ref">Sub-Reference #:
                                            <span>{{ order.id + 'S' + cartItem.id }}</span></p>
                                        <p class="staus-summary-date">Order Date:
                                            <span>{{ ::order.created_at | date: 'MM/dd/yyyy' }}</span></p>
                                        <p class="staus-summary-status">Order Status: <span>{{ ::cartItem.stage.name
                                            }}</span></p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tracking-block">
                                        <p>Date Shipped:
                                            <span>{{ (cartItem.tracking_information.tracking_shipping_date || ' - ') | date: 'MM/dd/yyyy'
                                                }}</span></p><!--10/03/2016-->
                                        <p>Shipping Courier:
                                            <span>{{ cartItem.tracking_information.tracking_shipping_company || ' - '
                                                }}</span></p>
                                        <p>Tracking #: <span>{{ cartItem.tracking_information.tracking_number || ' - '
                                            }}</span></p>
                                    </div>
                                </div>

                                <div class="order-info-shipping-addresses">
                                    <div class="order-history-item-option shipping-address-option">
                                        <h5>Shipping Address</h5>
                                        <p>{{ ::order.shipping_first_name }} {{ ::order.shipping_last_name }}</p>
                                        <p>{{ ::order.shipping_company_name }}</p>

                                        <p>{{ ::order.shipping_address_line_1 }}</p>
                                        <p>{{ ::order.shipping_address_line_2 }}</p>
                                        <p>{{ ::order.shipping_title }}</p>
                                        <p>{{ ::order.shipping_city }} {{ ::order.shipping_state }} {{ ::order.shipping_zip }}</p>
                                    </div>
                                    <div class="order-history-item-option shipping-address-option">
                                        <h5>Billing Address</h5>
                                        <p>{{ ::order.billing_first_name }} {{ ::order.billing_last_name }}</p>
                                        <p>{{ ::order.billing_company_name }}</p>

                                        <p>{{ ::order.billing_address_line_1 }}</p>
                                        <p>{{ ::order.billing_address_line_2 }}</p>
                                        <p>{{ ::order.billing_title }}</p>
                                        <p>{{ ::order.billing_city }} {{ ::order.billing_state }} {{ ::order.billing_zip }}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="notes-btn-wrapper">
                                    <div class="tabs-trigger" ng-class="{ 'tab-activated' : cartItem.detailsOpened}">
                                        <button class="proofs-opener-btn"
                                                ng-click="detailsOpener(cartItem); resetHeight(order)">Order Details
                                        </button>
                                    </div>
                                    <div class="tabs-trigger"
                                         ng-class="{ 'tab-activated' : cartItem.proofsOpened && !cartItem.detailsOpened }">
                                        <span class="badge"
                                              ng-class="{'red' : hasPending(cartItem.art_proofs)}">{{ ::cartItem.art_proofs.length
                                            }}</span>
                                        <button class="proofs-opener-btn"
                                                ng-click="proofsOpener(cartItem); resetHeight(order)">view proofs
                                        </button>
                                    </div>
                                    <div class="tabs-trigger"
                                         ng-class="{ 'tab-activated' : !cartItem.proofsOpened && !cartItem.detailsOpened }">
                                        <span class="badge">{{ ::cartItem.notes.length }}</span>
                                        <button class="notes-opener-btn"
                                                ng-click="notesOpener(cartItem); resetHeight(order)">view notes
                                        </button>
                                    </div>
                                </div>
                                <div class="proofs-wrap comments-content"
                                     ng-class="{ 'proofs-opened' : cartItem.proofsOpened && !cartItem.detailsOpened, 'proofs-empty' : !cartItem.art_proofs.length}">
                                    <div class="empty-block" ng-show="!cartItem.art_proofs.length">
                                        <span>No Proofs Available</span>
                                    </div>
                                    <div class="comments-message-wrapper"
                                         ng-repeat="proof in cartItem.art_proofs track by proof.id"
                                         ng-class="{'pending': proof.status === 'N/A'}">
                                        <div class="proof-block proof-block_{{ ::proof.id }}"
                                             ng-click="switchOpener(proof); resetHeight(order)">
                                            <span class="proof-id">Artproof #{{ ::proof.id }}</span>
                                            <div class="proof-download">
                                                <img class="proof-icon-pdf" src="/img/pdf-download-icon.png">
                                                <div class="proof-preview-actions">
                                                    <a class="action-download" ng-href="{{::proof.path}}"
                                                       target="_blank">
                                                        <i class="material-icons action-icon">remove_red_eye</i>
                                                        <span class="action-text">Preview</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="proof-created-date">{{ ::proof.created_at | date: 'MMMM dd, yyyy - hh:mm a'
                                                }}</span>
                                            <div class="proof-block-status-wrap">
                                                <h4 class="proof-status approved" ng-if="proof.status == 'approved'">
                                                    <i class="material-icons status-icon ng-binding">check</i>
                                                    <span class="status-text ng-binding">approved</span>
                                                </h4>
                                                <h4 class="proof-status declined" ng-if="proof.status == 'declined'">
                                                    <i class="material-icons status-icon ng-binding">clear</i>
                                                    <span class="status-text ng-binding">declined</span>
                                                </h4>
                                                <h4 class="proof-status pending" ng-if="proof.status == 'N/A'">
                                                    <i class="material-icons status-icon ng-binding">check</i>
                                                    <span class="status-text ng-binding">pending</span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="note-collapsed-block" ng-class="{'note-opened' : proof.opened}">
                                            <div class="comments-message administration-message" ng-if="::proof.note">
                                                <div class="comments-message-wrap">
                                                    <p class="comments-message-title">
                                                        {{ ::proof.created_at | date: 'MMMM dd, yyyy - hh:mm a' }}
                                                        <span class="comments-message-referencenum grey">#{{ ::proof.id
                                                            }}</span>
                                                    </p>
                                                    <div class="comments-message-wrap-cloud">
                                                        <span class="message-cloud-tip-arrow"></span>
                                                        <span ng-bind-html="::proof.note | trust"></span>
                                                    </div>
                                                </div>
                                                <div class="comments-message-fromname">Notes from Art Department</div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="comments-message user-message"
                                                 ng-if="proof.customer_note && proof.status !== 'N/A'">
                                                <div class="comments-message-wrap">
                                                    <p class="comments-message-title">
                                                        {{ ::proof.answered_at | date: 'MMMM dd, yyyy - hh:mm a' }}<span
                                                            class="comments-message-referencenum grey">#{{ ::proof.id
                                                        }}</span></p>
                                                    <div class="comments-message-wrap-cloud">
                                                        <span class="message-cloud-tip-arrow"></span>
                                                        {{ proof.customer_note }}
                                                    </div>
                                                </div>
                                                <div class="comments-message-fromname">Your Comment</div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="notes-img-wrap">
                                                <img src="/dist/img/dot-loader.gif" class="notes-img" alt="declined"
                                                     ng-if="proof.status == 'pending'">
                                            </div>

                                            <div class="notes-action-block" ng-if="proof.status == 'N/A'">
                                                <div class="textarea-wrapper">
                                                    <textarea name="addcomment"
                                                              class="comments-addcomment-textarea right"
                                                              ng-model="proof.customer_note"
                                                              placeholder="Write your comment for the Art Department">
                                                    </textarea>
                                                </div>

                                                <div>
                                                    <md-checkbox ng-model="proof.agreementAccept"
                                                                 aria-label="Checkbox No Ink"
                                                                 class="md-primary grey-checkbox">
                                                                <span class="small-text grey">I agree to the terms and conditions of
                                                                    <a href="" ng-click="openArtProofModal($event)">Art Approval</a>
                                                                </span>
                                                    </md-checkbox>
                                                </div>
                                                <button class="control-approve right"
                                                        ng-disabled="!proof.agreementAccept"
                                                        ng-click="$artProofs.approve(proof.id, proof.customer_note); proof.status = 'approved'">
                                                    <!--blue-button-->
                                                    <i class="material-icons control-icon">check</i>
                                                    <span>Approve</span>
                                                </button>
                                                <button class="control-deny right"
                                                        ng-click="$artProofs.decline(proof.id, proof.customer_note) ; proof.status = 'declined'"
                                                        ng-disabled="!proof.customer_note || proof.customer_note == ''">
                                                    <i class="material-icons control-icon">highlight_off</i>
                                                    <span>Decline</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div> <!--End proofs-->
                                </div>

                                <div class="comments-content"
                                     ng-class="{ 'toggle-open' : !cartItem.proofsOpened && !cartItem.detailsOpened}">
                                    <div class="empty-block" ng-show="!cartItem.notes.length">
                                        <span>No Notes Available</span></div>
                                    <div class="notes-wrapper" ng-class="{ 'notes-empty' : !cartItem.notes.length }">
                                        <div class="comments-message-wrapper"
                                             ng-repeat="note in cartItem.notes track by note.id">
                                            <div class="note-block note-block_{{ ::note.id }}"
                                                 ng-click="switchOpener(note); resetHeight(order)">
                                                <span class="note-id">Note #{{ ::note.id }}</span>
                                                <span class="note-created-date">{{ ::note.created_at | date: 'MMMM dd, yyyy - hh:mm a'
                                                    }}</span>
                                                <div class="note-block-status-wrap">
                                                    <h4 class="notes-status approved" ng-if="note.status == 'approved'">
                                                        <i class="material-icons status-icon ng-binding">check</i>
                                                        <span class="status-text ng-binding">approved</span>
                                                    </h4>
                                                    <h4 class="notes-status declined" ng-if="note.status == 'declined'">
                                                        <i class="material-icons Base Unit Price status-icon ng-binding">clear</i>
                                                        <span class="status-text ng-binding">declined</span>
                                                    </h4>
                                                    <h4 class="notes-status pending" ng-if="note.status == 'N/A'">
                                                        <i class="material-icons status-icon ng-binding">check</i>
                                                        <span class="status-text ng-binding">pending</span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="note-collapsed-block" ng-class="{'note-opened' : note.opened}">

                                                <div class="comments-message administration-message"
                                                     ng-if="::note.note">
                                                    <div class="comments-message-wrap">
                                                        <p class="comments-message-title">
                                                            {{ ::note.created_at | date: 'MMMM dd, yyyy - hh:mm a'
                                                            }}<span
                                                                class="comments-message-referencenum grey">#{{ ::note.id
                                                            }}</span></p>
                                                        <div class="comments-message-wrap-cloud">
                                                            <span class="message-cloud-tip-arrow"></span>
                                                            <span ng-bind-html="::note.note | trust"></span>
                                                        </div>
                                                    </div>
                                                    <div class="comments-message-fromname">Admin</div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="comments-message user-message"
                                                     ng-if="note.status === 'approved' || note.status === 'declined'">
                                                    <div class="comments-message-wrap">
                                                        <p class="comments-message-title">
                                                            {{ ::note.answered_at | date: 'MMMM dd, yyyy - hh:mm a'
                                                            }}<span
                                                                class="comments-message-referencenum grey">#{{ ::note.id
                                                            }}</span></p>
                                                        <div class="comments-message-wrap-cloud">
                                                            <span class="message-cloud-tip-arrow"></span>
                                                            {{ note.customer_note }}
                                                        </div>
                                                    </div>
                                                    <div class="comments-message-fromname">Your Comment</div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="notes-img-wrap">
                                                    <img src="/dist/img/dot-loader.gif" class="notes-img" alt="declined"
                                                         ng-if="note.status == 'pending'">
                                                </div>

                                                <div class="notes-action-block" ng-if="note.status == 'N/A'">
                                                    <div class="textarea-wrapper">
                                                        <textarea name="addcomment"
                                                                  class="comments-addcomment-textarea right"
                                                                  ng-model="note.customer_note">
                                                        </textarea>
                                                    </div>
                                                    <button class="control-approve right"
                                                            ng-click="sendUserNotesApprovement('approved', note)">
                                                        <!--blue-button-->
                                                        <i class="material-icons control-icon">check</i>
                                                        <span>Approve</span>
                                                    </button>
                                                    <button class="control-deny right"
                                                            ng-click="sendUserNotesApprovement('declined', note)">
                                                        <!--red-button btn-margin-right-->
                                                        <i class="material-icons control-icon">highlight_off</i>
                                                        <span>Decline</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="order-info-item-snapshot" ng-show="cartItem.detailsOpened">
                                    <div class="order-history-item-option left">
                                        <div class="item-snapshot-heading">
                                            <h3 class="snapshot-item-title">{{ ::cartItem.product.title }}</h3>
                                        </div>
                                        <img ng-src="{{ ::cartItem.product.thumbnail }}"
                                             fallback-src="img/image-not-available.jpg" class="item-preview-img"/>
                                        <div class="item-snapshot-comments">
                                            <div class="clearfix"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="order-history-item-option right">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                    </li>
                </ul>
            </div> <!-- End order item-->
            <div class="order-history-reorder" ng-if="$cartService.orderHistoryItems.length">
                <button class="reorder-btn" ng-click="reorder()" ng-disabled="!$cartService.isReorderBtnActive">
                    Reorder
                </button>
            </div>
        </div>
    </div>
</div>
<div class="art-approval-modal-wrap" ng-class="{'modal-opened' : artProofModalIsOpened }">
    <div class="dark-bg" ng-click="closeArtProofModal()"></div>
    <div class="art-approval-modal">
        <div class="art-approval-modal-header">
            <h3>Artwork terms</h3>
            <img class="close-modal" ng-click="closeArtProofModal()" src="/img/material-icons/ic_close_grey.svg" alt=""
                 role="button" tabindex="0">
        </div>
        <p class="red-text">You must read the agreement below.</p>
        <p>Please NOTE: upon approval of your art proof you are agreeing to the art work that was provided for you.
            Actual colors and imprint sizes might slightly vary do to resolutions and color management of monitors.</p>
        <p>We do not guarantee the colors that you see but it will be matched to the best of our ability to the
            specifications that you have provided. If you require a PMS match or have any other concerns please contact
            Customer Service prior to approving your art work by calling 888-577-6667.</p>
        <p>The following approval becomes a binding agreement. Superior Promos will proceed with production of the exact
            art that was approved. Changes can only be made until the order goes to production. Once the order reaches
            production stage, changes cannot be made.</p>
        <p class="green-text">I have reviewed my artwork and I am satisfied with the design (including art and
            text).</p>
        <p class="green-text">I have read the above agreement and would like Superior Promos to proceed with my
            order.</p>
    </div>
</div>
