.page-not-found {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  strong {
    display: block;
    font-size: 172px;
  }

  h4 {
    display: block;
  }

  .go-home-link {
    display: block;
    padding: 10px;
    font-size: 24px;
  }
}