.nav-menu-dropdown {
  position: absolute;
  background: white;
  padding: 0 125px;
  left: 0;
  top: 100%;
  width: 100%;
  margin: 0;
  border: none;
  user-select: none;
  display: none;
  z-index: 10;

  &.active {
    display: block;
  }

  .categories,
  .quick-links-list {
    display: flex;
    flex-direction: column;
    max-height: 420px;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .quick-links-list {
    .quick-link-item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      .link-icon {
        margin-right: 25px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .categories {
    padding: 0;

    .category-item {
      font-size: 13px;

      padding: 0 10px 10px 0;
      cursor: pointer;

      .material-icons {
        font-size: 16px;
      }

      &.heading-link {
        color: #3598db;
      }
    }
  }

  .category-list-heading {
    padding: 24px 0 15px 0;

    .heading-item {
      font-size: 13px;
      font-weight: 700;
      color:#2d3539;

      &.heading-link {
        color:#3598db;
      }

      .tm-arrow-back {
        font-size: 16px;

        &:hover {
          color:#3598db;
        }
      }
    }
  }

  .featured-items-list {
    display: flex;
    flex-direction: column;

    .featured-item {
      display: flex;
      border: 1px solid #e7eef3;
      margin-bottom: 10px;

      .featured-item-image {
        width: 112px;
        height: 112px;
        object-fit: contain;
      }

      .featured-item-info {
        display: flex;
        flex:1;
        flex-direction: column;
        padding: 5px;
        justify-content: space-around;

        .featured-item-head {
          font-size: 13px;
          font-weight: 700;
          color: #2d3539;
          margin: 0;
        }

        .featured-text,
        .featured-text-small {
          font-size: 10px;
          color:#2d3539;
        }

        .featured-text-small {
          opacity: .35;
        }

        .featured-price-and-control {
          display: flex;
          justify-content: space-between;

          .featured-price {
            font-size: 18px;
            color:#d0021b;
          }

          .featured-control {
            font-size: 13px;
            color: #3598db;
            cursor: pointer;
          }
        }
      }
    }
  }
}
