<div class="nav-menu-dropdown" ng-class="{'active' : isOpened}">
    <div class="row">
        <div class="col-md-4">
            <ul class="category-list-heading">
                <li ng-hide="$categories.showBackArrow()" class="heading-item heading-link" ng-click="showAllItems()">
                    Show All Items
                </li>
                <li ng-hide="!$categories.showBackArrow()" class="heading-item heading-link" ng-click="$categories.goBack()">
                    <i class="material-icons tm-arrow-back">keyboard_backspace</i>
                </li>
            </ul>
            <category-list instant-search="false" on-search="closeMenu"></category-list>
        </div>
        <div class="col-md-4">
            <ul class="category-list-heading">
                <li class="heading-item">
                    Quick Links
                </li>
            </ul>
            <ul class="quick-links-list" >
                <li class="quick-link-item"
                    ng-repeat="link in quickLinks | orderBy:'title'"
                    ng-click="goToItemFromCat(link.id)">
                    <img class="link-icon" ng-src="{{::link.image_src}}">
                    <span class="link-text">{{::link.name}}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="category-list-heading">
                <li class="heading-item">
                    Featured Items
                </li>
            </ul>
            <ul class="featured-items-list">
                <li class="featured-item" ng-repeat="item in featuredItems track by $index">
                    <img class="featured-item-image" ng-src="{{::item.thumbnail}}" fallback-src="img/image-not-available.jpg">
                    <div class="featured-item-info">
                        <h4 class="featured-item-head">{{::item.title}}</h4>
                        <div class="featured-text">
                            <div>Order as few as {{::item.min_quantity}}</div>
                            <div>Shipping {{::item.production_time}}</div>
                        </div>
                        <div class="featured-text-small">
                            As Low As
                        </div>
                        <div class="featured-price-and-control">
                            <span class="featured-price">${{::item.lowest_price}}</span>
                            <div class="featured-control" ng-click="customizeOrder(item.id)">Add to cart</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
