<div class="page-samples">
    <h2 class="static-title">Product Samples</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/1_5.svg" alt="">
            </div>
            <div class="mission-title">Not sure if the product is right for you?
                <p class="small">A sample can make that decision easier.</p></div>
            <div class="guarantee-info">
                <p class="has-check-mark">We understand that choosing the right product for your next event or promotion can be challenging. To help you decide which product is right
                    for you we offer imprinted and non-imprinted samples. Ordering a Product Sample is fast and easy on our advanced ecommerce website. To order
                    simply click on the Order Sample button located on every product page throughout the website.</p>
                <p class="has-check-mark">We thank you for choosing Superior Promos for all your promotional needs!</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/2_5.svg" alt="">
            </div>
            <div class="mission-title">HOW TO ORDER A SAMPLE </div>
            <div class="guarantee-info">
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>
                        To order a sample please go to a specific product page and select Order Sample link.
                        Create and account and follow the steps required to complete your request.
                        You can also request a sample by emailing your request to samples@superiorpromos.com
                    </span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>In your request please include the following: Item #(s), Quantity, Any Specific Color, Billing, Shipping & Contact Information and Shippers
                Account (if available).</span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>The samples department will contact you regarding your request within 24 hours.
                They will provide you with cost (if applies) and shipping options.</span>
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 order-block">
            <div class="guarantee-head">
                <img src="../../assets/img/static-icons/3_5.svg" alt="">
            </div>
            <div class="mission-title">SAMPLE POLICY</div>
            <div class="guarantee-info">
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>The cost of sample including shipping must be paid at the time of the sample request (if pricing applies)</span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>
                If you choose to place an order for an item which you have sampled. Superior Promos will credit the cost of that sample and the cost of
                its ground shipping towards your order.</span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>
                All samples are shipped either blank or with a random imprint. Samples may not be customized with personal information. If an actual Pre-Production
                proof is needed please email info@superiorpromos.com for details and pricing.</span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>
                All sample orders are shipped by Ground Service. If you need to expedite shipping please provide a shipping account number or request more information
                when ordering a sample.</span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>
                Limit 5 items. Maximum 3 pieces of each item.</span>
                </p>
                <p class="has-check-mark">
                    <img class="check" src="../../assets/img/material-icons/ic_check_grey.svg" alt="">
                    <span>
                Superior Promos reserves the right to reject any sample request.</span>
                </p>
            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
