.page-samples {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding: 0 0 25px 0;
  }

  .order-block {
    @media (min-width: 320px) and (max-width: 991px) {
      margin-bottom: 60px;
    }
  }

  .guarantee-info {
    font-weight: normal;
  }

  .has-check-mark {
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;

    .check {
      margin-right: 15px;
      width: 15px;
    }
  }
}
