@import "./../../scss/modules/variables";

.quick-links {
  background: #fff;
  border : 1px solid $color-border-grey;
  border-radius: 6px;
  font-size: 13px;
  padding: 10px;
  margin-top: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-family: 'Roboto', sans-serif;

  .quick-header {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #2d3539;
  }

  .quick-content {
    .link-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
      cursor: pointer;

      .link-icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
      
      .link-title {
        font-weight: normal;
      }
    }
  }
}

.quick-panel .quick-block .quick-links {
  border: none;
}
