<div class="quick-links" ng-show="isVisible">
    <div class="quick-header" ng-hide="isHeaderDisabled">
        Quick Links
    </div>
    <div class="quick-content">
        <ul class="quick-list">
            <li class="link-item"
                ng-click="goToLinkRef(link.slug)"
                ng-repeat="link in quickLinks track by link.id">
                <span class="link-title">{{ ::link.name }}</span>
            </li>
        </ul>
    </div>
</div>
