<div class="search-advanced">
    <bread-crumbs source="breadcrumbs"></bread-crumbs>
    <h1 class="advanced-header">Advanced Search</h1>
    <form class="advanced-search-form" ng-submit="search()">
        <div class="advanced-top">
            <div class="search-text">Keyword or SKU number</div>
            <div class="search-container">
                <i class="material-icons search-icon">
                    search
                </i>
                <input
                    type="text"
                    class="inp-quick-search"
                    ng-model="searchQuery"
                    placeholder="Search"
                >
            </div>
        </div>
        <div class="filter-container">
            <div class="filter-block categories">
                <div class="cats-block">
                    <h5 class="cat-header">Categories</h5>
                    <category-list sub-cats-disabled="true" text="{{searchText}}" pass-selected-category-back="true" dial="setSelectedCategory(id)"></category-list>
                </div>
                <div class="search-container">
                    <i class="material-icons search-icon">
                        search
                    </i>
                    <input type="text"
                        class="inp-quick-search"
                        placeholder="Search"
                        ng-model="searchText">
                </div>
            </div>
            <div class="filter-block">
                <h5 class="cat-header">Colors</h5>
                <color-filter colors="$colorsData.colors"></color-filter>
            </div>
            <div class="filter-block">
                <div class="pq-range">
                    <h5 class="cat-header">Production Time (days)</h5>
                    <div class="product-time-range">
                        <span class="range-val">{{sliderTime.min}}</span>
                        <rzslider rz-slider-model="sliderTime.min" rz-slider-high="sliderTime.max" rz-slider-options="sliderTime.options"></rzslider>
                        <span class="range-val">{{sliderTime.max}}</span>
                    </div>
                    <h5 class="cat-header margin">Price Range (USD)</h5>
                    <div class="product-price-range">
                        <span class="range-val">{{sliderPrice.min}}</span>
                        <rzslider rz-slider-model="sliderPrice.min" rz-slider-high="sliderPrice.max" rz-slider-options="sliderPrice.options"></rzslider>
                        <span class="range-val">{{sliderPrice.max}}</span>
                    </div>
                    <h5 class="cat-header margin">Available Quantity (pcs)</h5>
                    <div class="product-quantity-range">
                        <span class="range-val">{{sliderQuantity.min}}</span>
                        <rzslider rz-slider-model="sliderQuantity.min" rz-slider-high="sliderQuantity.max" rz-slider-options="sliderQuantity.options"></rzslider>
                        <span class="range-val">{{sliderQuantity.max}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-block">
            <div class="check-left"
                ng-click="goTo()">
                Return back
            </div>
            <div class="check-right">
                <button class="search-btn"
                    type="submit">
                    search now
                </button>
            </div>
        </div>
    </form>
</div>
