@import "~scss/modules/variables";

.search-advanced {
  margin: 10px 10%;
  @media (max-width:768px) {
    margin: 0;
  }

  .header-breadcrumbs {
    max-width: 100%;
  }

  .advanced-header {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 40px 0;
  }

  .advanced-search-form {
    max-width: 1440px;
    margin: 0 auto;

    .advanced-top {
      display: flex;
      align-items: center;
      background: $color-white;
      padding: 5px;
      border-radius: 10px;
    }

    .search-text {
      padding: 0 20px 0 15px;
      width: 215px;
    }
    .search-container {
      position: relative;
      display: flex;
      align-items: center;
      background: #e6eef2;
      border-radius: 5px;
      padding: 5px;
      width: 100%;

      .inp-quick-search {
        border: none;
        background: transparent;
        width: 100%;
        padding: 10px;

        &::placeholder {
          font-size: 13px;
          color: #99adba;
          font-weight: normal;
        }
      }

      .search-icon {
        margin-left: 5px;
      }
    }
  }

  .filter-container {
    display: flex;
    margin-top: 10px;
    @media (max-width:768px) {
      flex-direction: column;
    }

    .filter-block {
      width: 33%;
      height: 255px;
      background: $color-white;
      border-radius: 6px;
      margin-right: 10px;
      padding: 5px;
      position: relative;
      @media (max-width:768px) {
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }

      &.categories {
        height: 340px;
      }

      .cat-header {
        padding: 5px;

        &.margin {
          margin-top: 20px;
        }
      }

      .cats-block {
        .categories {
          padding: 5px;
          overflow-y: auto;
          height: 250px;

          .category-item {
            .category-title {
              color: #99adba;
            }
          }
        }
      }

      .color-filter {
        max-height: 220px;

        .color-title {
          color: #99adba;
        }
      }

      .search-container {
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: calc(100% - 10px);
      }
    }
  }

  .action-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #99adba;
    margin: 50px 0 50px;
    @media (max-width:768px) {
      flex-direction: column;
    }

    &.no-margin {
      margin: 0;
    }

    .check-left {
      cursor: pointer;
    }

    .check-right {
      display: flex;
      align-items: center;
      @media (max-width:768px) {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
      }
      .save-cart {
        display: flex;
        align-items: center;
        margin-right: 30px;
        color: #2d3539;

        .save-cart-img {
          margin-right: 10px;
        }
      }

      .search-btn {
        max-width: 294px;
        width: 100%;
        padding: 15px;
        background-color: #4ac9ff;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 10px;
        border: none;
      }
    }
    
    .save-cart-img {
      width: 17px;
    }
  }
}
