<div class="toggler">
  <label class="switch" for="{{'toggler_' + instance.$id}}">
    <input
      type="checkbox"
      ng-model="sourceModel"
      ng-change="changeSource()"
      id="{{'toggler_' + instance.$id}}"
    >
    <span class="slider round"></span>
  </label>
</div>