.toggler {
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
  }

  .switch input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 10;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: all .1s ease;
    box-sizing: border-box;
    cursor: pointer;
  }

  .slider:before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: -1px;
    bottom: -1px;
    background-color: #fff;
    transition: all .1s ease;
    border: 1px solid #99adba;
  }

  input:checked + .slider {
    background-color: #454f51;
    border: 1px solid #454f51;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #454f51;
    border: 1px solid transparent;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
    box-shadow: none;
    border: 1px solid #454f51;
    left: 2px;
    bottom: -1px;
  }

  .slider.round {
    border-radius: 34px;
    box-sizing: border-box;
    border: 1px solid #99adba;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}