.page-mission {
  padding: 25px 125px;

  @media (min-width: 320px) and (max-width: 991px)  {
    padding: 0 0 25px 0;
  }

  .mission-wrapper {
    display: flex;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 768px) {
      display: block;
    }

    .mission-block {
      width: 32%;

      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .mission-info {
    font-size: 13px;
    line-height: 1.42;
    color: #22282b;
    font-weight: normal;
    margin-bottom: 40px;
  }
}
