<div class="page-mission">
    <h2 class="static-title">Mission Statement</h2>
    <div class="mission-wrapper">
        <div class="mission-block">
            <div class="mission-head">
                <img src="../../assets/img/static-icons/1_3.svg" alt="">
            </div>
            <div class="mission-title">Easy navigation and various search options</div>
            <div class="mission-info">
                Our goal is to provide a perfect medium for purchasing promotional products so we set out to create a website with the customer in mind.
                Our website provides consumers with easy navigation and various search options guaranteeing that their shopping experience is effortless and enjoyable.
            </div>
        </div>
        <div class="mission-block">
            <div class="mission-head">
                <img src="../../assets/img/static-icons/2_3.svg" alt="">
            </div>
            <div class="mission-title">Easy navigation and tracker of orders</div>
            <div class="mission-info">
                Every aspect of the website is designed to help customers navigate and keep track of their orders with ease. Our objective is to let the website not only
                act as a simple purchasing tool, but to become an educational marketplace for promotional products. Most consumers are unaware of the full potential of promotional items.
            </div>
        </div>
        <div class="mission-block">
            <div class="mission-head">
                <img src="../../assets/img/static-icons/3_3.svg" alt="">
            </div>
            <div class="mission-title">Maximum information</div>
            <div class="mission-info">
                Our goal of educating and giving the client as much information as possible allows them to make the best decision and feel confident in their purchase.
                We feel that by providing a high-speed, user-friendly website with top of the line security and reliability, we are ensuring that our customers receive paramount service.
            </div>
        </div>
    </div>
    <button class="go-shopping" ui-sref="router.home">Go shopping</button>
</div>
