<div class="modal modal-confirm-delete" ng-click="close()">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" ng-click="handleClick($event)">
            <div class="modal-header">
                
                <h4 class="modal-title red">PLEASE NOTE!</h4>
            </div>
            <div class="modal-body">
                <p class="please-note">
                    In-hand date is determined by the item's production time, transit time and type of shipping method
                    selected. Number of imprint colors / locations can also be a factor. If there is an issue with the
                    selected in-hand date based on any of the aforementioned factors. Customer Service will review the
                    order and contact you to insure the order arrives on time
                </p>

                <button type="button" class="close-btn" ng-click="close()">OK</button>
            </div>
        </div>
    </div>
</div>
