@import "../../scss/modules/variables";

.modal:hover, 
.modal-content:hover {
  cursor: default;
}

.modal-header {
  width: 100%;

  .red {
    color: $color-red;
    text-align: center;
  }
}

.modal-body {
  display: flex;
  justify-content: center;

  .please-note {
    font-weight: 500;
    line-height: 24px;
  }

  .close-btn {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    border: none;
    background: #000;
    opacity: .2;
    align-self: center;
    margin-top: 15px;
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
      opacity: .5;
    }
  }
}
