<div class="success-sample-container">
    <div class="success-sample-block">
        <h2 class="success-sample__title">Thank you for your order</h2>
        <br />
        <p class="success-sample__messsage">The samples department will contact you regarding your request within 24 hours. They will provide you with cost (if applies)</p>
        <div class="success-sample-info-block">
            <span class="success-sample__info">Sample Order # {{numberOfSampleOrder}}</span>
            <button class="btn btn-go-shopping" ng-click="$state.go('router.home')">go shopping</button>
        </div>
    </div>
</div>

