@import "~scss/modules/variables";

.success-sample-container {
  display: flex;
  justify-content: center;
}

.success-sample-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  text-align: center;

  .success-sample-info-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    @media (max-width:576px) {
      flex-direction: column;
    }

    .success-sample__info {
      border: 1px solid $color-blue-light-2;
      border-radius: 5px;
      padding: 20px 40px;
    }
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-go-shopping {
    background: #4ac9ff;
    font-size: 23px;
    font-weight: 900;
    line-height: .96;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    max-width: 264px;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: 15px;
    @media (max-width:576px) {
      margin: 15px 0 0 0;
    }
  }
}
