<div class="address-edit-page animated slideInRight">
    <div class="address-list">
        <address-list source="$addressBook.addressBook"></address-list>
    </div>
    <div class="address-form">
        <address-edit-form source="address"></address-edit-form>
    </div>
</div>