@import "~scss/modules/variables";

.small-text {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #899399;

  &.activated {
    color: #2d3539;
    font-weight: 400;
  }
}

.big-text {
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: right;
  color: #454f51;
  display: flex;
  flex-direction: column;
}

.step-artwork {
  &.custom-slideInRight {  //custom animation to prevent color selector dropdown fader clip
    -webkit-animation-name: customSlideInRight;
    animation-name: customSlideInRight;
  }

  .imprint-option-block {
    padding: 20px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d8e5ed;
    text-align: center;
    font-size: 15px;

    .flex-block {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &.imprint-item {
      border: none;
    }

    &.no-pad {
      padding-top: 0;
    }

    .imprint-option-header {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $base-font;
      padding-bottom: 15px;

      .im-header {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: normal;
        color: #454f51;
        margin-bottom: 5px;
      }

      .im-info {
        font-size: 11px;
        font-weight: 400;
        margin-top: 5px;
      }

      &.no-flex {
        display: block;
      }
    }

    .im-err {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -.2px;
      color: #d0021b;
      margin-top: 5px;
    }

    .imprint-options {
      width: 100%;

      .op-item {
        margin-bottom: 5px;
        background: $color-background;
        padding: 5px 10px 5px 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:first-child {
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
        }

        &:last-child, 
        &.bottom-rounded {
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        .op-item-radio {
          margin-bottom: 0;

          .md-label {
            margin-left: 35px;
          }
        }

        &.imprint-button {
          display: flex;
          justify-content: space-between;
        }

        .op-item-text {
          @extend .small-text;

          &.activated {
            font-weight: 500;
            color: #2d3539;
          }
        }

        .op-item-block {
          @extend .small-text;
          font-weight: 500;
          color: #2d3539;
          display: flex;
          justify-content: space-between;
          margin-left: 12px;
          width: 100%;

          .im-info {
            display: flex;
            align-items: center;
          }

          .sided {
            width: 30%;
            line-height: 1.18;
            display: flex;
            align-items: center;

            &.file-list {
              width: 70%;

              .file {
                margin-bottom: 5px;

                .delete {
                  color: $color-red;
                }
              }
            }

            .small-text {
              text-align: right;
            }

            &:last-child {
              flex-direction: column;
              align-items: flex-end;
              width: 40%;
            }

            .material-icons {
              color: #899399;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }

        &.padded {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .art-icon {
          width: 18px;
          margin: 0 18px 0 3px;
        }

        .op-number {
          width: 25px;
          text-align: center;
        }

        .art-file-options-text {
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .op-item-info {
        @extend .small-text;
        padding: 5px;
      }

      .op-item-comment {
        border-radius: 6px;
        padding: 0 5px 35px;
        background: #e6eef2;

        .comment {
          border-radius: 4px;
          padding: 10px;
          background: $color-white;
          border: none;
          resize: none;
          width: 100%;
        }
      }

      .add-item {
        margin-left: 55px;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
        background: $color-blue;
        height: 24px;
        width: 90px;
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        .material-icons {
          font-size: 14px;
        }
      }
    }
  }

  .imprints {
    border-bottom: 1px solid #d8e5ed;
  }

  .artwork {
    border-bottom: 1px solid #d8e5ed;

    .imprint-option-block {
      .imprint-option-header {
        display: block;
      }

      .imprint-options {
        .item-rounded {
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        .op-item-block {
          margin-left: 0;
        }

        .op-item-text {
          &.error {
            display: block;
            text-align: right;
            color: $color-red;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .no-border {
    border: none;
  }
}

@keyframes customSlideInRight { //exactly this hack worked
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

md-radio-button.md-default-theme .md-off,
md-radio-button .md-off {
  border: 2px solid rgba(45, 53, 57, 0.5);
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  margin: auto;
}

md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: $color-darkest-blue;
  width: 20px;
  height: 20px;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: $color-darkest-blue;
}

md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
  background-color: $color-darkest-blue;
  opacity: 0.1;
}

.imprintNotError {
  border: none;
}
