<div id="impr-err" class="step-artwork step-content animated custom-slideInRight">
    <div id="err" class="imprints">
        <md-radio-group
            ng-change="onImprintsBlankChange(orderService.orderItem.orderData)"
            ng-model="imprintOption">
            <div class="imprint-option-block"
              ng-class="{'no-border' : imprintOption === 'blank'}">
                <div class="imprint-options">
                    <div class="op-item padded imprint-button">
                        <md-radio-button aria-label="Checkbox No Ink" value="decorated" class="op-item-radio">
                            <span
                              class="op-item-text"
                              ng-class="{ 'activated' : imprintOption === 'decorated'}">
                                Decorated (with your logo and/or text)
                            </span>
                        </md-radio-button>
                        <md-radio-button aria-label="Checkbox No Ink" value="blank" class="op-item-radio">
                            <span
                                    class="op-item-text"
                                    ng-class="{'activated' : imprintOption === 'blank'}">
                                Blank Goods (nothing will be imprinted)
                            </span>
                        </md-radio-button>
                    </div>
                </div>
            </div>
        </md-radio-group>
        <!--  repeated imprints blocks -->
        <div ng-if="imprintOption !== 'blank'" class="imprint-option-block no-border" ng-class="{'no-pad' : $index > 0}">
            <span>Please select an imprint location(s) below, additional cost may apply for multiple locations.</span>
            <div class="imprint-option-header" ng-if="checkImprintErrors(imprint.id, orderService.orderItem.orderData)">
                <div
                    id="error_imprints"
                    scroll-to-element
                    source="checkImprintErrors(imprint.id, orderService.orderItem.orderData)"
                    class="im-err">
                    Location selection is required
                </div>
            </div>
        </div>
        <div class="imprint-option-block no-border"
             ng-if="imprintOption !== 'blank'"
             ng-class="{'no-pad' : $index > 0}"
             ng-repeat="imprint in productImprints track by $index">
            <div  class="flex-block">
                <div class="imprint-option-header no-flex">
<!--                    <h3 class="im-header">Please select an imprint location</h3>-->
                    <div
                        id="error_{{::imprint.id}}"
                        scroll-to-element
                        source="checkImprintErrors(imprint.id, orderService.orderItem.orderData) === imprint.id"
                        class="im-err"
                        ng-if="checkImprintErrors(imprint.id, orderService.orderItem.orderData) === imprint.id"
                    >
                        Color selection is required
                    </div>
                </div>
                <div class="imprint-option-header no-flex">
                    <div
                        id="error_{{::imprint.id}}"
                        scroll-to-element
                        class="im-err"
                        ng-if="checkQuantityError(imprint, orderService.orderItem.orderData) === imprint.id"
                    >
                        Insufficient quantity for selected imprint
                    </div>
                </div>
                <div  class="imprint-options">
                    <div
                      class="op-item padded"
                      ng-init="imprint.selected = orderService.orderItem.orderData.imprints[this.imprint.id].selected"
                      ng-class="{'bottom-rounded' : !orderService.orderItem.orderData.imprints[imprint.id].data || !orderService.orderItem.orderData.imprints[imprint.id].data.colors.length}">
                        <toggler
                            source="imprint"
                            product="orderService.orderItem"
                            instance="this"
                            expanded="true"
                            name="imprints"
                            ng-model="imprintTogle"
                            ng-change="imprintTogle"></toggler>
                        <div
                          class="op-item-block"
                          ng-init="imprintSelector[imprint.id].expanded = false">
                            <div class="sided">
                                {{ ::imprint.name }}
                            </div>
                            <div class="im-info">
                                Max colors: {{ ::imprint.max_colors }}
                            </div>
                            <div class="sided">
                                <div class="small-text">
                                    Price includes 1 color imprint
                                </div>
                                <div class="big-text">
                                    <span ng-show="imprint.imprint_prices[0].setup_price !== '0.00'">Setup Fee: {{ imprint.imprint_prices[0].setup_price | currency: '$' }}</span>
                                    <span ng-show="imprint.imprint_prices[0].item_price !== '0.00'">Additional Fee (per item): {{ imprint.imprint_prices[0].item_price | currency: "$" }}</span>
                                    <span ng-show="imprint.imprint_prices[0].color_setup_price !== '0.00'">Additional Color Setup fee: {{ imprint.imprint_prices[0].color_setup_price | currency: "$" }}</span>
                                    <span ng-show="imprint.imprint_prices[0].color_item_price !== '0.00'">Additional Color fee (per item): {{ imprint.imprint_prices[0].color_item_price | currency: "$" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="op-item"
                         ng-repeat="color in orderService.orderItem.orderData.imprints[imprint.id].data.colors track by $index+Date.now()"
                         ng-if="orderService.orderItem.orderData.imprints[imprint.id].selected"
                         ng-class="{'bottom-rounded' : orderService.orderItem.orderData.imprints[imprint.id].data.colors.length - 1 === $index}">
                        <span class="op-number">{{ $index + 1 }}</span>
                        <div class="op-item-block">
                            <div class="sided">
                                <ui-select ng-model="color"
                                           theme="bootstrap"
                                           class="ship-select ship-account"
                                           ng-change="orderService.orderItem.replaceImprintColor(imprint, $select.selected, $index)"
                                >
                                    <ui-select-match placeholder="Choosen color">
                                        <div class="selected-color">
                                            <span
                                                ng-style="colorStyle($select.selected.color_hex)"
                                                class="color-sample"
                                            ></span>
                                            <span class="color-title">{{ $select.selected.title }}</span>
                                        </div>
                                    </ui-select-match>
                                    <ui-select-choices
                                      repeat="color in imprint.color_group.colors | orderBy: 'title' track by $index">
                                         <span
                                             ng-style="colorStyle(color.color_hex)"
                                             class="color-sample"></span>
                                        <div>{{ color.title }}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="sided">
                                <i ng-if="orderService.orderItem.orderData.imprints[imprint.id].data.colors.length >= 2"
                                   class="material-icons"
                                   ng-click="orderService.orderItem.removeImprintColor(imprint, color, $index)">
                                    clear
                                </i>
                            </div>
                        </div>
                    </div>
                    <button
                        class="add-item"
                        ng-if="imprint.color_group.colors && !orderService.orderItem.isImprintMaxColorsSelected(imprint.id, imprint.max_colors) && orderService.orderItem.orderData.imprints[imprint.id].selected"
                        ng-click="orderService.orderItem.addImprintColor(imprint, imprint.color_group.colors[0]); toggleColorSelector(imprintSelector[imprint.id]);"
                    >
                        Add color
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
