<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Administrator</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="name" placeholder="Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Email</label>
                                <input ng-model="item.email" type="email" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="email" placeholder="Email" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.email">{{ errors.email[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <input ng-model="item.password" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="password" placeholder="Password" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.password">{{ errors.password[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="password_confirmation" class="control-label">Confirm Password</label>
                                <input ng-model="item.password_confirmation" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="password_confirmation" placeholder="Password Confirmation" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.password_confirmation">{{ errors.password_confirmation[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" ng-model="item.role" id="admin" value="1">
                                    <label class="form-check-label" for="admin">Administrator</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" ng-model="item.role" id="manager" value="3">
                                    <label class="form-check-label" for="manager">Manager</label>
                                </div>
                                <strong class="text-danger" ng-show="errors.role">{{ errors.role[0] }}</strong>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.active">Active
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.can_delete">Can do action "delete" (only for manager)
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
