<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editable Block</h4>
            </div>
            <div class="modal-body">
                <form class="form-group-sm" ng-submit="saveItem()">
                    <div>
                        <label for="content" class="control-label">Content</label>
                        <textarea id="content" ui-tinymce="tinymceOptions" ng-model="item.content" class="form-control" rows="14"></textarea>
                        <strong class="text-danger" ng-show="errors.content">{{ errors.content[0] }}</strong>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.active">Active
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
