<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Case Study</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form name="userNoteForm" class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="title" class="control-label">Subject</label>
                                <input ng-model="item.title" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="title" placeholder="Subject" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.title">{{ errors.title[0] }}</strong>
                            </div>
                            <div>
                                <label for="body" class="control-label">Article</label>
                                <textarea id="body" ui-tinymce="tinymceOptions" ng-model="item.body" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.body">{{ errors.body[0] }}</strong>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.active">Active
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
