<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Color Group</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control" id="name" placeholder="Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="colors" class="control-label">Colors</label>
                                <ui-select class="color-multi-select" id="colors" multiple ng-model="item.colors.selected" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" title="Choose a color">
                                    <ui-select-match placeholder="Select a color ...">
                                        <span class="color-block" ng-style="{'background-color': $item.color_hex}" style="background-color: rgb(255, 0, 0);"></span> 
                                        <span class="color-name">{{ $item.name }}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="color in colors | filter:$select.search">
                                        <span class="color-block" ng-style="{'background-color': color.color_hex}" style="background-color: rgb(255, 0, 0);"></span> {{ color.name }}
                                    </ui-select-choices>
                                </ui-select>
                                <strong class="text-danger" ng-show="errors.colors">{{ errors.colors[0] }}</strong>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
