<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Color</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="name" placeholder="Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="color_hex" class="control-label">Color hex</label>
                                <color-picker id="color_hex" ng-model="item.color_hex" options="options"></color-picker>
                                <strong class="text-danger" ng-show="errors.color_hex">{{ errors.color_hex[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="picture_width" class="control-label">Picture width</label>
                                <input ng-model="item.picture_width" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="picture_width" placeholder="Picture width" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.picture_width">{{ errors.picture_width[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="picture_height" class="control-label">Picture height</label>
                                <input ng-model="item.picture_height" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="picture_height" placeholder="Picture height" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.picture_height">{{ errors.picture_height[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="pms_colors" class="control-label">PMS Color</label>
                                <selectize id="pms_colors" placeholder="PMS Color" config='{valueField: "id", labelField: "name", maxItems: 1}' options='pms_colors' ng-model="item.pms_color_id"></selectize>
                                <strong class="text-danger" ng-show="errors.pms_color_id">{{ errors.pms_color_id[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="question" class="control-label">Groups</label>
                                <ui-select multiple ng-model="item.groups" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" style="width: 300px;" title="Choose a group">
                                    <ui-select-match placeholder="Select color groups...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="group in color_groups | filter:$select.search">
                                        {{group.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <strong class="text-danger" ng-show="errors.groups">{{ errors.groups[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="image"><b>Image</b></label>
                                    <div ngf-drop ngf-select id="image" ng-model="image"
                                         class="drop-box"
                                         name="file"
                                         style="width: 100px; height: 100px"
                                         ngf-drag-over-class="'dragover'"
                                         ngf-multiple="false">
                                        Drop file to upload
                                    </div>
                                    <div ng-if="image">File: {{image.name}}</div>
                                    <a ng-if="item.picture_src.length > 10" target="_blank" href="/storage/colors/{{item.picture_src}}">
                                        <img class="img-thumbnail admin-thumbnail" src="/storage/colors/{{item.picture_src}}">
                                    </a>
                                    <strong class="text-danger" ng-show="errors.image">{{ errors.image[0] }}</strong>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
