<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">FAQ</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="question" class="control-label">Question</label>
                                <input ng-model="item.question" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="question" placeholder="Question" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.question">{{ errors.question[0] }}</strong>
                            </div>
                            <div>
                                <label for="answer" class="control-label">Answer</label>
                                <textarea id="answer" ui-tinymce="tinymceOptions" ng-model="item.answer" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.answer">{{ errors.answer[0] }}</strong>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.active">Active
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
