<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Page</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form name="userNoteForm" class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                <input ng-model="item.title" type="text" class="form-control" id="title" placeholder="Title" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.title">{{ errors.title[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="slug" class="control-label">URL Name</label>
                                <input ng-model="item.slug" type="text" class="form-control" id="slug" placeholder="Slug" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.slug">{{ errors.slug[0] }}</strong>
                            </div>
                            <div>
                                <label for="meta_title" class="control-label">Meta Title</label>
                                <textarea id="meta_title" ng-model="item.meta_title" class="form-control" rows="8"></textarea>
                                <strong class="text-danger" ng-show="errors.meta_title">{{ errors.meta_title[0] }}</strong>
                            </div>
                            <div>
                                <label for="meta_description" class="control-label">Meta Description</label>
                                <textarea id="meta_description" ng-model="item.meta_description" class="form-control" rows="8"></textarea>
                                <strong class="text-danger" ng-show="errors.meta_description">{{ errors.meta_description[0] }}</strong>
                            </div>
                            <div>
                                <label for="meta_keywords" class="control-label">Keywords</label>
                                <textarea id="meta_keywords" ng-model="item.meta_keywords" class="form-control" rows="8"></textarea>
                                <strong class="text-danger" ng-show="errors.meta_keywords">{{ errors.meta_keywords[0] }}</strong>
                            </div>
                            <div>
                                <label for="body" class="control-label">Content</label>
                                <textarea id="body" ui-tinymce="tinymceOptions" ng-model="item.body" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.body">{{ errors.body[0] }}</strong>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.status">Active
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
