<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Payment Information Template</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form name="userNoteForm" class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="title" class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control" id="title" placeholder="Subject" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div>
                                <label for="single_body" class="control-label">Single Color Template</label>
                                <textarea id="single_body" ui-tinymce="tinymceOptions" ng-model="item.single_body" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.single_body">{{ errors.single_body[0] }}</strong>
                            </div>
                            <div>
                                <label for="multiple_body" class="control-label">Multi Color Template</label>
                                <textarea id="multiple_body" ui-tinymce="tinymceOptions" ng-model="item.multiple_body" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.multiple_body">{{ errors.multiple_body[0] }}</strong>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
