<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Post</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                <input ng-model="item.title" type="text" class="form-control" id="title" placeholder="Title" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.title">{{ errors.title[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="categories" class="control-label">Category</label>
                                <selectize id="categories" placeholder="Category" config='{valueField: "id", labelField: "title", maxItems: 1}' options='categories' ng-model="item.post_category_id"></selectize>
                                <strong class="text-danger" ng-show="errors.post_category_id">{{ errors.post_category_id[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="seo_title" class="control-label">Seo Title</label>
                                <input ng-model="item.seo_title" type="text" class="form-control" id="seo_title" placeholder="Title" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.seo_title">{{ errors.seo_title[0] }}</strong>
                            </div>
                            <div>
                                <label for="excerpt" class="control-label">Excerpt</label>
                                <textarea id="excerpt" ui-tinymce="tinymceOptions" ng-model="item.excerpt" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.excerpt">{{ errors.excerpt[0] }}</strong>
                            </div>
                            <div>
                                <label for="body" class="control-label">Body</label>
                                <textarea id="body" ui-tinymce="tinymceOptions" ng-model="item.body" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.body">{{ errors.body[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="image"><b>Image</b></label>
                                    <div ngf-drop ngf-select ng-model="image" id="image"
                                         class="drop-box"
                                         name="file"
                                         style="width: 100px; height: 100px"
                                         ngf-drag-over-class="'dragover'"
                                         ngf-multiple="false">
                                        Drop file to upload
                                    </div>
                                    <img ng-if="item.image" class="img-thumbnail admin-thumbnail" ng-src="/uploads/{{item.image}}"/>
                                </div>
                                <strong class="text-danger" ng-show="errors.image">{{ errors.image[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="slug" class="control-label">Slug</label>
                                <input ng-model="item.slug" type="text" class="form-control" id="slug" placeholder="Slug" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.slug">{{ errors.slug[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="meta_description" class="control-label">Meta description</label>
                                <input ng-model="item.meta_description" type="text" class="form-control" id="meta_description" placeholder="Meta description" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.meta_description">{{ errors.meta_description[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="meta_keywords" class="control-label">Meta keywords</label>
                                <input ng-model="item.meta_keywords" type="text" class="form-control" id="meta_keywords" placeholder="Meta keywords" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.meta_keywords">{{ errors.meta_keywords[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="status" class="control-label">Status</label>
                                <selectize id="status" placeholder="Status" config='{valueField: "id", labelField: "text", maxItems: 1}' options='postStatuses' ng-model="item.status"></selectize>
                                <strong class="text-danger" ng-show="errors.status">{{ errors.status[0] }}</strong>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.featured"> Featured
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
