<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Post Category</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                <input ng-model="item.title" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="title" placeholder="Title" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.title">{{ errors.title[0] }}</strong>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
