<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Product Icon</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="name" placeholder="Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="text" class="control-label">Text</label>
                                <textarea id="text" ng-model="item.text" class="form-control" rows="6"></textarea>
                                <strong class="text-danger" ng-show="errors.text">{{ errors.text[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Icon</label>
                                <div ngf-drop ngf-select ng-model="item.icon" class="drop-box" name="item.icon"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                    Drop file to upload
                                </div>
                                <img ngf-thumbnail="item.icon" class="img-thumbnail admin-thumbnail" >
                                <img ng-if="!item.icon" class="img-thumbnail admin-thumbnail" ng-src="{{item.image_src}}"/>
                                <strong class="text-danger" ng-show="errors.icon">{{ errors.icon[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Position</label>
                                <ui-select ng-model="item.position">
                                    <ui-select-match placeholder="Position">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in positions">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <strong class="text-danger" ng-show="errors.position">{{ errors.position[0] }}</strong>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
