<div class="modal bs-example-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Editable Block</h4>
      </div>
      <form class="modal-body form-group-sm" ng-submit="saveItem()">
        <div style="margin-bottom: 15px;">
          <label for="link" class="control-label">Link</label>
          <input type="text" id="link" class="form-control" ng-model="item.url" /> <!-- ui-tinymce="tinymceOptions" -->
        </div>
        <div style="margin-bottom: 15px;">
          <label for="image" class="control-label">Image</label>
          <!-- <div class="col-sm-10 drop-box" style="width: 100px; height: 100px" ngf-drop ngf-select ng-model="uploadedImage"
            ngf-drag-over-class="'dragover'" ngf-multiple="false"
            ngf-select="addFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">
            Drop file to upload
          </div> -->
          <input type="file" id="image" accept="image/x-png,image/jpeg" ng-model="item.image_src" onchange="angular.element(this).scope().addFile(this.files)" />
        </div>
        <img style="display:block;max-width:100px;max-height:100px;" class="preview-image" ng-src="{{ item.image_src }}" alt="{{ item.title + ' image' }}">
        <div>
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
