<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Review</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form name="userNoteForm" class="form-group-sm">
                            <div class="form-group">
                                <label for="reviewer_name" class="control-label">Reviewer Name</label>
                                <input ng-model="item.reviewer_name" type="text" class="form-control" id="reviewer_name" placeholder="Reviewer Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.reviewer_name">{{ errors.reviewer_name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="reviewer_email" class="control-label">Reviewer Email</label>
                                <input ng-model="item.reviewer_email" type="text" class="form-control" id="reviewer_email" placeholder="Reviewer Email" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.reviewer_email">{{ errors.reviewer_email[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="reviewer_email" class="control-label">Company name</label>
                                <input ng-model="item.company_name" type="text" class="form-control" id="company_name" placeholder="Company name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.company_name">{{ errors.company_name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="rating" class="control-label">Rating</label>
                                <input ng-model="item.rating" type="number" max="5" min="0" class="form-control" id="rating" placeholder="Rating" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.rating">{{ errors.rating[0] }}</strong>
                            </div>
                            <div class="form-group" ng-show="!item.id">
                                <label for="product_id" class="control-label">Product</label>

                                <ui-select ng-model="item.product_id" id="product_id">
                                    <ui-select-match placeholder="Search for Products">
                                        {{$select.selected.id}} - {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="searchMedia($select)" refresh-delay="50"
                                                       repeat="product.id as product in products">
                                        <span ng-bind="product.id"></span> - <span ng-bind="product.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <strong class="text-danger" ng-show="errors.product_id">{{ errors.product_id[0] }}</strong>
                            </div>

                            <div class="form-group">
                                <label for="review_date">Review date:</label>
                                <br />
                                <input type="date"
                                       data-date-format="DD MMMM YYYY"
                                       ng-model="item.review_date"
                                       value="{{ item.review_date }}"
                                       id="review_date"
                                       name="review_date">
                                <strong class="text-danger" ng-show="errors.review_date">{{ errors.review_date[0] }}</strong>
                            </div>

                            <div>
                                <label for="text" class="control-label">Text</label>
                                <textarea id="text" ui-tinymce="tinymceOptions" ng-model="item.text" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.text">{{ errors.text[0] }}</strong>
                            </div>
                            <div>
                                <button type="button" ng-show="item.id" ng-click="changeStatus(1)" class="btn btn-success">Approve</button>
                                <button type="button" ng-show="item.id" ng-click="changeStatus(0)" class="btn btn-danger">Decline</button>
                                <button type="button" ng-show="item.id" ng-click="updateItem()" class="btn btn-default">Update</button>
                                <button type="button" ng-show="!item.id" ng-click="createItem()" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
