<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Size Group</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <strong class="text-danger" ng-show="errors">Please fill all fields</strong>
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"  placeholder="Name" aria-invalid="false">
                                <!-- <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong> -->
                            </div>


                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Sizes</label>
                                            <div class="col-sm-10">
                                                <div class="input-group" ng-repeat="size in item.sizes">
                                                    <input ng-model="size.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="Title" aria-invalid="false">
                                                    <div class="input-group-btn">
                                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeSize(size)"><span
                                                            class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <a ng-click="addSize()" class="btn btn-primary btn-xs pull-right" data-nodrag uib-dropdown-toggle>
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </div>
                                        </div>

                            </div>
                            <div class="form-group col-md-12">
                                <div>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
