<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Survey</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="row">
                                <div class="col-md-12"><strong class="text-danger" ng-show="errors">Please fill all fields.</strong></div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Title</label>
                                <input ng-model="item.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"  placeholder="Title" aria-invalid="false">
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Questions</label>
                                <div class="form-horizontal" ng-repeat="question in item.survey_questions">
                                    <div class="col-sm-11">
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Title</label>
                                            <div class="col-sm-10">
                                                <input ng-model="question.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="Title" aria-invalid="false">
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Type</label>
                                            <div class="col-sm-10">
                                                <ui-select name="type" ng-model="question.type">
                                                    <ui-select-match
                                                            placeholder="Type">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices
                                                            repeat="option.id as option in types | filter: $select.search| limitTo: 50">
                                                        <span ng-bind="option.name"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm" ng-hide="question.type == 'custom'">
                                            <label class="col-sm-2 control-label">Answers</label>
                                            <div class="col-sm-10">
                                                <div class="input-group" ng-repeat="answer in question.survey_answers">
                                                    <input ng-model="answer.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="Title" aria-invalid="false">
                                                    <div class="input-group-btn">
                                                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeAnswer(question, answer)"><span
                                                            class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <a ng-click="addAnswer(question)" class="btn btn-primary btn-xs pull-right" data-nodrag uib-dropdown-toggle>
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeQuestion(question)"><span
                                            class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <a ng-click="addQuestion()" class="btn btn-primary btn-xs pull-right" data-nodrag uib-dropdown-toggle>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <div>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
