<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Testimonial</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="name" class="control-label">Item name</label>
                                <input ng-model="item.item_name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="item_name" placeholder="Item name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.item_name">{{ errors.item_name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Position after</label>
                                <div class="col-sm-10">
                                    <selectize placeholder="Position after" config='{valueField: "id", labelField: "name", maxItems: 1}' options='items' ng-model="item.position_after"></selectize>
                                </div>
                                <strong class="text-danger" ng-show="errors.item_name">{{ errors.position_after[0] }}</strong>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.active">Active
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="item.name" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="name" placeholder="Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="content" class="control-label">Contents</label>
                                <textarea id="content" ui-tinymce="tinymceOptions" ng-model="item.content" class="form-control" rows="14"></textarea>
                                <strong class="text-danger" ng-show="errors.content">{{ errors.content[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="product_link" class="control-label">Product Link</label>
                                <input ng-model="item.product_link" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="product_link" placeholder="Product Link" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.product_link">{{ errors.product_link[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="image"><b>Image</b></label>
                                    <div ngf-drop ngf-select ng-model="image"
                                         class="drop-box"
                                         name="file"
                                         style="width: 100px; height: 100px"
                                         ngf-drag-over-class="'dragover'"
                                         ngf-multiple="false">
                                        Drop file to upload
                                    </div>
                                    <img ng-if="item.image" class="img-thumbnail admin-thumbnail" ng-src="/uploads/{{item.image}}"/>
                                </div>
                                <strong class="text-danger" ng-show="errors.image">{{ errors.image[0] }}</strong>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
