<div class="modal bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Vendor</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-12">
                        <form class="form-group-sm" ng-submit="saveItem()">
                            <div class="form-group">
                                <label for="name" class="control-label">Item name</label>
                                <input ng-model="item.name" type="text" class="form-control" id="name" placeholder="Name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.name">{{ errors.name[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Phone</label>
                                <input ng-model="item.phone" type="text" class="form-control" id="phone" placeholder="Phone" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.phone">{{ errors.phone[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="fax" class="control-label">Fax</label>
                                <input ng-model="item.fax" type="text" class="form-control" id="fax" placeholder="Fax" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.fax">{{ errors.fax[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Email</label>
                                <input ng-model="item.email" type="text" class="form-control" id="email" placeholder="Email" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.email">{{ errors.email[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">State</label>
                                <div class="col-sm-10">
                                    <selectize placeholder="State" config='{valueField: "id", labelField: "name", maxItems: 1}' options='states' ng-model="item.state_id"></selectize>
                                </div>
                                <strong class="text-danger" ng-show="errors.state_id">{{ errors.state_id[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="name" class="control-label">City</label>
                                <input ng-model="item.city" type="text" class="form-control" id="item_name" placeholder="Item name" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.city">{{ errors.city[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="zip_code" class="control-label">ZIP</label>
                                <input ng-model="item.zip_code" type="text" class="form-control" id="zip_code" placeholder="ZIP" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.zip_code">{{ errors.zip_code[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="address_1" class="control-label">Address 1</label>
                                <input ng-model="item.address_1" type="text" class="form-control" id="address_1" placeholder="Address 1" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.address_1">{{ errors.address_1[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="address_2" class="control-label">Address 2</label>
                                <input ng-model="item.address_2" type="text" class="form-control" id="address_2" placeholder="Address 2" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.address_2">{{ errors.address_2[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="site" class="control-label">SAGE Web Address</label>
                                <input ng-model="item.site" type="text" class="form-control" id="site" placeholder="SAGE Web Address" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.site">{{ errors.site[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label for="supplier_id" class="control-label">SAGE ID</label>
                                <input ng-model="item.supplier_id" type="text" class="form-control" id="supplier_id" placeholder="SAGE ID" aria-invalid="false">
                                <strong class="text-danger" ng-show="errors.supplier_id">{{ errors.supplier_id[0] }}</strong>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">SAGE Pricing Template</label>
                                <div class="col-sm-10">
                                    <selectize placeholder="SAGE Pricing Template" config='{valueField: "id", labelField: "name", maxItems: 1}' options='paymentInformationTemplates' ng-model="item.payment_information_template_id"></selectize>
                                </div>
                                <strong class="text-danger" ng-show="errors.payment_information_template_id">{{ errors.payment_information_template_id[0] }}</strong>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
