<div class="product-filter-bar-heading flex flex-center-vertical view-filters">
  <div class="view-filters-controls">
    <div class="product-filter-item price-sort-filter">
      <div class="price-sort-select-box" uib-dropdown>
        <div class="filter-toggle" uib-dropdown-toggle>
          <img class="filter-icon"
               src="../../assets/img/font-awesome-pro-5/sort-amount-down.svg"
               alt="sort-amount-down"
               ng-if="selectedSortOptions.name === 'sort-amount-down'" >
          <img class="filter-icon"
               src="../../assets/img/font-awesome-pro-5/sort-amount-up.svg"
               alt="sort-amount-up"
               ng-if="selectedSortOptions.name === 'sort-amount-up'" >
          <span class="price-sort-text">
            Sort: {{ selectedSortOptions.value }}
          </span>
          <i class="material-icons arrow_drop_down">
            arrow_drop_down
          </i>
        </div>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="sortOption in prodSortOptions">
              <a ng-click="onSortSelectPrice(sortOption)">{{ ::sortOption.value }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-filter-item per-page-filter">
      <div class="price-sort-select-box"
           uib-dropdown
           ng-if="!$search.isPaginateVisible">
        <img class="filter-icon"
             src="../../assets/img/font-awesome-pro-5/list-alt.svg"
             alt="list-alt" >
        <span class="filter-toggle" uib-dropdown-toggle>
          Show: {{ selectedPerPage }} {{ selectedPerPage === 'All' ? '' : 'per page' }}
          <i class="material-icons arrow_drop_down">
            arrow_drop_down
          </i>
        </span>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="value in perPageOptions">
            <a ng-click="onSortSelectPerPage(value)">{{ ::value }}</a>
          </li>
        </ul>
      </div>
      <div class="pagination-wrapper">
        <!-- pagination controls (back) -->
        <div class="control-pagination back-control" ng-if="$search.pagination.total_pages > 1 && selectedPerPage !== 'All'">
          <span class="previous-page-btn"
                ng-if="$search.pagination.current_page > 1"
                ng-click="previousPage($search.pagination)">Previous</span>
        </div>
        <!-- Page of -->
        <div class="product-filter-item-pagination hidden-xs"
            ng-if="!$search.isPaginateVisible && $search.pagination.total_pages > 1 && selectedPerPage !== 'All'">
          <span class="filter-toggle"
                ng-click="togglePager()">
              Page: {{ $search.pagination.current_page }} of {{ $search.pagination.total_pages }}
            <i class="material-icons arrow_drop_down">
              arrow_drop_down
            </i>
          </span>
        </div>
        <!-- Pagination -->
        <pagination class="pager-ui" ng-if="$search.isPaginateVisible"></pagination>
        <!-- pagination controls (next) -->
        <div class="control-pagination next-control" ng-if="$search.pagination.total_pages > 1 && selectedPerPage !== 'All'">
          <span class="next-page-btn"
                ng-if="$search.pagination.current_page < $search.pagination.total_pages"
                ng-click="nextPage($search.pagination)">Next</span>
        </div>
      </div>
    </div>
    <div class="product-filter-item product-view hidden-xs">
      <ul class="product-list-view-options">
        <li ng-repeat="view in productViewOptions"
            ng-click="selectView(view)"
            ng-class="{active : view.viewModeName == stateParams.viewMode}"
            class="list-view-option">
            <!--<i class="material-icons list-view-icon">{{::view.materialIcon}}</i>-->
          <img class="filter-icon"
               src="../../assets/img/font-awesome-pro-5/th.svg"
               alt="th"
               ng-if="view.viewModeName == 'grid' && view.viewModeName !== stateParams.viewMode" >
          <img class="filter-icon"
               src="../../assets/img/font-awesome-pro-5/th-blue.svg"
               alt="th-blue"
               ng-if="view.viewModeName == 'grid' && view.viewModeName == stateParams.viewMode" >
          <img class="filter-icon"
               src="../../assets/img/font-awesome-pro-5/th-list.svg"
               alt="th-list"
               ng-if="view.viewModeName == 'list' && view.viewModeName !== stateParams.viewMode" >
          <img class="filter-icon"
               src="../../assets/img/font-awesome-pro-5/th-list-blue.svg"
               alt="th-list-blue"
               ng-if="view.viewModeName == 'list' && view.viewModeName == stateParams.viewMode" >
          <span class="option-name"
                ng-class="{'activated' : view.viewModeName == stateParams.viewMode}">
            {{ ::view.name }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
