<div class="header-breadcrumbs">
    <category-btn ng-hide="hideCategoryButton"></category-btn>
    <ul class="breadcrumbs-block">
        <li
            class="breadcrumb-item" ng-repeat="item in source"
            ng-click="goToLink(item)"
        >
            <span ng-bind-html="::item.name | trust"></span>
            <img
                src="/img/font-awesome-pro-5/arrow-alt-right-black.svg"
                alt="arrow-alt-right"
                class="step-next-arrow"
            >
        </li>
    </ul>
</div>
<div class="seo-block" ng-show="showSeoTag">
    <div ng-if="$last" ng-repeat="item in source">
        <h4 class="title" ng-bind-html="::item.meta_title | trust"></h4>
        <p class="description" ng-bind-html="::item.meta_description | trust"></p>
    </div>
</div>

