@import "../../scss/modules/variables";

$head-padding: 62px;

.header-breadcrumbs {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  background-color: $color-white;
  border-radius: 17px 6px 6px 17px;

  @media screen and (max-width: 991px) {
    margin: 0 5px;
    margin-top: 15px;
  }

  @media (max-width:576px) {
    background-color: unset;
  }

  .breadcrumb {
    background-color: transparent;
    margin: 0 auto;
    padding: 10px 0 10px $head-padding;

    li {
      a, 
      span {
        font-size: 11px;
      }
    }
  }
}

.breadcrumbs-block {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }

  .breadcrumb-item {
    color: $color-darkest-blue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 0.4px;
    padding: 4px 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media screen and (max-width: 991px) {
      font-size: 11px;
    }

    &:first-child {
      margin-left: 12px;
    }

    &:last-child {
      color: $color-grey;
      cursor: default;

      img {
        display: none;
      }
    }
  }

  .step-next-arrow {
    width: 7px;
    margin: 0 10px;

    @media screen and (max-width: 991px) {
      margin: 0 5px;
    }
  }
}

.seo-block {
  .title {
    padding-left: 12px;
    font-weight: normal;
  }

  .description {
    padding: 12px 0 0 12px;
    font-weight: normal;
  }
}
