@import "../../scss/modules/variables";

.main-prod-header {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #454f51;
}

.small-text {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #899399;
}

.customize-order-steps {
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;

  .steps-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 20px 0;

    .btn-step-submit {
      max-width: 112px;
      width: 100%;
      padding: 15px;
      border-radius: 6px;
      background-color: #4ac9ff;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-next,
      .btn-add-to-cart {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
      }

      color: white;
      font-size: 11px;
      border: none;

      i {
        font-size: 18px;
        margin-right: 7px;
      }

      .add-to-cart-loadprogress {
        margin-right: 7px;
        display: inline-block;

        path {
          stroke: white;
        }
      }
    }

    .steps-product-title {
      font-size: 23px;
      font-weight: bold;
      line-height: 0.96;
      color: #2d3539;
      max-width: 100%;
      margin-right: auto;
      letter-spacing: normal;
      font-stretch: normal;
      font-style: normal;
      @media (max-width:768px) {
        text-align: center;
      }
    }
  }

  .step {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;

    .step-number {
      width: 34px;
      height: 34px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-style: italic;
      color: #b5bfc6;
      background-color: white;
      margin-right: 8px;
      font-size: 20px;
      font-style: italic;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
    }

    .step-title {
      font-size: 13px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      text-transform: uppercase;
      color: #99adba;
      white-space: nowrap;

      @media screen and (max-width: 991px) {
        white-space: pre-wrap !important;
      }
    }

    &.active {
      .step-number {
        background-color: $color-light-green;
        color: white;
      }

      .step-title {
        color: #454f51;
        white-space: nowrap;
      }
    }
  }

  .action-block {
    color: #2d3539;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &.order-sample {
      justify-content: flex-end;
    }

    .back-to {
      display: flex;
      align-items: center;
      visibility: hidden;
      font-size: 19px;

      .arrow-left {
        width: 20px;
        margin-right: 5px;
      }
    }

    .visible {
      visibility: visible;
    }

    .customize-later {
      cursor: pointer;
    }

    .shopping-cart {
      color: $color-darkest-blue;
      margin-right: 10px;
    }

    .text {
      color: #2d3539;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.54;
      letter-spacing: normal;
      display: flex;
      align-items: center;
    }

    .btn-next {
      background: #4ac9ff;
      font-size: 23px;
      font-weight: 900;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      max-width: 264px;
      height: 54px;
      border-radius: 10px;
      text-transform: uppercase;
      margin-right: 0;

      @media screen and (max-width: 550px) {
        font-size: 14px;
        max-width: 120px;
        width: 100%;
        height: 42px;
        padding: 6px;
      }
    }
  }
}

.customize-order-page {
  padding: 5px 0;
  max-width: 1645px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .customize-order-main {
    display: flex;
  }

  .step-content-head {
    display: flex;
    align-items: center;
    padding: 5px 20px 10px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: #2d3539;
    @media (max-width:768px) {
      justify-content: center;
    }

    .product-item-brief {
      .item-number {
        font-size: 17px;
        font-weight: 600;
        color: $color-darkest-blue;
      }
    }
  }

  .steps-block {
    display: flex;
    background: #d8e5ed;
    height: 54px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }

    .step-next-arrow {
      width: 13px;
      margin-left: 10px;
    }

    .shopping-cart {
      width: 18px;
    }

    .steps-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & li {
        padding: 5px 7px;
        margin-right: 5px;
        border-radius: 6px;

        &.active {
          background-color: #ffffff94;
        }
      }
    }
  }

  .product-image-square,
  .order-summary {
    flex: 0 1 40%;
    align-self: flex-start;
  }

  .product-image-square {
    flex: 0 1 660px;
    flex-direction: column;
    margin: 0 10px;
    margin-left: 0;
    overflow: hidden;
    padding: 0;

    @media screen and (max-width: 1440px) {
      flex: 0 1 550px;
    }

    @media screen and (max-width: 991px) {
      flex: 0;
    }

    &::after {
      @media screen and (max-width: 991px) {
        padding-top: 5px;
      }
    }

    .product-slider {
      background: $color-white;
      border-radius: 6px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 5px;
      position: relative;

      .image-container {
        .image-download-icon {
          position: absolute;
          top: 11px;
          right: 45px;
          z-index: 10;
          border: 1px solid #788185;
          border-radius: 50px;
          padding: 0px !important;
          width: 22px;
          height: 22px;
          background: white;
          cursor: pointer;

          &.open-modal {
            right: 80px;
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.8);
            color: #788185;
          }

          &:hover {
            i {
              color: $color-blue;
            }
          }
        }
      }

      .product-img-action {
        position: absolute;
        width: 20px;
        top: 10px;
        z-index: 1;

        &.product-like {
          right: 10px;
          z-index: 10;
          width: 23px;
          height: 23px;
          display: block;
          object-fit: contain;
        }

        &.product-expand {
          left: 10px;
        }
      }

      .product-carousel {
        display: flex;
        border-top: 1px solid #d8e5ed;

        .carousel-item {
          width: 20%;
          border-right: 1px solid #d8e5ed;
        }
      }

      .asg-panel {
        .items {
          display: flex;

          .item {
            border-right: 1px solid #d8e5ed;
            border-top: 1px solid #d8e5ed;
          }
        }
      }

      .asg-image.superior {
        &.superior {
          height: 400px !important;
          border-radius: 6px;

          @media screen and (max-width: 1200px) {
            height: 300px !important;
          }
        }

        .btn {
          margin-right: 0;
        }

        .arrows {
          z-index: 9;
        }
      }

      .asg-modal.superior {
        background: rgba(0, 0, 0, .80);

        .frame {
          top: 50%;
          left: 0;
          margin: 0 auto;
          transform: translateY(-50%);
          background: white;
          border-radius: 10px;
          max-width: 1300px;
          width: 100%;
          height: 85%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 60px;
          padding-right: 60px;
          cursor: default;
          overflow-y: scroll;

          @media screen and (max-width: 1300px) {
            width: 100%;
          }

          @media screen and (max-width: 1140px) {
            width: auto !important;
            margin: 0 5px;
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
          }

          .header {
            display: none;
            @media (max-width:992px) {
              display: unset;
              width: 80%;
            }
          }

          .asg-thumbnail {
            display: none;
          }

          .images {
            width: 700px;
            height: 700px;
          }

          .gallery-block {
            padding-top: 10px;
            max-width: 422px;
            width: 100%;
            height: 700px;
            display: grid;
            grid-template: repeat(auto-fill, 90px) / repeat(4, 90px);
            justify-content: center;
            overflow-y: auto;
            grid-gap: 15px;
            @media (max-width:768px) {
            grid-template: repeat(auto-fill, 90px) / repeat(3, 90px);
            }

            .image {
              width: 88px;
              height: 88px;
              padding: 2px;
              border: 1px solid #c7c7c7;
              border-radius: 5px;
              transition: all 50ms ease;

              &.selected {
                box-shadow: 0 0 15px #c7c7c7;
              }

              &:hover {
                box-shadow: 0 0 15px #c7c7c7;
              }

              img {
                width: 83px;
                height: 83px;
                object-fit: contain;
              }
            }
          }

          @media screen and (max-height: 900px) {
            width: 1130px;
            
            .images {
              width: 550px;
              height: 550px;
            }

            .gallery-block {
              width: 410px;
              height: 550px;
              grid-template: repeat(auto-fill, 90px) / repeat(4, 90px);
              grid-gap: 10px;

              .image {
                width: 88px;
                height: 88px;

                img {
                  width: 83px;
                  height: 83px;
                }
              }
            }
          }
          
          .closeModal {
            position: absolute;
            right: 5px;
            top: 5px;
            transition: all 200ms ease;
            transform-origin: 50% 12px;

            &:hover {
              transform: rotate(90deg);
            }
          }
        }
      }

      .asg-thumbnail {
        border-top: 1px solid $color-blue-light-2;
        .items {
          &::-webkit-scrollbar {
            width: 8px;
            height: 6px;
            background-color: #ccc;
          }
          &::-webkit-scrollbar-thumb {
            width: 8px;
            background-color: #16a1db;
            border-radius: 10px;
          }
        }
      }

      .asg-thumbnail.superior .items {
        overflow: auto;
        left: 0 !important;
        
        .item {
          border-right: 1px solid $color-blue-light-2;

          &:first-child {
            border-left: 1px solid $color-blue-light-2;
          }

          & img {
            height: 100px !important;

            @media screen and (max-width: 1440px) {
              height: 80px !important;
            }

            @media screen and (max-width: 1200px) {
              height: 70px !important;
            }

            @media screen and (max-width: 991px) {
              height: 60px !important;
            }
          }
        }
      }
    }

    .cart-status {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      background: $color-white;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px 10px 15px 10px;
      border-radius: 6px;
      cursor: pointer;

      @media screen and (max-width: 400px) {
        width: 100%;
      }

       &.floating {
         width: 326px;
         position: fixed;
         top: 150px;
         border-radius: 5px;
         z-index: 10;

         .cart-status-expanded {
           display: block;
           transition: max-height .3s ease;
           border: 1px solid #d8e5ed;
           border-top-right-radius: unset;
           border-top-left-radius: unset;
           border: 1px solid $color-blue-light-2;
           width: 100%;
           left: -1px;
           top: 40px;
           margin: 10px 0;
         }
       }

      .status-header {
        @extend .main-prod-header;
      }

      .price-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5px;

        .material-icons {
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: center;
          color: #b5bfc6;
        }

        .small-text {
          margin-right: 10px;
        }

        .total-price {
          font-size: 15px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: right;
          color: #2d3539;
        }
      }
    }

    .cart-status-expanded {
      transition: max-height .3s ease;
      display: block;
      overflow: hidden;
      border-radius: 6px;
      background: $color-white;
      border: 1px solid $color-blue-light-2;
      width: 100%;
      padding: 5px 0 10px;
      margin-top: 5px;
      position: static;
      z-index: 1;
      overflow-y: auto;

      .status-header {
        @extend .main-prod-header;
      }

      .status-options {
        border-bottom: 1px solid #d8e5ed;
        padding: 10px;

        &:last-child {
          border-bottom: none;
        }

        &.no-border {
          border: none;
        }

        .option-list {
          margin-top: 10px;
          padding-left: 5px;
        }

        .option-item {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: 0.1px;
          color: #899399;
          margin-bottom: 10px;

          .option-value {
            font-weight: 500;
            color: #454f51;
            max-width: 50%;
            text-align: right;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            .im-color-title {
              white-space: nowrap;
            }
          }

          .option-title {
            max-width: 80%;
          }
        }
      }
    }
  }

  .related-popular-items {
    flex: 0 1 200px;
    height: max-content;
    margin-top: 10px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .related-items {
    position: relative;
    background: $color-white;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: 100%;

    .top-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .top-header {
        @extend .main-prod-header;
      }
    }

    .main-block {
      width: 100%;
      .main-block-items-carousel {
        &::-webkit-scrollbar {
          height: 7px;
          background-color: #ccc;
        }
        &::-webkit-scrollbar-thumb {
          width: 5px;
          background-color: #16a1db;
        }

      }

      &-items-carousel {
        display: flex;
        overflow-x: auto;
        padding-bottom: 10px;

        &>div {
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      @media screen and (max-width: 991px) {
        height: 80vh;
      }
      
      .ui-carousel {
        margin-bottom: 0;

        .track {
          display: flex;
          align-items: stretch;
        }

        .slide {
          height: inherit;
          float: none;

          .carousel-item {
            height: 100%;
            margin-right: 5px;
          }
        }

        .carousel-btn {
          transform: scale(0);
          transition: transform .3s ease;
          top: 40%;
        }

        .carousel-prev .carousel-btn {
          left: -15px;
        }

        .carousel-next .carousel-btn {
          right: -15px;
        }

        &:hover {
          .carousel-prev, 
          .carousel-next {
            .carousel-btn {
              z-index: 8 !important;
              transform: scale(1);
              transition: transform .3s ease;
            }
          }
        }
      }

      .preload-container {
        width: 100%;
        text-align: center;
      }

      .product {
        width: 170px;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #d8e5ed;
        margin-right: 5px;

        .prod-img {
          padding-bottom: 5px;

          .product-image {
            width: 100%;
          }
        }

        .small-text {
          color: #2d3539;
          padding: 5px;
          text-align: center;
        }

        .prod-info {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding-left: 5px;

          .prod-number {
            font-size: 11px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.09;
            letter-spacing: normal;
            color: #2d3539;
          }

          .prod-cost-block {
            display: flex;
            flex-direction: column;

            .prod-cost-info {
              font-weight: 400;
              font-size: 9px;
            }
          }

          .prod-cost {
            font-size: 13px;
            font-weight: 900;
            color: #2d3539;
          }
        }
      }
    }
  }
}

.order-summary {
  background: url("~assets/img/Total_BG_full.svg") left top 100% no-repeat;
  background-size: cover;
  padding: 25px 25px 25px 35px;

  .order-summary-list {
    width: 100%;

    .list-item {
      td {
        padding: 10px 0;
      }
    }
  }

  .order-more {
    margin-bottom: 15px;
  }
}

.btn-cancel-order {
  font-size: 13px;
  color: #d8e5ed;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;

  i {
    margin-right: 5px;
    font-size: 16px;
  }
}

.step-content {
  .product-item-colors {
    padding: 20px 20px 0;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 1200px) {
      padding: 10px 10px 0;
    }
    
    @media (max-width: 576px) {
      flex-direction: column;
    }

    h6 {
      width: 170px;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: normal;
      color: #454f51;
      padding-right: 20px;
      text-align: center;

      @media (max-width: 576px) {
        padding-right: 0;
        margin-bottom: 10px;
      }

      b {
        text-transform: capitalize;
      }

      .type-color-title {
        text-transform: uppercase;
      }
    }

    .error-notify {
      top: 5px;
      left: 20px;
    }
  }

  .price-container {
    border-top: 1px solid #d8e5ed;
    border-bottom: 1px solid #d8e5ed;
    padding: 25px 20px 20px;
    margin-top: 20px;

    .price-text-block {
      width: 100%;
      margin-top: 10px;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .product-item-pricing {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1400px) {
      flex-direction: column;
    }

    .pricing-info {
      flex: 1;
      width: initial;
      height: min-content;
      margin-right: 10px;
      @media (max-width:768px) {
        &::-webkit-scrollbar {
          height: 8px;
          background-color: #ccc;
        }
        &::-webkit-scrollbar-thumb {
          height: 8px;
          background-color: #4ac9ff;
          border-radius: 10px;
        }
      }

      .pricing-info-block {
        &.text-block {
          flex: 0 0 140px;

          @media screen and (max-width: 500px) {
            flex: 0 0 60px;
          }
        }

        .info-text {
          padding: 4px 0;
        }

        .border:before {
          content: "";
          position: absolute;
          border-bottom: 1px solid;
          width: 95%;
          margin-top: 17px;
          color: #e7e7e7;
        }

        .border:last-child:before {
          content: "";
          display: none;
        }
      }
    }

    .choosen-pricing {
      display: flex;
      position: relative;
      padding-top: 4px;

      @media screen and (max-width: 600px) {
        display: flex;
        justify-content: center; 
      }

      .error-notify {
        bottom: 0;
        left: 0;
        transform: translate(0%, 100%);
        padding: 4px 0;
        width: 100%;
        text-align: center;
      }

      .choosen-value,
      .manual-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .quantity-input-wrapper {
          position: relative;

          @media screen and (max-width: 1400px) {
            margin: 20px 0;
          }
        }

        .text {
          font-size: 13px;
          color: #2d3539;
        }
      }

      .choosen-value {
        margin-top: 20px;
        display: block;

        .text {
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.82;
          letter-spacing: normal;
          color: #899399;
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }

  .breakdown-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d8e5ed;

    .breakdown-info {
      width: 100%;

      .all-sizes {
        display: flex;
        background: #e6eef2;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 5px;
        justify-content: center;

        .size {
          position: relative;
          padding: 0;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
          
          .size-name {
            position: absolute;
            top: -25px;
            width: 100%;
            text-align: center;
          }

          input {
            width: 54px;
            height: 24px;
            border-radius: 4px;
            outline: 3px solid transparent;
            padding: 8px 0;
            text-align: center;
            font-size: 13px;
            border: none;
            line-height: 1.54;
            color: #22282b;
          }
        }
      }

      .breakdown-toggle {
        display: flex;
        margin-top: 5px;
        align-items: center;
        background: #e6eef2;
        padding: 10px 5px 10px 20px;
        justify-content: flex-start;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;

        .breakdown-text {
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.54;
          letter-spacing: normal;
          color: #899399;
          text-transform: uppercase;
          margin-left: 15px;

          .small-text {
            letter-spacing: -0.2px;
            font-size: 11px;
            text-transform: none;

            .text-emph {
              color: $color-darkest-blue;
            }
          }
        }
      }
    }

    .breakdown-label {
      padding-right: 20px;
      width: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 15px;

      .breakdown-header {
        font-size: 13px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #454f51;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }

    .option-container {
      width: 100%;
    }

    .breakdown-content {
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -.2px;
      color: #899399;
      margin-bottom: 25px;

      &.small-text {
        color: #d0021b;
      }
    }
  }

  .text-error {
    color: #FF0201;
    font-size: 13px;
    font-weight: 400;
  }
}

.slash {
  padding: 0 5px;
}

.join-btn {
  display: flex;
  align-items: center;
  color: #16a1db;
}

.preorder-link-span {
  display: flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 991px) {
  .customize-order-page {
    flex-direction: column;
    margin: 0 5px;
    .customize-order-main {
      flex-direction: column;

      .imprints-info-image {
        display: none;
      }
    }
    .customize-order-steps {
      .steps-header {
        justify-content: space-around;
        flex-wrap: wrap;

        .steps-product-title {
          margin: 15px 0;
          flex:100%;
          max-width: 100%;
        }

        .step {
          margin: 0;
          flex: 1 0 15%;
        }

        .btn-step-submit {
          width:initial;
          flex: 1 0 15%;
        }
      }

      .step-content {
        .product-item-pricing {
          .pricing-info {
            width: 100%;
          }

          .choosen-pricing {
            width: 100%;
          }
        }
      }
    }

    .order-summary {
      background: none;
      padding: 15px;
      border: 1px solid #e7e7e7;
      align-self: stretch;
    }

    .ship-option {
      width: 100%;
      flex-wrap: wrap;
    }

    .step2-notes {
      .left-note,
      .right-note {
        float: none;
        margin-bottom: 15px;
        padding: 0;
        width: 100%;
      }

      ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }
    }

    .step-artwork{
      flex-direction: column;

      .artwork-block {
        flex:1;
        margin-bottom: 15px;
        padding: 0;

        &.imprints-info {
          padding: 0;
        }
      }
    }
  }
}

.imprints-info {
  &-message {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #d8e5ed;
    margin: 10px;
    background-color: #e6eef2;
    box-shadow: 0 0 10px #d8e5ed;
  }

  &-body {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 100;
    width: 100%;
  }

  &-image {
    padding-left: 30px;
  }
}

.reviews-block {
  flex: 0 1 200px;
  padding: 5px;
  height: max-content;
  margin-top: 10px;

  .block-body {
    position: relative;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: 100%;

    .top-block {
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .main-block {
      width: 100%;

      .items {
        display: flex;
        overflow-x: auto;

        >div {
          margin-right: 5px;
        }
      }

      .review {
        width: 340px;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #d8e5ed;
        margin-right: 5px;

        .small-text {
          color: #2d3539;
          padding: 5px;
          text-align: center;
        }

        .star-rating {
          .checked {
            color: orange;
          }
        }

        p {
          padding: 0 15px;
        }
      }
    }
  }
}

.carousel-btn {
  z-index: 8 !important;
}
