<bread-crumbs class="customize-order-crumbs" source="breadcrumbs"></bread-crumbs>
<div class="customize-order-page">

    <div class="customize-order-main">
        <div class="product-image-square">
            <div class="product-slider">
                <div class="image-container">
                    <div
                            class="image-download-icon open-modal"
                            title="Expand Image"
                            ng-click="openGallery()"
                    >
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </div>
                    <wish-like product-id="{{::orderService.orderItem.getData().id}}"></wish-like>
                    <div
                            class="image-download-icon download-image"
                            title="Download Image"
                            ng-click="downloadImage(selectedImage)"
                    >
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </div>
                    <asg-image
                            data-id="product"
                            data-options="$galeryOptions"
                            data-items="orderService.productImages"
                    >
                        <asg-modal data-visible="showModal">
                            <i
                                    class="material-icons closeModal"
                                    title="Close modal"
                                    ng-click="closeGallery()"
                            >
                                close
                            </i>
                            <div class="gallery-block">
                                <div
                                        class="image"
                                        ng-class="{'selected' : $index === selectedImage}"
                                        ng-repeat="img in orderService.productImages"
                                        ng-click="setActiveGalleryImage($index)"
                                >
                                    <img
                                        ng-src="{{ ::img.link }}"
                                        fallback-src="img/image-not-available.jpg"
                                    />
                                </div>
                            </div>
                            <asg-thumbnail></asg-thumbnail>
                        </asg-modal>
                    </asg-image>
                    <asg-thumbnail data-id="product"></asg-thumbnail>
                </div>
            </div>
            <div
                    class="cart-status"
                    id="cart-status">
                <h3 class="status-header main-prod-header">cart status</h3>
                <div class="cart-status-expanded" ng-if="orderService.orderItem.orderData.quantity || orderService.orderItem.orderData.selectedColors.length">
                    <div class="price-details status-options">
                        <h3 class="status-header main-prod-header">price details</h3>
                        <ul class="option-list">
                            <li class="option-item">
                                <div class="option-title">Quantity:</div>
                                <div class="option-value">{{ orderService.orderItem.orderData.selectedCost.quantity }}</div>
                            </li>
                            <li class="option-item">
                                <div class="option-title">Price per item:</div>
                                <div class="option-value">{{ (orderService.orderItem.orderData.selectedCost.sale_price > 0
                                            ? orderService.orderItem.orderData.selectedCost.sale_price
                                            : orderService.orderItem.orderData.selectedCost.regular_price) | currency: '$'}}
                                </div>
                            </li>
                            <li class="option-item" ng-if="orderService.orderItem.getChosenSubOptionsPrice() > 0">
                                <div class="option-title">{{ orderService.orderItem.getChosenSubOptionsName() }} (per item):</div>
                                <div class="option-value">{{ orderService.orderItem.getChosenSubOptionsPrice() | currency: '$' }}</div>
                            </li>
                            <li
                                    class="option-item"
                                    ng-repeat="option in orderService.orderItem.orderData.selectedOptions"
                            >
                                <div class="option-title">{{ ::option.name }}:</div>
                                <div class="option-value">{{ option.chosen_sub_option.name }}</div>
                            </li>
                            <div ng-repeat="(key, value) in orderService.orderItem.orderData.imprints">
                                <div ng-if="value.selected">
                                    <li
                                            class="option-item"
                                            ng-if="value.data.prices.setup_price > 0"
                                            ng-click="show(orderService.orderItem)"
                                    >
                                        <div class="option-title">{{ value.data.name }} ({{ value.data.colors[0].title }}) Setup Fee:</div>
                                        <div class="option-value">
                                            {{ value.data.prices.setup_price | currency: '$' }}
                                        </div>
                                    </li>
                                    <li
                                            class="option-item"
                                            ng-if="value.data.prices.color_setup_price > 0 && value.data.colors.length > 1  && $index > 0"
                                            ng-repeat="color in value.data.colors track by $index"
                                    >
                                        <div class="option-title">
                                            {{ value.data.name }} Additional Color ({{ color.title }}) Setup:
                                        </div>
                                        <div class="option-value">
                                            {{ value.data.prices.color_setup_price | currency: '$' }}
                                        </div>
                                    </li>
                                    <li class="option-item" ng-if="value.data.colors.length >= 2 && $index > 0"
                                        ng-repeat="color in value.data.colors track by $index">
                                        <div class="option-title">
                                            {{ value.data.name }} Additional Color ({{ color.title }}) fee (per item):
                                        </div>
                                        <div class="option-value">
                                            {{ value.data.prices.color_item_price | currency: '$' }}
                                        </div>
                                    </li>
                                    <li
                                            class="option-item"
                                            ng-if="value.data.colors.length > 0 && value.data.prices.item_price > 0"
                                    >
                                        <div class="option-title">
                                            <!-- {{value.data.name}}  -->
                                            Additional fee (per item):
                                        </div>
                                        <div class="option-value">
                                            {{ value.data.prices.item_price | currency: '$' }}
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <li class="option-item" ng-if="totalUnitPrice > 0">
                                <div class="option-title">
                                    Total Unit price:
                                </div>
                                <div class="option-value">
                                    {{ orderService.orderItem.orderData.selectedCost.sale_price + totalUnitPrice | currency: '$' }}
                                </div>
                            </li>
                            <li
                                    class="option-item"
                                    ng-if="orderService.orderItem.orderData.shipData.shippingCost && orderService.orderItem.shippingData.length > 0">
                                <div class="option-title">Shipping Cost:</div>
                                <div class="option-value">
                                    {{ orderService.orderItem.orderData.shipData.shippingCost | currency: '$' }}
                                </div>
                            </li>
                            <li class="option-item"
                                    ng-if="orderService.orderItem.orderData.selectedCost.setup_price">
                                <div class="option-title">Item Setup:</div>
                                <div class="option-value">
                                    {{ orderService.orderItem.orderData.selectedCost.setup_price | currency: '$' }}
                                </div>
                            </li>

                            <li ng-if="orderService.orderItem.orderData.shipingMethod" class="option-item">
                                <div class="option-title">Shipping method ({{ orderService.orderItem.orderData.shipingMethod.title }}):</div>
                                <div class="option-value">
                                    ${{ orderService.orderItem.orderData.shipingMethod.price }}
                                </div>
                            </li>
                        </ul>
                        <div class="price-info">
                            <span class="small-text">Subtotal</span>
                            <span class="total-price price-green">
              {{ orderService.orderItem.getTotalPrice() | currency:"$" }}
            </span>
                            <!--            <i class="material-icons">-->
                            <!--              more_vert-->
                            <!--            </i>-->
                        </div>
                    </div>
                    <div
                            class="price-details status-options"
                            ng-class="">
                        <!--          ng-class="{'no-border' : imprintColorsCheck()}"-->
                        <h3 class="status-header main-prod-header">selected options</h3>
                        <ul class="option-list">
                            <li
                                    class="option-item"
                                    ng-repeat="color in orderService.orderItem.orderData.selectedColors"
                            >
                                <div class="option-title">{{ ::color.color_group_name }}:</div>
                                <div class="option-value">{{ color.color_name }}</div>
                            </li>
                            <li
                                    class="option-item"
                                    ng-repeat="option in orderService.orderItem.orderData.selectedOptions"
                            >
                                <div class="option-title">{{ ::option.name }}:</div>
                                <div class="option-value">{{ option.chosen_sub_option.name }}</div>
                            </li>
                            <!--            <li class="option-item">-->
                            <!--              <div class="option-title">Shipping:</div>-->
                            <!--              <div class="option-value">-->
                            <!--                {{orderService.orderItem.orderData.shipMethod === 'own_account' ? 'My Own-->
                            <!--                Account' : 'TBD'}}-->
                            <!--              </div>-->
                            <!--            </li>-->
                            <li class="option-item">
                                <div class="option-title">Delivery date:</div>
                                <div class="option-value">
                                    {{ orderService.orderItem.orderData.shipTime === 'regular' ? 'ASAP' :
                                    orderService.orderItem.orderData.shipTimeValue | date: 'MM/dd/yyyy' }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div
                            class="price-details status-options">
                        <h3 class="status-header main-prod-header">imprints</h3>
                        <ul class="option-list">
                            <li
                                    class="option-item"
                                    ng-repeat="imprint in orderService.orderItem.orderData.imprints"
                                    ng-if="imprint.selected && imprint.data.colors.length">
                                <div class="option-title">{{ imprint.data.name }}:</div>
                                <div class="option-value">
                <span
                        class="im-color-title"
                        ng-repeat="imprintColor in imprint.data.colors track by $index"
                >
                  {{ imprintColor.title }}
                  <span ng-hide="$index === imprint.data.colors.length - 1">,&nbsp;</span>
                </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="customize-order-steps">
            <div class="steps-header">
                <h2
                        class="steps-product-title"
                        ng-bind-html="orderService.orderItem.getData().title | trust"
                ></h2>
                <!--<div class="step" ng-repeat="step in orderService.steps"
                          ng-class="{active: $state.includes(step.state)}" ng-click="orderService.goToStep($index)">
                          <i class="step-number">{{::step.id}}</i>
                          <span class="step-title" ng-bind-html="step.title | trust"></span>
                      </div>
                      <button class="btn-step-submit" ng-click="orderService.submit()">
                          <div class="btn-next text-center" ng-hide="orderService.canAddToCart()">
                              Next
                          </div>
                          <div class="btn-add-to-cart" ng-show="orderService.canAddToCart()">
                              <i class="material-icons" ng-hide="orderService.showAddToCartLoader">add_shopping_cart</i>
                              <span ng-hide="$state.params.mode != 'create'">Add to cart</span>
                              <span ng-show="$state.params.mode != 'create'">Update order</span>
                          </div>
                      </button>-->
            </div>
            <div class="step-content-head">
                <div class="product-item-brief">
                    <rating-stars
                            ng-if="orderService.orderItem"
                            source="orderService.orderItem.productData"
                            ng-click="scrollToElem($event, 'reviews')">
                    </rating-stars>
                    <span class="item-number">Item # {{ orderService.orderItem.getData().id }}</span>
                    <span ng-if="orderService.orderItem.orderData.selectedColor.title"> &ndash; </span>
                    <span class="item-color">{{ orderService.orderItem.orderData.selectedColor.title }}</span>
                </div>
                <div class="btn-toggle-item-all-colors"></div>
                <div
                        class="btn-cancel-order"
                        ng-click="customizeOrderCancel(orderService.orderItem)"
                        ng-if="false">
                    <i class="material-icons">cancel</i>
                    <span>Cancel</span>
                </div>
            </div>
            <product-preorder-preview
                    source="orderService.orderItem.productData"
                    customize-order="true"
            ></product-preorder-preview><!--orderService.orderItem-->
            <div class="imprints-info-message">
                <div class="imprints-info-image">
                    <img src="../../assets/img/static-icons/6.svg" alt="">
                </div>
                <div class="imprints-info-body">
                    <p>Every order will be presented with a <b>Free</b> art proof for approval before production</p>
                    <p>If you would like to see a <b>Free</b> pre-proof before placing your order</p>
                    <p>Please email your request to <b>art@superiorpromos.com</b></p>
                    <p>Depending on the complexity a pre-proof will be provided within 24 hours or faster</p>
                </div>


            </div>
            <div class="steps-block">
                <div class="step"
                     ng-repeat="step in orderService.steps"
                     ng-if="!$state.includes('**.order-sample') && $state.is(step.state)"
                     ng-class="{active: $state.includes(step.state)}">

                    <!--          <i class="step-number">{{::step.id}}</i>-->
                    <!--          <span class="step-title" ng-bind-html="step.title | trust"></span>-->
                    <span class="step-title">Step {{ step.id }}. {{ step.title }}</span>
                    <!--          <img-->
                    <!--            ng-src="{{$state.includes(step.state) ? '/img/font-awesome-pro-5/arrow-alt-right-black.svg' : '/img/font-awesome-pro-5/arrow-alt-right.svg' }}"-->
                    <!--            alt="arrow-alt-right"-->
                    <!--            class="step-next-arrow">-->
                </div>

                <ul class="steps-nav" ng-if="!$state.includes('**.order-sample')">
                    <li ng-repeat="step in orderService.steps" ng-click="orderService.goToStep($index)"
                        ng-class="{active: $state.is(step.state)}">{{step.id}}
                    </li>
                </ul>
                <!--      <div class="step" ng-if="!$state.includes('**.order-sample')">-->
                <!--        <i class="step-number">-->
                <!--          <img-->
                <!--            src="/img/font-awesome-pro-5/shopping-cart.svg"-->
                <!--            alt="shopping-cart"-->
                <!--            class="shopping-cart">-->
                <!--        </i>-->
                <!--      </div>-->
                <div class="step active" ng-if="$state.includes('**.order-sample')">
                    <span class="step-title">To receive the order please fill the form</span>
                </div>
            </div>

            <div ui-view class="steps-content"></div>

            <div class="ship-option-wrap ship-cost-option contact-info action-block"
                 ng-class="{'order-sample' : $state.includes('**.order-sample')}">
                <!--      <span class="text customize-later" ng-hide="orderService.canAddToCart() || $state.includes('**.order-sample')">-->
                <!-- <i class="material-icons shopping-cart">add_shopping_cart</i>
                    Add and customize later-->
                <!--      </span>-->
                <span class="back-to"
                      ng-class="{visible: orderService.showToBack() && !$state.includes('**.order-sample')}"
                      ng-click="orderService.goToBack()">
        <img
                src="/img/font-awesome-pro-5/arrow-alt-left.svg"
                alt="arrow-alt-left"
                class="arrow-left">
        Back
      </span>
                <button class="btn-step-submit btn btn-next"
                        ng-click="orderService.submit($state.includes('**.order-sample'))">
                    <div ng-hide="orderService.canAddToCart() || $state.includes('**.order-sample')">
                        Next
                    </div>
                    <div class="btn-add-to-cart"
                         ng-show="orderService.canAddToCart() && !$state.includes('**.order-sample')">
                        <!--<i class="material-icons" ng-hide="orderService.showAddToCartLoader">add_shopping_cart</i>-->
                        <span ng-show="!$state.params.view || ($state.params.view == '')">Add to cart</span>
                        <span ng-show="$state.params.view && ($state.params.view != '')">Update order</span>
                    </div>
                    <div class="btn-add-to-cart" ng-show="$state.includes('**.order-sample')">
                        <span>order sample</span>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="related-popular-items">
        <!--    <div class="related-items" id="product-reviews">-->
        <!--      <div class="top-block">-->
        <!--        <h3 class="top-header main-prod-header">Reviews</h3>-->
        <!--      </div>-->

        <!--      <div class="main-block" id="product-reviews-carousel">-->
        <!--        <div class="main-block-items-carousel">-->
        <!--          <div ng-repeat="item in reviews">-->
        <!--            <div class="product">-->
        <!--              <div class="prod-img">-->
        <!--                <div class="row">-->
        <!--                  <div class="col-lg-12">-->
        <!--                    <div class="star-rating">-->
        <!--                      <span class="fa fa-star" ng-class="setRating(item, 1)"></span>-->
        <!--                      <span class="fa fa-star" ng-class="setRating(item, 2)"></span>-->
        <!--                      <span class="fa fa-star" ng-class="setRating(item, 3)"></span>-->
        <!--                      <span class="fa fa-star" ng-class="setRating(item, 4)"></span>-->
        <!--                      <span class="fa fa-star" ng-class="setRating(item, 5)"></span>-->
        <!--                      <input type="hidden" name="rating" class="rating-value" value="3">-->
        <!--                    </div>-->
        <!--                  </div>-->
        <!--                </div>-->

        <!--              </div>-->
        <!--              <div class="prod-info">-->
        <!--                <div class="prod-cost-block">-->
        <!--                  <span class="prod-cost-info">{{ ::item.text }}</span>-->
        <!--                  <span class="prod-cost price-green">{{ ::item.email }}</span>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--  </div>-->


        <div class="related-popular-items">
            <div class="related-items" id="related-items">
                <div class="top-block">
                    <h3 class="top-header main-prod-header">Related Popular Items</h3>
                </div>
                <div class="main-block" id="related-items-carousel">
                    <div class="main-block-items-carousel">
                        <div ng-repeat="item in relatedProductItems">
                            <div class="product"
                                 ng-click="$parent.goToRelatedProduct(item.full_slug)">
                                <div class="prod-img">
                                    <img class="product-image" ng-src="{{::item.thumbnail}}"
                                         fallback-src="img/image-not-available.jpg">
                                </div>
                                <div class="small-text" ng-bind-html="::item.title | trust"></div>
                                <div class="prod-info">
                                    <span class="prod-number">#{{ ::item.id }}</span>
                                    <div class="prod-cost-block">
                                        <span class="prod-cost-info">As low as</span>
                                        <span class="prod-cost price-green">${{ ::item.lowest_price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--        <div class="preload-container" ng-if="!initSlider">-->
                    <!--          <img class="preloader" src="/img/preload.svg" alt="preloader" />-->
                    <!--        </div>-->
                </div>
            </div>
        </div>

        <div class="reviews-block" ng-show="orderService.orderItem.getData().reviews.length"  id="reviews">
            <div class="block-body">
                <div class="top-block">
                    <h3 class="top-header main-prod-header">
                        Reviews
                        <span ng-if="orderService.orderItem.getData().reviews.length">
                            ( {{ orderService.orderItem.getData().reviews.length }} all )
                        </span>
                    </h3>
                </div>
                <div class="main-block">
                    <div class="items">
                        <div ng-repeat="review in orderService.orderItem.getData().reviews">
                            <div class="review">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <rating-stars source="review.rating" average="true"></rating-stars>
                                    </div>
                                    <div class="small-text" ng-bind-html="review.text | trust"></div>
                                    <hr/>
                                    <div class="small-text">{{ review.review_date | date : 'MMMM yyyy'}}</div>
                                    <div class="small-text">{{ review.name }} {{ review.company_name ? '/ ' + review.company_name : '' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
