@import "~scss/modules/variables";

.product-item-options {
  padding: 20px 20px 0;
  position: relative;

  .option-block {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .product-option-header {
      width: 170px;
      padding-right: 20px;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-transform: uppercase;
      color: #454f51;
      display: flex;
      align-items: center;
    }

    .option-select {
      border-radius: 6px;
      padding: 10px;
      background: $color-background;
      width: 100%;

      .ui-select-search {
        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #2d3539;
        height: 24px;
        border-radius: 6px;
        position: relative;
        z-index: 10;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        box-shadow: none;
        width: 100%;
        border: none;
        background: #fff;
      }

      .btn {
        height: 24px;
        border-radius: 6px;
        position: relative;
        z-index: 10;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        box-shadow: none;
        width: 100%;
        border: none;
        background: #fff;
        display: flex;
        align-items: center;
      }

      .ui-select-match-text, 
      .text-muted {
        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #2d3539;
      }

      .text-muted {
        opacity: .65;
      }
    }
  }

  .product-option-header {
    margin: 10px 0 5px 0;
  }

  .error-notify {
    bottom: 5px;
    left: 0px;
  }

  md-radio-button {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    top: 0 !important;
    left: 0 !important;

    .md-on {
      background-color: #4fcaff;
      width: 15px;
      height: 15px;
    }

    .md-off {
      width: 15px;
      height: 15px;
      border-color: #4fcaff;
    }

    &.md-checked {
      .md-label {
        span {
          color: #000000;
        }
      }

      .md-off {
        border-color: #4fcaff;
        width: 15px;
        height: 15px;
      }

      .md-on {
        background-color: #4fcaff;
        transform: scale(.2);
      }
    }
  }

  md-checkbox {
    font-size: 14px;
    font-weight: normal;

    &.blue-checkbox {
      &.md-checked {
        background: #ffffff !important;

        .md-icon {
          background-color: #ffffff !important;
          width: 15px;
          height: 15px;

          &:after {
            border-color: #4ac9ff !important;
            height: 7px;
            width: 4px;
            top: 0px;
            left: 2px;
          }
        }
      }

      .md-icon {
        width: 15px;
        height: 15px;
        top: 2px;
        left: 2px;
      }
    }
  }

  md-input-container {
    margin: 5px 0 10px 0;

    md-select {
      width: 170px;
      font-weight: normal;

      &:not([disabled]):focus {
        .md-select-value {
          border-bottom-color: #4ac9ff;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}

md-select-menu {
  md-content {
    md-option {
      font-weight: normal;

      &[selected] {
        color: #000000;
        font-size: 14px;
        font-weight: normal;
        
        &:focus {
          color: #000000;
        }
      }
    }
  }
}
