<div ng-repeat="option in productItem.getData().product_options" class="option-block">
    <h6 class="product-option-header">{{::option.name}}</h6>

    <md-radio-group ng-model="option.chosen_sub_option"
                    ng-if="option.show_as === 'radio'"
                    md-no-ink="true"
                    class="product-option-radio"
                    ng-change="select(option)"
                    name="type">
        <md-radio-button ng-value="::subOption" ng-repeat="subOption in option.product_sub_options">
            <span>{{::subOption.name}} ({{::subOption.product_sub_option_prices[0].item_price}})</span>
        </md-radio-button>
    </md-radio-group>

    <md-checkbox ng-model="option.is_checked_option"
                 ng-repeat="checkOption in option.product_sub_options"
                 ng-if="option.show_as === 'checkbox'"
                 aria-label="Checkbox No Ink"
                 ng-change="select(option)"
                 class="md-primary blue-checkbox">
        <span>{{::checkOption.name}}</span>
    </md-checkbox>

    <ui-select ng-model="option.chosen_sub_option"
               ng-if="option.show_as === 'drop_down'"
               ng-change="select(option)"
               theme="bootstrap"
               class="option-select"
    >
        <ui-select-match placeholder="Select option">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="subSelOption in option.product_sub_options track by subSelOption.id">
            <div ng-bind="subSelOption.name"></div>
        </ui-select-choices>
    </ui-select>

</div>
